* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong, b {
    font-weight: 700;
}

body {
    height: 100%;
    color: var(--mud-theme-text-color-default);
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: var(--mud-theme-background);
}

a {
    color: rgba(0, 0, 0, 0.87);
}

app, .mud-layout {
    width:100%;
    height: 100%;
    display: flex;
}

// Temp & Test

.padding-20p {
    padding: 20px;
}