.mud-density-layout-n5 {
  height: 2.75rem;
}

.mud-density-layout-n4 {
  height: 3rem;
}

.mud-density-layout-n3 {
  height: 3.25rem;
}

.mud-density-layout-n2 {
  height: 3.5rem;
}

.mud-density-layout-n1 {
  height: 3.75rem;
}

.mud-density-layout-0 {
  height: 4rem;
}

.mud-density-layout-1 {
  height: 4.25rem;
}

.mud-density-layout-2 {
  height: 4.5rem;
}

.mud-density-layout-3 {
  height: 4.75rem;
}

.mud-density-layout-4 {
  height: 5rem;
}

.mud-density-layout-5 {
  height: 5.25rem;
}
