:root {
    // Theme Colors
    --mud-theme-default: #444;
    --mud-theme-primary: #594ae2;
    --mud-theme-on-primary: #fff;
    --mud-theme-secondary: #018786;
    --mud-theme-info: #2196f3;
    --mud-theme-success: #4caf50;
    --mud-theme-warning: #ff9800;
    --mud-theme-danger: #f44336;
    --mud-theme-dark: #616161;
    // Surface
    --mud-theme-background: #fafafa;
    --mud-theme-surface: #fff;
    // Border Radius
    --mud-theme-border-radius: 4px;
}


.mud-theme-primary {
    color: var(--mud-theme-on-primary);
    background-color: var(--mud-theme-primary);
}