
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    z-index: 1;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 0.0625rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
}
