@namespace MudBlazor.Docs.Pages.Components.Dialog

<div class="mud-codeblock">
    <div class="html">
        <pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudDialogProvider</span>
    <span class="htmlAttributeName">FullWidth</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="keyword">true</span><span class="quot">"</span>  <span class="comment">//Sets the dialog to its full width even if content is smaller</span>
    <span class="htmlAttributeName">MaxWidth</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="enum">MaxWidth</span><span class="enumValue">.ExtraSmall</span><span class="quot">"</span>    <span class="comment">//Sets the max width of the dialog</span>
    <span class="htmlAttributeName">CloseButton</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="keyword">true</span><span class="quot">"</span>    <span class="comment">//If true adds closebutton to the dialog header</span>
    <span class="htmlAttributeName">DisableBackdropClick</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="keyword">true</span><span class="quot">"</span>   <span class="comment">//If true, clicking the backdrop/overlay will not close the dialog</span>
    <span class="htmlAttributeName">NoHeader</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="keyword">true</span><span class="quot">"</span>   <span class="comment">//If true disabled the dialog header</span>
    <span class="htmlAttributeName">Position</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="enum">DialogPosition</span><span class="enumValue">.Center</span><span class="quot">"</span>  <span class="comment">//Sets the dialog postion</span>
<span class="htmlTagDelimiter">&lt;/</span>
</pre>
    </div>
</div>
