@namespace  MudBlazor.Docs.Examples

<div class="mud-elevation-0">0</div>
<div class="mud-elevation-1">1</div>
<div class="mud-elevation-2">2</div>
<div class="mud-elevation-3">3</div>
<div class="mud-elevation-4">4</div>
<div class="mud-elevation-5">5</div>
<div class="mud-elevation-6">6</div>
<div class="mud-elevation-7">7</div>
<div class="mud-elevation-8">8</div>
<div class="mud-elevation-9">9</div>
<div class="mud-elevation-10">10</div>
<div class="mud-elevation-11">11</div>
<div class="mud-elevation-12">12</div>
<div class="mud-elevation-13">13</div>
<div class="mud-elevation-14">14</div>
<div class="mud-elevation-15">15</div>
<div class="mud-elevation-16">16</div>
<div class="mud-elevation-17">17</div>
<div class="mud-elevation-18">18</div>
<div class="mud-elevation-19">19</div>
<div class="mud-elevation-20">20</div>
<div class="mud-elevation-21">21</div>
<div class="mud-elevation-22">22</div>
<div class="mud-elevation-23">23</div>
<div class="mud-elevation-24">24</div>
<div class="mud-elevation-25">25</div>
