@namespace MudBlazor
@inherits ComponentBaseTextField



<div class="mud-formcontrol">
    <label class="mud-text-field-label ">@Label</label>
    <MudInput Type="Type" Class="" Value="@Value" Placeholder="@Placeholder" Disabled=@Disabled ReadOnly="@ReadOnly"/>
</div>

