@namespace MudBlazor
@inherits ComponentBaseFab

<button type="button" class="@Classname" @onclick="OnClickHandler" href="@Link" disabled="@Disabled">
    <span class="mud-fab-label">
        <Icon Icon="@Icon"></Icon>
        @Label
    </span>
</button>
