@namespace MudBlazor
@using MudBlazor.Utilities
@using MudBlazor.Extensions


<button class="@Classname">
    <span class="mud-iconbutton-label">
        <SvgIcon></SvgIcon>
    </span>
</button>


@code {

    protected string Classname =>
    new CssBuilder("mud-button-base-root mud-iconbutton-root")
      .AddClass($"mud-iconbutton-color-{Color.ToDescriptionString()}")
      .AddClass($"mud-iconbutton-size-{Size.ToDescriptionString()}", when: () => Size != Size.Medium)
      .AddClass($"mud-iconbutton-edge-{Edge.ToDescriptionString()}", when: () => !String.IsNullOrEmpty(Edge.ToDescriptionString()))
      .AddClass(Class)
    .Build();

    [Parameter] public Color Color { get; set; } = Color.Default;

    [Parameter] public Size Size { get; set; } = Size.Medium;

    [Parameter] public Edge Edge { get; set; }

    [Parameter] public string Class { get; set; }
}