@namespace MudBlazor
@inherits ComponentBaseIconButton


<button type="button" class="@Classname" @onclick="OnClickHandler" href="@Link" disabled="@Disabled">
    <span class="mud-icon-button-label">
        <Icon Icon="@Icon"/>
    </span>
</button>
