@namespace MudBlazor
@inherits IconButtonBase


<button type="button" class="@Classname" @onclick="OnClickHandler" href="@Link" disabled="@Disabled">
    <span class="mud-iconbutton-label">
        <SvgIcon></SvgIcon>
    </span>
</button>


@code {


}