@namespace MudBlazor.Docs.Examples

<MudStack>
    <MudToggleGroup T="string" SelectedClass="black white-text">
        <MudToggleItem Value="@("Basic Edition")">
            <div class="d-flex align-center justify-space-between">
                <MudText>Indie Developer</MudText>
                <MudChip Color="Color.Primary">Basic</MudChip>
            </div>
            <MudText Typo="Typo.subtitle2">Perfect for lone wolves</MudText>
        </MudToggleItem>
        <MudToggleItem Value="@("Pro Edition")">
            <div class="d-flex align-center justify-space-between">
                <MudText>Small Team</MudText>
                <MudChip Color="Color.Primary">Pro</MudChip>
            </div>
            <MudText Typo="Typo.subtitle2">Up to five devs and two interns</MudText>
        </MudToggleItem>
        <MudToggleItem Value="@("Enterprise Edition")">
            <div class="d-flex align-center justify-space-between">
                <MudText>Corporation</MudText>
                <MudChip Color="Color.Primary">Enterprise</MudChip>
            </div>
            <MudText Typo="Typo.subtitle2">Unlimited edition</MudText>
        </MudToggleItem>
    </MudToggleGroup>
</MudStack>
