@page "/components/card"

<DocsPage>
    <DocsPageHeader>
        <Title>Card</Title>
        <Description>
            Cards can contain actions, text, or media like images or graphics. Keeping a card to a single subject keeps the design clean.
        </Description>
    </DocsPageHeader>
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Card</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <CardSimpleExample />
            </SectionContent>
            <SectionSource Code="CardSimpleExample" GitHubFolderName="Card" SnippetId="QulEmuba17txN3RH15"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Outlined</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <CardOutlinedExample />
            </SectionContent>
            <SectionSource Code="CardOutlinedExample" GitHubFolderName="Card" SnippetId="QuPYcOFu18jfodh920"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Header</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <CardHeaderExample />
            </SectionContent>
            <SectionSource Code="CardHeaderExample" GitHubFolderName="Card" SnippetId="mOlEGYvO18VuFTUb55">
            </SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Media</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <CardMediaExample />
            </SectionContent>
            <SectionSource Code="CardMediaExample" GitHubFolderName="Card" SnippetId="QklaQubk22unMGdy30"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Combined</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <CardCombinedExample />
            </SectionContent>
            <SectionSource Code="CardCombinedExample" GitHubFolderName="Card" SnippetId="QuvYQYFa23x3NUAJ36"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>