@page "/components/card"

<DocsPage>
    <DocsPageHeader>
        <Title>Card</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Card</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <CardSimpleExample/>
            </SectionContent>
            <SectionSource Code="CardSimpleExample"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Outlined</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
               <CardOutlinedExample/>
            </SectionContent>
            <SectionSource Code="CardOutlinedExample"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Header</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <CardHeaderExample/>
            </SectionContent>
            <SectionSource Code="CardHeaderExample">
            </SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Media</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <CardMediaExample/>
            </SectionContent>
            <SectionSource Code="CardMediaExample"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Combined</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <CardCombinedExample/>
            </SectionContent>
            <SectionSource Code="CardCombinedExample"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>