@page "/components/surfaces/paper"

<DocsPage>
    <DocsPageHeader>
        <Title>Paper</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Component</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-paper">
                <Paper Elevation="0"></Paper>
                <Paper></Paper>
                <Paper Elevation="3"></Paper>
            </SectionContent>
            <SectionSource Code="@Markdown_Component"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Variants</Title>
                <Description>If you need an outlined surface or a square, use the variant property.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-paper">
                <Paper Outlined="true"></Paper>
                <Paper Outlined="true" Square="true"></Paper>
                <Paper Square="true"></Paper>
            </SectionContent>
            <SectionSource Code="@Markdown_Variants"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>


@code {
string Markdown_Component = @"```html
<Paper Elevation=""0""></Paper>
<Paper></Paper>
<Paper Elevation=""3""></Paper>
```";
string Markdown_Variants = @"```html
<Paper Outlined=""true""></Paper>
<Paper Outlined=""true"" Square=""true""></Paper>
<Paper Square=""true""></Paper>
```";
}
