@page "/components/surfaces/paper"

<DocsPage>
    <DocsPageHeader>
        <Title>Paper</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Component</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-paper">
                <MudPaper Elevation="0"></MudPaper>
                <MudPaper></MudPaper>
                <MudPaper Elevation="3"></MudPaper>
            </SectionContent>
            <SectionSource Code="@Markdown_Component"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Variants</Title>
                <Description>If you need an outlined surface or a square, use the variant property.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-paper">
                <MudPaper Outlined="true"></MudPaper>
                <MudPaper Outlined="true" Square="true"></MudPaper>
                <MudPaper Square="true"></MudPaper>
            </SectionContent>
            <SectionSource Code="@Markdown_Variants"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>


@code {
string Markdown_Component = @"```html
<MudPaper Elevation=""0""></MudPaper>
<MudPaper></MudPaper>
<MudPaper Elevation=""3""></MudPaper>
```";
string Markdown_Variants = @"```html
<MudPaper Outlined=""true""></MudPaper>
<MudPaper Outlined=""true"" Square=""true""></MudPaper>
<MudPaper Square=""true""></MudPaper>
```";
}
