@namespace MudBlazor.UnitTests

<h3>ParameterStateSharedHandlerTestComponent</h3>
<AbcXyzTestComp @bind-A="_a" @bind-B="_b" @bind-C="_c" @bind-X="_x" @bind-Y="_y" @bind-Z="_z"/>

<MudButton Class="abc" OnClick="IncrementAbcClick">Increment A, B and C</MudButton>
<MudButton Class="xyz" OnClick="IncrementXyzClick">Increment X, Y and Z</MudButton>


@code
{
    public static string __description__ = "Tests ParameterState framework shared handler invocation optimization. "+
                                           "Shared handlers should be called only once per render update if multiple params change";

    int _a=1;
    int _b=2;
    int _c=3;
    int _x=4;
    int _y=5;
    int _z=6;

    private void IncrementAbcClick()
    {
        _a++;
        _b++;
        _c++;
    }
    
    private void IncrementXyzClick()
    {
        _x++;
        _y++;
        _z++;
    }
} 