@namespace MudBlazor

<div class="mud-treeview-item-arrow">
    @if (Visible)
    {
        <MudIconButton OnClick="@(() => ExpandedChanged.InvokeAsync(!Expanded))" Icon="@(Expanded ? ExpandedIcon : CollapsedIcon)"></MudIconButton>
    }
</div>
 
@code {
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public bool Expanded { get; set; }

    [Parameter]
    public EventCallback<bool> ExpandedChanged { get; set; }

    [Parameter]
    public string CollapsedIcon { get; set; } = Icons.Material.Filled.ArrowRight;

    [Parameter]
    public string ExpandedIcon { get; set; } = Icons.Material.Filled.ArrowDropDown;
}
