@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    <CascadingValue Value="NavMenu">
        @ChildContent
    </CascadingValue>
</div>
