@page "/components/textfield"


<DocsPage>
    <DocsPageHeader Title="Text Field" SubTitle="A component that allows the user to input and edit text information." />
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Text Field's</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TextFieldBasicExample />
            </SectionContent>
            <SectionSource Code="TextFieldBasicExample" ShowCode="false" GitHubFolderName="TextField" SnippetId="mEFuvNkv09FIbSmx30" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Dense</Title>
                <Description>With the <CodeInline>margin</CodeInline> prop you can reduce the text field height.</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TextFieldDenseExample />
            </SectionContent>
            <SectionSource Code="TextFieldDenseExample" ShowCode="false" GitHubFolderName="TextField" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Form Props</Title>
                <Description>Required, Disabled, Type, HelperText</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TextFieldFormPropsExample />
            </SectionContent>
            <SectionSource Code="TextFieldFormPropsExample" ShowCode="false" GitHubFolderName="TextField" SnippetId="muPuFDEv106GiSNh21" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Adornments</Title>
                <Description>This can be used to add a prefix or a suffix. Text, Icon or Icon Button.</Description>
            </SectionHeader>
            <SectionContent Outlined="true" Class="demo-textfield">
                <TextFieldAdornmentsExample />
            </SectionContent>
            <SectionSource Code="TextFieldAdornmentsExample" ShowCode="false" GitHubFolderName="TextField" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Binding against different types</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TextFieldBindingExample />
            </SectionContent>
            <SectionSource Code="TextFieldBindingExample" ShowCode="false" GitHubFolderName="TextField" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Debounced TextFields</Title>
                <Description>Debounce your <CodeInline>TextField</CodeInline> setting the <CodeInline>DebounceInterval</CodeInline> parameter to the amount of milliseconds you want to await before updating the binded value. If you need to know when the interval elapses, you can pass an <CodeInline>OnDebounceIntervalElapsed</CodeInline> EventCallback. Notice how, in this example, it only updates the text 500 ms after you stop typing</Description>
            </SectionHeader>
            <SectionContent Outlined="true" FullWidth="true">
                <DebouncedTextFieldExample />
            </SectionContent>
            <SectionSource Code="DebouncedTextFieldExample" ShowCode="false" GitHubFolderName="TextField" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Multiline</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TextFieldMultilineExample />
            </SectionContent>
            <SectionSource Code="TextFieldMultilineExample" ShowCode="false" GitHubFolderName="TextField" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Focus</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TextFieldFocusExample />
            </SectionContent>
            <SectionSource Code="TextFieldFocusExample" ShowCode="false" GitHubFolderName="TextField" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Inputs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TextFieldInputsExample />
            </SectionContent>
            <SectionSource Code="TextFieldInputsExample" ShowCode="false" GitHubFolderName="TextField" SnippetId="GOlYvXOl112JQXoB02" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>