@page "/components/textfield"


<DocsPage>
    <DocsPageHeader>
        <Title>Text Field</Title>
        <Description>
            A component that allows the user to input and edit text information.
        </Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Text Field's</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TextFieldBasicExample />
            </SectionContent>
            <SectionSource Code="TextFieldBasicExample" GitHubFolderName="TextField" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Form Props</Title>
                <Description>Required, Disabled, Type, HelperText</Description>
            </SectionHeader>
            <SectionContent Outlined="true" Class="demo-textfield">
                <TextFieldFormPropsExample />
            </SectionContent>
            <SectionSource Code="TextFieldFormPropsExample" ShowCode="false" GitHubFolderName="TextField" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Inputs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TextFieldInputsExample />
            </SectionContent>
            <SectionSource Code="TextFieldInputsExample" GitHubFolderName="TextField" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>