@page "/components/textfield"


<DocsPage>
    <DocsPageHeader>
        <Title>Text Field</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Text Field's</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
               <TextFieldBasicExample/>
            </SectionContent>
            <SectionSource Code="TextFieldBasicExample"/>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Form Props</Title>
                <Description>Required, Disabled, Type, HelperText</Description>
            </SectionHeader>
            <SectionContent Outlined="true" Class="demo-textfield">
                <TextFieldFormPropsExample/>
            </SectionContent>
            <SectionSource Code="TextFieldFormPropsExample" ShowCode="false"/>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Inputs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
              <TextFieldInputsExample/>
            </SectionContent>
            <SectionSource Code="TextFieldInputsExample"/>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>