@page "/components/paper"

<DocsPage>
    <DocsPageHeader>
        <Title>Paper</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Component</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-paper">
                <PaperComponentExample/>
            </SectionContent>
            <SectionSource Code="PaperComponentExample"/>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Variants</Title>
                <Description>If you need an outlined surface or a square, use the variant property.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-paper">
               <PaperVariantsExample/>
            </SectionContent>
            <SectionSource Code="PaperVariantsExample"/>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
