# Core
/* @danielchalmers
/.github/ @danielchalmers
/.editorconfig @danielchalmers @ScarletKuro

# Components
/src/MudBlazor/Components/Autocomplete/ @danielchalmers
/src/MudBlazor/Components/Menu/ @danielchalmers

# Services & Utilities
/src/MudBlazor/Services/Browser/ @ScarletKuro
/src/MudBlazor/Services/KeyInterceptor/ @ScarletKuro
/src/MudBlazor/Services/Localization/ @ScarletKuro
/src/MudBlazor/Services/MudGlobal.cs @danielchalmers
/src/MudBlazor/Services/Popover/ @ScarletKuro
/src/MudBlazor/Utilities/Background/ @ScarletKuro
/src/MudBlazor/Utilities/Clone/ @ScarletKuro
/src/MudBlazor/Utilities/Converter/ @ScarletKuro
/src/MudBlazor/Utilities/ObserverManager/ @ScarletKuro
/src/MudBlazor/Converters/ @ScarletKuro
/src/MudBlazor/State/ @ScarletKuro

# Scripts
/src/MudBlazor/TScripts/mudInputSizing.js @danielchalmers
/src/MudBlazor/TScripts/mudPopover.js @versile2
