@page "/components/tabs"

<DocsPage>
    <DocsPageHeader>
        <Title>Tabs</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Tabs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true" Class="demo-tabs">
                <TabsSimpleExample />
            </SectionContent>
            <SectionSource Code="TabsSimpleExample" GitHubFolderName="Tabs" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Disabled Tabs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <TabsDisabledExample />
            </SectionContent>
            <SectionSource Code="TabsDisabledExample" GitHubFolderName="Tabs" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Centered</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <TabsCenteredExample />
            </SectionContent>
            <SectionSource Code="TabsCenteredExample" GitHubFolderName="Tabs" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Vertical</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true" Class="demo-tabs">
                <TabsVerticalExample />
            </SectionContent>
            <SectionSource Code="TabsVerticalExample" GitHubFolderName="Tabs" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Icon Tabs</Title>
                <Description>Can be used with Icons only or combined with text.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <TabsIconExample />
            </SectionContent>
            <SectionSource Code="TabsIconExample" ShowCode="false" GitHubFolderName="Tabs" />
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <TabsIconAndTextExample />
            </SectionContent>
            <SectionSource Code="TabsIconAndTextExample" GitHubFolderName="Tabs" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
