@page "/components/tabs"

<DocsPage>
    <DocsPageHeader>
        <Title>Tabs</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Tabs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <TabsSimpleExample/>
            </SectionContent>
            <SectionSource Code="TabsSimpleExample"/>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
