@page "/components/tabs"

<DocsPage>
    <DocsPageHeader Title="Tabs" />
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Tabs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true" Class="demo-tabs">
                <TabsSimpleExample />
            </SectionContent>
            <SectionSource Code="TabsSimpleExample" GitHubFolderName="Tabs" SnippetId="GuvElNak45XhMzA005" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Disabled Tabs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <TabsDisabledExample />
            </SectionContent>
            <SectionSource Code="TabsDisabledExample" GitHubFolderName="Tabs" SnippetId="cObuFNYO45faVyK139" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Centered</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <TabsCenteredExample />
            </SectionContent>
            <SectionSource Code="TabsCenteredExample" GitHubFolderName="Tabs" SnippetId="GOPuPZaa46Uekr3S09" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Vertical</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true" Class="demo-tabs">
                <TabsVerticalExample />
            </SectionContent>
            <SectionSource Code="TabsVerticalExample" GitHubFolderName="Tabs" SnippetId="cEbkPjOY46xKaC9o38" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Icon Tabs</Title>
                <Description>Can be used with Icons only or combined with text.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <TabsIconExample />
            </SectionContent>
            <SectionSource Code="TabsIconExample" ShowCode="false" GitHubFolderName="Tabs" SnippetId="QkvEFXuO47zds3aZ17" />
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <TabsIconAndTextExample />
            </SectionContent>
            <SectionSource Code="TabsIconAndTextExample" GitHubFolderName="Tabs" SnippetId="wEvaFNOY47uwfstO59" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>With Badges</Title>
                <Description>Displaying some important notification</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <TabsWithBagdesExample />
            </SectionContent>
            <SectionSource Code="TabsWithBagdesExample" ShowCode="false" GitHubFolderName="Tabs" SnippetId="QkvEFXuO47zds3aZ18" />
        </DocsPageSection>

    </DocsPageContent>
</DocsPage>
