@page "/portal"
<div style="position:absolute;left:100px;top:100px;padding:20px;width:50%;">
<MudMenu Label="Open Menu" >
    <MudMenuItem>Enlist</MudMenuItem>
    <MudMenuItem>Barracks</MudMenuItem>
    <MudMenuItem>Armory</MudMenuItem>
</MudMenu>
</div>

 