@namespace MudBlazor
@inherits MudComponentBase

<a @attributes="Attributes" @onclick="EventUtil.AsNonRenderingEventHandler<MouseEventArgs>(OnClickHandler)" class="@Classname" style="@Style">
    @ChildContent
</a>