@namespace MudBlazor
@inherits MudComponentBase

<a @attributes="UserAttributes" class="@Classname" style="@Style" href="@Href" target="@Target" @onclick="OnClickHandler" @onclick:preventDefault>
    @ChildContent
</a>