<DocsPageSection>
    <SectionHeader Title="Next Version">
        <Description>
            MudBlazor version 7.0.0 brings many new features and several breaking changes that were holding us back and which we don't want to postpone any longer as we strive for more consistency and innovation.

            Updates are regular so keep an eye on the <MudLink Href="https://github.com/MudBlazor/MudBlazor/releases" Target="_blank">latest releases</MudLink>.
        </Description>
    </SectionHeader>
</DocsPageSection>

<DocsPageSection>
    <SectionHeader Title="Support">
        <Description>
            .NET 6 is no longer supported and we recommend switching to <MudLink Href="https://dotnet.microsoft.com/download/dotnet/8.0" Target="_blank">.NET 8 LTS</MudLink>, but .NET 7 is still available as the new minimum version.

            If you still need .NET 6 you can stay on the latest v6.x.x version which is still supported.
            We will fix critical bugs or security issues, but new features will only come to version 7.
            If you found a bug that you want backported to v6.x.x, submit a <MudLink Href="https://github.com/MudBlazor/MudBlazor/pulls" Target="_blank">pull request</MudLink> and we'll include it in an update.
        </Description>
    </SectionHeader>
</DocsPageSection>

<DocsPageSection>
    <SectionHeader Title="Migration Guide">
        <Description>
            View the migration guide <a href="https://github.com/MudBlazor/MudBlazor/issues/8447" target="_blank">at this link</a>.
        </Description>
    </SectionHeader>
</DocsPageSection>

<DocsPageSection>
    <SectionHeader Title="Contributing">
        <Description>
            We are always accepting contributions!
            We will try to merge all (non-breaking) bugfix PRs and we will deliberate the value of feature PRs for the community.

            Check out <MudLink Href="https://github.com/MudBlazor/MudBlazor" Target="_blank">our GitHub</MudLink> to get started!
        </Description>
    </SectionHeader>
</DocsPageSection>

<DocsPageSection>
    <SectionHeader Title="Roadmap">
        <Description>
            We plan to release new major versions more frequently with less breaking changes.

            Find more details on future plans <MudLink Href="https://github.com/MudBlazor/MudBlazor/blob/dev/ROADMAP.md" Target="_blank">from the roadmap</MudLink>.
        </Description>
    </SectionHeader>
</DocsPageSection>
