@namespace MudBlazor
@using MudBlazor.Utilities


<div class="mud-markdown">
    <pre class="mud-markdown-pre">
        <code class="mud-markdown-code">
            @Code
        </code>
    </pre>
</div>

@code {

    [Parameter] public string Code { get; set; }

    [Parameter] public string Class { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
}