@page "/components/navmenu"

<DocsPage>
    <DocsPageHeader>
        <Title>Navigation Menu</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <NavMenuExample />
            </SectionContent>
            <SectionSource Code="NavMenuExample" GitHubFolderName="NavMenu" SnippetId="mElOPNYO43eQEMvN19" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Icons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <NavMenuIconExample />
            </SectionContent>
            <SectionSource Code="NavMenuIconExample" GitHubFolderName="NavMenu" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>