@namespace MudBlazor.UnitTests.TestComponents

<div>
    <MudProgressLinear Color="Color.Primary" Value="40"/>
    <MudProgressLinear Color="Color.Primary" Value="40" Indeterminate="true"/>
    <MudProgressLinear Color="Color.Primary" Value="40" Buffer="true" BufferValue="20"/>
</div>

@code {
    public static string __description__ = "Vertical progress bar";
}
