@namespace MudBlazor.UnitTests.TestComponents

<div>
    <MudProgressLinear Color="Color.Primary" Value="40" Style="margin-bottom: 10px;"/>
    <MudProgressLinear Color="Color.Primary" Value="40" Indeterminate="true" Style="margin-bottom: 10px;"/>
    <MudProgressLinear Color="Color.Primary" Value="40" Buffer="true" BufferValue="20" Style="margin-bottom: 10px;"/>
</div>

@code {
    public static string __description__ = "Vertical progress bar";
}
