@page "/components/themes"

<DocsPage>
    <DocsPageHeader Title="ThemeProvider" SubTitle="With the ThemeProvider you can change all the MudBlazor colors and some default values like border radius." />
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Default Theme</Title>
                <Description></Description>
            </SectionHeader>
            <SectionSource Code="ThemesDefaultExample" NoToolbar="true" GitHubFolderName="Themes" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Custom Theme</Title>
                <Description>This should be added before all your code, in App.razor or at the top in your MainLayout.razor</Description>
            </SectionHeader>
            <SectionSource Code="ThemesCustomExample" NoToolbar="true" GitHubFolderName="Themes" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
