@inherits BytexDigital.Blazor.Components.CookieConsent.Dialogs.Settings.CookieConsentSettingsModalComponentBase

<div class="cc-isolation-container">
    <div class="cc-font cc-fixed cc-top-0 cc-left-0 cc-w-full cc-h-screen cc-text-brand-text cc-animate-fade-in cc-flex cc-items-center cc-justify-center cc-bg-brand-modal-background" style="z-index: 1001;">
        <div class="cc-max-w-xl cc-bg-white cc-m-1  cc-rounded-md cc-filter cc-drop-shadow-2xl cc-animate-fade-move-in">

            <div class="cc-px-7 cc-py-4 cc-border-b cc-border-gray-100 cc-flex cc-justify-between cc-items-center">
                <h1 class="cc-text-xl cc-font-bold">
                    @Localizer.GetLocalization(Options.Value.SettingsTitleText)
                </h1>

                <MudButton OnClick="async () => await OnClosePreferences.InvokeAsync(false)">
                    <svg xmlns="http://www.w3.org/2000/svg" class="cc-h-5 cc-w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </MudButton>
            </div>

            <div class="cc-px-7 cc-py-4 cc-overflow-y-auto cc-max-h-96">
                <p class="cc-text-sm">
                    @Localizer.GetLocalization(Options.Value.SettingsDescriptionText)
                </p>

                <div class="cc-mt-2">
                    <MudLink Href="@Options.Value.PolicyUrl" Target="_blank">@Localizer.GetLocalization(Options.Value.ShowPolicyText)</MudLink>
                </div>

                <div class="cc-mt-5 cc-space-y-2">
                    @foreach (var category in Options.Value.Categories)
                    {
                        <MudCookieConsentSettingsCategory @key="category.Identifier" Category="category" Selected="AcceptedCategories.Contains(category.Identifier)" SelectedChanged="val => SelectedChanged(category, val)" />
                    }
                </div>
            </div>

            <div class="cc-px-7 cc-py-4 cc-flex cc-flex-col md:cc-flex-row cc-justify-between cc-border-t cc-border-gray-100 cc-gap-2">
                <MudButton OnClick="AllowSelectedAsync">
                    Save preferences
                </MudButton>

                <MudButton OnClick="AllowAllAsync">
                    Accept all
                </MudButton>
            </div>
        </div>
    </div>
</div>