@page "/components/switch"

<DocsPage>
    <DocsPageHeader>
        <Title>Switch</Title>
        <Description>
            Similar to a checkbox but visually different, the switch lets the user switch between two values with the tap of a button.
        </Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic switches</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <SwitchBasicExample />
            </SectionContent>
            <SectionSource Code="SwitchBasicExample" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Switch with label</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <SwitchWithLabelExample />
            </SectionContent>
            <SectionSource Code="SwitchWithLabelExample" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

