@page "/components/switch"

<DocsPage>
    <DocsPageHeader>
        <Title>Switch</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic switches</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <SwitchBasicExample/>
            </SectionContent>
            <SectionSource Code="SwitchBasicExample"/>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Switch with label</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <SwitchWithLabelExample/>
            </SectionContent>
            <SectionSource Code="SwitchWithLabelExample"/>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

