@page "/components/switch"

<DocsPage>
    <DocsPageHeader Title="Switch" SubTitle="Similar to a checkbox but visually different, the switch lets the user switch between two values with the tap of a button." />
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic switches</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <SwitchBasicExample />
            </SectionContent>
            <SectionSource Code="SwitchBasicExample" GitHubFolderName="Switch" SnippetId="wObulXaP08SFAgqa16" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Switch with label</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <SwitchWithLabelExample />
            </SectionContent>
            <SectionSource Code="SwitchWithLabelExample" GitHubFolderName="Switch" SnippetId="mYlalXEF0914H6Sn00" />
        </DocsPageSection>
        
        <DocsPageSection>
            <SectionHeader>
                <Title>Binding switch against different data types</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <SwitchConversionExample />
            </SectionContent>
            <SectionSource Code="SwitchConversionExample" GitHubFolderName="Switch"  />
        </DocsPageSection>

    </DocsPageContent>
</DocsPage>

