@import '../../abstracts/variables';

@mixin flex-shrink ($breakpoint) {
  .flex-#{$breakpoint}shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-#{$breakpoint}shrink-1 {
    flex-shrink: 1 !important;
  }
}

@include flex-shrink("");
