@import '../../abstracts/variables';

@mixin flex-grow ($breakpoint) {
  .flex-#{$breakpoint}grow-0 {
    flex-grow: 0 !important;
  }

  .flex-#{$breakpoint}grow-1 {
    flex-grow: 1 !important;
  }
}

@include flex-grow("");
