@import '../../abstracts/variables';

@mixin flex-grow ($breakpoint) {
  .flex-#{$breakpoint}grow-0 {
    flex-grow: 0 !important;
  }

  .flex-#{$breakpoint}grow-1 {
    flex-grow: 1 !important;
  }

  .flex-#{$breakpoint}grow-start > *:first-child {
    flex-grow: 1 !important;
  }

  .flex-#{$breakpoint}grow-end > *:last-child {
    flex-grow: 1 !important;
  }

  .flex-#{$breakpoint}grow-start-and-end > :first-child,
  .flex-#{$breakpoint}grow-start-and-end > :last-child {
    flex-grow: 1 !important;
  }

  .flex-#{$breakpoint}grow-middle > *:not(:first-child):not(:last-child) {
    flex-grow: 1 !important;
  }

  .flex-#{$breakpoint}grow-all > * {
    flex-grow: 1 !important;
  }
}

@include flex-grow("");
