@import '../../abstracts/variables';

$count: 0;

@mixin order ($breakpoint) {
  .order-#{$breakpoint}first {
    order: -9999 !important;
  }

  .order-#{$breakpoint}last {
    order: 9999 !important;
  }

  @while $count < 13 {
    .order-#{$breakpoint}#{$count} {
      order: $count !important;
    }

    $count: $count + 1;
  }
}


@include order("");
