.scroll-locked {
    height: 100%;
    overflow-y: hidden;
    padding-right: 8px; //the width of scroll-bar
}

.scroll-locked-dialog {
    height: 100%;
    overflow: hidden;
    padding-right: 8px; //the width of scroll-bar
}

@-moz-document url-prefix() {
    .scroll-locked-dialog {
        padding-right: 17px; //the width of scroll-bar
    }
}

.mud-scroll-to-top {
    position: fixed;
    cursor: pointer;

    &.visible {
        bottom: 16px;
        right: 16px;
        opacity: 1;
        transition: transform 0.5s;
        flex: 1;
    }

    &.hidden {
        bottom: 16px;
        right: 16px;
        opacity: 0;
        transition: all 0.5s;
        visibility: hidden;
        transform: scale(0) rotate(180deg);
        flex: 0;
    }

    &:after {
        content: '';
        background: transparent;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: var(--mud-zindex-tooltip);
    }
}
