@namespace MudBlazor.UnitTests.TestComponents

<MudTreeView Class="tree1" T="string" SelectionMode="SelectionMode.MultiSelection" @bind-SelectedValue="SelectedValue" @bind-SelectedValues="SelectedValues" AutoSelectParent="@AutoSelectParent">
    <MudTreeViewItem Class="item-1" Value='"item1"'>
        <MudTreeViewItem Class="item-1-1" Value='"item1.1"' />
        <MudTreeViewItem Class="item-1-2" Value='"item1.2"' />
    </MudTreeViewItem>
</MudTreeView>

<p class="selected-values">
    @(string.Join( ", ", (SelectedValues ?? Array.Empty<string>()).OrderBy(x=>x)))
</p>

@code {
    [Parameter] public string SelectedValue { get; set; }
    [Parameter] public IReadOnlyCollection<string> SelectedValues { get; set; }
    [Parameter] public bool AutoSelectParent { get; set; } = true;
}