@namespace MudBlazor.Docs.Examples
<div class="mud-codeblock">
<div class="csharp"><pre>
<span class="keyword">public</span> <span class="keyword">class</span> <span class="class">DefaultMudTheme</span>
{
    <span class="comment">//Core Layout Surfaces</span>
    <span class="keyword">public</span> <span class="keyword">string</span> Color_Background { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#fff&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_Background_Grey { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#f5f5f5&quot;</span>;

    <span class="keyword">public</span> <span class="keyword">string</span> Color_Surface { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#fff&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_On_Surface { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#444&quot;</span>;

    <span class="keyword">public</span> <span class="keyword">string</span> Color_AppBar { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#594ae2&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_On_AppBar { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#fff&quot;</span>;

    <span class="keyword">public</span> <span class="keyword">string</span> Color_Drawer { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#fff&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_On_Drawer { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#444&quot;</span>;


    <span class="comment">//Text Only</span>
    <span class="keyword">public</span> <span class="keyword">string</span> Color_Text_Default { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#6a6a6a&quot;</span>;


    <span class="comment">//Theme Main Colors</span>
    <span class="keyword">public</span> <span class="keyword">string</span> Color_Default { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#000&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_On_Default { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#000&quot;</span>;

    <span class="keyword">public</span> <span class="keyword">string</span> Color_Primary { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#594ae2&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_On_Primary { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#fff&quot;</span>;

    <span class="keyword">public</span> <span class="keyword">string</span> Color_Secondary { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#FF458A&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_On_Secondary { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#fff&quot;</span>;


    <span class="comment">//Theme Alert &amp; Notification Colors</span>
    <span class="keyword">public</span> <span class="keyword">string</span> Color_Info { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#2196f3&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_Success { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#4caf50&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_Warning { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#ff9800&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_Danger { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#f44336&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_Dark { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#272c34&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_On_Alert { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#fff&quot;</span>;


    <span class="comment">//Theme Border Colors, Todo remove or make less of them?</span>
    <span class="keyword">public</span> <span class="keyword">string</span> Color_Border_Default { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#e0e0e0&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_Border_Outlines { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#c4c4c4&quot;</span>;
    <span class="keyword">public</span> <span class="keyword">string</span> Color_Border_Inputs { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;#878787&quot;</span>;


    <span class="comment">//Theme Default BorderRadius</span>
    <span class="keyword">public</span> <span class="keyword">string</span> BorderRadius_Default { <span class="keyword">get</span>; <span class="keyword">set</span>; } = <span class="string">&quot;4px&quot;</span>;
}
</pre></div>
</div>
