@namespace MudBlazor
@inherits MudComponentBase





<div class="@Classname">
    @if (!String.IsNullOrEmpty(Label))
    {
        <MudText>@Label</MudText>
    }
    @ChildContent
    @if (!String.IsNullOrEmpty(HelperText))
    {
        <p class="mud-form-helpertext">@HelperText</p>
    }
</div>

