@namespace MudBlazor



<div class="@Classname" @onclick="OnClicked">
    @if (!NoIcon)
    {
        <div class="mud-alert-icon">
            <MudIcon Icon="@Icon" />
        </div>
    }
    <div class="mud-alert-message">
        @ChildContent
    </div>
</div>
