@namespace MudBlazor
@inherits MudComponentBase

<span class="@Classname" style="@Style">
    @ChildContent
    <span class="mud-badge-wrapper">
        <span class="@BadgeClass">
            @if (!Dot)
            {
                @if (!String.IsNullOrEmpty(Icon))
                {
                    <MudIcon Icon="@Icon" Class="mud-icon-badge" />
                }
                else
                {
                    @_content
                }
            }
        </span>
    </span>
</span>