@page "/components/rating"

<DocsPage>
    <DocsPageHeader Title="Rating" SubTitle="Ratings provide insight regarding others’ opinions and experiences with a product. Collecting user feedback via ratings is a simple analytic that can provide a lot of feedback to your product or application.">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Rating</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <RatingSimpleExample />
            </SectionContent>
            <SectionSource Code="RatingSimpleExample" GitHubFolderName="Rating" SnippetId="todo" />
        </DocsPageSection>
        
    </DocsPageContent>
</DocsPage>
