@page "/components/surfaces/paper"

<Container>
    <h1>Paper</h1>

    <Grid>
        <Item>
            <Paper Class="padding-20p">Paper</Paper>
        </Item>
        <Item>
            <Paper Class="padding-20p" Elevation="0">Paper</Paper>
        </Item>
        <Item>
            <Paper Class="padding-20p" Outlined="true" Elevation="0">Paper</Paper>
        </Item>
        <Item>
            <Paper Class="padding-20p" Square="true">Paper</Paper>
        </Item>
    </Grid>
</Container>

@code {

}
