@page "/components/progressoverlay"

<DocsPage>
    <DocsPageHeader Title="Progress Overlay" SubTitle="An overlay for areas to show work in progress or loading. It covers an area and shows a circular progress indicator by default." />
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic</Title>
                <Description>
                    <MudAlert Severity="Severity.Info">The area to be covered must have CSS position set to relative. (position:relative;)</MudAlert>
                    <MudText Class="py-4">
                        Set the property <CodeInline>Visible</CodeInline> to <CodeInline>true</CodeInline> to show and to <CodeInline>false</CodeInline> to hide
                    </MudText>
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <ProgressOverlayExample />
            </SectionContent>
            <SectionSource Code="ProgressOverlayExample" GitHubFolderName="ProgressOverlay" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Custom indicator</Title>
                <Description>You can add a custom indicator by adding it to the child content.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <ProgressOverlayCustomExample />
            </SectionContent>
            <SectionSource Code="ProgressOverlayCustomExample" GitHubFolderName="ProgressOverlay" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>