@namespace MudBlazor.Docs.Examples

<div class="mud-codeblock">
    <div class="html">
        <pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudThemeProvider</span><span class="htmlTagDelimiter">/&gt;</span>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudDialogProvider</span><span class="htmlTagDelimiter">/&gt;</span>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudSnackbarProvider</span><span class="htmlTagDelimiter">/&gt;</span>

<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudLayout</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudAppBar</span><span class="htmlTagDelimiter">&gt;</span>
        My Application
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudAppBar</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudDrawer</span> <span class="htmlAttributeName">Open</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="keyword">true</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>

    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudDrawer</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudMainContent</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="atSign">&#64;</span>Body
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudMainContent</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudLayout</span><span class="htmlTagDelimiter">&gt;</span>
</pre>
    </div>
</div>
