@namespace MudBlazor.Docs.Examples

<div class="mud-codeblock">
<div class="html">
<pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudMainContent</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudContainer</span> <span class="htmlAttributeName">MaxWidth</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="enum">MaxWidth</span><span class="enumValue">.Medium</span><span class="quot">"</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="atSign">&#64;</span>Body
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudContainer</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudMainContent</span><span class="htmlTagDelimiter">&gt;</span>
</pre>
</div>
</div>




