@namespace MudBlazor
@using MudBlazor.Utilities

<div id="@Id" @ref="_divRef" class="@Classnames" tabindex="0" @onkeydown="InvokeKeyDown" @onclick:stopPropagation="true">
    @ChildContent
</div>

@code {
    protected string Classnames =>
    new CssBuilder("mud-picker-content")
      .AddClass(Class)
    .Build();

    ElementReference _divRef;

    [Parameter] public string Class { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public string Id { get; set; }
    [Parameter] public EventCallback<KeyboardEventArgs> InvokeKeyDown { get; set; }
}
