@namespace MudBlazor.InternalComponents.Picker



<div class="mud-picker-container">
    @if (!DisableToolbar)
    {
        <MudToolBar Class="mud-picker-toolbar mud-picker-datepicker-toolbar">
            @ToolBar
        </MudToolBar>
    }
    <div class="mud-picker-content ">
        @PickerView
    </div>
</div>



@code {
    [Parameter] public bool DisableToolbar { get; set; }
    [Parameter] public RenderFragment ToolBar { get; set; }
    [Parameter] public RenderFragment PickerView { get; set; }
}
