@namespace MudBlazor
@using MudBlazor.Utilities

<div class="@Classname" @onclick:stopPropagation="true">
    @ChildContent
</div>


@code {
    protected string Classname =>
        new CssBuilder("mud-picker-content")
          .AddClass(Class)
        .Build();

    /// <summary>
    /// CSS class that will be applied to the content container
    /// </summary>
    [Parameter]
    public string Class { get; set; }

    /// <summary>
    /// Child content of component.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
