@namespace MudBlazor.Docs.Examples

<div class="d-flex flex-grow-1 gap-4">
    <MudPaper Class="flex-grow-1 py-8 mud-theme-primary" Width="64px" Elevation="0"/>
    <MudPaper Class="flex-grow-0 py-8 mud-theme-primary" Width="64px" Elevation="0"/>
    <MudPaper Class="flex-grow-1 py-8  mud-theme-primary" Width="64px" Elevation="0"/>
</div>
