@namespace MudBlazor.Docs.Examples

<div class="d-flex flex-grow-1 gap-4">
    <MudPaper Class="flex-none d-flex py-8 mud-theme-primary" Width="64px" Elevation="0"/>
    <MudPaper Class="flex-auto d-flex py-8 mud-theme-primary" Width="40%" Elevation="0"/>
    <MudPaper Class="flex-auto d-flex py-8  mud-theme-primary" Width="20%" Elevation="0"/>
</div>
