@namespace MudBlazor.Docs.Examples

<div class="d-flex flex-column flex-grow-1 gap-4">
    <MudPaper Class="mud-theme-primary" Width="100%" Height="64px"/>
    <MudPaper Class="mud-theme-secondary" Width="100%" Height="64px"/>
    <MudPaper Class="mud-theme-secondary" Width="100%" Height="64px"/>
</div>
