@namespace MudBlazor.Docs.Examples

<div class="d-flex gap-2">
    <MudAvatar Class="order-3" Size="Size.Large" Color="Color.Primary" Rounded="true">01</MudAvatar>
    <MudAvatar Class="order-2" Size="Size.Large" Color="Color.Primary" Rounded="true">02</MudAvatar>
    <MudAvatar Class="order-1" Size="Size.Large" Color="Color.Primary" Rounded="true">03</MudAvatar>
</div>