 
@namespace MudBlazor  
@using MudBlazor.Services
 @using System.Globalization

<div id="mud-portal-container">

    @foreach (var item in Portal.Items)
    {
        @*this is the element where the popover will be anchored*@
        <div @key=@item.Key class="portal" data-blazor=@item.Value.Id
             style=@GetAnchorStyle(item.Value)>
            @item.Value.Fragment
        </div>
    }
</div>

