@page "/components/data-display/Avatar"

<DocsPage>
    <DocsPageHeader>
        <Title>Avatar</Title>
        <SubTitle>An avatar is a design component meant to visualize a user, information, or even another component like an icon.</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">

            </SectionContent>
            <SectionSource Code="@Markdown_CodeOne"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">

            </SectionContent>
            <SectionSource Code="@Markdown_CodeTwo"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>


@code { string Markdown_CodeOne = @"```html

```";
    string Markdown_CodeTwo = @"```html

```";
}

