@page "/components/data-display/list"

<DocsPage>
    <DocsPageHeader>
        <Title>Lists</Title>
        <SubTitle>Used to index text or images, usually in a vertical fashion.</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <MudList>
                    <MudListItem>Inbox</MudListItem>
                    <MudListItem>Sent</MudListItem>
                    <MudListItem>Drafts</MudListItem>
                    <MudDivider></MudDivider>
                    <MudListItem>Spam</MudListItem>
                    <MudListItem>Bin</MudListItem>
                </MudList>
            </SectionContent>
            <SectionSource Code="@Markdown_Simple"></SectionSource>
        </DocsPageSection>
        
    </DocsPageContent>
</DocsPage>

@code {
    string Markdown_Simple = @"```html
<MudList>
    <MudListItem>Inbox</MudListItem>
    <MudListItem>Sent</MudListItem>
    <MudListItem>Drafts</MudListItem>
    <MudDivider></MudDivider>
    <MudListItem>Spam</MudListItem>
    <MudListItem>Bin</MudListItem>
</MudList>
```";
}
