@page "/components/data-display/table"

<DocsPage>
    <DocsPageHeader>
        <Title>Table</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Table</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <Table></Table>
            </SectionContent>
            <SectionSource Code="@Markdown_Simple"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {
string Markdown_Simple = @"```html
<Table></Table>
```";
}
