@page "/components/data-display/typography"

<DocsPage>
    <DocsPageHeader>
        <Title>Typography</Title>
        <SubTitle>Use typography to present your design and content as clearly and efficiently as possible.</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>General</Title>
                <Description>Mudblazors default font is Roboto and is not loaded automatically. The installation instructions include how to load the font. But in general the fastest and easiest way is to load it from Google Fonts as in the example below.</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <Typography Typo="Typo.h1">h1. Heading</Typography>
                <Typography Typo="Typo.h2">h2. Heading</Typography>
                <Typography Typo="Typo.h3">h3. Heading</Typography>
                <Typography Typo="Typo.h4">h4. Heading</Typography>
                <Typography Typo="Typo.h5">h5. Heading</Typography>
                <Typography Typo="Typo.h6">h6. Heading</Typography>
                <Typography Typo="Typo.subtitle1">subtitle1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</Typography>
                <Typography Typo="Typo.subtitle2">subtitle2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</Typography>
                <Typography Typo="Typo.body1">body1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</Typography>
                <Typography Typo="Typo.body2">body2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</Typography>
                <Typography Typo="Typo.button">BUTTON TEXT</Typography>
                <Typography Typo="Typo.caption">caption text</Typography>
                <Typography Typo="Typo.overline">OVERLINE TEXT</Typography>
            </SectionContent>
            <SectionSource Code="@Markdown_Usage"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Alignment</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <Typography Align="Align.Left"><b>Left</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</Typography>
                <Typography Align="Align.Right"><b>Right</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</Typography>
                <Typography Align="Align.Center"><b>Center</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</Typography>
                <Typography Align="Align.Justify"><b>Justify</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</Typography>
                <Typography Align="Align.Inherit"><b>Inherit</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</Typography>
            </SectionContent>
            <SectionSource Code="@Markdown_Alignment"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>



@code {
    string Markdown_LoadFont = @"```html
<link href=""https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"" rel=""stylesheet"" />
```";
    string Markdown_Usage = @"```html
<Typography Typo=""Typo.h1"">h1. Heading</Typography>
<Typography Typo=""Typo.h2"">h2. Heading</Typography>
<Typography Typo=""Typo.h3"">h3. Heading</Typography>
<Typography Typo=""Typo.h4"">h4. Heading</Typography>
<Typography Typo=""Typo.h5"">h5. Heading</Typography>
<Typography Typo=""Typo.h6"">h6. Heading</Typography>
<Typography Typo=""Typo.subtitle1"">subtitle1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</Typography>
<Typography Typo=""Typo.subtitle2"">subtitle2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</Typography>
<Typography Typo=""Typo.body1"">body1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</Typography>
<Typography Typo=""Typo.body2"">body2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</Typography>
<Typography Typo=""Typo.button"">BUTTON TEXT</Typography>
<Typography Typo=""Typo.caption"">caption text</Typography>
<Typography Typo=""Typo.overline"">OVERLINE TEXT</Typography>
```";
    string Markdown_Alignment = @"```html
<Typography Align=""Align.Left""><b>Left</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</Typography>
<Typography Align=""Align.Right""><b>Right</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</Typography>
<Typography Align=""Align.Center""><b>Center</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</Typography>
<Typography Align=""Align.Justify""><b>Justify</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</Typography>
<Typography Align=""Align.Inherit""><b>Inherit</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</Typography>
```";
}
