@namespace MudBlazor
@inherits MudComponentBase

<div @ref="_componentRef" @attributes="UserAttributes" class="@Class" style="@Style" 
     @ontouchstart="OnTouchStart" @ontouchstart:stopPropagation="true"
     @ontouchend="OnTouchEnd" @ontouchend:stopPropagation="true"
     @ontouchcancel="OnTouchCancel" @ontouchcancel:stopPropagation="true">
    @ChildContent
</div>