@namespace MudBlazor
@inherits MudComponentBase

<div @ref="_componentRef" @attributes="UserAttributes" class="@Class" style="@Style" 
     @onpointerdown="OnPointerDown" @onpointerdown:stopPropagation="true"
     @onpointerup="OnPointerUp" @onpointerup:stopPropagation="true"
     @onpointercancel="OnPointerCancel" @onpointercancel:stopPropagation="true">
    @ChildContent
</div>