@namespace MudBlazor.Dialog

<div class="mud-dialog-container @Position">
    <div class="mud-dialog-overlay" @onclick="HandleBackgroundClick"></div>
    <div id="_@Id.ToString("N")" class="mud-dialog">
        @if (!NoHeader)
        {
            <div class="mud-dialog-title">
                <Typography Typo="Typo.h6" GutterBottom="false">@Title</Typography>
                @if (CloseButton)
                {
                    <MudIconButton Icon="@Icons.Material.Close" @onclick="Cancel"/>
                }
            </div>
         }
        <CascadingValue Value="this">
            @Content
        </CascadingValue>
    </div>
</div>