@namespace MudBlazor

@inherits MudComponentBase

<div class="@ContentClass" style="@Style">
    @DialogContent
</div>
@if (DialogActions != null)
{
    <div class="@ActionClass">
        @DialogActions
    </div>
}
