@namespace MudBlazor.Dialog

<div class="mud-dialog-container @Position">
    <MudOverlay Visible="true" OnClick="HandleBackgroundClick" Class="mud-overlay-dialog" DarkBackground="true" />
    <div id="_@Id.ToString("N")" class="@Classname">
        @if (!NoHeader)
        {
            <div class="mud-dialog-title">
                <MudText Typo="Typo.h6">@Title</MudText>
                @if (CloseButton)
                {
                    <MudIconButton Icon="@Icons.Material.Close" @onclick="Cancel"/>
                }
            </div>
         }
        <CascadingValue Value="this" IsFixed="true">
            @Content
        </CascadingValue>
    </div>
</div>