@namespace MudBlazor

@inherits MudComponentBase

@*this makes dialog inlineable, it will only render inside a MudDialogInstance*@
@if (!IsInline)
{
    <div class="@ContentClass" style="@Style">
        @DialogContent
    </div>
    @if (DialogActions != null)
    {
        <div class="@ActionClass">
            @DialogActions
        </div>
    }
}
