@namespace MudBlazor

@inherits MudComponentBase

@{
    #nullable enable
}

@*this makes dialog inlineable, it will only render inside a MudDialogInstance*@
@if (!IsInline)
{
    <MudFocusTrap DefaultFocus="DefaultFocus">

        <div @attributes="UserAttributes" class="@ContentClassname" style="@ContentStyle">
            <CascadingValue Value="true" IsFixed Name="IsNested">
                @DialogContent
            </CascadingValue>
        </div>

        @if (DialogActions != null)
        {
            <div class="@ActionsClassname">
                @DialogActions
            </div>
        }

    </MudFocusTrap>
}
