@page "/components/componentname"

<DocsPage>
    <DocsPageHeader>
        <Title></Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TemplateExample/>
            </SectionContent>
            <SectionSource Code="TemplateExample" GitHubFolderName="TemplateComponent" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>