@namespace MudBlazor.Docs.Examples

<div class="mud-codeblock">
<div class="csharp">
    <pre>
<span class="keyword">using</span> MudBlazor;
<span class="keyword">using</span> MudBlazor.Dialog;
<span class="keyword">using</span> MudBlazor.Services;

<span class="keyword">public</span> <span class="keyword">void</span> <span class="function">ConfigureServices</span>(<span class="interface">IServiceCollection</span> <span class="localVar">services</span>)
{
    <span class="localVar">services</span>.<span class="function">AddMudBlazorDialog</span>();
    <span class="localVar">services</span>.<span class="function">AddMudBlazorSnackbar</span>();
    <span class="localVar">services</span>.<span class="function">AddMudBlazorResizeListener</span>();
}
</pre>
</div>
</div>