@import '../abstracts/variables';

.mud-appbar {
    width: 100%;
    display: flex;
    position: relative;
    z-index: var(--mud-zindex-appbar);
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    color: var(--mud-palette-appbar-text);
    background-color: var(--mud-palette-appbar-background);
    transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,width 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.mud-drawer-clipped-never.mud-drawer-open {
    &-responsive {
        @each $breakpoint in map-keys($breakpoints) {
            &-#{$breakpoint} {
                @media (min-width: map-get($breakpoints, $breakpoint)) {
                    &-left .mud-appbar {
                        margin-left: var(--mud-drawer-width-left);
                    }

                    &-right .mud-appbar {
                        margin-right: var(--mud-drawer-width-right);
                    }

                    &-left#{&}-right .mud-appbar {
                        width: calc(100% - var(--mud-drawer-width-left) + var(--mud-drawer-width-right));
                    }

                    &-left:not(#{&}-right) .mud-appbar {
                        width: calc(100% - var(--mud-drawer-width-left));
                    }

                    &-right:not(#{&}-left) .mud-appbar {
                        width: calc(100% - var(--mud-drawer-width-right));
                    }
                }
            }
        }
    }

    &-persistent {
        &-left .mud-appbar {
            margin-left: var(--mud-drawer-width-left);
        }

        &-right .mud-appbar {
            margin-right: var(--mud-drawer-width-right);
        }

        &-left#{&}-right .mud-appbar {
            width: calc(100% - var(--mud-drawer-width-left) + var(--mud-drawer-width-right));
        }

        &-left:not(#{&}-right) .mud-appbar {
            width: calc(100% - var(--mud-drawer-width-left));
        }

        &-right:not(#{&}-left) .mud-appbar {
            width: calc(100% - var(--mud-drawer-width-right));
        }
    }
}

.mud-appbar-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
