@import '../abstracts/variables';

.mud-appbar {
  width: 100%;
  display: flex;
  z-index: var(--mud-zindex-appbar);
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  color: var(--mud-palette-appbar-text);
  background-color: var(--mud-palette-appbar-background);
  transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,width 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;

  &.mud-appbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    .mud-popover-cascading-value {
      position: fixed;
    }
  }

  &.mud-appbar-fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    .mud-popover-cascading-value {
      position: fixed;
    }
  }

  .mud-toolbar-appbar {
    height: calc(var(--mud-appbar-height) - var(--mud-appbar-height) / 8);
  }

  @media (min-width:$breakpoint-xs) and (orientation: landscape) {
    .mud-toolbar-appbar {
      height: calc(var(--mud-appbar-height) - var(--mud-appbar-height) / 4);
    }
  }

  @media (min-width:$breakpoint-sm) {
    .mud-toolbar-appbar {
      height: var(--mud-appbar-height);
    }
  }

  &.mud-appbar-dense {
    .mud-toolbar-appbar {
      height: calc(var(--mud-appbar-height) - var(--mud-appbar-height) / 4);
    }
  }
}

.mud-drawer-open {
  &-responsive {
    @each $breakpoint in map-keys($breakpoints) {
      &-#{$breakpoint} {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
          &-left.mud-drawer-left-clipped-never .mud-appbar {
            margin-left: var(--mud-drawer-width-left);
            width: calc(100% - var(--mud-drawer-width-left));
          }

          &-right.mud-drawer-right-clipped-never .mud-appbar {
            margin-right: var(--mud-drawer-width-right);
            width: calc(100% - var(--mud-drawer-width-right));
          }

          &-left.mud-drawer-left-clipped-never#{&}-right.mud-drawer-right-clipped-never .mud-appbar {
            margin-left: var(--mud-drawer-width-left);
            margin-right: var(--mud-drawer-width-right);
            width: calc(100% - var(--mud-drawer-width-left) - var(--mud-drawer-width-right));
          }
        }
      }
    }
  }

  &-persistent {
    &-left.mud-drawer-left-clipped-never .mud-appbar {
      margin-left: var(--mud-drawer-width-left);
      width: calc(100% - var(--mud-drawer-width-left));
    }

    &-right.mud-drawer-right-clipped-never .mud-appbar {
      margin-right: var(--mud-drawer-width-right);
      width: calc(100% - var(--mud-drawer-width-right));
    }

    &-left.mud-drawer-left-clipped-never#{&}-right.mud-drawer-right-clipped-never .mud-appbar {
      margin-left: var(--mud-drawer-width-left);
      margin-right: var(--mud-drawer-width-right);
      width: calc(100% - var(--mud-drawer-width-left) - var(--mud-drawer-width-right));
    }
  }

  &-mini {
    @each $breakpoint in map-keys($breakpoints) {
      &-#{$breakpoint} {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
          &-left.mud-drawer-left-clipped-never .mud-appbar {
            margin-left: var(--mud-drawer-width-left);
            width: calc(100% - var(--mud-drawer-width-left));
          }

          &-right.mud-drawer-right-clipped-never .mud-appbar {
            margin-right: var(--mud-drawer-width-right);
            width: calc(100% - var(--mud-drawer-width-right));
          }

          &-left.mud-drawer-left-clipped-never#{&}-right.mud-drawer-right-clipped-never .mud-appbar {
            margin-left: var(--mud-drawer-width-left);
            margin-right: var(--mud-drawer-width-right);
            width: calc(100% - var(--mud-drawer-width-left) - var(--mud-drawer-width-right));
          }
        }
      }
    }
  }
}

.mud-drawer-close-mini {
  @each $breakpoint in map-keys($breakpoints) {
    &-#{$breakpoint} {
      &-left.mud-drawer-left-clipped-never .mud-appbar {
        margin-left: var(--mud-drawer-width-mini-left);
        width: calc(100% - var(--mud-drawer-width-mini-left));
      }

      &-right.mud-drawer-right-clipped-never .mud-appbar {
        margin-right: var(--mud-drawer-width-mini-right);
        width: calc(100% - var(--mud-drawer-width-mini-right));
      }

      &-left.mud-drawer-left-clipped-never#{&}-right.mud-drawer-right-clipped-never .mud-appbar {
        margin-left: var(--mud-drawer-width-mini-left);
        margin-right: var(--mud-drawer-width-mini-right);
        width: calc(100% - var(--mud-drawer-width-mini-left) - var(--mud-drawer-width-mini-right));
      }

      @media (max-width: map-get($breakpoints, $breakpoint)) {
        &-left.mud-drawer-left-clipped-docked .mud-appbar {
          margin-left: var(--mud-drawer-width-mini-left);
          width: calc(100% - var(--mud-drawer-width-mini-left));
        }

        &-right.mud-drawer-right-clipped-docked .mud-appbar {
          margin-right: var(--mud-drawer-width-mini-right);
          width: calc(100% - var(--mud-drawer-width-mini-right));
        }

        &-left.mud-drawer-left-clipped-docked#{&}-right.mud-drawer-right-clipped-docked .mud-appbar {
          margin-left: var(--mud-drawer-width-mini-left);
          margin-right: var(--mud-drawer-width-mini-right);
          width: calc(100% - var(--mud-drawer-width-mini-left) - var(--mud-drawer-width-mini-right));
        }
      }
    }
  }
}
