.mud-drawer {
    height: 100%;
    width: 240px;
    display: flex;
    flex-shrink: 0;
    flex: 0 0 auto;
    outline: 0;
    position:fixed;
    z-index: var(--mud-zindex-drawer);
    overflow-y: auto;
    flex-direction: column;

    &.mud-drawer--open {
        transform: none;
        transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }

    &.mud-drawer--closed {
        transform: translateX(-240px);
        visibility: hidden;
    }

    &.mud-drawer-anchor-left {
        left: 0;
        right: auto;
    }

    &.mud-drawer-anchor-right {
        left: auto;
        right: 0;
    }
}

.mud-drawer-header {
    display: flex;
    min-height: 64px;
    padding: 12px 24px 12px 24px;
}

.mud-drawer-clipped {
    padding-top: 64px;
}

/// <summary>
/// Bellow is the classes for theming
/// </summary>
.mud-drawer-color-default {
    color: var(--mud-theme-on-default);
    background-color: var(--mud-theme-default);
}

.mud-drawer-color-primary {
    color: var(--mud-theme-on-primary);
    background-color: var(--mud-theme-primary);
}

.mud-drawer-color-secondary {
    color: var(--mud-theme-on-secondary);
    background-color: var(--mud-theme-secondary);
}

.mud-drawer-color-surface {
    color: var(--mud-theme-on-surface);
    background-color: var(--mud-theme-surface);
}

.mud-drawer-color-drawer {
    color: var(--mud-theme-on-drawer);
    background-color: var(--mud-theme-drawer);
}

.mud-drawer-color-inherit {
    color: inherit;
}

.mud-drawer-color-transparent {
    color: inherit;
    background-color: transparent;
}