.mud-drawer {
    height: 100%;
    width: 240px;
    display: flex;
    flex-shrink: 0;
    flex: 0 0 auto;
    outline: 0;
    z-index: 9;
    overflow-y: auto;
    flex-direction: column;
    color: var(--mud-theme-on-drawer);
    background-color: var(--mud-theme-drawer);

    &.mud-drawer--open {
        transform: none;
        transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }

    &.mud-drawer--closed {
        transform: translateX(-240px);
        visibility: hidden;
    }

    &.mud-drawer-anchor-left {
        left: 0;
        right: auto;
    }

    &.mud-drawer-anchor-right {
        left: auto;
        right: 0;
    }
}

.mud-drawer-header {
    display: flex;
    min-height: 64px;
    padding: 12px 24px 12px 24px;
}

.mud-drawer-clipped {
    padding-top: 64px;
}