.mud-drawer {
    height: 100%;
    width: var(--mud-drawer-width);
    display: flex;
    flex-shrink: 0;
    flex: 0 0 auto;
    outline: 0;
    position: fixed;
    z-index: calc(var(--mud-zindex-drawer) + 1);
    overflow-y: auto;
    flex-direction: column;
    color: var(--mud-palette-drawer-text);
    background-color: var(--mud-palette-drawer-background);

    &.mud-drawer--open {
        transform: none;
        transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        visibility: hidden;
    }

    @media (min-width:1280px) {
        &.mud-drawer--open {
            transform: none;
            transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
            visibility: unset;
        }
    }

    &.mud-drawer-anchor-left {
        left: 0;
        right: auto;

        &.mud-drawer--closed {
            transform: none;
            transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
            visibility: unset;
            z-index: calc(var(--mud-zindex-dialog) + 1);

            &.mud-drawer--initial {
                transform: translateX(calc(-1 * var(--mud-drawer-width)));
                visibility: hidden;
            }
        }

        @media (min-width:1280px) {
            &.mud-drawer--closed {
                transform: translateX(calc(-1 * var(--mud-drawer-width)));
                visibility: hidden;
            }
        }
    }

    &.mud-drawer-anchor-right {
        left: auto;
        right: 0;

        &.mud-drawer--closed {
            transform: none;
            transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
            visibility: unset;
            z-index: calc(var(--mud-zindex-dialog) + 1);


            &.mud-drawer--initial {
                transform: translateX(var(--mud-drawer-width));
                visibility: hidden;
            }
        }

        @media (min-width:1280px) {
            &.mud-drawer--closed {
                transform: translateX(var(--mud-drawer-width));
                visibility: hidden;
            }
        }
    }
}

.mud-drawer-header {
    display: flex;
    min-height: var(--mud-appbar-min-height);
    padding: 12px 24px 12px 24px;

    &.mud-drawer-header-dense {
        min-height: calc(var(--mud-appbar-min-height) - 16px);
        padding: 8px 24px 8px 24px;
    }
}

.mud-drawer-clipped {
        padding-top: 0;
}

@media (min-width:1280px) {
    .mud-drawer-clipped {
        padding-top: var(--mud-appbar-min-height);
    }
}

.mud-drawer-overlay {
    display: none;

    &.mud-drawer--open {
        display: block;

        &.mud-drawer--initial {
            display: none;
        }
    }

    @media (min-width:1280px) {
        &.mud-drawer--open {
            display: none;
        }
    }
}