@import '../abstracts/variables';

.mud-main-content {
    flex: 1 1 auto;
    padding-top: var(--mud-appbar-min-height);
    transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.mud-main-drawer-open {
    &-responsive {
        @each $breakpoint in map-keys($breakpoints) {
            &-#{$breakpoint} {
                @media (min-width: map-get($breakpoints, $breakpoint)) {
                    &-left:not(&-right) {
                        margin-right: auto;
                        margin-left: var(--mud-drawer-width);
                    }

                    &-right:not(&-left) {
                        margin-right: var(--mud-drawer-width);
                        margin-left: auto;
                    }

                    &-left#{&}-right {
                        margin-right: var(--mud-drawer-width);
                        margin-left: var(--mud-drawer-width);
                    }
                }
            }
        }
    }

    &-persistent {
        &-left:not(&-right) {
            margin-right: auto;
            margin-left: var(--mud-drawer-width);
        }

        &-right:not(&-left) {
            margin-right: var(--mud-drawer-width);
            margin-left: auto;
        }

        &-left#{&}-right {
            margin-right: var(--mud-drawer-width);
            margin-left: var(--mud-drawer-width);
        }
    }
}