.mud-main-content {
    flex: 1 1 auto;
    overflow: auto;
    padding-top: 64px;
}

.mud-main-drawer-closed {
    flex-grow: 1;
    transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    margin-left: 0px;
}

.mud-main-drawer-open {
    transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    margin-left: 240px;
}
