@page "/components/typography"

<DocsPage>
    <DocsPageHeader>
        <Title>Typography</Title>
        <SubTitle>Use typography to present your design and content as clearly and efficiently as possible.</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>General</Title>
                <Description>Mudblazors default font is Roboto and is not loaded automatically. The installation instructions include how to load the font. But in general the fastest and easiest way is to load it from Google Fonts as in the example below.</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TextGeneralExample/>
            </SectionContent>
            <SectionSource Code="TextGeneralExample"/>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Alignment</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" FullWidth="true">
                <TextAlignmentExample/>
            </SectionContent>
            <SectionSource Code="TextAlignmentExample"/>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>