@page "/mud/project/how-it-started"

<DocsPage DisplayFooter="true">
    <DocsPageHeader Title="About" />
    <DocsPageContent>
        <MudText Typo="Typo.h4" GutterBottom="true">How it started</MudText>
        <MudText>
            I had a vision for this project, to keep it clean and simple with a modern design that is highly customizable. Simple and easy to use components. More CSS, SASS and no Javascript
            or at least just the absolute necessities if there is something Blazor and CSS cannot do.
        </MudText>
        <MudText Class="mt-4">
            I've been developing .NET Core websites and working specifically with Blazor since late 2018. Since then, I have seen amazing Blazor library projects but I felt some of
            them were over-engineered and some of them were "ports" with massive amounts of Javascript to keep the frontend running. Which, of course, doesn't mean it's bad, but I feel it contradicts what
            Blazor is all about.
        </MudText>

        <MudText Typo="Typo.h4" GutterBottom="true" Class="mt-8">I was not alone</MudText>
        <MudText>
            I was almost about to give up, the time it took to make everything myself and the knowledge I lacked made it hard, and the project was far from going public. I started looking around,
            surely there must be another library with the same vision and values out there which I could contribute to instead.
        </MudText>
        <MudText>
            And this is how it all started for real, in a random gitter chat I was talking in, one of the users messaged me and we started talking. I noticed that he was interested and that we
            both had the same vision. I made a promise to clean up my library and prepare it to go public on GitHub. That guy had been none other than Henon who became co-creator of the project.
        </MudText>

        <MudText Typo="Typo.h4" GutterBottom="true" Class="mt-8">Our Story</MudText>
        <MudText>
            From this point on we worked hard to get something ready for what we call "first release" day and night, we covered each others shortcomings
            and suddenly something great was coming along.
        </MudText>
        <MudText>
            It was no longer a one-person show, it became more than each of us could have ever achieved alone.
            Our vision and our values materialized in MudBlazor.
        </MudText>
        <div class="mt-6">
            <MudText Align="Align.Left"> —  Jonny Larsson aka <MudLink Href="https://github.com/Garderoben">Garderoben</MudLink>, Oct 2020 </MudText>
        </div>
        <MudContainer>
        <div class="mud-typography-align-center">
            <MudText Typo="Typo.h4" Class="my-16">Meet the <MudLink Typo="Typo.h4" Href="/mud/project/team">Team</MudLink></MudText>
        </div>
        </MudContainer>
        <MudContainer>
            <div class="my-16"></div>
        </MudContainer>
    </DocsPageContent>
</DocsPage>