@page "/mud/project/roadmap"

<PageTitle>Roadmap - MudBlazor</PageTitle>

<DocsPage>
    <DocsPageContent>
        <DocsPageSection>
            <div class="docs-roadmap-container d-flex justify-center">
                <div class="d-flex justify-center flex-column align-center docs-roadmap-2022">
                    <img src="_content/MudBlazor.Docs/images/roadmap2022.png" alt="Roadmap 2022">
                    <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="my-6">
                        The roadmap is still in the making as we want to get some feedback from you and made the survey.<br>
                        Once the survey is closed and the data collected the team will piece everything together.
                    </MudText>
                </div>
                <div class="roadmap-world">
                    <div class="roadmap-grid">
                        @for (int i = 0; i < 100; i++)
                        {
                            <div class="roadmap-grid-item"></div>
                        }
                    </div>
                </div>
            </div>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
