@page "/mud/project/sponsor"

<DocsPage DisplayFooter="true">
    <DocsPageHeader Title="Sponsors & Backers" SubTitle="The continued development and maintenance of MudBlazor is secured by our sponsors" />
    <DocsPageContent>
        
        <DocsPageSection>
            <SectionHeader Title="Sponsor">
                <Description>
                    MudBlazor is open-source because we want to include the community in the project and influence what direction we are heading. While MudBlazor is entirely free to use and always will be, we have a lot of contributors and a core team that invests a lot of time into the project.
                    We want to make sure MudBlazor becomes a financially stable project. That is why we have gone with the crowd-funding concept to invest in infrastructure, possible dev payouts, and potentially full-time devs in the future.<br/><br/>
                    By supporting us, you help secure the continued development and maintenance of MudBlazor, that bugs get fixed, new features get implemented, support for coming versions of .NET and Blazor.
                </Description>
            </SectionHeader>
            
            <MudButton DropShadow="false" StartIcon="@Icons.Custom.Brands.GitHub" Variant="Variant.Filled" Size="Size.Large" Class="docs-no-text-transform" Href="https://github.com/sponsors/MudBlazor" Target="_blank">Sponsor on GitHub</MudButton>
            <MudButton DropShadow="false" StartIcon="@Icons.Material.Filled.DataUsage" IconColor="Color.Info" Size="Size.Large" Variant="Variant.Filled" Class="docs-no-text-transform mx-2" Href="https://opencollective.com/mudblazor" Target="_blank">Sponsor on Open Collective</MudButton>
            
            <SectionSubGroups>
                
                <DocsPageSection>
                    <SectionHeader Title="What we do">
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 docs-line-height-normal">
                                       Oversee the library as a whole
                                    </div>
                                </MudBadge>
                                <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 docs-line-height-normal">
                                        Planning features and deciding which ones should be implemented and which should not
                                    </div>
                                </MudBadge>
                                <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 docs-line-height-normal">
                                        Develop new features and ideas
                                    </div>
                                </MudBadge>
                                <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 docs-line-height-normal">
                                        Fix reported bugs
                                    </div>
                                </MudBadge>
                                <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 docs-line-height-normal">
                                        Write new documentation and improve on old
                                    </div>
                                </MudBadge>
                                <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 docs-line-height-normal">
                                        Adopt new versions of .NET and Blazor
                                    </div>
                                </MudBadge>
                                <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 docs-line-height-normal">
                                        QA, creating tests or manually testing
                                    </div>
                                </MudBadge>
                                <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 docs-line-height-normal">
                                       Manage Issues/Feature Requests/Discussions/Pull Requests/Reviews on GitHub
                                    </div>
                                </MudBadge>
                                <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 docs-line-height-normal">
                                        CI/CD workflows to ensure continuous delivery/deployment
                                    </div>
                                </MudBadge>
                                <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 docs-line-height-normal">
                                        Community building, e.g., Reddit, Twitter, Stack Overflow, Discord
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </DocsPageSection>
                

                <DocsPageSection>
                    <SectionHeader Title="Where does the money go?">
                        <Description>
                            All funds are going to <CodeInline>Gardnet AB</CodeInline> which is a Swedish company owned by <MudLink Href="https://github.com/Garderoben">Garderoben</MudLink>, the creator of MudBlazor.<br/><br/>
                            <CodeInline>Gardnet AB</CodeInline> is using the funds to:
                            <div class="d-flex flex-column px-2">
                                <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 docs-line-height-normal">
                                        Secure MudBlazor's future as the best choice out there.
                                    </div>
                                </MudBadge>
                                <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 docs-line-height-normal">
                                        Cover expenses related to development of MudBlazor, e.g., domain names, certificates, hosting and licenses.
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="What's the difference between GitHub and OpenCollective?">
                        <Description>
                            Funds received via <b>GitHub</b>, directly go to <CodeInline>Gardnet AB</CodeInline> and the core team's mission. The company is a profit entity with one goal, to secure MudBlazor's future.<br/><br/>
                            Funds received via <b>Open Collective</b> are managed transparently and aimed to sustain MudBlazor and its needs.<br/>
                            As a <MudTooltip Color="Color.Dark" Placement="Placement.Top">
                                     <ChildContent>
                                         <MudText Class="docs-text-dec">Fiscal Host</MudText>
                                     </ChildContent>
                                     <TooltipContent>
                                         A Fiscal Host is an entity that holds the money on<br/>
                                         behalf of a Collective and takes care of<br/>
                                         accounting, taxes, and invoices.
                                     </TooltipContent>
                                 </MudTooltip>, all funds are kept there until we submit an expense.
                        </Description>
                    </SectionHeader>
                </DocsPageSection>

            </SectionSubGroups>
        </DocsPageSection>
        
        <DocsPageSection>
            <SectionHeader Title="MudBlazor Sponsors"></SectionHeader>
            <SectionSubGroups>

                <DocsPageSection>
                    <SectionHeader Title="Bronze Sponsors"/>
                    <MudGrid>
                        <MudItem xs="6" md="3">
                            <Sponsor Name="Adaris" Image="Adaris_color.png" Website="https://www.adaris.ch/"/>
                        </MudItem>
                        <MudItem xs="6" md="3">
                            <Sponsor Name="Balesio" Image="Balesio_color.png" Website="https://blazor-agentur.ch/agency.html" />
                        </MudItem>
                        <MudItem xs="6" md="3">
                            <Sponsor Name="Timewarp" Image="Timewarp_color.png" Website="https://timewarp.at/"/>
                        </MudItem>
                        <MudItem xs="6" md="3">
                            <Sponsor Name="Lithe Software Consulting" Image="Lithe_color.png"/>
                        </MudItem>
                    </MudGrid>
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Backers"/>
                    <SectionContent>

                    </SectionContent>
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Services"/>
                    <MudGrid>
                        <MudItem xs="6" md="3">
                            <Sponsor Name="JetBrains" Image="JetBrains_color.png" Website="https://www.jetbrains.com/?from=MudBlazor"/>
                        </MudItem>
                    </MudGrid>
                </DocsPageSection>

            </SectionSubGroups>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>