@page "/components/button"

<DocsPage>
    <DocsPageHeader>
        <Title>Button</Title>
        <Description>The <CodeInline>Mudbutton</CodeInline> component is a button with material design theme and comes with multiple functions.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Filled Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonFilledExample />
            </SectionContent>
            <SectionSource Code="ButtonFilledExample"></SectionSource>
            <MudText Class="mt-6" GutterBottom="true">Elevation can be removed with the <CodeInline>DisableElevation</CodeInline> bool.</MudText>
            <SectionContent Outlined="true">
                <ButtonElevationExample />
            </SectionContent>
            <SectionSource Code="ButtonElevationExample"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Text Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonTextExample />
            </SectionContent>
            <SectionSource Code="ButtonTextExample"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Outlined Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonOutlinedExample />
            </SectionContent>
            <SectionSource Code="ButtonOutlinedExample"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Sizes</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonSizeExample />
            </SectionContent>
            <SectionSource Code="ButtonSizeExample" ShowCode="false" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Buttons with icons and label</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonIconLabelExample />
            </SectionContent>
            <SectionSource Code="ButtonIconLabelExample" ShowCode="false" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Customized Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonCustomizedExample />
            </SectionContent>
            <SectionSource Code="ButtonCustomizedExample" ShowCode="false" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>