@page "/components/button"

<DocsPage>
    <DocsPageHeader Title="Button"
                    SubTitle="A Material Design Button for actions, links and commands">
        <Description>The <CodeInline>Mudbutton</CodeInline> component is a button with material design theme and comes with multiple functions.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Filled Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonFilledExample />
            </SectionContent>
            <SectionSource Code="ButtonFilledExample" GitHubFolderName="Button" SnippetId="mObaPsvH27AGoDOC39" />
            <MudText Class="mt-6" GutterBottom="true">Elevation can be removed with the <CodeInline>DisableElevation</CodeInline> bool.</MudText>
            <SectionContent Outlined="true">
                <ButtonElevationExample />
            </SectionContent>
            <SectionSource Code="ButtonElevationExample" GitHubFolderName="Button" SnippetId="GYPYPWbx43vBOU5a02" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Text Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonTextExample />
            </SectionContent>
            <SectionSource Code="ButtonTextExample" GitHubFolderName="Button" SnippetId="wulklNOO194rB6nG16" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Outlined Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonOutlinedExample />
            </SectionContent>
            <SectionSource Code="ButtonOutlinedExample" GitHubFolderName="Button" SnippetId="QOPEFDOY20EAuFzE02" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Sizes</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonSizeExample />
            </SectionContent>
            <SectionSource Code="ButtonSizeExample" ShowCode="false" GitHubFolderName="Button" SnippetId="ckPavXua20X5dRXF43" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Buttons with icons and label</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonIconLabelExample />
            </SectionContent>
            <SectionSource Code="ButtonIconLabelExample" ShowCode="false" GitHubFolderName="Button" SnippetId="QEFaPZka22tznIYS55" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Customized Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonCustomizedExample />
            </SectionContent>
            <SectionSource Code="ButtonCustomizedExample" ShowCode="false" GitHubFolderName="Button" SnippetId="GuPYFNEY23jaQ3gK26" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Link Buttons</Title>
                <Description>When the Link property of a MudButton is set, it renders an anchor element and the href attribute is set to the Link property</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <ButtonLinkExample />
            </SectionContent>
            <SectionSource Code="ButtonLinkExample"  GitHubFolderName="Button" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>