.object-none {
  object-fit: none;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.object-fill {
  object-fit: fill;
}

.object-scale-down {
  object-fit: scale-down;
}
