.object-center {
  object-position: center !important;
}

.object-top {
  object-position: top !important;
}

.object-bottom {
  object-position: bottom !important;
}

.object-left {
  object-position: left !important;
}

.object-left-top {
  object-position: left top !important;
}

.object-left-bottom {
  object-position: left bottom !important;
}

.object-right {
  object-position: right !important;
}

.object-right-top {
  object-position: right top !important;
}

.object-right-bottom {
  object-position: right bottom !important;
}
