.object-center {
  object-position: center;
}

.object-top {
  object-position: top;
}

.object-bottom {
  object-position: bottom;
}

.object-left {
  object-position: left;
}

.object-left-top {
  object-position: left top;
}

.object-left-bottom {
  object-position: left bottom;
}

.object-right {
  object-position: right;
}

.object-right-top {
  object-position: right top;
}

.object-right-bottom {
  object-position: right bottom;
}
