.object-none {
  object-fit: none !important;
}

.object-cover {
  object-fit: cover !important;
}

.object-contain {
  object-fit: contain !important;
}

.object-fill {
  object-fit: fill !important;
}

.object-scale-down {
  object-fit: scale-down !important;
}
