@page "/components/dialog"

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageHeader Title="Dialog">
        <Description>A dialog will overlay your current app content, providing the user with either information, a choice, or other tasks.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Dialogs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DialogSimpleExample />
            </SectionContent>
            <SectionSource Code="DialogSimpleExample" FullCode="DialogDialogSimpleExample" GitHubFolderName="Dialog" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Form Dialogs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DialogFormExample />
            </SectionContent>
            <SectionSource Code="DialogFormExample" FullCode="DialogDialogFormExample" GitHubFolderName="Dialog" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Dialog Options</Title>
                <Description>The close button can be set either globaly for the whole project or per dialog.<br /> You can also disable the on backdropclick.</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DialogOptionsExample />
            </SectionContent>
            <SectionSource Code="DialogOptionsExample" FullCode="DialogDialogOptionExample" GitHubFolderName="Dialog" />
        </DocsPageSection>
        <DocsPageSection>
            <MudText Typo="Typo.h4" GutterBottom="true">Available options are at the moment</MudText>
            <MudText Typo="Typo.subtitle1" GutterBottom="true">This options can be set with the <CodeInline>DialogOptions</CodeInline> Class.</MudText>
            <ul class="mud-typography-body1">
                <li><CodeInline>enum</CodeInline> - <CodeInline>Position</CodeInline></li>
                <li><CodeInline>enum</CodeInline> - <CodeInline>MaxWidth</CodeInline></li>
                <li><CodeInline>bool</CodeInline> - <CodeInline>DisableBackdropClick</CodeInline></li>
                <li><CodeInline>bool</CodeInline> - <CodeInline>NoHeader</CodeInline></li>
                <li><CodeInline>bool</CodeInline> - <CodeInline>CloseButton</CodeInline></li>
                <li><CodeInline>bool</CodeInline> - <CodeInline>FullScreen</CodeInline></li>
                <li><CodeInline>bool</CodeInline> - <CodeInline>FullWidth</CodeInline></li>
            </ul>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Scrollable Dialog Content</Title>
                <Description>If the content is longer than the dialog it will automatically become scrollable.</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DialogScrollableExample />
            </SectionContent>
            <SectionSource Code="DialogScrollableExample" FullCode="DialogBodyScrollableExample" GitHubFolderName="Dialog" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
