@page "/components/dialog"

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageHeader Title="Dialog">
        <Description>A dialog will overlay your current app content, providing the user with either information, a choice, or other tasks.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <MudText Typo="Typo.h6" GutterBottom="true">Note</MudText>
            <MudText>The Dialog is dependant on <CodeInline Class="docs-code-tertiary">IDialogService</CodeInline> and <CodeInline>MudDialogProvider</CodeInline></MudText>
            <MudText>Check the <MudLink Href="/getting-started/installation">Installation</MudLink> page for instructions regarding default setup.</MudText>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
                <Description>The Dialog is its own .razor file and can be used as a kind of template where you populate it by passing data.</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DialogUsageExample />
            </SectionContent>
            <SectionSource Code="DialogUsageExample" GitHubFolderName="Dialog" />
            <SectionSource Code="DialogUsageExample_Dialog" GitHubFolderName="Dialog" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Passing Data</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DialogPassingDataExample />
            </SectionContent>
            <SectionSource Code="DialogPassingDataExample" GitHubFolderName="Dialog" />
            <SectionSource Code="DialogPassingDataExample_Dialog" GitHubFolderName="Dialog" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
