@page "/components/dialog"

<DocsPage>
    <DocsPageHeader>
        <Title>Dialog</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Dialogs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DialogSimpleExample/>
            </SectionContent>
            <SectionSource Code="DialogSimpleExample" FullCode="DialogDialogSimpleExample" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Form Dialogs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DialogFormExample/>
            </SectionContent>
            <SectionSource Code="DialogFormExample" FullCode="DialogDialogFormExample" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
