@page "/components/menu"


<DocsPage>
    <DocsPageHeader>
        <Title>Menus</Title>
        <SubTitle>
            The Menu component shows a menu at the position of the element used to activate it.
        </SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MenuUsageExample />
            </SectionContent>
            <SectionSource Code="MenuUsageExample" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

