@page "/components/menu"


<DocsPage>
    <DocsPageHeader>
        <Title>Menus</Title>
        <SubTitle>
            The component shows a menu at the position of the element used to activate it.
        </SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Menu</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" Class="demo-menu">
                <MenuSimpleExample />
            </SectionContent>
            <SectionSource Code="MenuSimpleExample" GitHubFolderName="Menu" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Customization</Title>
                <Description>The menu button gives you all the options a regular button would do.</Description>
            </SectionHeader>
            <SectionContent Outlined="true" DisplayFlex="true" GitHubFolderName="Menu">
                <MenuCustomizationExample />
            </SectionContent>
            <SectionSource Code="MenuCustomizationExample" ShowCode="false" />
            <SectionHeader>
                <Title>Icon Buttons</Title>
                <Description>If an Icon is supplied through the <CodeInline>Icon</CodeInline> property the menu button will display as an <CodeInline>IconButton</CodeInline></Description>
            </SectionHeader>
            <SectionContent Outlined="true" DisplayFlex="true">
                <MenuIconButtonsExample />
            </SectionContent>
            <SectionSource Code="MenuIconButtonsExample" ShowCode="true" GitHubFolderName="Menu" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
                <Description>The menu items also acts like buttons, simply assign them a onclick event or a link.</Description>
            </SectionHeader>
            <SectionContent Outlined="true" DisplayFlex="true">
                <MenuUsageExample />
            </SectionContent>
            <SectionSource Code="MenuUsageExample" ShowCode="true" GitHubFolderName="Menu" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

