@page "/components/select"


<DocsPage>
    <DocsPageHeader>
        <Title>Select</Title>
        <SubTitle>
            Select fields allows users to provide information from a list of options.
        </SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Selects's</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <SelectBasicExample />
            </SectionContent>
            <SectionSource Code="SelectBasicExample" GitHubFolderName="Select" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

