@page "/components/select"


<DocsPage>
    <DocsPageHeader>
        <Title>Select</Title>
        <SubTitle>
            Select fields allows users to provide information from a list of options.
        </SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Selects's</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <SelectBasicExample />
            </SectionContent>
            <SectionSource Code="SelectBasicExample" GitHubFolderName="Select" SnippetId="cklOPXOl04feuA0l55" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Multiselect</Title>
                <Description>If you set <CodeInline>MultiSelection="true"</CodeInline> you can select multiple values. The selected options are returned as concatenated comma delimited 
                    string via <CodeInline>Value</CodeInline> and as a Hashset&lt;string> via <CodeInline>SelectedValues</CodeInline></Description>
            </SectionHeader>
            <SectionContent Outlined="true"  DisplayFlex="true">
                <MultiSelectExample />
            </SectionContent>
            <SectionSource Code="MultiSelectExample" GitHubFolderName="Select" SnippetId="" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

