@page "/components/select"


<DocsPage>
    <DocsPageHeader>
        <Title>Select</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Selects's</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <SelectBasicExample/>
            </SectionContent>
            <SectionSource Code="SelectBasicExample"/>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

