@namespace MudBlazor.Docs.Pages.Components.Snackbar

<div class="mud-codeblock">
<div class="csharp"><pre>
<span class="keyword">using</span> MudBlazor.Services;

<span class="localVar">services</span>.<span class="function">AddMudServices</span>(<span class="localVar">config</span> =&gt;
{
    <span class="localVar">config.SnackbarConfiguration</span>.PositionClass = <span class="class">Defaults</span>.<span class="class">Classes</span>.<span class="class">Position</span>.BottomLeft;

    <span class="localVar">config.SnackbarConfiguration</span>.PreventDuplicates = <span class="keyword">false</span>;
    <span class="localVar">config.SnackbarConfiguration</span>.NewestOnTop = <span class="keyword">false</span>;
    <span class="localVar">config.SnackbarConfiguration</span>.ShowCloseIcon = <span class="keyword">true</span>;
    <span class="localVar">config.SnackbarConfiguration</span>.VisibleStateDuration = <span class="number">10000</span>;
    <span class="localVar">config.SnackbarConfiguration</span>.HideTransitionDuration = <span class="number">500</span>;
    <span class="localVar">config.SnackbarConfiguration</span>.ShowTransitionDuration = <span class="number">500</span>;
    <span class="localVar">config.SnackbarConfiguration</span>.SnackbarVariant = <span class="enum">Variant</span>.Filled;
});
</pre></div>
</div>