
@namespace MudBlazor
@inherits MudTabPanel
<CascadingValue Value="@this" IsFixed="true">
    <div @attributes="@UserAttributes" class="mud-tab-nav-group">
        @ChildContent
    </div>
</CascadingValue>