@namespace MudBlazor

<div class="mud-tabs mud-tabs-fixed">
    <CascadingValue Value="this">
        <div class="mud-tabs-toolbar">
            @foreach (MudTabPanel panel in Panels)
            {
                <MudButton Variant="Variant.Text" class="@GetActiveClass(panel)" @onclick=@( () => ActivatePanel(panel) )>@panel.Text</MudButton>
            }
        </div>
        <div class="mud-tabs-panels">
            @ChildContent
        </div>
    </CascadingValue>
</div>


@code {

    [Parameter] public RenderFragment ChildContent { get; set; }

    public MudTabPanel ActivePanel { get; set; }

    List<MudTabPanel> Panels = new List<MudTabPanel>();

    internal void AddPanel(MudTabPanel tabPanel)
    {
        Panels.Add(tabPanel);
        if (Panels.Count == 1)
            ActivePanel = tabPanel;
        StateHasChanged();

    }

    string GetActiveClass(MudTabPanel panel)
    {
        return panel == ActivePanel ? "mud-button-text-primary" : "mud-button-text-default";
    }
    void ActivatePanel(MudTabPanel panel)
    {
        ActivePanel = panel;

    }
}