@page "/components/tooltip"

<DocsPage>
    <DocsPageHeader Title="Tooltip"/>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Tooltips</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" Class="py-8">
                <TooltipSimpleExample />
            </SectionContent>
            <SectionSource Code="TooltipSimpleExample" GitHubFolderName="Tooltip" SnippetId="GOvEGkvE47cm445z19" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Change Default Delay</Title>
                <Description>The tooltip's default delay can be set with <CodeInline>Delayed</CodeInline> double in seconds.</Description>
            </SectionHeader>
            <SectionContent Outlined="true" Class="py-8">
                <TooltipDelayedExample />
            </SectionContent>
            <SectionSource Code="TooltipDelayedExample" ShowCode="false" GitHubFolderName="Tooltip" SnippetId="GEFaQYFk48iZdfc512" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Postioned Tooltips</Title>
                <Description>With <CodeInline>Placement</CodeInline> enum you can change the default position of the tooltip.</Description>
            </SectionHeader>
            <SectionContent Outlined="true" Class="py-8">
                <TooltipPostionExample />
            </SectionContent>
            <SectionSource Code="TooltipPostionExample" GitHubFolderName="Tooltip" SnippetId="GEPkwYlE489JrtVG48" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>