@page "/components/expansionpanel"

<DocsPage>
    <DocsPageHeader Title="Expansion Panel"/>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <ExpansionPanelSimpleExample />
            </SectionContent>
            <SectionSource Code="ExpansionPanelSimpleExample" ShowCode="false" GitHubFolderName="ExpansionPanel" SnippetId="ckPkmkPu329EmuTg21" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Multiple Expanded Panels</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <ExpansionPanelMultiExample />
            </SectionContent>
            <SectionSource Code="ExpansionPanelMultiExample" GitHubFolderName="ExpansionPanel" SnippetId="cOFEwkbu33egg5Hy55" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Disabled</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <ExpansionPanelDisabledExample />
            </SectionContent>
            <SectionSource Code="ExpansionPanelDisabledExample" GitHubFolderName="ExpansionPanel" SnippetId="mYvYwOFu34nF5sRW34" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Customizing the Header and Icon</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <ExpansionPanelTitleExample />
            </SectionContent>
            <SectionSource Code="ExpansionPanelTitleExample" GitHubFolderName="ExpansionPanel" SnippetId="mYvYwOFu34nF5sRW35" />
        </DocsPageSection>
        
    </DocsPageContent>
</DocsPage>