@page "/components/expansionpanel"

<DocsPage>
    <DocsPageHeader>
        <Title>Expansion Panel</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <ExpansionPanelSimpleExample />
            </SectionContent>
            <SectionSource Code="ExpansionPanelSimpleExample" ShowCode="false" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Multiple Expanded Panels</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <ExpansionPanelMultiExample />
            </SectionContent>
            <SectionSource Code="ExpansionPanelMultiExample" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Disabled</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <ExpansionPanelDisabledExample />
            </SectionContent>
            <SectionSource Code="ExpansionPanelDisabledExample" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>