@page "/utilities/cursor"

<DocsPage>
    <DocsPageHeader Title="Cursor" SubTitle="Specifies the cursor style to be used when hovering over an element." />
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader Title="Class Reference" HideTitle="true" />
            <DocsClassTable>
                <tr><td>cursor-auto </td><td>  cursor: auto;</td></tr><tr><td>cursor-col-resize </td><td>  cursor: col-resize;</td></tr><tr><td>cursor-default </td><td>  cursor: default;</td></tr><tr><td>cursor-help </td><td>  cursor: help;</td></tr><tr><td>cursor-move </td><td>  cursor: move;</td></tr><tr><td>cursor-not-allowed </td><td>  cursor: not-allowed;</td></tr><tr><td>cursor-pointer </td><td>  cursor: pointer;</td></tr><tr><td>cursor-row-resize </td><td>  cursor: row-resize;</td></tr><tr><td>cursor-text </td><td>  cursor: text;</td></tr><tr><td>cursor-wait </td><td>  cursor: wait;</td></tr>

            </DocsClassTable>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>