@page "/utilities/pointer-events"

<DocsPage>
    <DocsPageHeader Title="Pointer Events" SubTitle="Specifies if an element responds to pointer events." />
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader Title="Class Reference" HideTitle="true" />
            <DocsClassTable>
                <tr><td>pointer-events-auto </td><td>  pointer-events: auto;</td></tr><tr><td>pointer-events-none </td><td>  pointer-events: none;</td></tr>

            </DocsClassTable>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>