@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@Style" >
    <CascadingValue IsFixed="true" Value="this">
        @ChildContent
    </CascadingValue>
</div>
