@page "/components/badge"

<DocsPage>
    <DocsPageHeader Title="Badge" />
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" DisplayFlex="true" Class="demo-badge">
                <BadgeBasicExample />
            </SectionContent>
            <SectionSource ShowCode="false" Code="BadgeBasicExample" GitHubFolderName="Badge" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Playground</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <BadgeInteractiveExample />
            </SectionContent>
            <SectionSource ShowCode="false" Code="BadgeInteractiveExample" GitHubFolderName="Badge" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
