.docs-footer {
    padding: 48px 0px;
    margin-bottom: -64px;

    & h1 {
        font-weight: 400;
        letter-spacing: .4rem;
        line-height: 1.167;
        font-size: 1rem;
    }

    & > p {
        padding-top: 50px;
        text-align: center;
    }

    & ul li {
        padding: 6px 0;
    }
}