@page "/"


<MudContainer MaxWidth="MaxWidth.Medium" Class="docs-home">
    <MudBlazorLogo />
    <div class="docs-home-brand">
        <h1>MudBlazor</h1>
        <p>Blazor components for faster and easier web development.</p>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Link="/getting-started/installation">Get Started</MudButton>
    </div>
</MudContainer>
<MudContainer>
    <MudGrid>
        <MudItem xs="12" md="6">
            <MudPaper Elevation="99" Class="docs-home-paper">
                <div class="docs-home-title">
                    <MudIcon Icon="@Icons.Material.GetApp"/>
                    <h2>Installation</h2>
                </div>
                <MudText Typo="Typo.subtitle1">
                    Install MudBlazor via NuGet.
                </MudText>
                <SectionSource NoToolbar="true" Code="InstallExample" Class="docs-home-code" />
                <MudText Typo="Typo.subtitle1" Class="pt-5">
                    Link the css file in your _Host.cshtml or index.html
                </MudText>
                <SectionSource NoToolbar="true" Code="LinksMinimalExample" Class="docs-home-code" />
                <MudButton Variant="Variant.Text" Color="Color.Primary" Link="/getting-started/installation" Class="mt-5">
                    Read installation docs
                </MudButton>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudPaper Elevation="99" Class="docs-home-paper">
                <div class="docs-home-title">
                    <MudIcon Icon="@Icons.Material.Build" />
                    <h2>Getting started</h2>
                </div>
                <MudText Typo="Typo.subtitle1">
                    Add using tag to _Imports.razor or individual pages.
                </MudText>
                <SectionSource NoToolbar="true" Code="UsingExample" Class="docs-home-code"/>
                <MudText Typo="Typo.subtitle1" Class="pt-5">
                    Usage
                </MudText>
                <SectionSource NoToolbar="true" Code="UsageMinimalExample" Class="docs-home-code"/>
                <MudButton Variant="Variant.Text" Color="Color.Primary" Link="/getting-started/usage" Class="mt-5">
                    Explore the docs
                </MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>
<MudContainer>
    <MudText Typo="Typo.h4" Align="Align.Center">Examples</MudText>
    <MudText Align="Align.Center">Use them as template for your project or just peak around see how we did stuff.</MudText>
    <div style="padding-top:64px; padding-bottom:64px;">
        <MudText Align="Align.Center">Comming soon...</MudText>
    </div>
</MudContainer>
<Footer />