@page "/"

<div class="mudblazor-home-wrapper">
    <Container MaxWidth="MaxWidth.Medium">
        <div class="mudblazor-home">
            <svg viewBox="0 0 1653 1049" xmlns="http://www.w3.org/2000/svg" class="mudblazor-home-svg-logo">
                <path fill="#7467EF" d="M0.15,572.58V0.16L495.9,286.37v190.81L165.4,286.37v381.62L0.15,572.58z" />
                <path fill="#594AE2" d="M495.9,286.37L991.65,0.16v572.43l-330.5,190.81l-165.25-95.4l330.5-190.81V286.37L495.9,477.18V286.37z" />
                <path fill="#7467EF" d="M495.9,667.99V858.8l330.5,190.81V858.8L495.9,667.99z" />
                <path fill="#594AE2" d="M826.4,1049.6l495.75-286.21V0.37l-165.25,95.4v572.21L826.4,858.8V1049.6z" />
                <path fill="#7467ef" d="M1495,467.85l-165.25,95.41,157.47,91.52,165.25-95.38Z" />
                <path fill="#7467EF" d="M1322.15,763.39l-165.25,95.4l330.5,190.81V858.8L1322.15,763.39z" />
                <path fill="#7467EF" d="M1322.13,0.38l-165.25,95.4l330.29,190.83l165.25-95.38L1322.13,0.38z" />
                <path fill="#594AE2" d="M1652.43,191.21l-165.25,95.41v762.99l165.25-95.4L1652.43,191.21z" />
            </svg>
            <div>
                <h1 class="mudblazor-home-brand">MudBlazor</h1>
                <p class="mudblazor-home-brand-h5">Blazor components for faster and easier web development.</p>
                <Button Variant="Variant.Outlined" Color="Color.Primary">Get Started</Button>
            </div>
        </div>
    </Container>
    <Container Class="mudblazor-home-container">
        <Grid>
            <Item Class="mud-grid-grid-md-6">
                <Paper Elevation="99" Class="mudblazor-home-paper">
                    <div class="mudblazor-home-paper-title">
                        <svg class="mud-svg-icon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"></path></svg>
                        <h2 class="mudblazor-home-h2">Installation</h2>
                    </div>
                    <Typography Typo="Typo.subtitle1">Install MudBlazor via NuGet.</Typography>
                    <MarkdownSegment Class="mudblazor-markdown" Text="@(@"
```html
dotnet add package MudBlazor
```
")">
                    </MarkdownSegment>
                    <Typography Typo="Typo.subtitle1">Link the css file and font in your _Host.cshtml or index.html</Typography>
                    <MarkdownSegment Class="mudblazor-markdown" Text="@(@"
```html
<link href=""https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"" rel=""stylesheet"" />
<link href=""_content/MudBlazor/css/MudBlazor.min.css"" rel=""stylesheet"" />
```
")">
                    </MarkdownSegment>
                </Paper>
            </Item>
            <Item Class="mud-grid-grid-md-6">
                <Paper Elevation="99" Class="mudblazor-home-paper">
                    <div class="mudblazor-home-paper-title">
                        <svg class="mud-svg-icon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9-2-2-5-2.4-7.4-1.3L9 6 6 9 1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4z"></path></svg>
                        <h2 class="mudblazor-home-h2">Getting started</h2>
                    </div>
                    <Typography Typo="Typo.subtitle1">Add using tag to _Imports.razor or individual pages.</Typography>
                    <MarkdownSegment Class="mudblazor-markdown" Text="@(@"
```
@using MudBlazor
```")">
                    </MarkdownSegment>
                    <Typography Typo="Typo.subtitle1">Usage</Typography>
                    <MarkdownSegment Class="mudblazor-markdown" Text="@(@"
```html
<Button Color=""Color.Primary"">My Button</Button>
```
")">
                    </MarkdownSegment>
                </Paper>
            </Item>
        </Grid>
    </Container>
    <Container>
        <Typography Typo="Typo.h4">Examples</Typography>
        <Typography>Use them as template for your project or just peak around see how we did stuff.</Typography>
        <div style="padding-top:64px; padding-bottom:64px; text-align:center;">
            <Typography>Comming soon...</Typography>
        </div>
    </Container>
    <Divider/>
    <Container>
        <div class="mudblazor-home-footer">
            <Grid>
                <Item Class="mud-grid-grid-md-3">
                    <h1 class="mudblazor-home-footer-brand">MudBlazor</h1>
                </Item>
                <Item Class="mud-grid-grid-md-3">
                    <Typography>Community</Typography>
                    <Typography Typo="Typo.body2">Github</Typography>
                    <Typography Typo="Typo.body2">Gitter</Typography>
                </Item>
                <Item Class="mud-grid-grid-md-3">
                    <Typography>Contact</Typography>
                    <Typography Typo="Typo.body2">Gitter</Typography>
                    <Typography Typo="Typo.body2">Email</Typography>
                </Item>
                <Item Class="mud-grid-grid-md-3">
                    <Typography>Project</Typography>
                    <Typography Typo="Typo.body2">About</Typography>
                    <Typography Typo="Typo.body2">Credits</Typography>
                </Item>
            </Grid>
            <Typography Class="mudblazor-home-footer-text" Typo="Typo.body2">Currently v1.0.0. Released under the MIT License. Copyright © 2020 MudBlazor.</Typography>
        </div>
    </Container>
</div>