@page "/"

<MudContainer Class="docs-home">
    <MudGrid Spacing="0">
        <MudItem xs="12" md="5">
            <MudBlazorLogo />
        </MudItem>
        <MudItem xs="12" md="7">
            <MudText Typo="Typo.h2" Color="Color.Primary" Class="mudblazor-text">MudBlazor</MudText>
            <MudText Typo="Typo.h5" Color="Color.Primary" Class="mt-5">Blazor components for faster and easier web development.</MudText>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" Class="mt-6" Link="/getting-started/installation">Get Started</MudButton>
        </MudItem>
    </MudGrid>
</MudContainer>
<MudContainer Class="mt-16">
    <MudGrid>
        <MudItem xs="12" md="12" lg="6">
            <MudPaper Elevation="25" Class="docs-home-paper">
                <div class="docs-home-title">
                    <MudIcon Icon="@Icons.Material.GetApp"/>
                    <h2>Installation</h2>
                </div>
                <MudText Typo="Typo.subtitle1">
                    Install MudBlazor via NuGet.
                </MudText>
                <MarkdownInstallPackage />
                <MudText Typo="Typo.subtitle1" Class="pt-5">
                    Link the css file in your _Host.cshtml or index.html
                </MudText>
                <MarkdownAddReferencesSimple />
                <MudButton Variant="Variant.Text" Color="Color.Primary" Link="/getting-started/installation" Class="mt-5">
                    Read installation docs
                </MudButton>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="12" lg="6">
            <MudPaper Elevation="25" Class="docs-home-paper">
                <div class="docs-home-title">
                    <MudIcon Icon="@Icons.Material.Build" />
                    <h2>Getting started</h2>
                </div>
                <MudText Typo="Typo.subtitle1">
                    Add using tag to _Imports.razor or individual pages.
                </MudText>
                <MarkdownAddImportsSimple/>
                <MudText Typo="Typo.subtitle1" Class="pt-5">
                    Usage
                </MudText>
                <MarkdownUsageSimple />
                <MudButton Variant="Variant.Text" Color="Color.Primary" Link="/getting-started/usage" Class="mt-5">
                    Explore the docs
                </MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>
<MudContainer>
    <MudDivider Class="my-16"/>
</MudContainer>
<MudContainer>
    <MudGrid>
        <MudItem xs="12" md="12" Class="docs-trymudblazor">
            <MudText Typo="Typo.h2" Color="Color.Surface" Inline="true">Try</MudText>
            <MudText Typo="Typo.h2" Color="Color.Primary" Inline="true">MudBlazor</MudText>
            <MudText Typo="Typo.h6" Color="Color.Surface" Class="my-4">A playground for trying out MudBlazor components entirely in the browser.</MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Link="https://try.mudblazor.com/">Go to Website</MudButton>
        </MudItem>
    </MudGrid>
</MudContainer>
<MudContainer>
    <MudDivider Class="my-16" />
</MudContainer>
<MudContainer>
    <MudText Typo="Typo.h4" Align="Align.Center">Examples</MudText>
    <MudText Align="Align.Center">Use them as template for your project or just peak around see how we did stuff.</MudText>
    <div style="padding-top:64px; padding-bottom:64px;">
        <MudText Align="Align.Center">Coming soon...</MudText>
    </div>
</MudContainer>
<Footer />