@namespace MudBlazor
@using MudBlazor.Extensions
@inherits MudComponentBase

<div class="@DivClassname" role="progressbar" aria-valuenow="@Value" aria-valuemin="0" aria-valuemax="100">
    @if (Indeterminate)
    {
        <div class="@LinearClassname mud-progress-linear-1-indeterminate"></div>
        <div class="@LinearClassname mud-progress-linear-2-indeterminate"></div>
    }
    else if (Buffer)
    {
        <div class="@BufferClassname"></div>
        <div class="mud-progress-linear-bar mud-@Color.ToDescriptionString() mud-progress-linear-bar-1-buffer" style="transform: translateX(-@Value%);"></div>
        <div class="mud-progress-linear-bar mud-progress-linear-color-@Color.ToDescriptionString() mud-progress-linear-bar-2-buffer" style="transform: translateX(-@BufferValue%);"></div>
    }
    else
    {
        <div class="@LinearClassname" style="transform: translateX(-@Value%);"></div>
    }
</div>
