@page "/utilities/border-style"

<DocsPage>
    <DocsPageHeader Title="Border Style" SubTitle="Utilities for controlling the style of an element's borders." />
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader Title="Class Reference" HideTitle="true" />
            <DocsClassTable>
                <tr><td>border-dashed </td><td>  border-style: dashed;</td></tr><tr><td>border-dotted </td><td>  border-style: dotted;</td></tr><tr><td>border-double </td><td>  border-style: double;</td></tr><tr><td>border-hidden </td><td>  border-style: hidden;</td></tr><tr><td>border-none </td><td>  border-style: none;</td></tr><tr><td>border-solid </td><td>  border-style: solid;</td></tr>

            </DocsClassTable>
        </DocsPageSection>

    </DocsPageContent>
</DocsPage>