@page "/utilities/border-radius"
@page "/features/border-radius"

<DocsPage>
    <DocsPageHeader Title="Border Radius" SubTitle="Use border classes to quickly change border-radius." />
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader Title="Class Reference" HideTitle="true" />
            <DocsClassTable>
                <tr><td>rounded </td><td>  border-radius: var(--mud-default-borderradius);</td></tr><tr><td>rounded-0 </td><td>  border-radius: 0;</td></tr><tr><td>rounded-b </td><td>  border-bottom-right-radius: var(--mud-default-borderradius);  border-bottom-left-radius: var(--mud-default-borderradius);</td></tr><tr><td>rounded-b-0 </td><td>  border-bottom-right-radius: 0;  border-bottom-left-radius: 0;</td></tr><tr><td>rounded-bl, rounded-bs </td><td>  border-bottom-left-radius: var(--mud-default-borderradius);</td></tr><tr><td>rounded-bl-0, rounded-bs-0 </td><td>  border-bottom-left-radius: 0;</td></tr><tr><td>rounded-b-lg </td><td>  border-bottom-right-radius: 8px;  border-bottom-left-radius: 8px;</td></tr><tr><td>rounded-bl-lg, rounded-bs-lg </td><td>  border-bottom-left-radius: 8px;</td></tr><tr><td>rounded-bl-sm, rounded-bs-sm </td><td>  border-bottom-left-radius: 2px;</td></tr><tr><td>rounded-bl-xl, rounded-bs-xl </td><td>  border-bottom-left-radius: 24px;</td></tr><tr><td>rounded-br, rounded-be </td><td>  border-bottom-right-radius: var(--mud-default-borderradius);</td></tr><tr><td>rounded-br-0, rounded-be-0 </td><td>  border-bottom-right-radius: 0;</td></tr><tr><td>rounded-br-lg, rounded-be-lg </td><td>  border-bottom-right-radius: 8px;</td></tr><tr><td>rounded-br-sm, rounded-be-sm </td><td>  border-bottom-right-radius: 2px;</td></tr><tr><td>rounded-br-xl, rounded-be-xl </td><td>  border-bottom-right-radius: 24px;</td></tr><tr><td>rounded-b-sm </td><td>  border-bottom-right-radius: 2px;  border-bottom-left-radius: 2px;</td></tr><tr><td>rounded-b-xl </td><td>  border-bottom-right-radius: 24px;  border-bottom-left-radius: 24px;</td></tr><tr><td>rounded-circle </td><td>  border-radius: 50%;</td></tr><tr><td>rounded-l, rounded-s </td><td>  border-top-left-radius: var(--mud-default-borderradius);  border-bottom-left-radius: var(--mud-default-borderradius);</td></tr><tr><td>rounded-l-0, rounded-s-0 </td><td>  border-top-left-radius: 0;  border-bottom-left-radius: 0;</td></tr><tr><td>rounded-lg </td><td>  border-radius: 8px;</td></tr><tr><td>rounded-l-lg, rounded-s-lg </td><td>  border-top-left-radius: 8px;  border-bottom-left-radius: 8px;</td></tr><tr><td>rounded-l-sm, rounded-s-sm </td><td>  border-top-left-radius: 2px;  border-bottom-left-radius: 2px;</td></tr><tr><td>rounded-l-xl, rounded-s-xl </td><td>  border-top-left-radius: 24px;  border-bottom-left-radius: 24px;</td></tr><tr><td>rounded-pill </td><td>  border-radius: 9999px;</td></tr><tr><td>rounded-r, rounded-e </td><td>  border-top-right-radius: var(--mud-default-borderradius);  border-bottom-right-radius: var(--mud-default-borderradius);</td></tr><tr><td>rounded-r-0, rounded-e-0 </td><td>  border-top-right-radius: 0;  border-bottom-right-radius: 0;</td></tr><tr><td>rounded-r-lg, rounded-e-lg </td><td>  border-top-right-radius: 8px;  border-bottom-right-radius: 8px;</td></tr><tr><td>rounded-r-sm, rounded-e-sm </td><td>  border-top-right-radius: 2px;  border-bottom-right-radius: 2px;</td></tr><tr><td>rounded-r-xl, rounded-e-xl </td><td>  border-top-right-radius: 24px;  border-bottom-right-radius: 24px;</td></tr><tr><td>rounded-sm </td><td>  border-radius: 2px;</td></tr><tr><td>rounded-t </td><td>  border-top-left-radius: var(--mud-default-borderradius);  border-top-right-radius: var(--mud-default-borderradius);</td></tr><tr><td>rounded-t-0 </td><td>  border-top-left-radius: 0;  border-top-right-radius: 0;</td></tr><tr><td>rounded-tl, rounded-ts </td><td>  border-top-left-radius: var(--mud-default-borderradius);</td></tr><tr><td>rounded-tl-0, rounded-ts-0 </td><td>  border-top-left-radius: 0;</td></tr><tr><td>rounded-t-lg </td><td>  border-top-left-radius: 8px;  border-top-right-radius: 8px;</td></tr><tr><td>rounded-tl-lg, rounded-ts-lg </td><td>  border-top-left-radius: 8px;</td></tr><tr><td>rounded-tl-sm, rounded-ts-sm </td><td>  border-top-left-radius: 2px;</td></tr><tr><td>rounded-tl-xl, rounded-ts-xl </td><td>  border-top-left-radius: 24px;</td></tr><tr><td>rounded-tr, rounded-te </td><td>  border-top-right-radius: var(--mud-default-borderradius);</td></tr><tr><td>rounded-tr-0, rounded-te-0 </td><td>  border-top-right-radius: 0;</td></tr><tr><td>rounded-tr-lg, rounded-te-lg </td><td>  border-top-right-radius: 8px;</td></tr><tr><td>rounded-tr-sm, rounded-te-sm </td><td>  border-top-right-radius: 2px;</td></tr><tr><td>rounded-tr-xl, rounded-te-xl </td><td>  border-top-right-radius: 24px;</td></tr><tr><td>rounded-t-sm </td><td>  border-top-left-radius: 2px;  border-top-right-radius: 2px;</td></tr><tr><td>rounded-t-xl </td><td>  border-top-left-radius: 24px;  border-top-right-radius: 24px;</td></tr><tr><td>rounded-xl </td><td>  border-radius: 24px;</td></tr>
            </DocsClassTable>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Default Radius">
                <Description>
                    <MudText>When using the classes without any size ending, it will apply the current theme's default border-radius.</MudText>
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" Code="BorderRadiusDefaultExample">
                <BorderRadiusDefaultExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Pill and Circle">
            </SectionHeader>
            <SectionContent DarkenBackground="true" Code="BorderRadiusPillnCircleExample">
                <BorderRadiusPillnCircleExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Remove Border Radius">
            </SectionHeader>
            <SectionContent DarkenBackground="true" Code="BorderRadiusRemoveExample">
                <BorderRadiusRemoveExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Different strengths">
            </SectionHeader>
            <SectionContent DarkenBackground="true" Code="BorderRadiusSizeExample">
                <BorderRadiusSizeExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Rounding Sides">
            </SectionHeader>
            <SectionContent DarkenBackground="true" Code="BorderRadiusSidesExample">
                <BorderRadiusSidesExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Rounding Corners">
            </SectionHeader>
            <SectionContent DarkenBackground="true" Code="BorderRadiusCornerExample">
                <BorderRadiusCornerExample />
            </SectionContent>
        </DocsPageSection>

    </DocsPageContent>
</DocsPage>