@page "/utilities/border-width"

<DocsPage>
    <DocsPageHeader Title="Border Width" SubTitle="Utilities for controlling the width of an element's borders." />
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader Title="Class Reference" HideTitle="true" />
            <DocsClassTable>
                <tr><td>border </td><td>  border-width: 1px;</td></tr><tr><td>border-0 </td><td>  border-width: 0px;</td></tr><tr><td>border-2 </td><td>  border-width: 2px;</td></tr><tr><td>border-4 </td><td>  border-width: 4px;</td></tr><tr><td>border-8 </td><td>  border-width: 8px;</td></tr><tr><td>border-b </td><td>  border-bottom-width: 1px;</td></tr><tr><td>border-b-0 </td><td>  border-bottom-width: 0px;</td></tr><tr><td>border-b-2 </td><td>  border-bottom-width: 2px;</td></tr><tr><td>border-b-4 </td><td>  border-bottom-width: 4px;</td></tr><tr><td>border-b-8 </td><td>  border-bottom-width: 8px;</td></tr><tr><td>border-l </td><td>  border-left-width: 1px;</td></tr><tr><td>border-l-0 </td><td>  border-left-width: 0px;</td></tr><tr><td>border-l-2 </td><td>  border-left-width: 2px;</td></tr><tr><td>border-l-4 </td><td>  border-left-width: 4px;</td></tr><tr><td>border-l-8 </td><td>  border-left-width: 8px;</td></tr><tr><td>border-r </td><td>  border-right-width: 1px;</td></tr><tr><td>border-r-0 </td><td>  border-right-width: 0px;</td></tr><tr><td>border-r-2 </td><td>  border-right-width: 2px;</td></tr><tr><td>border-r-4 </td><td>  border-right-width: 4px;</td></tr><tr><td>border-r-8 </td><td>  border-right-width: 8px;</td></tr><tr><td>border-t </td><td>  border-top-width: 1px;</td></tr><tr><td>border-t-0 </td><td>  border-top-width: 0px;</td></tr><tr><td>border-t-2 </td><td>  border-top-width: 2px;</td></tr><tr><td>border-t-4 </td><td>  border-top-width: 4px;</td></tr><tr><td>border-t-8 </td><td>  border-top-width: 8px;</td></tr><tr><td>border-x </td><td>  border-left-width: 1px;  border-right-width: 1px;</td></tr><tr><td>border-x-0 </td><td>  border-left-width: 0px;  border-right-width: 0px;</td></tr><tr><td>border-x-2 </td><td>  border-left-width: 2px;  border-right-width: 2px;</td></tr><tr><td>border-x-4 </td><td>  border-left-width: 4px;  border-right-width: 4px;</td></tr><tr><td>border-x-8 </td><td>  border-left-width: 8px;  border-right-width: 8px;</td></tr><tr><td>border-y </td><td>  border-top-width: 1px;  border-bottom-width: 1px;</td></tr><tr><td>border-y-0 </td><td>  border-top-width: 0px;  border-bottom-width: 0px;</td></tr><tr><td>border-y-2 </td><td>  border-top-width: 2px;  border-bottom-width: 2px;</td></tr><tr><td>border-y-4 </td><td>  border-top-width: 4px;  border-bottom-width: 4px;</td></tr><tr><td>border-y-8 </td><td>  border-top-width: 8px;  border-bottom-width: 8px;</td></tr>

            </DocsClassTable>
        </DocsPageSection>

    </DocsPageContent>
</DocsPage>