@namespace MudBlazor.Docs.Examples

<div class="d-flex flex-column align-center gap-4">
    <MudPagination ShowPageButtons="false" Count="0"/>
    <MudPagination ShowPageButtons="false" Count="11"/>
    <MudPagination ShowPageButtons="false" ShowFirstButton="true" ShowLastButton="true" Count="11" />
</div>