@namespace MudBlazor
@implements IDisposable
@inherits MudComponentBase

<tr class="@Classname" @onclick="@OnRowClick" style="@Style" @attributes="@UserAttributes">
	@if (Context.DisplayApplyButtonAtStart(IgnoreEditable))
	{
		<MudTh />
	}
	@if (IsExpandable || ((Context?.Table.MultiSelection ?? false) && !IgnoreCheckbox))
    {
        <MudTd>
            @if (IsExpandable)
            {
                <div class="ml-4 mr-5"></div>
            }
            @if (IsCheckable)
            {
                <MudCheckBox @bind-Checked="IsChecked" Class="mud-table-cell-checkbox"/>
            }
        </MudTd>
    }
    @ChildContent
	@if (Context.DisplayApplyButtonAtEnd(IgnoreEditable))
	{
		<MudTh />
	}
</tr>


