@namespace MudBlazor
@inherits MudComponentBase

<div class="@Classname" style="@Style">
    <CascadingValue Value="this">
        @if (ToolBarContent != null)
        {
            <ToolBar Class="mud-table-toolbar">
                @ToolBarContent
            </ToolBar>
        }
        <div class="mud-table-container">
            <table class="mud-table-root">
                @if (HeaderContent != null)
                {
                    <thead class="mud-table-head">
                    <tr class="mud-table-row">
                        @HeaderContent
                    </tr>
                    </thead>
                }
                @if (BodyContent != null)
                {
                    <tbody class="mud-table-body">
                    @BodyContent
                    </tbody>
                }
            </table>
        </div>
        @if (PagerContent != null)
        {
            <div class="mud-table-pagination">
                    @PagerContent
            </div>
        }
    </CascadingValue>
</div>
