@namespace MudBlazor
@inherits MudComponentBase

<td data-label="@DataLabel" style="@Style" class="@Classname" @attributes="@UserAttributes">
    @if (Mode == MudBaseColumn.Rendermode.PlaceHolder)
    {
        <MudSkeleton />
    }
    else
    {
        @ChildContent
    }
</td>