@namespace MudBlazor
@implements IDisposable
@inherits MudComponentBase

<tr class="@Classname" @onclick="@OnRowClick" style="@Style" @attributes="@UserAttributes">
	@if (Context.DisplayApplyButtonAtStart(IgnoreEditable) || Context.DisplayEditButtonAtStart(IgnoreEditable))
	{
		<MudTh />
	}
	@if (Expandable || ((Context?.Table?.MultiSelection ?? false) && !IgnoreCheckbox))
    {
        <MudTd>
            @if (Expandable)
            {
                <div class="ml-4 mr-5"></div>
            }
            @if (Checkable)
            {
                <MudCheckBox @bind-Value="Checked" Class="mud-table-cell-checkbox"/>
            }
        </MudTd>
    }
    @ChildContent
    @if (Context.DisplayApplyButtonAtEnd(IgnoreEditable) || Context.DisplayEditButtonAtEnd(IgnoreEditable))
    {
		<MudTh />
	}
</tr>
