@namespace MudBlazor
@inherits MudComponentBase

<div class="@Classname" style="@Style" >
    <MudPaper>
        <div class="mud-simple-table-container">
            <table>
                @ChildContent
            </table>
        </div>
    </MudPaper>
</div>
