@namespace MudBlazor
@inherits ComponentBaseSimpleTable

<div class="mud-simple-table">
    <Paper>
        <div class="mud-simple-table-container">
            <table>
                @ChildContent
            </table>
        </div>
    </Paper>
</div>
