@namespace MudBlazor
@inherits MudComponentBase

@if(AvatarGroup == null || AvatarGroup.MaxGroupReached(this))
{
    <div @attributes="UserAttributes" class="@Classname" style="@Stylesname">
        @ChildContent
    </div>
}