@namespace MudBlazor
@inherits MudComponentBase

@if(AvatarGroup == null || AvatarGroup.MaxGroupReached(this))
{
    <div @attributes="UserAttributes" class="@Classname" style="@Stylesname">
        @if (!String.IsNullOrEmpty(Image))
        {
            <img src="@Image" class="mud-avatar-img" />
        }
        else
        {
            @ChildContent
        }
    </div>
}