@namespace MudBlazor
@using MudBlazor.Utilities
@inherits MudComponentBase

<div  @attributes="UserAttributes" class="@Classname" style="@Style">
    @ChildContent
</div>

@code {

    protected string Classname =>
    new CssBuilder("mud-avatar")
      .AddClass($"mud-avatar-rounded", Rounded)
      .AddClass($"mud-avatar-square", Square)
      .AddClass($"mud-avatar-color-default")
      .AddClass(Class)
    .Build();

    [Parameter] public bool Square { get; set; }

    [Parameter] public bool Rounded { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
}