@namespace MudBlazor
@using MudBlazor.Utilities
@using MudBlazor.Extensions
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    @if (!String.IsNullOrEmpty(Image))
    {
        <img src="@Image" class="mud-avatar-img" />
    }
    else
    {
        @ChildContent
    }
</div>

@code {

    protected string Classname =>
    new CssBuilder("mud-avatar")
      .AddClass($"mud-avatar-{Size.ToDescriptionString()}")
      .AddClass($"mud-avatar-rounded", Rounded)
      .AddClass($"mud-avatar-square", Square)
      .AddClass($"mud-theme-{Color.ToDescriptionString()}")
      .AddClass(Class)
    .Build();

    /// <summary>
    /// If true, border-radius is set to 0.
    /// </summary>
    [Parameter] public bool Square { get; set; }

    /// <summary>
    /// If true, border-radius is set to the themes default value.
    /// </summary>
    [Parameter] public bool Rounded { get; set; }

    /// <summary>
    /// Link to image, if set a image will be displayed instead of text.
    /// </summary>
    [Parameter] public string Image { get; set; }

    /// <summary>
    /// The color of the component. It supports the theme colors.
    /// </summary>
    [Parameter] public Color Color { get; set; } = Color.Default;

    /// <summary>
    /// The Size of the MudAvatar.
    /// </summary>
    [Parameter] public Size Size { get; set; } = Size.Medium;

    /// <summary>
    /// Child content of the component.
    /// </summary>
    [Parameter] public RenderFragment ChildContent { get; set; }
}