@namespace MudBlazor
@inherits MudComponentBase

@if(!GroupMaxReached)
{
    <div @attributes="UserAttributes" class="@Classname" style="@Style">
        @if (!String.IsNullOrEmpty(Image))
        {
            <img src="@Image" class="mud-avatar-img" />
        }
        else
        {
            @ChildContent
        }
    </div>
}