@namespace MudBlazor
@inherits MudComponentBase

@if(AvatarGroup == null || AvatarGroup.MaxGroupReached(this))
{
    <div @attributes="UserAttributes" class="@Classname" style="@Stylesname">
        @if (!String.IsNullOrEmpty(Image))
        {
            <MudImage Src="@Image" Alt="@Alt"/>
        }
        @ChildContent
    </div>
}