@namespace MudBlazor.Docs.Examples



<div class="mud-theme-info py-4 px-6 mx-4 rounded-tl-xl">
    <MudText Align="Align.Center">.rounded-tl-xl</MudText>
</div>
<div class="mud-theme-tertiary py-4 px-6 mx-4 rounded-tr-xl">
    <MudText Align="Align.Center">.rounded-tr-xl</MudText>
</div>
<div class="mud-theme-secondary py-4 px-6 mx-4 rounded-br-xl">
    <MudText Align="Align.Center">.rounded-br-xl</MudText>
</div>
<div class="mud-theme-primary py-4 px-6 mx-4 rounded-bl-xl">
    <MudText Align="Align.Center">.rounded-bl-xl</MudText>
</div>
