@namespace  MudBlazor.Docs.Examples

<div class="mud-theme-primary py-4 px-6 mx-4 rounded-t-xl">
    <MudText Align="Align.Center">.rounded-t-xl</MudText>
</div>
<div class="mud-theme-secondary py-4 px-6 mx-4 rounded-r-xl">
    <MudText Align="Align.Center">.rounded-r-xl</MudText>
</div>
<div class="mud-theme-tertiary py-4 px-6 mx-4 rounded-b-xl">
    <MudText Align="Align.Center">.rounded-b-xl</MudText>
</div>
<div class="mud-theme-info py-4 px-6 mx-4 rounded-l-xl">
    <MudText Align="Align.Center">.rounded-l-xl</MudText>
</div>
