
<div class="mud-tabs mud-dynamic-tabs">
  <div class="mud-tabs-toolbar">
    <div class="mud-tabs-toolbar-inner" style="">
      <div class="mud-tabs-toolbar-content" blazor:elementreference="">
        <div class="mud-tabs-toolbar-wrapper" style="transform:translateX(-0px);">
          <div class="mud-tooltip-root mud-tooltip-inline" blazor:onmouseenter="2" blazor:onmouseleave="3" blazor:onfocusout="4">
            <div class="mud-tab mud-tab-active mud-ripple" style="" blazor:onclick="17" blazor:elementreference="">Tab A<div class="mud-tabs-panel-header mud-tabs-panel-header-after">
                <button blazor:onclick="14" type="button" class="mud-button-root mud-icon-button mud-ripple mud-ripple-icon my-close-icon-class" style="propertyA: 4px" blazor:onclick:stoppropagation="" blazor:elementreference="">
                  <span class="mud-icon-button-label">
                    <svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14zM6 7v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zm8 7v4h-4v-4H8l4-4 4 4h-2z"></path>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
            <div id="popover-Guid_1" class="mud-popover-cascading-value"></div>
          </div>
          <div class="mud-tooltip-root mud-tooltip-inline" blazor:onmouseenter="6" blazor:onmouseleave="7" blazor:onfocusout="8">
            <div class="mud-tab mud-ripple" style="" blazor:onclick="18" blazor:elementreference="">Tab B<div class="mud-tabs-panel-header mud-tabs-panel-header-after">
                <button blazor:onclick="15" type="button" class="mud-button-root mud-icon-button mud-ripple mud-ripple-icon my-close-icon-class" style="propertyA: 4px" blazor:onclick:stoppropagation="" blazor:elementreference="">
                  <span class="mud-icon-button-label">
                    <svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14zM6 7v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zm8 7v4h-4v-4H8l4-4 4 4h-2z"></path>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
            <div id="popover-Guid_2" class="mud-popover-cascading-value"></div>
          </div>
          <div class="mud-tooltip-root mud-tooltip-inline" blazor:onmouseenter="10" blazor:onmouseleave="11" blazor:onfocusout="12">
            <div class="mud-tab mud-ripple" style="" blazor:onclick="19" blazor:elementreference="">Tab C<div class="mud-tabs-panel-header mud-tabs-panel-header-after">
                <button blazor:onclick="16" type="button" class="mud-button-root mud-icon-button mud-ripple mud-ripple-icon my-close-icon-class" style="propertyA: 4px" blazor:onclick:stoppropagation="" blazor:elementreference="">
                  <span class="mud-icon-button-label">
                    <svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14zM6 7v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zm8 7v4h-4v-4H8l4-4 4 4h-2z"></path>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
            <div id="popover-Guid_3" class="mud-popover-cascading-value"></div>
          </div>
          <div class="mud-tab-slider mud-tab-slider-horizontal" style="width:250px;left:0px;transition:left .3s cubic-bezier(.64,.09,.08,1);;"></div>
        </div>
      </div>
      <div class="mud-tabs-header mud-tabs-header-after">
        <button blazor:onclick="1" type="button" class="mud-button-root mud-icon-button mud-ripple mud-ripple-icon my-add-icon-class" style="propertyB: 6px" blazor:onclick:stoppropagation="" blazor:elementreference="">
          <span class="mud-icon-button-label">
            <svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M7.88 3.39L6.6 1.86 2 5.71l1.29 1.53 4.59-3.85zM22 5.72l-4.6-3.86-1.29 1.53 4.6 3.86L22 5.72zM12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9c4.97 0 9-4.03 9-9s-4.03-9-9-9zm0 16c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7zm1-11h-2v3H8v2h3v3h2v-3h3v-2h-3V9z"></path>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="mud-tabs-panels">
    Content A
  </div>
</div>