
<div class="mud-tabs mud-dynamic-tabs">
  <div class="mud-tabs-toolbar">
    <div class="mud-tabs-toolbar-inner" style="">
      <div class="mud-tabs-toolbar-content" blazor:elementreference="">
        <div class="mud-tabs-toolbar-wrapper" style="transform:translateX(-0px);">
          <div class="mud-tab-slider mud-tab-slider-horizontal" style="width:0px;left:0px;transition:left .3s cubic-bezier(.64,.09,.08,1);;"></div>
        </div>
      </div>
      <div class="mud-tabs-header mud-tabs-header-after">
        <button blazor:onclick="1" type="button" class="mud-button-root mud-icon-button mud-ripple mud-ripple-icon" style="" blazor:onclick:stoppropagation="" blazor:elementreference="">
          <span class="mud-icon-button-label">
            <svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
              <g>
                <rect fill="none" height="24" width="24"></rect>
              </g>
              <g>
                <g>
                  <path d="M19,13h-6v6h-2v-6H5v-2h6V5h2v6h6V13z"></path>
                </g>
              </g>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="mud-tabs-panels"></div>
</div>