@page "/repl"
@layout MainLayout

@inject ComponentCompilationService CompilationService
@inject IJSRuntime JsRuntime

<h1 class="text-center" style="padding-bottom: 20px;">Repl for your Blazor component</h1>

<div class="row" style="height: 100%">
    <div class="col-md-6">
        <textarea style="width:100%" rows="10" @bind="@ComponentCode"></textarea>
        <button @onclick="@Compile">Compile</button>
    </div>

    <div class="col-md-6">
        <iframe id="user-page-window" src="/user-page" style="width: 100%; height: 100%;"></iframe>
    </div>
</div>
@code {
    public string ComponentCode { get; set; }

    public async Task Compile()
    {
        //var result = CompilationService.CompileToAssembly("UserPage.razor", $@"
        //@using System.Net.Http
        //@using Microsoft.AspNetCore.Components.Forms
        //@using Microsoft.AspNetCore.Components.Routing
        //@using Microsoft.AspNetCore.Components.Web
        //@using Microsoft.JSInterop
        //@page ""/user-page""
        //{ComponentCode}");

        //await JsRuntime.InvokeVoidAsync("window.readFile", result.AssemblyBytes);

        //await JsRuntime.InvokeVoidAsync("window.reloadIFrame", "user-page-window");
    }
}
