@page "/test"

@layout EmptyLayout

@inject HttpClient Http

<h1>Http Call</h1>

<p>Response: @httpResponse</p>
<p>obj summary: @Obj?["summary"]</p>

<button class="btn btn-primary" @onclick="CallHttp">Click me</button>

@code {
    private string httpResponse = string.Empty;
    private IDictionary<string, object> Obj = null;

    private async Task CallHttp()
    {
        Console.WriteLine("Test");

        var result = await Http.GetAsync("WeatherForecast");

        httpResponse = await result.Content.ReadAsStringAsync();

        Obj = System.Text.Json.JsonSerializer.Deserialize<List<IDictionary<string, object>>>(httpResponse)[0];
    }
}
