@import 'core/base';
@import 'core/markdown';

@import 'layout/footer';

@import 'docs/demo';

@import 'pages/home';
@import 'pages/credit';
@import 'pages/colors';
@import 'pages/spacing';
@import 'pages/wireframes';

@import 'components/docspage';
@import 'components/docssection';
@import 'components/icons';
@import 'components/mudblazorapp';
