@namespace MudBlazor.Docs.Examples

@if (IsLeaveAlertShown)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="@CloseLeaveAlert">
        Time to leave. Please close me!
    </MudAlert>
}
@if (IsCallAlertShown)
{
    <MudAlert Severity="Severity.Success" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="@CloseCallAlert">
        Time to call. Please close me!
    </MudAlert>
}
@if (!IsAnyAlertShown)
{
    <div style="display: flex; justify-content: center;" class="mt-6">
        <MudButton @onclick="@ShowAlerts" Variant="Variant.Filled" Color="Color.Primary">
            Show Alerts
        </MudButton>
    </div>
}

@code {

    private bool IsCallAlertShown { get; set; } = true;
    private bool IsLeaveAlertShown { get; set; } = true;

    private bool IsAnyAlertShown =>
        IsLeaveAlertShown
        || IsCallAlertShown;

    private void CloseCallAlert() =>
        IsCallAlertShown = false;

    private void CloseLeaveAlert() =>
        IsLeaveAlertShown = false;

    private void ShowAlerts() =>
        IsCallAlertShown = IsLeaveAlertShown = true;

}