@namespace MudBlazor.Docs.Examples
<MudChipSet T="int" @bind-SelectedChips="selected" MultiSelection="true" Filter="filter">
    <MudChip Text="Milk" Value="0"></MudChip>
    <MudChip Text="Eggs" Value="1"></MudChip>
    <MudChip Text="Soap" Value="2"></MudChip>
    <MudChip Text="Cornflakes" Value="3"></MudChip>
    <MudChip Text="Salad" Value="4"></MudChip>
    <MudChip Text="Apples" Value="5"></MudChip>
    <MudChip Text="Red wine" Value="6"></MudChip>
</MudChipSet>

<div class="d-flex flex-column align-center">
    @if (selected != null && selected.Length>0)
    {
        <MudText>You selected @string.Join(", ", selected.Select(chip=>chip.Text)).</MudText>
    }
    else
    {
        <MudText>Nothing selected.</MudText>
    }
    <MudCheckBox @bind-Value="filter">Filter</MudCheckBox>
</div>

@code
{
    bool filter = true;
    MudChip<int>[] selected;
}

