@namespace MudBlazor.Docs.Examples
<MudChipSet T="string" @bind-SelectedChips="selected" MultiSelection="true" Filter="true">
    <MudChip T="string" Text="Milk" Default="true"></MudChip>
    <MudChip T="string" Text="Eggs"></MudChip>
    <MudChip T="string" Text="Soap"></MudChip>
    <MudChip T="string" Text="Cornflakes" Default="true"></MudChip>
    <MudChip T="string" Text="Salad"></MudChip>
    <MudChip T="string" Text="Apples"></MudChip>
    <MudChip T="string" Text="Red wine"></MudChip>
</MudChipSet>

<div class="d-flex justify-center">
    @if (selected != null && selected.Length>0)
    {
        <MudText>You selected @string.Join(", ", selected.Select(chip=>chip.Text)).</MudText>
    }
    else
    {
        <MudText>Nothing selected.</MudText>
    }
</div>

@code
{
    MudChip<string>[] selected;
}

