@namespace MudBlazor.Docs.Examples
<MudChipSet @bind-SelectedChips="selected" MultiSelection="true" Filter="true">
    <MudChip Text="Milk" Default="true" Value="0"></MudChip>
    <MudChip Text="Eggs" Value="1"></MudChip>
    <MudChip Text="Soap" Value="2"></MudChip>
    <MudChip Text="Cornflakes" Default="true" Value="3"></MudChip>
    <MudChip Text="Salad" Value="4"></MudChip>
    <MudChip Text="Apples" Value="5"></MudChip>
    <MudChip Text="Red wine" Value="6"></MudChip>
</MudChipSet>

<div class="d-flex justify-center">
    @if (selected != null && selected.Length>0)
    {
        <MudText>You selected @string.Join(", ", selected.Select(chip=>chip.Text)).</MudText>
    }
    else
    {
        <MudText>Nothing selected.</MudText>
    }
</div>

@code
{
    MudChip<int>[] selected;
}

