@namespace MudBlazor
@using MudBlazor.Utilities
@inherits MudComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div @attributes="UserAttributes" class="@Classname" style="@Style">
        @ChildContent
    </div>
</CascadingValue>

@code {

    protected string Classname =>
    new CssBuilder("mud-grid")
      .AddClass($"mud-grid-spacing-xs-{Spacing.ToString()}")
      .AddClass($"justify-{Justify.ToDescriptionString()}")
      .AddClass(Class)
    .Build();

    [Parameter]
    [Category(CategoryTypes.Grid.Behavior)]
    public int Spacing { set; get; } = 3;
    
    [Parameter]
    [Category(CategoryTypes.Grid.Behavior)]
    public Justify Justify { get; set; } = Justify.FlexStart;
    
    [Parameter]
    [Category(CategoryTypes.Grid.Behavior)]
    public RenderFragment ChildContent { get; set; }

}