@namespace MudBlazor
@inherits MudComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div @attributes="UserAttributes" class="@Classname" style="@Style">
        @ChildContent
    </div>
</CascadingValue>
