@namespace MudBlazor
@inherits MudComponentBase
<MudPortal IsVisible="Open" IsEnabled="true">
    <div @attributes="UserAttributes" class="@PopoverClass" style="@PopoverStyles">
        @ChildContent
    </div>
</MudPortal>
