@namespace MudBlazor
@inherits MudComponentBase

<MudBodyRendered IsRendered="Open">
    <div @ref="_popoverRef" @attributes="UserAttributes" class="@PopoverClass" style="@PopoverStyles">
        @ChildContent
    </div>
</MudBodyRendered>
