@namespace MudBlazor
@inherits MudComponentBase

<MudPortal IsRendered=@(IsPreRendered || Open)>
    <div @attributes="UserAttributes" class="@PopoverClass" style="@PopoverStyles">
        @ChildContent
    </div>
</MudPortal>
