@namespace MudBlazor
@inherits MudComponentBase
<MudPortal IsVisible="@Open">
    <div @ref=@_popoverRef @attributes="UserAttributes" class="@PopoverClass" style="@PopoverStyles">
        @ChildContent
    </div>
</MudPortal>

