@namespace MudBlazor
@inherits MudComponentBase

<MudPortal  HasToRender="@Open">
    <div @attributes="UserAttributes" class="@PopoverClass" style="@PopoverStyles">
        @ChildContent
    </div>
</MudPortal>