@page "/components/inputs/button"

<Container>
    <Typography Typo="Typo.h1">Test h1</Typography>
    <Typography>Test default</Typography>
    <h1>Contained Buttons</h1>
    <h4>Contained buttons are high-emphasis, distinguished by their use of elevation and fill. They contain actions that are primary to your app.</h4>
    <Button Variant="Variant.Contained">Default</Button>
    <Button Variant="Variant.Contained" Color="Color.Primary">Primary</Button>
    <Button Variant="Variant.Contained" Color="Color.Secondary">Secondary</Button>
    <Button Variant="Variant.Contained" Disabled="true">Disabled</Button>
</Container>

@code {

}
