@page "/components/inputs/radio"

<DocsPage>
    <DocsPageHeader>
        <Title>Radio</Title>
        <SubTitle>Radio buttons.</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>xxxxxxxx</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudRadioGroup @bind-SelectedLabel="@SelectedLabel" @bind-SelectedOption="@SelectedOption">
                    <MudRadio Color="Color.Primary" Label="Primary" Option="Radio 1"/>
                    <MudRadio Color="Color.Secondary" Label="Secondary"  Option="Radio 2"/>
                    <MudRadio Label="Normal"  Option="Radio 3"/>
                    <MudRadio Label="Disabled" Disabled="true"  Option="Radio 4"/>
                </MudRadioGroup>
                <div>
                    Selected label: @SelectedLabel, Selected option: @SelectedOption
                </div>

            </SectionContent>
            <SectionSource Code="@Markdown_Simple"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>xxxxxxxxx</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudRadioGroup>
                    <MudRadio Color="Color.Primary">Radio 1</MudRadio>
                    <MudRadio Color="Color.Secondary">Radio 2</MudRadio>
                    <MudRadio>Radio 3</MudRadio>
                    <MudRadio Disabled="true">Radio 4</MudRadio>
                </MudRadioGroup>
            </SectionContent>
            <SectionSource Code="@Markdown_Simple"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {

    public string SelectedLabel { get; set; } = "Primary";
    public string SelectedOption { get; set; }

    string Markdown_Simple = @"```html

```";
    string Markdown_Toggle = @"```html

```";
}
