@page "/components/inputs/slider"

<DocsPage>
    <DocsPageHeader>
        <Title>Slider</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Sliders</Title>
                <Description>Lets you select a value along the whole range.</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudGrid>
                    <MudItem>
                        <MudSlider>Volume</MudSlider>
                        <MudSlider Disabled="true" Value="20">Disabled Slider</MudSlider>
                    </MudItem>
                    <MudItem>
                        <div class="demo-slider-filler"></div>
                        <MudSlider />
                        <div class="demo-slider-filler"></div>
                        <MudSlider Disabled="true" />
                    </MudItem>
                </MudGrid>
            </SectionContent>
            <SectionSource Code="@Markdown_CodeOne"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Step Sliders</Title>
                <Description>You can choose the increment with the steps prop.</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudSlider Step="10" Value="70">Temperature</MudSlider>
                <MudSlider Step="10" Disabled="true">Disabled</MudSlider>
            </SectionContent>
            <SectionSource Code="@Markdown_CodeOne"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {
    public int ValueDefault { get; set; } = 50;


    string Markdown_CodeOne = @"```html

```";
}

