@page "/components/inputs/textfield"


<DocsPage>
    <DocsPageHeader>
        <Title>Text Field</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Text Field's</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TextField Label="Standard" Variant="Variant.Text"></TextField>
                <TextField Label="Filled" Variant="Variant.Filled"></TextField>
                <TextField Label="Outlined" Variant="Variant.Outlined"></TextField>
            </SectionContent>
            <SectionSource Code="@Markdown_TextField"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Form Props</Title>
                <Description>Required, Disabled, Type, HelperText</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TextField Label="With Helper" HelperText="Some helping Text" Variant="Variant.Text"></TextField>
                <TextField Label="Disabled" Variant="Variant.Text" Disabled="true"></TextField>
                <TextField Label="Password" Type="MudBlazor.Type.Password" Variant="Variant.Text"></TextField>
            </SectionContent>
            <SectionSource Code="@Markdown_FormProps"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Inputs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <Input Value="Basic Input" />
                <Input Placeholder="Placeholder" />
                <Input Value="Disabled" Disabled="true" />
                <Input Value="Error" Error="true" />
            </SectionContent>
            <SectionSource Code="@Markdown_Input"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {


    string Markdown_TextField = @"```html
<TextField Label=""Standard"" Variant=""Variant.Text""></TextField>
<TextField Label=""Filled"" Variant=""Variant.Filled""></TextField>
<TextField Label=""Outlined"" Variant=""Variant.Outlined""></TextField>
```";
    string Markdown_FormProps = @"```html
<TextField Label=""With Helper"" HelperText=""Some helping Text"" Variant=""Variant.Text""></TextField>
<TextField Label=""Disabled"" Variant=""Variant.Text"" Disabled=""true""></TextField>
<TextField Label=""Password"" Type=""Type.Password"" Variant=""Variant.Text""></TextField>
```";
    string Markdown_Input = @"```html
<Input Value=""Basic Input"" />
<Input Placeholder=""Placeholder"" />
<Input Value=""Disabled"" Disabled=""true"" />
<Input Value=""Error"" Error=""true"" />
```";
}
