@page "/components/drawer"

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageHeader>
        <Title>Drawer</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Persistent drawer</Title>
                <Description>The drawer can be toggled open or closed. The drawer needs to be wrapped by the Layout component and the default state can be set by DrawerOpen parameter.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-drawer">
                <DrawerPersistentExample />
            </SectionContent>
            <SectionSource Code="DrawerPersistentExample" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Clipping</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-drawer">
                <DrawerClippingExample />
            </SectionContent>
            <SectionSource Code="DrawerClippingExample" ShowCode="false" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Combined</Title>
                <Description>If you want the users to choose layout on their own it's possible to use <CodeInline>DrawerOpen</CodeInline> and <CodeInline>DrawerClipped</CodeInline> as separate or combined functions.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-drawer">
                <DrawerCombinedExample />
            </SectionContent>
            <SectionSource Code="DrawerCombinedExample" ShowCode="false" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
