@page "/components/drawer"

<DocsPage MaxWidth="MaxWidth.ExtraLarge">
    <DocsPageHeader Title="Drawer">
        <Description>
            If you use two-way binding <CodeInline>@("@bind-Open=\"...\"")</CodeInline> you can toggle the drawer and it will close itself on navigation. If you set its <CodeInline>Open</CodeInline> parameter without two-way binding
            you effectively force it to stay open or closed depending on the provided value.
            <MudAlert Severity="Severity.Warning" Dense="true" Class="mt-3">Common pitfall: use <CodeInline>@("@bind-Open")</CodeInline> instead of <CodeInline>@("Open")</CodeInline> for auto-closing to work.</MudAlert>
        </Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Temporary drawer</Title>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DrawerTemporaryExample />
            </SectionContent>
            <SectionSource Code="DrawerTemporaryExample" ShowCode="false" GitHubFolderName="Drawer" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Persistent drawer</Title>
                <Description>
                    Set <CodeInline>Fixed="false"</CodeInline> to use drawer inside a custom container.
                </Description>
            </SectionHeader>
            <SectionContent Outlined="true" FullWidth="true">
                <DrawerPersistentExample />
            </SectionContent>
            <SectionSource Code="DrawerPersistentExample" ShowCode="false" GitHubFolderName="Drawer" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Anchor drawer</Title>
                <Description>With the <CodeInline>Anchor</CodeInline> property you can set it to left or right, the default mode is left.</Description>
            </SectionHeader>
            <SectionContent Outlined="true" FullWidth="true">
                <DrawerAnchorExample />
            </SectionContent>
            <SectionSource Code="DrawerAnchorExample" ShowCode="false" GitHubFolderName="Drawer" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Clipping</Title>
                <Description>
                    A drawer with <CodeInline>Clipped="true"</CodeInline> will not push the AppBar to the side when opening.
                    Clipped parameter is evaluated only when <CodeInline>Responsive</CodeInline> and <CodeInline>Persistent</CodeInline> drawers used inside a <CodeInline>MudLayout</CodeInline>.
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <iframe src="/iframe/docs/examples/drawer/clipped" class="docs-iframe">
                    <DrawerClippingExample />
                </iframe>
            </SectionContent>
            <SectionSource Code="DrawerClippingExample" ShowCode="false" GitHubFolderName="Drawer" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Responsive drawer</Title>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <iframe src="/iframe/docs/examples/drawer/persistent" class="docs-iframe">
                    <DrawerResponsiveExample />
                </iframe>
            </SectionContent>
            <SectionSource Code="DrawerResponsiveExample" GitHubFolderName="Drawer" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
