@page "/components/drawer"

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageHeader Title="Drawer" />
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Drawer usage</Title>
                <Description>
                    The drawer must be inside a <CodeInline>MudLayout</CodeInline> component because it interacts with <CodeInline>AppBar</CodeInline> and <CodeInline>MainContent</CodeInline>. It can be toggled open or closed by setting its <CodeInline>Open</CodeInline> parameter.
                    If you set the <CodeInline>Open</CodeInline> parameter using two-way binding <CodeInline>@("@bind-Open=\"...\"")</CodeInline> the drawer will close itself on navigation.
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <iframe src="/iframe/docs/examples/drawer/persistent" class="docs-iframe">
                    <DrawerPersistentExample />
                </iframe>
            </SectionContent>
            <SectionSource Code="DrawerPersistentExample" GitHubFolderName="Drawer" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Clipping</Title>
                <Description>A drawer with <CodeInline>Clipped="true"</CodeInline> will not push the AppBar to the side when opening.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <iframe src="/iframe/docs/examples/drawer/clipped" class="docs-iframe">
                    <DrawerClippingExample />
                </iframe>
            </SectionContent>
            <SectionSource Code="DrawerClippingExample" ShowCode="false" GitHubFolderName="Drawer" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Anchor drawer</Title>
                <Description>With the <CodeInline>Anchor</CodeInline> property you can set it to left or right, the default mode is left.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <iframe src="/iframe/docs/examples/drawer/anchor" class="docs-iframe">
                    <DrawerAnchorExample />
                </iframe>
            </SectionContent>
            <SectionSource Code="DrawerAnchorExample" GitHubFolderName="Drawer" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Double Drawers</Title>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <iframe src="/iframe/docs/examples/drawer/double" class="docs-iframe">
                    <DrawerDoubleExample />
                </iframe>
            </SectionContent>
            <SectionSource Code="DrawerDoubleExample" GitHubFolderName="Drawer" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
