@page "/components/drawer"

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageHeader Title="Drawer" />
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Persistent drawer</Title>
                <Description>The drawer can be toggled open or closed. The drawer needs to be wrapped by the Layout component and the default state can be set by DrawerOpen parameter.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <iframe src="/iframe/docs/examples/drawer/persistent" class="docs-iframe">
                    <DrawerPersistentExample />
                </iframe>
            </SectionContent>
            <SectionSource Code="DrawerPersistentExample" GitHubFolderName="Drawer" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Clipping</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <iframe src="/iframe/docs/examples/drawer/clipped" class="docs-iframe">
                    <DrawerClippingExample />
                </iframe>
            </SectionContent>
            <SectionSource Code="DrawerClippingExample" ShowCode="false" GitHubFolderName="Drawer" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Combined</Title>
                <Description>If you want the users to choose layout on their own it's possible to use <CodeInline>DrawerOpen</CodeInline> and <CodeInline>DrawerClipped</CodeInline> as separate or combined functions.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <iframe src="/iframe/docs/examples/drawer/combined" class="docs-iframe">
                    <DrawerCombinedExample />
                </iframe>
            </SectionContent>
            <SectionSource Code="DrawerCombinedExample" ShowCode="false" GitHubFolderName="Drawer" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
