.rounded-0 {
  border-radius: 0 !important;
}

.rounded-t-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-r-0, .rounded-e-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-b-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-l-0, .rounded-s-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-tl-0, .rounded-ts-0 {
  border-top-left-radius: 0 !important;
}

.rounded-tr-0, .rounded-te-0 {
  border-top-right-radius: 0 !important;
}

.rounded-br-0, .rounded-be-0 {
  border-bottom-right-radius: 0 !important;
}

.rounded-bl-0, .rounded-bs-0 {
  border-bottom-left-radius: 0 !important;
}

.mud-application-layout-rtl .rounded-s-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-e-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-ts-0 {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-te-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-bs-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-be-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-sm {
  border-radius: 2px !important;
}

.rounded-t-sm {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

.rounded-r-sm, .rounded-e-sm {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}

.rounded-b-sm {
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.rounded-l-sm, .rounded-s-sm {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.rounded-tl-sm, .rounded-ts-sm {
  border-top-left-radius: 2px !important;
}

.rounded-tr-sm, .rounded-te-sm {
  border-top-right-radius: 2px !important;
}

.rounded-br-sm, .rounded-be-sm {
  border-bottom-right-radius: 2px !important;
}

.rounded-bl-sm, .rounded-bs-sm {
  border-bottom-left-radius: 2px !important;
}

.mud-application-layout-rtl .rounded-s-sm {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-e-sm {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-ts-sm {
  border-top-right-radius: 2px !important;
  border-top-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-te-sm {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-bs-sm {
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-be-sm {
  border-bottom-left-radius: 2px !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-lg {
  border-radius: 8px !important;
}

.rounded-t-lg {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.rounded-r-lg, .rounded-e-lg {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.rounded-b-lg {
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.rounded-l-lg, .rounded-s-lg {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.rounded-tl-lg, .rounded-ts-lg {
  border-top-left-radius: 8px !important;
}

.rounded-tr-lg, .rounded-te-lg {
  border-top-right-radius: 8px !important;
}

.rounded-br-lg, .rounded-be-lg {
  border-bottom-right-radius: 8px !important;
}

.rounded-bl-lg, .rounded-bs-lg {
  border-bottom-left-radius: 8px !important;
}

.mud-application-layout-rtl .rounded-s-lg {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-e-lg {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-ts-lg {
  border-top-right-radius: 8px !important;
  border-top-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-te-lg {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-bs-lg {
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-be-lg {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-xl {
  border-radius: 24px !important;
}

.rounded-t-xl {
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
}

.rounded-r-xl, .rounded-e-xl {
  border-top-right-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

.rounded-b-xl {
  border-bottom-right-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
}

.rounded-l-xl, .rounded-s-xl {
  border-top-left-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
}

.rounded-tl-xl, .rounded-ts-xl {
  border-top-left-radius: 24px !important;
}

.rounded-tr-xl, .rounded-te-xl {
  border-top-right-radius: 24px !important;
}

.rounded-br-xl, .rounded-be-xl {
  border-bottom-right-radius: 24px !important;
}

.rounded-bl-xl, .rounded-bs-xl {
  border-bottom-left-radius: 24px !important;
}

.mud-application-layout-rtl .rounded-s-xl {
  border-top-right-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-e-xl {
  border-top-left-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-ts-xl {
  border-top-right-radius: 24px !important;
  border-top-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-te-xl {
  border-top-left-radius: 24px !important;
  border-top-right-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-bs-xl {
  border-bottom-right-radius: 24px !important;
  border-bottom-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-be-xl {
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-xxl {
  border-radius: 24px !important;
}

.rounded-t-xxl {
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
}

.rounded-r-xxl, .rounded-e-xxl {
  border-top-right-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

.rounded-b-xxl {
  border-bottom-right-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
}

.rounded-l-xxl, .rounded-s-xxl {
  border-top-left-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
}

.rounded-tl-xxl, .rounded-ts-xxl {
  border-top-left-radius: 24px !important;
}

.rounded-tr-xxl, .rounded-te-xxl {
  border-top-right-radius: 24px !important;
}

.rounded-br-xxl, .rounded-be-xxl {
  border-bottom-right-radius: 24px !important;
}

.rounded-bl-xxl, .rounded-bs-xxl {
  border-bottom-left-radius: 24px !important;
}

.mud-application-layout-rtl .rounded-s-xxl {
  border-top-right-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-e-xxl {
  border-top-left-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-ts-xxl {
  border-top-right-radius: 24px !important;
  border-top-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-te-xxl {
  border-top-left-radius: 24px !important;
  border-top-right-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-bs-xxl {
  border-bottom-right-radius: 24px !important;
  border-bottom-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-be-xxl {
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 0 !important;
}

.rounded {
  border-radius: var(--mud-default-borderradius) !important;
}

.rounded-t {
  border-top-left-radius: var(--mud-default-borderradius) !important;
  border-top-right-radius: var(--mud-default-borderradius) !important;
}

.rounded-r, .rounded-e {
  border-top-right-radius: var(--mud-default-borderradius) !important;
  border-bottom-right-radius: var(--mud-default-borderradius) !important;
}

.rounded-b {
  border-bottom-right-radius: var(--mud-default-borderradius) !important;
  border-bottom-left-radius: var(--mud-default-borderradius) !important;
}

.rounded-l, .rounded-s {
  border-top-left-radius: var(--mud-default-borderradius) !important;
  border-bottom-left-radius: var(--mud-default-borderradius) !important;
}

.rounded-tl, .rounded-ts {
  border-top-left-radius: var(--mud-default-borderradius) !important;
}

.rounded-tr, .rounded-te {
  border-top-right-radius: var(--mud-default-borderradius) !important;
}

.rounded-br, .rounded-be {
  border-bottom-right-radius: var(--mud-default-borderradius) !important;
}

.rounded-bl, .rounded-bs {
  border-bottom-left-radius: var(--mud-default-borderradius) !important;
}

.mud-application-layout-rtl .rounded-s {
  border-top-right-radius: var(--mud-default-borderradius) !important;
  border-bottom-right-radius: var(--mud-default-borderradius) !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-e {
  border-top-left-radius: var(--mud-default-borderradius) !important;
  border-bottom-left-radius: var(--mud-default-borderradius) !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-ts {
  border-top-right-radius: var(--mud-default-borderradius) !important;
  border-top-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-te {
  border-top-left-radius: var(--mud-default-borderradius) !important;
  border-top-right-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-bs {
  border-bottom-right-radius: var(--mud-default-borderradius) !important;
  border-bottom-left-radius: 0 !important;
}
.mud-application-layout-rtl .rounded-be {
  border-bottom-left-radius: var(--mud-default-borderradius) !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 9999px !important;
}
