@namespace MudBlazor.UnitTests.TestComponents

<MudTabs @ref="Tabs">
    <MudTabPanel Text="Hello <span>World</span>!">
        <MudText>Content One with HTML panel text</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Hello World!">
        <MudText>Content Two without HTML panel text</MudText>
    </MudTabPanel>
</MudTabs>

@code {
    public MudTabs Tabs;
}