@namespace MudBlazor.Docs.Examples
<MudPaper Style="width: 800px">
    <MudStepper @bind-ActiveIndex="_index">
        <ChildContent>
            @foreach (var step in _steps)
            {
                <MudStep Title="@step.Title">Select campaign settings content @step.Title</MudStep>
            }
        </ChildContent>
        <CompletedContent>
            Well done!!!
        </CompletedContent>
    </MudStepper>
</MudPaper>

<MudDivider/>

<MudButton OnClick="Remove">Remove</MudButton>
<MudText>@_steps.Count</MudText>
<MudButton OnClick="Add">Add</MudButton>

<MudDivider/>

<p>_index: @_index</p>


@code {
    List<MudStep> _steps = new List<MudStep>() { new MudStep() { Title = "First" }, new MudStep() { Title = "Second" } };
    int _index;

    private void Add()
    {
        Random rnd = new Random();
        _steps.Add(new MudStep() { Title = $"Step {rnd.Next(0, 10000)}" });
    }

    private void Remove()
    {
        _steps.Remove(_steps[^1]);
    }

}