@namespace MudBlazor.Docs.Examples
<MudPaper Style="width: 800px">
    <MudStepper @ref="_mudStepper" @bind-ActiveIndex="_index">
        <MudStep Title="Select campaign settings">Select campaign settings content</MudStep>
        <MudStep Title="Create an ad group" @bind-Completed="_completed">Create an ad group content</MudStep>
        <MudStep Title="Create an ad" Disabled="_disabled">Create an ad content</MudStep>
    </MudStepper>
</MudPaper>

<MudDivider/>

<p>_index: @_index</p>

<MudDivider/>

<MudSwitch @bind-Checked="@_completed" Color="Color.Primary" Label="Step 2 completed">Completed</MudSwitch>
<MudSwitch @bind-Checked="@_disabled" Color="Color.Primary" Label="Step 3 disabled" />

<MudNumericField @bind-Value="_index" Label="Current index" Variant="Variant.Text" Min="0" Max="5" />


@code {


}

@code {
    MudStepper _mudStepper = new();

    private bool _completed;
    public bool _disabled;

    int _index;
}