@page "/mud/community/getting-help"

<DocsPage DisplayFooter="true">
    <DocsPageHeader Title="Getting Help" SubTitle="" />
    <DocsPageContent>
        
        <DocsPageSection>
            <SectionHeader Title="I can't get it to work.">
                <Description>
                    At some point, you may find that there is a problem you need help with. You've read through the docs and it seems like it should be possible, but not clear how.<br/>
                    Don't worry! We'd love to help.<br/><br/>
                    
                    Apart from the team we have a super friendly community full of awesome developers who help out in our <MudLink Href="https://discord.gg/mudblazor">Discord server</MudLink> and answering questions on <MudLink Href="https://github.com/MudBlazor/MudBlazor/discussions">GitHub Discussions.</MudLink>
                    <br/><br/>
                    Everyone you will meet helps because they care, not because they are paid to do so. The kindest thing to do is to make it easy for them to help you.<br/><br/>
                    Here are some ideas:<br/><br/>
                    <div class="d-flex flex-column px-2">
                        <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 docs-line-height-normal">
                               Make sure you read our documentation and used your favorite search engine.
                            </div>
                        </MudBadge>
                            <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 docs-line-height-normal">
                                Share your code in a <MudLink Href="https://try.mudblazor.com/snippet" Target="_blank">TryMudBlazor</MudLink> snippet, it can be hard to help from just text or a picture.
                            </div>
                        </MudBadge>
                        <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 docs-line-height-normal">
                                Explain the problem you are facing, but also the objective.
                            </div>
                        </MudBadge>
                        <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 docs-line-height-normal">
                                Explain what you've already tried and why.
                            </div>
                        </MudBadge>
                    </div>
                </Description>
            </SectionHeader>
        </DocsPageSection>
        
        @*<DocsPageSection>
            <SectionHeader Title="Is it a bug?">
                <Description>
                            
                </Description>
            </SectionHeader>
        </DocsPageSection>*@
        
    </DocsPageContent>
</DocsPage>