
<code class="docs-code @(SecondaryColor? "docs-code-secondary": "docs-code-primary")">
    @if (Tag) {<span>&lt;</span>}@Code@ChildContent@if (Tag) {<span>&gt;</span>}
</code>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public string Code { get; set; }

    [Parameter] public bool SecondaryColor { get; set; }

    [Parameter] public bool Tag { get; set; }
}
