@namespace MudBlazor.Docs
@using MudBlazor.Utilities

<div class="@Classname">
    @ChildContent
</div>

@code {

    protected string Classname =>
    new CssBuilder("docs-showcase")
    .AddClass($"docs-showcase-outlined", Outlined)
    .AddClass($"docs-showcase-darken", DarkenBackground)
    .AddClass($"docs-showcase-display-grid", DisplayGrid)
    .AddClass(Class)
    .Build();

    [Parameter] public string Class { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public bool DarkenBackground { get; set; }

    [Parameter] public bool Outlined { get; set; }

    [Parameter] public bool DisplayGrid { get; set; }
}