
<div class="docs-icon-container">
    @if (List != null)
    {
        @foreach (MudIcons Icon in List)
        {
            <DocsIconPanel Name="@Icon.Name" Code="@Icon.Code" />
        }
    }
</div>


@code {
    [Parameter] public List<MudIcons> List { get; set; }
}