
<div class="docs-icon-panel">
    <div class="docs-icon-panel-inner">
        <MudIcon Icon="@Code" Title="@Name" />
        <MudText Typo="Typo.caption">
            @Name
        </MudText>
    </div>
</div>

@code {

    [Parameter] public string Code { get; set; }

    [Parameter] public string Name { get; set; }
}