
<CascadingValue Value="this" IsFixed="true">
    <QueuedContent RenderImmediately="_renderImmediately">
        <div @attributes="UserAttributes" class="docs-page-section">
            @ChildContent
        </div>
    </QueuedContent>
</CascadingValue>
