@using MudBlazor.Utilities

<div class="@Classname">
    <MudText Typo="Typo.h4">@Title</MudText>
    <MudText Typo="Typo.h6">@SubTitle</MudText>
    <MudText>@Description</MudText>
</div>

@code {

    protected string Classname =>
    new CssBuilder("docs-section-header")
    .AddClass(Class)
    .Build();

    [Parameter] public string Class { get; set; }

    [Parameter] public RenderFragment Title { get; set; }
    [Parameter] public RenderFragment SubTitle { get; set; }
    [Parameter] public RenderFragment Description { get; set; }

}