@namespace MudBlazor.Docs.Shared
@inherits LayoutComponentBase

@Body

<div class="d-flex" style="position: absolute; bottom: 0; right: 0;">
    <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowBack" Class="mt-auto mb-4 mr-4" Href="/getting-started/wireframes/" />
</div>
