@namespace MudBlazor.UnitTests.TestComponents

<MudChip T="string" Text="Click me" OnClick="Click" OnClose="Close" />
<div id="chip-click-test-expected-value">@_event</div>
@code
{
    public static string __description__ = "OnClick or OnClose should be displayed when clicking on the chip.";
    private string _event = "";
    private void Click() {
        _event = "OnClick";
    }
    
    private void Close() {
        _event = "OnClose";
    }
}