@page "/components/tree"

<DocsPage>
    <DocsPageHeader Title="Tree">
        <Description>Easily customizable tree.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Tree</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeSimpleExample />
            </SectionContent>
            <SectionSource Code="TreeSimpleExample" GitHubFolderName="Tree" SnippetId="cElumhPk35NwLcdp28" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Custom Tree with selection binding</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeCustomExample />
            </SectionContent>
            <SectionSource Code="TreeCustomExample" GitHubFolderName="Tree" SnippetId="QOlEdklu37ICrdRU15" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
