@page "/components/tree"

<DocsPage>
    <DocsPageHeader Title="Tree">
        <Description>Easily customizable tree.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Tree</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeSimpleExample />
            </SectionContent>
            <SectionSource Code="TreeSimpleExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Hoverable</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeHoverableExample />
            </SectionContent>
            <SectionSource Code="TreeHoverableExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Activable</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeActivableExample />
            </SectionContent>
            <SectionSource Code="TreeActivableExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Selectable</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeSelectableExample />
            </SectionContent>
            <SectionSource Code="TreeSelectableExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Open-on-click</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeOpenOnClickExample />
            </SectionContent>
            <SectionSource Code="TreeOpenOnClickExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>With icons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeIconExample />
            </SectionContent>
            <SectionSource Code="TreeIconExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Complex example</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeComplexExample />
            </SectionContent>
            <SectionSource Code="TreeComplexExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Custom Tree with selection binding</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeCustomExample />
            </SectionContent>
            <SectionSource Code="TreeCustomExample" GitHubFolderName="Tree" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
