@page "/components/tree"

<DocsPage>
    <DocsPageHeader Title="Tree">
        <Description>Easily customizable tree.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Tree</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeSimpleExample />
            </SectionContent>
            <SectionSource Code="TreeSimpleExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Highlight TreeItem on mouse over</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeHoverExample />
            </SectionContent>
            <SectionSource Code="TreeHoverExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Activate TreeItem on click</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeActivateExample />
            </SectionContent>
            <SectionSource Code="TreeActivateExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Selectable items</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeSelectExample />
            </SectionContent>
            <SectionSource Code="TreeSelectExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Expand-on-click</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeExpandOnClickExample />
            </SectionContent>
            <SectionSource Code="TreeExpandOnClickExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>TreeItem with icons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeIconExample />
            </SectionContent>
            <SectionSource Code="TreeIconExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Complex Example</Title>
                <Description>A complex example with multiple properties and binding</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeComplexExample />
            </SectionContent>
            <SectionSource Code="TreeComplexExample" GitHubFolderName="Tree" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Custom Tree</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <TreeCustomExample />
            </SectionContent>
            <SectionSource Code="TreeCustomExample" GitHubFolderName="Tree" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
