@namespace MudBlazor
@inherits ComponentBaseListNested

<li class="@Classname" disabled="@Disabled">
    <button @onclick="ExpandedToggle" tabindex="0" class="@ClassnameItem">
        @Title
    </button>
    <List>
        @ChildContent
    </List>  
</li>