@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    <CascadingValue Value="@Clickable">
        @ChildContent
    </CascadingValue>
</div>
