@namespace MudBlazor
@inherits MudBaseSelectItem

<li @attributes="UserAttributes" class="@Classname" @onclick="OnClickHandler" style="@Style">
    <div class="@Classname">
        @ChildContent
    </div>
</li>
