@namespace MudBlazor
@inherits MudComponentBase

<li class="@Classname" disabled="@Disabled" style="@Style">
    <button @onclick="ExpandedToggle" tabindex="0" class="@ClassnameItem">
        @Title
    </button>
    <MudList>
        @ChildContent
    </MudList>  
</li>