@namespace MudBlazor
@inherits MudIComponent

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    <CascadingValue Value="@this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>
