@namespace MudBlazor.Docs

<div class="docs-page-header">
    <MudTypography Typo="Typo.h3">@Title</MudTypography>
    <MudTypography Typo="Typo.h5">@SubTitle</MudTypography>
    <MudTypography>@Description</MudTypography>
</div>

@code {
    [Parameter] public RenderFragment Title { get; set; }
    [Parameter] public RenderFragment SubTitle { get; set; }
    [Parameter] public RenderFragment Description { get; set; }

}