@page "/components/layout/container"

<DocsPage>
    <DocsPageHeader>
        <Title>Container</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Fluid</Title>
                <Description>You can set the max width with the MaxWidth enum.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true" Class="demo-container">
                <MudPaper>
                    <Container MaxWidth="MaxWidth.Medium"></Container>
                </MudPaper>
            </SectionContent>
            <SectionSource Code="@Markdown_Fluid"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Fixed</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true"  Class="demo-container">
                <MudPaper>
                    <Container Fixed="true"></Container>
                </MudPaper>
            </SectionContent>
            <SectionSource Code=@Markdown_Fixed></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>


@code {

string Markdown_Fluid = @"```html
<Container MaxWidth=""MaxWidth.Medium"">
    your content
</Container>
```";
string Markdown_Fixed = @"```html
<Container Fixed=""true"">
    your content
</Container>
```";
}
