@page "/components/layout/themes"

<DocsPage>
    <DocsPageHeader>
        <Title>ThemeProvider</Title>
        <SubTitle></SubTitle>
        <Description>With the ThemeProvider you can change all the MudBlazor colors and some default values like border radius.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Default Theme</Title>
                <Description></Description>
            </SectionHeader>
            <SectionSource Code="@Markdown_ThemeProvider"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Custom Theme</Title>
                <Description>This should be added before all your code, in App.razor or at the top in your MainLayout.razor</Description>
            </SectionHeader>
            <SectionSource Code="@Markdown_CustomTheme"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {

    MudTheme MyCoolDarkTheme = new MudTheme()
    {
        Color_Primary = "#304ffe",
        Color_Secondary = "#1de9b6",
        Color_Surface = "#282C34",
        Color_Background = "#1c2025",
        Color_Text_Default = "#e6e5e8"
    };

    MudTheme Theme2 = new MudTheme()
    {
        Color_Primary = "#304ffe",
        Color_Secondary = "#1de9b6",
        Color_Surface = "#282C34",
        Color_Background = "#1c2025",
        Color_Text_Default = "#e6e5e8"
    };

string Markdown_ThemeProvider = @"```html
<ThemeProvider/>
```";
string Markdown_CustomTheme = @"```html
<ThemeProvider Theme=""MyCoolDarkTheme""/>

@code {
    MudTheme MyCoolDarkTheme = new MudTheme()
    {
        Color_Primary = ""#304ffe"",
        Color_Secondary = ""#1de9b6"",
        Color_Surface = ""#282C34"",
        Color_Background = ""#1c2025"",
        Color_Text_Default = ""#e6e5e8""
    };
}
```";
}
