@page "/components/Icons"
@using System.Reflection

<DocsPage>
    <DocsPageHeader>
        <Title>Icons</Title>
        <SubTitle>Guidance and suggestions for using icons with MudBlazor.</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <MudText Typo="Typo.h6" GutterBottom="true">Out of the box</MudText>
            <MudText>Mudblazor comes loaded with <MudLink Href="https://material.io/resources/icons/">Material Design icons</MudLink> in SVG format.</MudText>
            <MudText>This can be used with the MudIcon component or other components that has icons.</MudText>
            <MudText>The same component support Font icons but need to be loaded separately.</MudText>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>All icons that comes loaded by default</Title>
                <Description>You can search the full list of the icons under <MudLink Href="/features/icons">MudBlazor Icons</MudLink> in the menu.</Description>
            </SectionHeader>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
            </SectionHeader>
            <SectionContent Outlined="true">
                <IconsUsageExample />
            </SectionContent>
            <SectionSource Code="IconsUsageExample" GitHubFolderName="Icons" SnippetId="wYPEbXuu25mdf72u44" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Color</Title>
            </SectionHeader>
            <SectionContent Outlined="true">
                <IconsColorExample />
            </SectionContent>
            <SectionSource Code="IconsColorExample" GitHubFolderName="Icons" SnippetId="QOlalDau26TxrT2b36" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Size</Title>
            </SectionHeader>
            <SectionContent Outlined="true">
                <IconsSizeExample />
            </SectionContent>
            <SectionSource Code="IconsSizeExample" GitHubFolderName="Icons" SnippetId="cOvYFDuO27i9UmLR01" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Font Icons</Title>
                <Description>MudIcon component will display any icon font that support ligatures. This are not loaded by default, for example you can use <MudLink Color="Color.Secondary" Href="https://fontawesome.com/">Font Awesome</MudLink> or <MudLink Href="https://material.io/resources/icons/">Material Design icon font</MudLink> via Google Web Fonts.</Description>
            </SectionHeader>
            <SectionSource Code="IconsFontIconsExample" GitHubFolderName="Icons" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>
                    Font Material icons
                </Title>
            </SectionHeader>
            <SectionContent Outlined="true">
                <IconsFontMaterialIconsExample />
            </SectionContent>
            <SectionSource Code="IconsFontMaterialIconsExample" GitHubFolderName="Icons" SnippetId="QaFOvXuu27v8UZpU44" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>
                    Font Awesome
                </Title>
                <Description>With <MudLink Href="https://fontawesome.com/icons">Font Awesome</MudLink> icons you need to specify it with the ClassFont parameter.</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <IconsFontAwesomeExample />
            </SectionContent>
            <SectionSource Code="IconsFontAwesomeExample" GitHubFolderName="Icons" SnippetId="mYbYbjkO282nWT5Y23" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
