@namespace MudBlazor.Docs

<div class="docs-icon-panel">
    <div class="docs-icon-panel-inner">
        <MudIcon Icon="@Code" />
        <MudTypography Typo="Typo.caption" GutterBottom="false">
            @Name
        </MudTypography>
    </div>
</div>

@code {

    [Parameter] public string Code { get; set; }

    [Parameter] public string Name { get; set; }
}