@namespace MudBlazor
@using MudBlazor.Components.EnchancedChart.Bar 

<MudCard  Style="@GetStyle()">
    <MudList Clickable="true">
        @foreach (var item in ToolTips)
        {
            <MudListItem> <div style="color:@item.Color"><span>@item.SeriesName</span> <strong>@item.Value</strong></div>  </MudListItem>
        }
    </MudList>
</MudCard>

@code { 

    [Parameter]public IEnumerable<BarChartToolTipInfo> ToolTips { get; set; }

    private String GetLeft()
    {
        Double left = 0.0;
        if (ToolTips.Any() == true)
        {
            BarChartToolTipInfo first = ToolTips.ElementAt(0);
            left = first.P2.X + ((first.P3.X - first.P2.X) * 0.9);
        }
        return left.ToString(System.Globalization.CultureInfo.InvariantCulture);
    }

    private String GetTop()
    {
        Double top = 0.0;
        if (ToolTips.Any() == true)
        {
            BarChartToolTipInfo first = ToolTips.ElementAt(0);
            top = first.P3.Y - ((first.P4.Y - first.P3.Y) * 0.1);
        }

        return top.ToString(System.Globalization.CultureInfo.InvariantCulture);
    }

    private String GetStyle() => $"position: absolute; left: {GetLeft()}%; top: {GetTop()}%";

}
