@page "/components/timepicker"

<DocsPage>
    <DocsPageHeader Title="Time Picker">
        <Description>Provides the user with a simple way to select time.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TimePickerBasicUsageExample />
            </SectionContent>
            <SectionSource Code="TimePickerBasicUsageExample" GitHubFolderName="TimePicker" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Static Mode</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <TimePickerStaticExample />
            </SectionContent>
            <SectionSource Code="TimePickerStaticExample" GitHubFolderName="TimePicker" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Different views</Title>
                <Description>By default it opens to Date, but can be set to Year or Month.</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <TimePickerViewsExample />
            </SectionContent>
            <SectionSource Code="TimePickerViewsExample" GitHubFolderName="TimePicker" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Colors</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-datetime-margin">
                <TimePickerColorExample />
            </SectionContent>
            <SectionSource Code="TimePickerColorExample" GitHubFolderName="TimePicker" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Elevation</Title>
                <Description>You can change the elevation with the <CodeInline>Elevation</CodeInline> parameter the default value is 0 for static and 8 for inline.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-datetime-margin">
                <TimePickerElevationExample />
            </SectionContent>
            <SectionSource Code="TimePickerElevationExample" GitHubFolderName="TimePicker" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>