@inject IDialogService DialogService


<MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
    Open Simple Dialog
</MudButton>
<p>
Search Text:  @searchText
</p>

@code {
    string searchText;

    private void OpenDialog()
    {
        DialogService.Show<DialogWithEventCallback>("Simple Dialog", 
            new DialogParameters(){
                 {"OnSearch",  new EventCallbackFactory().Create(this, new Action<string>(OnSearch)) },
            });
    }

    private void OnSearch(string text){
        searchText=text;
        StateHasChanged();
    }
}
