@namespace MudBlazor.UnitTests.TestComponents

<div class="d-flex">
    <MudButton OnClick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
        Open dialog
    </MudButton>
</div>

<MudDialog @bind-Visible="_visible">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3"/> Edit rating
        </MudText>
    </TitleContent>
    <DialogContent>
        <p>Close and re-open me by clicking out of the dialog. </p>
    </DialogContent>
    <DialogActions>
    </DialogActions>
</MudDialog>

@code { 
    private bool _visible;

    private void OpenDialog() => _visible = true;
}
