@namespace MudBlazor
@using MudBlazor.Utilities


<div class="@Classname">
    <CascadingValue Value="@_layoutState">
            @ChildContent
    </CascadingValue>
</div>

@code {

    protected string Classname =>
    new CssBuilder("mud-layout")
        .AddClass(Class)
    .Build();

    [Parameter] public string Class { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    LayoutState _layoutState = new LayoutState();

    private bool _isOpen;
    private bool _isClipped;

    [Parameter]
    public bool DrawerOpen
    {
        get => _layoutState.DrawerOpen;
        set
        {
            if (value != _layoutState.DrawerOpen)
            {
                _layoutState.DrawerOpen = value;
                StateHasChanged();
            }
        }
    }

    [Parameter] public bool DrawerClipped
    {
        get => _layoutState.DrawerClipped;
        set
        {
            if (value != _layoutState.DrawerClipped)
            {
                _layoutState.DrawerClipped = value;
                StateHasChanged();
            }
        }
    }
}