@namespace MudBlazor
@using MudBlazor.Utilities
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    <CascadingValue Value="@_layoutState">
            @ChildContent
    </CascadingValue>
</div>

@code {

    protected string Classname =>
    new CssBuilder("mud-layout")
        .AddClass(Class)
    .Build();

    /// <summary>
    /// Child content of component.
    /// </summary>
    [Parameter] public RenderFragment ChildContent { get; set; }

    LayoutState _layoutState = new LayoutState();

    /// <summary>
    /// Gets or ets the drawer open state.
    /// </summary>
    [Parameter]
    public bool DrawerOpen
    {
        get => _layoutState.DrawerOpen;
        set
        {
            if (value != _layoutState.DrawerOpen)
            {
                _layoutState.DrawerOpen = value;
                StateHasChanged();
            }
        }
    }

    /// <summary>
    /// Gets or sets the drawer clipped state.
    /// </summary>
    [Parameter] public bool DrawerClipped
    {
        get => _layoutState.DrawerClipped;
        set
        {
            if (value != _layoutState.DrawerClipped)
            {
                _layoutState.DrawerClipped = value;
                StateHasChanged();
            }
        }
    }
}