@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    <CascadingValue IsFixed="true" Value="@this">
        <CascadingValue Value="@RightToLeft">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>
