@namespace MudBlazor
@inherits MudBaseButton
@using MudBlazor.Extensions

<div @attributes="UserAttributes" class="@Classname" style="@Style" @onclick="OnClickHandler" href="@Link">
    @ChildContent
</div>
