@namespace MudBlazor.Docs.Examples

<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="_string" Label="Clearable Standard" Variant="Variant.Text" Clearable="true" Adornment="Adornment.End"
                      AdornmentIcon="@Icons.Custom.Brands.MudBlazor" AdornmentColor="Color.Primary" Immediate="true" />
    </MudItem>

    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="_string" Label="Clearable Filled" Variant="Variant.Filled" Clearable="true" Immediate="true" />
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="_string" Label="Clearable Outlined" Variant="Variant.Outlined" Clearable="true" />
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="@_telephone"
                      Label="InputType.Telephone"
                      Immediate="true" />
    </MudItem>
</MudGrid>
<div class="mt-3">
    <MudText>Clearable textfield: @_string</MudText>
    <MudText>InputType telephone: @_telephone</MudText>
</div>


@code {
    string _string;
    string _telephone;
}