@namespace MudBlazor.Docs.Examples

<div>
    <MudTextField Label="With Helper" HelperText="Some helping Text" Variant="Variant.Text"></MudTextField>
    <MudTextField Label="Disabled" Variant="Variant.Text" Disabled="true"></MudTextField>
    <MudTextField Label="Password" InputType="InputType.Password" Variant="Variant.Text"></MudTextField>
    <MudTextField Label="Read Only" Value="Can't change me" ReadOnly="true" Variant="Variant.Text"></MudTextField>
</div>
<div>
    <MudTextField Label="With Helper" HelperText="Some helping Text" Variant="Variant.Filled"></MudTextField>
    <MudTextField Label="Disabled" Variant="Variant.Filled" Disabled="true"></MudTextField>
    <MudTextField Label="Password" InputType="InputType.Password" Variant="Variant.Filled"></MudTextField>
    <MudTextField Label="Read Only" Value="Can't change me" ReadOnly="true" Variant="Variant.Filled"></MudTextField>
</div>
<div>
    <MudTextField Label="With Helper" HelperText="Some helping Text" Variant="Variant.Outlined"></MudTextField>
    <MudTextField Label="Disabled" Variant="Variant.Outlined" Disabled="true"></MudTextField>
    <MudTextField Label="Password" InputType="InputType.Password" Variant="Variant.Outlined"></MudTextField>
    <MudTextField Label="Read Only" Value="Can't change me" ReadOnly="true" Variant="Variant.Outlined"></MudTextField>
</div>
