@page "/versions"
@page "/project/versions"

<DocsPage MaxWidth="MaxWidth.Large">
    <MudContainer>
        <MudText Typo="Typo.h3" GutterBottom="true">Versions</MudText>
    </MudContainer>
    <MudContainer>
        <MudText Typo="Typo.h4" GutterBottom="true">Strategy</MudText>

        <MudText GutterBottom="true">MudBlazor is following <MudLink Href="https://semver.org/spec/v2.0.0.html" Color="Color.Secondary">Semantic Versioning 2.0.0</MudLink> and have three parts for our none pre releases: <CodeInline>major.minor.patch</CodeInline> where the numbers is incremented based on what changes is in that release.</MudText>
        <ul class="mt-6">
            <li>
                <MudText GutterBottom="true">
                    <b>Major releases</b> contain significant new features, fixes, reworked components or design. When updating to a new major release, you may need to refactor code, run additional tests, read the new documentation and so on.
                </MudText>
            </li>
            <li>
                <MudText GutterBottom="true">
                    <b>Minor releases</b> contain important new features. Minor releases should be fully backward-compatible. You can optionally begin using our new features and component API changes that were added in the release.
                </MudText>
            </li>
            <li>
                <MudText GutterBottom="true">
                    <b>Patch releases</b> are low risk, contain bug fixes and small new features.
                </MudText>
            </li>
        </ul>
    </MudContainer>
    <MudContainer>
        <MudText Typo="Typo.h4" GutterBottom="true">
            Released versions
        </MudText>
        <MudSimpleTable Elevation="0" Dense="true" Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Release Type</th>
                    <th>Framework</th>
                    <th>Nuget Link</th>
                    <th>Release notes</th>
                </tr>
            </thead>
            <tbody class="mb-16">
                <tr>
                    <td>v5.0.6</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #5027d5; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET 5</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/5.0.6">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v5.0.6">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v5.0.5</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #5027d5; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET 5</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/5.0.5">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v5.0.5">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v5.0.4</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #5027d5; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET 5</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/5.0.4">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v5.0.4">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v5.0.3</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #5027d5; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET 5</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/5.0.3">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v5.0.3">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v5.0.2</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #5027d5; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET 5</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/5.0.2">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v5.0.2">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v5.0.1</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #5027d5; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET 5</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/5.0.1">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v5.0.1">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v5.0.0</td>
                    <td><MudChip Color="Color.Success" Size="Size.Small" Label="true" Style="width:60px;">Major</MudChip></td>
                    <td><MudChip Style="background-color: #5027d5; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET 5</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/5.0.0">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v5.0.0">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v2.0.6</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/2.0.6">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v2.0.6">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v2.0.5</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/2.0.5">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v2.0.5">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v2.0.4</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/2.0.4">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v2.0.4">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v2.0.3</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/2.0.3">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v2.0.3">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v2.0.2</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/2.0.2">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v2.0.2">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v2.0.0</td>
                    <td><MudChip Color="Color.Success" Size="Size.Small" Label="true" Style="width:60px;">Major</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/2.0.0">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v2.0.0">GitHub Release</MudLink></td>

                </tr>
                <tr>
                    <td>v1.2.4</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.2.4">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v1.2.4">GitHub Release</MudLink></td>

                </tr>
                <tr>
                    <td>v1.2.1</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.2.1">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v1.2.1">GitHub Release</MudLink></td>

                </tr>
                <tr>
                    <td>v1.2.0</td>
                    <td><MudChip Color="Color.Info" Size="Size.Small" Label="true" Style="width:60px;">Minor</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.2.0">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v1.2.0">GitHub Release</MudLink></td>

                </tr>
                <tr>
                    <td>v1.1.5</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.1.5">Nuget Package</MudLink></td>
                    <td></td>

                </tr>
                <tr>
                    <td>v1.1.4</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.1.4">Nuget Package</MudLink></td>
                    <td></td>

                </tr>
                <tr>
                    <td>v1.1.3</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.1.3">Nuget Package</MudLink></td>
                    <td></td>
                </tr>
                <tr>
                    <td>v1.1.2</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.1.2">Nuget Package</MudLink></td>
                    <td></td>
                </tr>
                <tr>
                    <td>v1.1.1</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.1.1">Nuget Package</MudLink></td>
                    <td></td>
                </tr>
                <tr>
                    <td>v1.1.0</td>
                    <td><MudChip Color="Color.Info" Size="Size.Small" Label="true" Style="width:60px;">Minor</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.1.0">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v1.1.0">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v1.0.9</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.0.9">Nuget Package</MudLink></td>
                    <td></td>
                </tr>
                <tr>
                    <td>v1.0.8</td>
                    <td><MudChip Color="Color.Default" Size="Size.Small" Label="true" Style="width:60px;">Patch</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.0.8">Nuget Package</MudLink></td>
                    <td></td>
                </tr>
                <tr>
                    <td>v1.0.7</td>
                    <td><MudChip Color="Color.Primary" Size="Size.Small" Label="true" Style="width:60px;">First</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.0.7">Nuget Package</MudLink></td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/releases/tag/v1.0.7">GitHub Release</MudLink></td>
                </tr>
                <tr>
                    <td>v1.0.6</td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small" Label="true" Style="width:60px;">Pre</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.0.6">Nuget Package</MudLink></td>
                    <td></td>
                </tr>
                <tr>
                    <td>v1.0.5</td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small" Label="true" Style="width:60px;">Pre</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.0.5">Nuget Package</MudLink></td>
                    <td></td>
                </tr>
                <tr>
                    <td>v1.0.4</td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small" Label="true" Style="width:60px;">Pre</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.0.4">Nuget Package</MudLink></td>
                    <td></td>
                </tr>
                <tr>
                    <td>v1.0.3</td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small" Label="true" Style="width:60px;">Pre</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.0.3">Nuget Package</MudLink></td>
                    <td></td>
                </tr>
                <tr>
                    <td>v1.0.2</td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small" Label="true" Style="width:60px;">Pre</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.0.2">Nuget Package</MudLink></td>
                    <td></td>
                </tr>
                <tr>
                    <td>v1.0.1</td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small" Label="true" Style="width:60px;">Pre</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.0.1">Nuget Package</MudLink></td>
                    <td></td>
                </tr>
                <tr>
                    <td>v1.0.0</td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small" Label="true" Style="width:60px;">Pre</MudChip></td>
                    <td><MudChip Style="background-color: #682a7b; color: #ffffff; width:100px;" Size="Size.Small" Label="true">.NET Core 3.1</MudChip></td>
                    <td><MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/1.0.0">Nuget Package</MudLink></td>
                    <td></td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudContainer>
    <MudContainer>
        <MudText Typo="Typo.h4" GutterBottom="true">Development</MudText>
        <MudText Class="my-4">Here you can download the source code. Documentation and code might be missing or wrong.</MudText>
        <MudSimpleTable Elevation="0">
            <tbody class="mb-16">
                <tr>
                    <td>master branch</td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/tree/master">Source code</MudLink></td>
                    <td><MudChip Color="Color.Success" Size="Size.Small" Label="true">Latest Stable</MudChip></td>
                </tr>
                <tr>
                    <td>dev branch</td>
                    <td><MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/tree/dev">Source code</MudLink></td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small" Label="true">Development</MudChip></td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudContainer>
</DocsPage>
<Footer />