@page "/versions"

<DocsPage MaxWidth="MaxWidth.Large">
    <MudContainer>
        <MudText Typo="Typo.h3" GutterBottom="true">Versions</MudText>
    </MudContainer>
    <MudContainer>
        <MudText Typo="Typo.h4" GutterBottom="true">Latest Releases</MudText>
        <MudText Class="my-4">List of our latest releases.</MudText>
        <MudSimpleTable Elevation="0">
            <tbody class="mb-16">
                <tr>
                    <td>v1.1.3</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.1.3">Nuget</MudLink></td>
                    <td></td>
                    <td><MudChip Color="Color.Default" Size="Size.Small">Build Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.1.2</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.1.2">Nuget</MudLink></td>
                    <td></td>
                    <td><MudChip Color="Color.Default" Size="Size.Small">Build Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.1.1</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.1.1">Nuget</MudLink></td>
                    <td></td>
                    <td><MudChip Color="Color.Default" Size="Size.Small">Build Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.1.0</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.1.0">Nuget</MudLink></td>
                    <td><MudLink Href="https://github.com/Garderoben/MudBlazor/releases/tag/v1.1.0" Color="Color.Dark">GitHub Release</MudLink></td>
                    <td><MudChip Color="Color.Success" Size="Size.Small">Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.0.9</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.0.9">Nuget</MudLink></td>
                    <td></td>
                    <td><MudChip Color="Color.Default" Size="Size.Small">Build Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.0.8</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.0.8">Nuget</MudLink></td>
                    <td></td>
                    <td><MudChip Color="Color.Default" Size="Size.Small">Build Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.0.7</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.0.7">Nuget</MudLink></td>
                    <td><MudLink Href="https://github.com/Garderoben/MudBlazor/releases/tag/v1.0.7" Color="Color.Dark">GitHub Release</MudLink></td>
                    <td><MudChip Color="Color.Info" Size="Size.Small">First Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.0.6</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.0.6">Nuget</MudLink></td>
                    <td></td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small">Pre Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.0.5</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.0.5">Nuget</MudLink></td>
                    <td></td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small">Pre Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.0.4</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.0.4">Nuget</MudLink></td>
                    <td></td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small">Pre Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.0.3</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.0.3">Nuget</MudLink></td>
                    <td></td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small">Pre Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.0.2</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.0.2">Nuget</MudLink></td>
                    <td></td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small">Pre Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.0.1</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.0.1">Nuget</MudLink></td>
                    <td></td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small">Pre Release</MudChip></td>
                </tr>
                <tr>
                    <td>v1.0.0</td>
                    <td><MudLink Href="https://www.nuget.org/packages/MudBlazor/1.0.0">Nuget</MudLink></td>
                    <td></td>
                    <td><MudChip Color="Color.Warning" Size="Size.Small">Pre Release</MudChip></td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudContainer>
    <MudContainer>
        <MudText Typo="Typo.h4" GutterBottom="true">Development</MudText>
        <MudText Class="my-4">Here you can download the source code. Documentation and code might be missing or wrong.</MudText>
        <MudSimpleTable Elevation="0">
            <tbody class="mb-16">
                <tr>
                    <td>master branch</td>
                    <td><MudLink Href="https://github.com/Garderoben/MudBlazor/tree/master">Source code</MudLink></td>
                    <td><MudChip Color="Color.Error" Size="Size.Small">Development</MudChip></td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudContainer>
</DocsPage>
<Footer />