@page "/components/navigation/link"

<DocsPage>
    <DocsPageHeader>
        <Title>Link</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Links</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudLink Href="#">Default</MudLink>
                <MudLink Href="#" Typo="Typo.body2">Different Typography</MudLink>
            </SectionContent>
            <SectionSource Code="@Markdown_Simple_Links">
            </SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Underlines</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudLink Href="#">Default</MudLink>
                <MudLink Href="#" Underline="Underline.Always">Always</MudLink>
                <MudLink Href="#" Underline="Underline.None">None</MudLink>
            </SectionContent>
            <SectionSource Code="@Markdown_Underlines"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {
string Markdown_Simple_Links = @"```html
<MudLink Href=""#"">Default</MudLink>
<MudLink Href=""#"" Typo=""Typo.body2"">Different Typography</MudLink>
```";
string Markdown_Underlines = @"```html
<MudLink Href=""#"">Default</MudLink>
<MudLink Href=""#"" Underline=""Underline.Always"">Always</MudLink>
<MudLink Href=""#"" Underline=""Underline.None"">None</MudLink>
```";
}
