@page "/components/navigation/tabs"

<DocsPage>
    <DocsPageHeader>
        <Title>Tabs</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Tabs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <MudTabs>
                    <MudTabPanel Text="Item 1">
                        Item 1
                    </MudTabPanel>
                    <MudTabPanel Text="Item 2">
                        Item 2
                    </MudTabPanel>
                    <MudTabPanel Text="Item 3">
                        Item 3
                    </MudTabPanel>
                </MudTabs>
            </SectionContent>
            <SectionSource Code="@Markdown_Simple"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {
    string Markdown_Simple = @"```html
<MudTabs>
  <MudTabPanel Text=""Item 1"">
      Item 1
  </MudTabPanel>
  <MudTabPanel Text=""Item 2"">
      Item 2
  </MudTabPanel>
  <MudTabPanel Text=""Item 3"">
      Item 3
  </MudTabPanel>
</MudTabs>
```";
}
