@page "/components/navigation/tabs"

<DocsPage>
    <DocsPageHeader>
        <Title>Tabs</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Tabs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <Tabs>
                    <TabPanel Text="Item 1">
                        Item 1
                    </TabPanel>
                    <TabPanel Text="Item 2">
                        Item 2
                    </TabPanel>
                    <TabPanel Text="Item 3">
                        Item 3
                    </TabPanel>
                </Tabs>
            </SectionContent>
            <SectionSource Code="@Markdown_Simple"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {
    string Markdown_Simple = @"```html
<Tabs>
  <TabPanel Text=""Item 1"">
      Item 1
  </TabPanel>
  <TabPanel Text=""Item 2"">
      Item 2
  </TabPanel>
  <TabPanel Text=""Item 3"">
      Item 3
  </TabPanel>
</Tabs>
```";
}
