<MudChipSet T="int" SelectionMode="SelectionMode.MultiSelection" CheckMark @bind-SelectedValues="_selectedValues">
    <MudChip Text="Set1 Chip1" Variant="Variant.Outlined" Color="Color.Success" Value="1"/>
    <MudChip Text="Set1 Chip2" Variant="Variant.Outlined" Color="Color.Error" Value="2"/>
</MudChipSet>

<MudChipSet T="int" SelectionMode="SelectionMode.MultiSelection" CheckMark @bind-SelectedValues="_selectedValues">
    <MudChip Text="Set2 Chip1" Variant="Variant.Outlined" Color="Color.Success" Value="1"/>
    <MudChip Text="Set2 Chip2" Variant="Variant.Outlined" Color="Color.Error" Value="2"/>
</MudChipSet>

<br />
<p class="set">
    Selection: @(string.Join(", ", _selectedValues.OrderBy(x => x)))
</p>

@code {
    public static string __description__ = "The chipsets should mirror their respective selections";
    IReadOnlyCollection<int> _selectedValues = [ 1 ];

}
