@page "/project/about"

<DocsPage>
    <Container>
        <Typography Typo="Typo.h3">About</Typography>
        <Typography Class="mud-margin-top-2r">My vision for this project is to keep it clean and simple with a modern design that is highly customizable. Simple and easy to use components. More CSS, SASS and no javascript or atleast just the absolut necessary if there is something Blazor and CSS cannot do.</Typography>
        <Typography Class="mud-margin-top-2r">I've been developing .NET Core websites and working specifically with Blazor since late 2018. Since then i have seen amazing Blazor library projects but i feel most of them are over-engineered and some of them "ports" with massive amounts of javascript to keep the frontend running. Which of course doesn't mean it's bad, but i feel it contradicts what Blazor is all about.</Typography>
    </Container>
    <Container>
        <div style="min-height: 25vh;"></div>
    </Container>
    <Footer />
</DocsPage>
