@page "/project/credit"

<DocsPage>
    <MudContainer>
        <MudText Typo="Typo.h3">Credits</MudText>
        <MudGrid Class="mud-margin-top-bottom-2r">
            <MudItem xs="12" md="6">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <MudText Class="credit-awesome" Typo="Typo.h6">Awesome Blazor</MudText>
                        <MudText Typo="Typo.body2">My go to place to look for examples, information and cool new implementations.</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <MudText Class="credit-mui" Typo="Typo.h6">Material-UI</MudText>
                        <MudText Typo="Typo.subtitle2">React component library.</MudText>
                        <MudText Typo="Typo.body2">This is where the base design for MudBlazor comes from, a good list of components and what options they may have.</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <MudText Class="credit-blazored" Typo="Typo.h6">Blazored</MudText>
                        <MudText Typo="Typo.subtitle2">Libraries and Components for Blazor Framework</MudText>
                        <MudText Typo="Typo.body2">He has excellent repos that can be used both as learning material or for direct usage. Blazored Modal, this is where most of the dialog comes from, why invent the wheel again?</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
        <MudText Class="mb-8">Awesome coders who allowed us to use some of their code in MudBlazor.</MudText>
        <MudGrid>

            <MudItem xs="12" md="6">
                <MudCard Elevation="4">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="https://avatars1.githubusercontent.com/u/945168?s=460&u=183870f7453cf4e9ef3f66244885d49027059870&v=4" Size="Size.Large" Class="mud-elevation-4" />
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Ed Charbeneau</MudText>
                            <MudText Typo="Typo.body2">Donated the ResizeListenerService code</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Custom.GitHub" Link="https://github.com/EdCharbeneau/BlazorSize" Color="Color.Surface" />
                        </CardHeaderActions>
                    </MudCardHeader>
                </MudCard>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudCard Elevation="4">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="https://avatars1.githubusercontent.com/u/3385986?s=460&u=e7884f25057513e6987883867a16bc167ce4a6a6&v=4" Size="Size.Large" Class="mud-elevation-4" />
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Zachary Patten</MudText>
                            <MudText Typo="Typo.body2">Donated the XmlDoc loading code for the docs</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Custom.GitHub" Link="https://github.com/ZacharyPatten/Towel" Color="Color.Surface" />
                        </CardHeaderActions>
                    </MudCardHeader>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudContainer>
    <MudContainer>
        <div Style="margin-top: 128px;"></div>
    </MudContainer>
    <MudDivider/>
</DocsPage>
<Footer />