@page "/project/credit"

<DocsPage>
    <Container>
        <Typography Typo="Typo.h3">Credits</Typography>
        <Grid Class="mud-margin-top-bottom-2r">
            <Item GridSize="GridSize.Four">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <Typography Class="credit-mat" Typo="Typo.h6">MatBlazor</Typography>
                        <Typography Typo="Typo.body2">Component library based on MDC Web.</Typography>
                        <Typography Typo="Typo.body2">First project I contributed to and the one Blazor project I learned the most from, and still do.</Typography>
                    </MudCardContent>
                </MudCard>
            </Item>
            <Item GridSize="GridSize.Four">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <Typography Class="credit-awesome" Typo="Typo.h6">Awesome Blazor</Typography>
                        <Typography Typo="Typo.body2">My go to place to look for examples, information and cool new implementations.</Typography>
                    </MudCardContent>
                </MudCard>
            </Item>
            <Item GridSize="GridSize.Four">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <Typography Class="credit-mui" Typo="Typo.h6">Material-UI</Typography>
                        <Typography Typo="Typo.body2">React component library.</Typography>
                        <Typography Typo="Typo.body2">This is where the base design for MudBlazor comes from, a good list of components and what options they may have.</Typography>
                    </MudCardContent>
                </MudCard>
            </Item>
        </Grid>
    </Container>
    <Container>
        <div Style="margin-top: 128px;"></div>
    </Container>
    <Divider/>
    <Container>
        <div Style="padding-top: 64px; padding-bottom: 128px;">
            <Typography Typo="Typo.h4" Align="Align.Center">Special thanks</Typography>
            <Typography Typo="Typo.body1" Align="Align.Center">To the developers at my day to day job for taking your time with an IT guy like me.</Typography>
            <Typography Typo="Typo.body1" Align="Align.Center">The last 2-3 years you have been there when i wanted to know more about best practices, or when I needed input, what to do or not do, or solve bugs I couldn't solve myself.</Typography>
            <Typography Typo="Typo.body1" Align="Align.Center">Without you, I would've never been able to do this project today.</Typography>
        </div>
    </Container>
</DocsPage>
<Footer />