@page "/project/credit"

<DocsPage>
    <MudContainer>
        <MudText Typo="Typo.h3">Credits</MudText>
        <MudGrid Class="mud-margin-top-bottom-2r">
            <MudItem xs="4">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <MudText Class="credit-mat" Typo="Typo.h6">MatBlazor</MudText>
                        <MudText Typo="Typo.subtitle2">Component library based on MDC Web.</MudText>
                        <MudText Typo="Typo.body2">First project I contributed to and the one Blazor project I learned the most from, and still do.</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="4">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <MudText Class="credit-awesome" Typo="Typo.h6">Awesome Blazor</MudText>
                        <MudText Typo="Typo.body2">My go to place to look for examples, information and cool new implementations.</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="4">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <MudText Class="credit-mui" Typo="Typo.h6">Material-UI</MudText>
                        <MudText Typo="Typo.subtitle2">React component library.</MudText>
                        <MudText Typo="Typo.body2">This is where the base design for MudBlazor comes from, a good list of components and what options they may have.</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <MudText Class="credit-blazored" Typo="Typo.h6">Blazored</MudText>
                        <MudText Typo="Typo.subtitle2">Libraries and Components for Blazor Framework</MudText>
                        <MudText Typo="Typo.body2">He has excellent repos that can be used both as learning material or for direct usage. Blazored Modal, this is where most of the dialog comes from, why invent the wheel again?</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
        <MudText Class="mb-8">Awesome coders who allowed us to use some of their code in MudBlazor.</MudText>
        <MudGrid>

            <MudItem xs="12" md="6">
                <MudCard Elevation="4">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="https://avatars1.githubusercontent.com/u/945168?s=460&u=183870f7453cf4e9ef3f66244885d49027059870&v=4" Size="Size.Large" Class="mud-elevation-4" />
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Ed Charbeneau</MudText>
                            <MudText Typo="Typo.body2">Donated the ResizeListenerService code</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Custom.GitHub" Link="https://github.com/EdCharbeneau/BlazorSize" Color="Color.Surface" />
                        </CardHeaderActions>
                    </MudCardHeader>
                </MudCard>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudCard Elevation="4">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="https://avatars1.githubusercontent.com/u/3385986?s=460&u=e7884f25057513e6987883867a16bc167ce4a6a6&v=4" Size="Size.Large" Class="mud-elevation-4" />
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Zachary Patten</MudText>
                            <MudText Typo="Typo.body2">Donated the XmlDoc loading code for the docs</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Custom.GitHub" Link="https://github.com/ZacharyPatten/Towel" Color="Color.Surface" />
                        </CardHeaderActions>
                    </MudCardHeader>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudContainer>
    <MudContainer>
        <div Style="margin-top: 128px;"></div>
    </MudContainer>
    <MudDivider/>
    <MudContainer>
        <div Style="padding-top: 64px; padding-bottom: 128px;">
            <MudText Typo="Typo.h4" Align="Align.Center" GutterBottom="true">Special thanks</MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">To the developers at my day to day job for taking your time with an IT guy like me.</MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">The last 2-3 years you have been there when i wanted to know more about best practices, or when I needed input, what to do or not do, or solve bugs I couldn't solve myself.</MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">Without you, I would've never been able to do this project today.</MudText>
        </div>
    </MudContainer>
</DocsPage>
<Footer />