@page "/project/credit"

<DocsPage>
    <MudContainer>
        <MudTypography Typo="Typo.h3">Credits</MudTypography>
        <MudGrid Class="mud-margin-top-bottom-2r">
            <MudItem xs="4">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <MudTypography Class="credit-mat" Typo="Typo.h6">MatBlazor</MudTypography>
                        <MudTypography Typo="Typo.body2">Component library based on MDC Web.</MudTypography>
                        <MudTypography Typo="Typo.body2">First project I contributed to and the one Blazor project I learned the most from, and still do.</MudTypography>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="4">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <MudTypography Class="credit-awesome" Typo="Typo.h6">Awesome Blazor</MudTypography>
                        <MudTypography Typo="Typo.body2">My go to place to look for examples, information and cool new implementations.</MudTypography>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="4">
                <MudCard Elevation="99" Class="docs-credit-card">
                    <MudCardContent>
                        <MudTypography Class="credit-mui" Typo="Typo.h6">Material-UI</MudTypography>
                        <MudTypography Typo="Typo.body2">React component library.</MudTypography>
                        <MudTypography Typo="Typo.body2">This is where the base design for MudBlazor comes from, a good list of components and what options they may have.</MudTypography>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudContainer>
    <MudContainer>
        <div Style="margin-top: 128px;"></div>
    </MudContainer>
    <MudDivider/>
    <MudContainer>
        <div Style="padding-top: 64px; padding-bottom: 128px;">
            <MudTypography Typo="Typo.h4" Align="Align.Center">Special thanks</MudTypography>
            <MudTypography Typo="Typo.body1" Align="Align.Center">To the developers at my day to day job for taking your time with an IT guy like me.</MudTypography>
            <MudTypography Typo="Typo.body1" Align="Align.Center">The last 2-3 years you have been there when i wanted to know more about best practices, or when I needed input, what to do or not do, or solve bugs I couldn't solve myself.</MudTypography>
            <MudTypography Typo="Typo.body1" Align="Align.Center">Without you, I would've never been able to do this project today.</MudTypography>
        </div>
    </MudContainer>
</DocsPage>
<Footer />