@page "/project/vision"

<DocsPage>
    <MudContainer>
        <MudText Typo="Typo.h3" GutterBottom="true">Our Vision</MudText>

        <MudText Typo="Typo.h4" GutterBottom="true" Color="Color.Primary">Our Story</MudText>
        <MudText><LoremIpsum></LoremIpsum></MudText>

        <MudText Typo="Typo.h4" GutterBottom="true" Color="Color.Primary">Our Vision</MudText>
        <MudText><LoremIpsum></LoremIpsum></MudText>

    </MudContainer>
    <MudContainer>
        <div class="my-16"></div>
    </MudContainer>
</DocsPage>
<Footer />