@page "/customization/theming/overview"

<DocsPage>
    <DocsPageHeader Title="Theming" SubTitle="Customize MudBlazor so that it suits your needs. Change colors, typography, shapes and more.">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader Title="Theme Provider">
                <Description>
                    The Theme provider specifies all the colors, shapes, sizes and shadows to your layout.
                    No configuration or theme is needed, by default it will use MudBlazor's default theme.
                </Description>
            </SectionHeader>
            <SectionSource Code="OverviewThemesDefaultExample" NoToolbar="true" GitHubFolderName="Customization/Theming" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader Title="Variables">
                <Description>At the moment, it's possible to change the following theme types.</Description>
            </SectionHeader>
            <ul class="docs-list mx-2">
                <li><MudLink Href="/customization/theming/palette">Palette</MudLink></li>
                <li><MudText Inline="true">Shadows</MudText></li>
                <li><MudLink Href="/customization/theming/typography">Typography</MudLink></li>
                <li><MudText Inline="true">Layout Properties</MudText></li>
                <li><MudLink Href="/customization/theming/z-index">z-index</MudLink></li>
            </ul>
            <MudText Class="mt-4">You can find all the <MudLink Href="/customization/default-theme" Color="Color.Secondary">Default Theme</MudLink> values under customization.</MudText>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader Title="Scrollbar">
                <Description>The MudBlazor styled scrollbar can be turned off in the themeprovider with the <CodeInline>DefaultScrollbar</CodeInline> property.</Description>
            </SectionHeader>
            <SectionSource Code="OverviewThemesScrollbarExample" NoToolbar="true" GitHubFolderName="Customization/Theming" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Dark Palette">
                <Description>Dark palettes are integrated in <CodeInline>MudTheme</CodeInline>. Just set <CodeInline>IsDarkMode</CodeInline> to  <CodeInline>true</CodeInline>.</Description>
            </SectionHeader>
            <SectionContent FullWidth="true" Outlined="true" Class="pa-0">
                <iframe src="/iframe/docs/examples/themeprovider/darkpalette" class="ma-0 rounded">
                    <OverviewThemesDarkPaletteExample/>
                </iframe>
            </SectionContent>
            <SectionSource Code="OverviewThemesDarkPaletteExample" GitHubFolderName="Customization/OverviewThemesDarkPaletteExample"/>
        </DocsPageSection>
        
        <DocsPageSection>
            <SectionHeader Title="Custom Themes">
                <Description>To customize the theme, you need to give the ThemeProvider a new <CodeInline>MudTheme</CodeInline> class with the settings you want to change.
                    <CodeInline>Palette</CodeInline> defines the color of the Light Palette. <CodeInline>PaletteDark</CodeInline> on the other hand defines the colors of
                    the Dark Palette.</Description>
            </SectionHeader>
            <SectionSource Code="OverviewThemesCustomExample" NoToolbar="true" GitHubFolderName="Customization/Theming" />

            <MudText Class="my-2">This way, you only need to change the stuff you don't like in our default theme, but you can replace all the defaults completely if you want to.</MudText>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
<Footer />