@page "/customization/theming/palette"
<DocsPage>
    <DocsPageHeader Title="Palette" SubTitle="The palette is the colors the theme uses for all the components and main layout.">
    </DocsPageHeader>
    <DocsPageSection>
        <SectionHeader>
            <Title>Palette Colors</Title>
        </SectionHeader>
        <SectionContent DarkenBackground="true">
            <CardSimpleExample />
        </SectionContent>
        <SectionSource Code="CardSimpleExample" GitHubFolderName="Card" SnippetId="QulEmuba17txN3RH15"></SectionSource>
    </DocsPageSection>
</DocsPage>
<Footer />