@page "/customization/z-index"
<DocsPage>
    <DocsPageHeader Title="z-index">
        <Description>The z-index CSS property specifies a stack order of your elements to help you arrange the content.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader Title="MudBlazor z-index's">
                <Description>This is the z-order that is utilized by MudBlazor by default. Either design your application around it or change it in your theme.</Description>
            </SectionHeader>
            <ul class="docs-list mx-2">
                <li><MudText HtmlTag="span">Drawer</MudText></li>
                <li><MudText HtmlTag="span">Popover</MudText></li>
                <li><MudText HtmlTag="span">AppBar</MudText></li>
                <li><MudText HtmlTag="span">Dialog</MudText></li>
                <li><MudText HtmlTag="span">Snackbar</MudText></li>
                <li><MudText HtmlTag="span">Tooltip</MudText></li>
            </ul>
            <MudText Class="mt-4 mb-16">These values can be changed in the <CodeInline>MudTheme</CodeInline> class, where <MudLink Href="/customization/default-theme" Color="Color.Secondary">the defaults</MudLink> are displayed under z-index.</MudText>
        </DocsPageSection>
        <DocsPageSection>
            <MudDivider Class="my-16" Style="opacity:0;" />
            @*You are cool like a swimming pool!*@
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>