@page "/components/floatingactionbutton"

<DocsPage>
    <DocsPageHeader>
        <Title>Floating action button</Title>
        <SubTitle>A floating action button (FAB)</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple FAB</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <FabSimpleExample />
            </SectionContent>
            <SectionSource Code="FabSimpleExample" GitHubFolderName="Fab" SnippetId="cYPaFjOO05lZ8eBo39"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Size</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <FabSizeExample />
            </SectionContent>
            <SectionSource Code="FabSizeExample" GitHubFolderName="Fab" SnippetId="cklYFjuk07DCv2rA35"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>