@page "/components/fab"

<DocsPage>
    <DocsPageHeader>
        <Title>Floating action button</Title>
        <SubTitle>A floating action button (FAB)</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple FAB</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <FabSimpleExample/>
            </SectionContent>
            <SectionSource Code="FabSimpleExample"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Size</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
               <FabSizeExample/>
            </SectionContent>
            <SectionSource Code="FabSizeExample"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>