@page "/components/mudblazor-icons"
@using System.Reflection

<DocsPage>
    <DocsPageHeader>
        <Title>Mudblazor Icons</Title>
        <SubTitle>Over 1000 Material Design icons and a few custom ones.</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <MudText Typo="Typo.h4">Custom Icons</MudText>
        @if (MudIconsMaterial != null)
        {
            <DocsIcons List="MudIconsCustom" />
        }
        else
        {
            <MudText Typo="Typo.h5" Align="Align.Center">Loading...</MudText>
        }
        <MudText Typo="Typo.h4">Material Icons</MudText>
        @if (MudIconsMaterial != null)
        {
            <DocsIcons List="MudIconsMaterial" />
        }
        else
        {
            <MudText Typo="Typo.h5" Align="Align.Center">Loading...</MudText>
        }
    </DocsPageContent>
</DocsPage>

@code {

    List<MudIcons> MudIconsMaterial;
    List<MudIcons> MudIconsCustom;


    protected override async Task OnInitializedAsync()
    {
        await LoadMaterialIcons();
        await LoadCustomIcons();
    }

    public async Task LoadMaterialIcons()
    {
        var result = new List<MudIcons>();

        foreach (var prop in typeof(Icons.Material).GetProperties(BindingFlags.Public | BindingFlags.Static | BindingFlags.FlattenHierarchy))
        {
            result.Add(new MudIcons(prop.Name, prop.GetValue(null).ToString()));
        }
        await Task.WhenAll();
        MudIconsMaterial = result;
    }

    public async Task LoadCustomIcons()
    {
        var result = new List<MudIcons>();

        foreach (var prop in typeof(Icons.Custom).GetProperties(BindingFlags.Public | BindingFlags.Static | BindingFlags.FlattenHierarchy))
        {
            result.Add(new MudIcons(prop.Name, prop.GetValue(null).ToString()));
        }
        await Task.WhenAll();
        MudIconsCustom = result;
    }
}
