@page "/components/divider"

<DocsPage>
    <DocsPageHeader>
        <Title>Divider</Title>
        <SubTitle>A divider is a thin line that groups content in lists and layouts.</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>List Dividers</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-divider">
                <DividerListExample />
            </SectionContent>
            <SectionSource Code="DividerListExample" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Insert Dividers</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-divider">
                <DividerInsertExample />
            </SectionContent>
            <SectionSource Code="DividerInsertExample" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Middle Dividers</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <DividerMiddleExample />
            </SectionContent>
            <SectionSource Code="DividerMiddleExample" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Vertical Dividers</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-divider-vertical">
                <DividerVerticalExample />
            </SectionContent>
            <SectionSource Code="DividerVerticalExample" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>