@page "/components/divider"

<DocsPage>
    <DocsPageHeader Title="Divider" SubTitle="A divider is a thin line that groups content in lists and layouts."/>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>List Dividers</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-divider">
                <DividerListExample />
            </SectionContent>
            <SectionSource Code="DividerListExample" GitHubFolderName="Divider" SnippetId="QYPYwkPa52fNY8tU29" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Insert Dividers</Title>
                <Description>Adds a margin to the left side of the divider.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-divider">
                <DividerInsertExample />
            </SectionContent>
            <SectionSource Code="DividerInsertExample" GitHubFolderName="Divider" SnippetId="GkbEmYbu53700GhF27" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Middle Dividers</Title>
                <Description>Middle dividers have margin on both left and right side.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <DividerMiddleExample />
            </SectionContent>
            <SectionSource Code="DividerMiddleExample" GitHubFolderName="Divider" SnippetId="QubYmOFa28ijp2gd05" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Vertical Dividers</Title>
                <Description>Vertical dividers can be used inside parents with a set height, if the parent dosent have a set height but is displayed with flex use the <CodeInline>Flexitem</CodeInline> property.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-divider-vertical">
                <DividerVerticalExample />
            </SectionContent>
            <SectionSource Code="DividerVerticalExample" GitHubFolderName="Divider" SnippetId="" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>