@page "/components/divider"

<DocsPage>
    <DocsPageHeader>
        <Title>Divider</Title>
        <SubTitle>A divider is a thin line that groups content in lists and layouts.</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>List Dividers</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-divider">
                <DividerListExample />
            </SectionContent>
            <SectionSource Code="DividerListExample" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Insert Dividers</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-divider">
                <InsertDividerExample />
            </SectionContent>
            <SectionSource Code="InsertDividerExample" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>