@namespace MudBlazor
@using MudBlazor.Utilities
@inherits MudComponentBase;

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    @ChildContent
</div>

@code {

    protected string Classname =>
    new CssBuilder("mud-paper")
      .AddClass($"mud-paper-outlined", Outlined)
      .AddClass($"mud-paper-square", Square)
      .AddClass($"mud-elevation-{Elevation.ToString()}", !Outlined)
      .AddClass(Class)
    .Build();

    /// <summary>
    /// Child content of component.
    /// </summary>
    [Parameter] public int Elevation { set; get; } = 1;

    /// <summary>
    /// If true, border-radius is set to 0.
    /// </summary>
    [Parameter] public bool Square { get; set; }

    /// <summary>
    /// If true, card will be outlined.
    /// </summary>
    [Parameter] public bool Outlined { get; set; }

    /// <summary>
    /// Child content of the component.
    /// </summary>
    [Parameter] public RenderFragment ChildContent { get; set; }
}