@page "/mud/cookie-policy"

<DocsPage DisplayFooter="true">
    <DocsPageHeader Title="Cookie policy" SubTitle="" />
    <DocsPageContent>
        
        <DocsPageSection>
            <SectionHeader Title="Insights into MudBlazor's Cookie Utilization">
                <Description>
                    This Cookie Policy explains how MudBlazor ("we", "us", or "our") uses cookies and similar technologies on our website <MudLink Href="https://mudblazor.com/" Target="_blank">MudBlazor</MudLink>. By using the Service, you consent to the use of cookies and similar technologies as described in this policy.
                </Description>
            </SectionHeader>
            
            
            <DocsPageSection>
                <SectionHeader Title="What are cookies?">
                    <Description>
                        Cookies are small pieces of text sent by your web browser by a website you visit. A cookie file is stored in your web browser and allows the Service or a third-party to recognize you and make your next visit easier and the Service more useful to you.
                        <br />
                        Cookies can be "persistent" or "session" cookies. Persistent cookies remain on your personal computer or mobile device when you go offline, while session cookies are deleted as soon as you close your web browser.
                    </Description>
                </SectionHeader>
            </DocsPageSection>
            
            <DocsPageSection>
                <SectionHeader Title="How MudBlazor uses cookies?">
                    <Description>
                        When you use and access the Service, we may place a number of cookies files in your web browser.
                        <br />
                        <br />
                        We use cookies for the following purposes:
                        <div class="d-flex flex-column px-2">
                            <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                <div class="pl-4 docs-line-height-normal">
                                    To enable certain functions of the Service
                                </div>
                            </MudBadge>
                            <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                <div class="pl-4 docs-line-height-normal">
                                    To provide analytics
                                </div>
                            </MudBadge>
                            <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                <div class="pl-4 docs-line-height-normal">
                                    To store your preferences
                                </div>
                            </MudBadge>
                            <MudBadge Class="mt-1" Color="Color.Primary" Dot="true" Origin="Origin.CenterLeft">
                                <div class="pl-4 docs-line-height-normal">
                                    To enable advertisements delivery, including behavioral advertising
                                </div>
                            </MudBadge>
                        </div>
                        <br />
                        We use both session and persistent cookies on the Service and we use different types of cookies to run the Service:
                        <br />
                        Essential cookies. We may use essential cookies to authenticate users and prevent fraudulent use of user accounts.
                        Third-party cookies. In addition to our own cookies, we may also use various third-parties cookies to report usage statistics of the Service, deliver advertisements on and through the Service, and so on.
                    </Description>
                </SectionHeader>
            </DocsPageSection>
            
            <DocsPageSection>
                <SectionHeader Title="What are your choices regarding cookies?">
                    <Description>
                        If you'd like to delete cookies or instruct your web browser to delete or refuse cookies, please visit the help pages of your web browser.
                        <br />
                        Please note, however, that if you delete cookies or refuse to accept them, you might not be able to use all of the features we offer, you may not be able to store your preferences, and some of our pages might not display properly.
                    </Description>
                </SectionHeader>
            </DocsPageSection>
            
            <DocsPageSection>
                <SectionHeader Title="Where can you find more information about cookies?">
                    <Description>
                        You can learn more about cookies and the following third-party websites:
                        <br />
                        <br />
                        All About Cookies: <MudLink Href="http://www.allaboutcookies.org/" Target="_blank">http://www.allaboutcookies.org/</MudLink>
                        <br />
                        Network Advertising Initiative: <MudLink Href="http://www.networkadvertising.org/" Target="_blank">http://www.networkadvertising.org/</MudLink>
                        <br />
                        <br />
                        Contact Us
                        <br />
                        If you have any questions about this Cookie Policy, please contact us by visiting the following link: <MudLink Href="https://github.com/MudBlazor/MudBlazor/issues" Target="_blank">MudBlazor GitHub page</MudLink>
                    </Description>
                </SectionHeader>
            </DocsPageSection>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>