.mud-cc-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  z-index: calc(var(--mud-zindex-snackbar) + 1);
}

.mud-cc-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  width: calc(100% - 64px);
  max-width: 512px;
  pointer-events: all;
  border-radius: var(--mud-default-borderradius);
  border-width: 1px;
  border-color: var(--mud-palette-primary);
}

.mud-cc-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.mud-cc-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
