.lp-calc-buttons {
  background-color: var(--mud-palette-background-gray);
  border-radius: 0 0 60px 60px;

  button {
    font-weight: 600;
    font-size: 22px;
    height: 100%;
    width: 100%;
  }
}
