.announcement-card {
  transition: background-color 150ms cubic-bezier(.4,0,.2,1) 0ms;

  @media(hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--mud-palette-action-default-hover);
      cursor: pointer;
    }
  }

  &:active {
    background-color: var(--mud-palette-action-default-hover);
    cursor: pointer;
  }

  .mud-card-content {
    min-height: 172px;
  }
}

.announcement-container {
  font-family: "Public Sans", "Roboto", "Arial", "sans-serif";
  font-weight: 600;
}
