
.docs-extensions-clamp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  min-height: calc(1.5em * 2);
}
