:root {
    --section-diff: calc(calc(calc(100vw - 16px) * 0.106) + calc(128 * 1px) - 0.106 * calc(calc(100vw - 15px)/2 - 1080px / 2));
}

.mudblazor-landingpage {
    .mud-button {
        text-transform: none;
    }

    .mud-tabs-toolbar-transparent {
        background-color: transparent;

        .mud-tab {
            min-width: auto;
            min-height: unset;
            padding: 3px 12px;
            text-transform: none;
            border-radius: 9999px;
            color: var(--mud-palette-text-secondary);
        }

        .mud-tab.mud-tab-active {
            color: var(--mud-palette-primary-text);
            transition: color .2s ease-in-out;
        }

        .mud-tab:hover {
            color: var(--mud-palette-text-primary);
            background-color: transparent;
        }

        .mud-tab-slider.mud-tab-slider-horizontal {
            height: 100%;
            border-radius: 9999px;
            z-index: -1;
        }
    }

    .mud-button-gradient-primary {
        position: relative;
        background-size: 300% 100%;
        background-image: linear-gradient(to right, #766ae7, #594ae2, #ff4081, #594ae2);
        transition: all .2s ease-in-out;

        &:hover {
            transition: all .2s ease-in-out;
            background-position: 100% 0;
        }
    }

    .landing-h1-gradient {
        background: linear-gradient(82deg, rgba(89,74,226,1) 0%, rgba(255,102,153,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .mud-landingpage-section {
        position: relative;

        .stripe {
            width: 100%;
            height: 200px;

            &.gradient {
                background: linear-gradient(82deg, rgba(89,74,226,1) 0%, rgba(116,103,239,1) 100%);
            }

            &.surface {
                background-color: var(--mud-palette-surface);
            }
        }

        section {
            position: relative;
        }

        .section-background-container {
            position: absolute;
            width: 100%;
            height: 100%;

            .section-background {
                position: relative;
                height: 100%;
                width: 100%;
                overflow: hidden;

                &.straight {
                    height: calc(100% + var(--section-diff));
                }

                &.skew {
                    transform: skewY(-12deg);
                }

                &.sweet {
                    background-color: #F9FAFC;
                }

                &.surface {
                    background-color: var(--mud-palette-surface);
                }
            }
        }

        .section-container {
            z-index: 1;
            position: relative;

            &.padding-straight {
                padding: 128px 0px;
            }

            &.padding-skew {
                padding: var(--section-diff) 0px;
            }
        }
    }

    .code-animation-container {
        height: 667px;
    }

    .mud-landingpage-editor {
        position: relative;
        color: #ededed;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(89, 74, 226, .35);
        border-radius: 8px;
        background-color: var(--mud-palette-dark-lighten);
        z-index: -1;

        pre {
            font-family: SourceCodePro, Consolas,"Liberation Mono",Menlo,Courier,monospace;
            font-weight: 500;
            font-size: 14px;
            -webkit-font-smoothing: subpixel-antialiased;
        }

        .linenumber {
            color: rgba(152, 142, 241, .4);
        }

        .codearea {
            min-width: 100px;
            max-width: 720px;
            overflow: hidden;
            display: inline-block;

            .htmlTagDelimiter {
                display: inline-flex;
            }
        }

        .absolute {
            top: 0px;
            right: 0px;
            height: 100%;
            width: 42px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(26, 22, 67, .5) 100%);
        }
    }

    .landing-link {
        display: flex;
        align-items: center;
        font-weight: 700;
        width: max-content;
        font-size: .875rem;
        color: #5E5BF0 !important;
        text-decoration: none;
        transform: perspective(1px) translateZ(0);
        transition: all 0.3s;
        transition-duration: 0.3s;

        .mud-icon-root {
            transform: translateZ(0);
        }

        &:hover {
            color: #ff4081 !important;
            text-decoration: none;

            .mud-icon-root {
                animation-name: lp-icon-wobble;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
            }
        }
    }

    .dark-section-text {
        color: var(--mud-palette-dark-text);
    }


    @media (max-width:960px) {
        .world-map {
            display: flex;
            align-items: end;
            transform: skewY(-12deg);

            .world-map-wrapper {
                overflow: hidden;

                svg {
                    margin-bottom:-64px;
                    transform: skewY(12deg);
                }
            }
        }
    }

    @media (min-width:960px) {
        .world-map-item {
            position: relative;
        }
    }

    .world-map {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        .world-map-wrapper {
            position: relative;
            width: 100%;
        }

        svg {
            @media (min-width:960px) {
                margin-top: -128px;
                margin-right: -50%;
            }
        }

        circle {
            fill: #adbdcc;
        }

        #United_States, #Germany, #United_Kingdom, #India, #Italy, #Netherlands, #Australia, #Brazil, #Russia, #Spain, #South_Africa, #Egypt, #Sweden, #Austria, #Japan {
            circle {
                fill: #5e5bf0;
            }
        }
    }
}

    .typed-code {
        display: table-caption;
        overflow: hidden;
        white-space: nowrap;
        border-right: .15em solid transparent;
        width: 0;

        &.card-media {
            animation: typing 2s steps(20, end) forwards, blinking .8s 5;
        }

        &.card-typo {
            animation: typing 2s steps(4, end) forwards, blinking .8s infinite;
            animation-delay: 4s;
        }
    }

    .code-change-card {
        .mud-card-media {
            animation-name: code-animate-card-media;
            animation-duration: .25s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-delay: 2.5s;
        }

        .mud-typography-body1 {
            animation-name: code-animate-card-typo;
            animation-duration: .25s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-delay: 6.5s;
        }
    }

    @keyframes code-animate-card-media {
        from {
            height: 0;
        }

        to {
            height: 200px;
        }
    }

    @keyframes code-animate-card-typo {
        to {
            font-size: var(--mud-typography-h5-size);
            font-family: var(--mud-typography-h5-family);
            font-weight: var(--mud-typography-h5-weight);
            line-height: var(--mud-typography-h5-lineheight);
            letter-spacing: var(--mud-typography-h5-letterspacing);
            text-transform: var(--mud-typography-h5-text-transform);
        }
    }
    /*Typing Effect*/
    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }
    /*Code Line Blinking Effect*/
    @keyframes blinking {
        from {
            border-color: transparent
        }

        to {
            border-color: #5e5bf0;
        }
    }
    /*Icon Wobble*/
    @keyframes lp-icon-wobble {
        16.65% {
            transform: translateX(6px);
        }

        33.3% {
            transform: translateX(-5px);
        }

        49.95% {
            transform: translateX(4px);
        }

        66.6% {
            transform: translateX(-2px);
        }

        83.25% {
            transform: translateX(1px);
        }

        100% {
            transform: translateX(0);
        }
    }