.mudblazor-landingpage {
    .mud-button {
        text-transform: none;
    }

    .landing-h1-gradient {
        background: linear-gradient(82deg, rgba(89,74,226,1) 0%, rgba(255,102,153,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.mud-landingpage-top-section {
    position: relative;

    section {
        position: relative;

        &:first-child {
            height: 800px;
        }
    }

    .mud-landingpage-grid {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: -1;
        pointer-events: none;

        .grid {
            height: 200%;
            align-content: end;
            position: absolute;
            width: 100%;
            display: grid;
            grid-template-rows: repeat(auto-fill,128px);
            grid-template-columns: repeat(12);
            min-width: 0;
        }

        .mud-landingpage-grid-background {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            transform: skewY(-12deg);

            .background {
                grid-row: 1/-4;
                grid-row: 1/-1;
                grid-column: 1/-1;
                z-index: -1;
                background-color: #F9FAFC;
            }
        }

        .mud-landingpage-grid-stripes {
            overflow: hidden;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            transform: skewY(-12deg);
            -webkit-backface-visibility: hidden;


            .stripe {
                grid-column: 1 / 13;

                &.half-gradient {
                    background: linear-gradient(82deg, rgba(121,103,243,1) 0%, rgba(94,73,231,1) 100%);
                }

                &.main-gradient {
                    grid-row: -2;
                    background: linear-gradient(82deg, rgba(89,74,226,1) 0%, rgba(116,103,239,1) 100%);
                }

                &.main-half-gradient {
                    grid-row: -1;
                    height: 64px;
                    background: linear-gradient(82deg, rgba(89,74,226,1) 0%, rgba(255,255,255,1) 80%);
                }
            }
        }
    }
}