@namespace MudBlazor.Docs.Examples

<MudSelect Label="Food" ValueChanged="OnSelectedValue">
    <MudSelectItem Value="pizza">Pizza</MudSelectItem>
    <MudSelectItem Value="burgers">Burgers</MudSelectItem>
    <MudSelectItem Value="hotdog">Hot Dogs</MudSelectItem>
</MudSelect>

<MudSelect Label="Food" ValueChanged="OnSelectedValue" HelperText="With helper text">
    <MudSelectItem Value="pizza">Pizza</MudSelectItem>
    <MudSelectItem Value="burgers">Burgers</MudSelectItem>
    <MudSelectItem Value="hotdog">Hot Dogs</MudSelectItem>
</MudSelect>

<MudSelect Placeholder="Brands" ValueChanged="OnSelectedValue" HelperText="Disabled" Disabled="true">
    <MudSelectItem Value="volvo">Volvo</MudSelectItem>
    <MudSelectItem Value="saab">Saab</MudSelectItem>
    <MudSelectItem Value="scania">Scania</MudSelectItem>
</MudSelect>
<div class="flex-column mt-4 mb-n3">
    Selected value: @Item
</div>

@code {

    private string Item { get; set; } = "Nothing selected";

    private void OnSelectedValue(string value)
    {
        Item = value;
    }

}
