$mud-theme-props: default, primary, secondary, info, success, warning, danger,dark;

@each $color in $mud-theme-props {
    .mud-color-#{$color} {
        background-color: var(--mud-theme-#{$color});
    }

    .mud-color-text-#{$color} {
        color: var(--mud-theme-#{$color});
    }
}
