@mixin inputplaceholder {
  // CSS Pseudo-Element
  &::placeholder {
    @content
  }
  /* - Chrome ≤56,
    - Safari 5-10.0
    - iOS Safari 4.2-10.2
    - Opera 15-43
    - Opera Mobile 12-12.1
    - Android Browser 2.1-4.4.4
    - Samsung Internet ≤6.2
    - QQ Browser */
  &::-webkit-input-placeholder {
    @content
  }
  // Firefox 4-18
  &:-moz-placeholder {
    @content
  }
  // Firefox 19-50
  &::-moz-placeholder {
    @content
  }
  // IE 10–11 - IE Mobile 10-11
  &:-ms-input-placeholder {
    @content
  }
  // Edge
  &::-ms-input-placeholder {
    @content
  }
}

// Hides content visually while leaving it in the accessibility tree.
@mixin sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@mixin slider-track {
  &::-webkit-slider-runnable-track {
    @content
  }
  // Firefox
  &::-moz-range-track {
    @content
  }
}

@mixin slider-thumb {
  &::-webkit-slider-thumb {
    @content
  }
  // Firefox
  &::-moz-range-thumb {
    @content
  }
}
