@page "/components/radio"

<DocsPage>
    <DocsPageHeader Title="Radio" SubTitle="Radio buttons allow the user to select a single choice from a group of options." />
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>RadioGroup</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <RadioGroupExample />
            </SectionContent>
            <SectionSource Code="RadioGroupExample" GitHubFolderName="Radio"  />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Content Placement</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" FullWidth="true">
                <RadioContentPlacementExample />
            </SectionContent>
            <SectionSource Code="RadioContentPlacementExample" GitHubFolderName="Radio"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
