@page "/components/radio"

<DocsPage>
    <DocsPageHeader Title="Radio" Api="radio" SubTitle="Radio buttons allow the user to select a single choice from a group of options.">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>RadioGroup</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <RadioGroupExample />
            </SectionContent>
            <SectionSource Code="RadioGroupExample" GitHubFolderName="Radio" SnippetId="mEvOFZuO58RPdlZd38" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Label placement</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" FullWidth="true">
                <RadioLabelPlacementExample />
            </SectionContent>
            <SectionSource Code="RadioLabelPlacementExample" GitHubFolderName="Radio"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
