@page "/components/radio"

<DocsPage>
    <DocsPageHeader>
        <Title>Radio</Title>
        <SubTitle>
            Radio buttons allow the user to select a single choice from a group of options.
        </SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>RadioGroup</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <RadioGroupExample />
            </SectionContent>
            <SectionSource Code="RadioGroupExample" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Label placement</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <RadioLabelPlacementExample />
            </SectionContent>
            <SectionSource Code="RadioLabelPlacementExample"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
