@page "/features/elevation"

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageHeader Title="Elevation"
        SubTitle="Elevation is the relative distance between two surfaces along the z-axis.">
        <Description>What this means in practice is that you can use a shadow on a material surface to elevate it from another material surface visually.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
                <Description>
                    <MudText>Displayed below are the different elevation variants.</MudText>
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" Class="demo-elevation">
                <ElevationUsageExample />
            </SectionContent>
            <SectionSource Code="ElevationUsageExample" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>