@inherits LayoutComponentBase

@Body

<div class="d-flex" style="position: absolute; bottom: 0; right: 0;">
    <MudFab Color="Color.Secondary" Icon="@Icons.Material.ArrowBack" Class="mt-auto mb-4 mr-4" Link="/getting-started/wireframes/"/>
</div>
