@page "/getting-started/wireframes"

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageHeader Title="Wireframes"
        SubTitle="These small templates or as we call them wireframes can be copied directly from here or just be used for inspiration.">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Examples</Title>
            </SectionHeader>
            <MudGrid>
                <MudItem>
                    <MudCard>
                        <MudCardMedia Image="_content/MudBlazor.Docs/images/wireframes/wireframe.png" Height="200" Style="width:450px;" Class="rounded" />
                        <MudCardContent>
                            <MudText Typo="Typo.body1">Base</MudText>
                            <MudText Typo="Typo.body2">Classic layout with a drawer and appbar.</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem>
                    <MudCard>
                        <MudCardMedia Image="_content/MudBlazor.Docs/images/wireframes/wireframe.png" Height="200" Style="width:450px;" Class="rounded" />
                        <MudCardContent>
                            <MudText Typo="Typo.body1">Base</MudText>
                            <MudText Typo="Typo.body2">Classic layout with a drawer and appbar.</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem>
                    <MudCard>
                        <MudCardMedia Image="_content/MudBlazor.Docs/images/wireframes/wireframe.png" Height="200" Style="width:450px;" Class="rounded" />
                        <MudCardContent>
                            <MudText Typo="Typo.body1">Base</MudText>
                            <MudText Typo="Typo.body2">Classic layout with a drawer and appbar.</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
<Footer />


