<MudSimpleTable Elevation="0" Hover="true">
    <thead>
    <tr>
        <th>Placeholder</th>
        <th>Description</th>
        <th>Regex</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><CodeInline>a</CodeInline></td>
        <td>Letters, lower- and upper-case, both ASCII and Unicode</td>
        <td>\p{L}</td>
    </tr>
    <tr>
        <td><CodeInline>0</CodeInline></td>
        <td>Digits 0-9</td>
        <td>\d</td>
    </tr>
    <tr>
        <td><CodeInline>*</CodeInline></td>
        <td>Letters (Unicode) or digits</td>
        <td>\p{L}|\d</td>
    </tr>
    </tbody>
</MudSimpleTable>