@namespace MudBlazor.Docs.Examples

<MudSlider T="int" @bind-Value="@_value" @bind-NullableValue="@_nullableValue" />
<div class="d-flex flex-column align-center">
    <MudText Class="pb-4">@_value</MudText>
    <MudText Class="pb-4">Nullable Value: @(_nullableValue is null ? "null" : _nullableValue)</MudText>
    <MudButton @onclick="Reset" Variant="Variant.Filled" Color="Color.Primary">Reset to Null</MudButton>
</div>

@code {
    private int _value;
    private int? _nullableValue;

    private void Reset() => _nullableValue = null;
}
