@namespace MudBlazor.Docs.Examples

<MudGrid>
    <MudItem>
        <MudSlider Value="@value">Volume</MudSlider>
        <MudSlider Disabled="true" Value="@(20)">Disabled Slider</MudSlider>
    </MudItem>
    <MudItem>
        <div class="demo-slider-filler"></div>
        <MudSlider Value="@value" />
        <div class="demo-slider-filler"></div>
        <MudSlider Value="@value" Disabled="true" />
    </MudItem>
</MudGrid>


@code {
    double value = 50.0;
}