@namespace MudBlazor.Docs

<MudGrid>
    <MudItem>
        <MudSlider Value="50">Volume</MudSlider>
        <MudSlider Disabled="true" Value="20">Disabled Slider</MudSlider>
    </MudItem>
    <MudItem>
        <div class="demo-slider-filler"></div>
        <MudSlider Value="50" />
        <div class="demo-slider-filler"></div>
        <MudSlider Value="50" Disabled="true" />
    </MudItem>
</MudGrid>