html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
    position: relative;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.blazor-logo {
    width: 49px;
    padding-right: 10px;
    display: flex;
    padding-bottom: 4px;
    align-self: center;
}

.blazor-logo-wrapper {
    display: flex;
}

.navbar-brand {
    color: #6c757d;
}

    .navbar-brand:hover {
        color: #333;
    }

#unapp-page #colorlib-footer .copy {
    padding: 0.7em 0;
}

#unapp-page #colorlib-footer {
    padding-top: 0;
}

#unapp-page a:focus {
    color: #fff;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.save-icon {
    font-size: 14px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* Error List */
.main .error-list {
    max-width: 100%;
    width: 97%;
    position: fixed;
    bottom: 0;
    max-height: 40%;
    overflow-y: visible;
    left: 1.5%;
}

.toggle-error-list-btn:focus {
    outline-width: 0;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

/* User Page */
.user-page-loader {
    position: fixed;
    top: 43%;
    left: 47.4%;
    z-index: 11;
}

    .user-page-loader .spinner-border {
        width: 5rem;
        height: 5rem;
        z-index: 11;
    }

.user-page-loader-text {
    width: 99%;
    position: fixed;
    top: 58%;
    font-size: 30px;
    z-index: 11;
}

.user-page-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    z-index: 10;
}

/* App Loader */
.app-loader {
    position: fixed;
    top: 41%;
    left: 47.5%;
}

    .app-loader .spinner-border {
        width: 5rem;
        height: 5rem;
    }

/* Repl Navigation */
.navbar-header .nav-action {
    position: relative;
    padding: 8px;
    font-size: 18px;
    text-decoration: none;
    color: #6c757d;
}

    .navbar-header .nav-action:after {
        content: "";
        display: block;
        width: 100%;
        background: #4aca85;
        height: 3px;
        bottom: -1px;
        left: 0;
        position: absolute;
        pointer-events: none;
        border-radius: 3px;
        transition: all .15s;
        opacity: 0;
        transform: scale(.95);
    }

    .navbar-header .nav-action:hover:after {
        opacity: 1;
        transform: scale(1);
    }

.repl-navbar {
    margin-bottom: 0;
}

/* Splitter */
.flex {
    display: flex;
    flex-direction: row;
}

.gutter.gutter-horizontal {
    cursor: ew-resize;
    background-color: #ccc;
}

/* Editor */
.overflowingContentWidgets {
    display: none;
}

#user-code-editor {
    /*padding-top: 10px;*/
    background-color: #FFF;
}

.code-editor {
    height: 100%;
    border: 1px solid #ccc;
    border-top: none;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }

    .app-loader {
        left: 43.5%;
    }

    .user-page-loader {
        left: 44%;
    }
}

@media (max-width: 576px) {
    .app-loader {
        left: 40%;
    }

    .user-page-loader {
        left: 40%;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    /*.main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }*/

    .navbar-toggler {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .app-loader {
        left: 46%;
    }

    .user-page-loader {
        left: 46%;
    }
}

/* Save Snippet Popup */
.save-snippets-popup {
    position: absolute;
    top: 55px;
    left: 125px;
    width: 340px;
    height: 200px;
    z-index: 100;
    padding: 5px 20px;
    overflow: visible;
}

.snippet-save-warnings li {
    list-style-type: none;
    position: relative;
    padding-left: 5px;
    margin-left: 10px;
}

    .snippet-save-warnings li:before {
        content: "\25BA \0020";
        font-size: 6px;
        position: absolute;
        top: 5px;
        left: -10px;
    }

.snippet-link-disclaimer {
    font-size: 0.8em;
    margin-bottom: 8px;
}

.save-snippet-loader {
    position: fixed;
    margin-left: 10px;
    margin-top: 2px;
}

.save-snippet-callout {
    margin-left: -6px;
    top: -12px;
    left: 50%;
    width: 12px;
    height: 12px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #fff;
    box-sizing: border-box;
    position: absolute;
    pointer-events: none;
}

.snippet-link-wrapper {
    display: flex;
    margin-top: 10px;
}

    .snippet-link-wrapper input[readonly] {
        background-color: #fff;
    }

/* Heading section of pages */
#unapp-page .video-hero {
    background-image: url(../img/code-editor.jpg);
    background-size: auto;
    background-position: top center;
}

    #unapp-page .video-hero.index-page {
        height: 700px;
    }

    #unapp-page .video-hero.getting-started-page {
        height: 500px;
    }

/* Page Notifications */
.page-notifications-container {
    position: absolute;
    top: 75px;
    right: 10px;
    width: 400px;
}

/* Tabs Manager */
.nav-tabs > li {
    height: 40px;
}

#new-tab-input {
    height: 27px;
    width: 160px;
}

.tabs-wrapper .tab {
    cursor: pointer;
}

.tab-name {
    display: flex;
    padding: 3px 10px;
    height: 100%;
}

.tab-input {
    padding: 5px 10px;
}

.tab-name-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    display: inline-block;
    white-space: nowrap;
    padding-right: 5px;
}

.close-tab {
    width: 16px;
    height: 16px;
    line-height: initial;
    padding-left: 3.5px;
    margin-top: 8px;
    border-radius: 10px;
}

    .close-tab:hover {
        background-color: #BBB;
    }

.new-tab-button {
    cursor: pointer;
}
