
.docs-nav-fader {
    display: block;
    position: sticky;
    top: 0;
    height: 40px;
    background-image: linear-gradient(to top,rgba(255,255,255,0),var(--mud-palette-drawer-background));
    z-index: 100;
}

.docs-line-height-normal{
  line-height: normal;
}

.docs-no-text-transform{
  text-transform: none;
}

.docs-search-bar {
    & .mud-input {
        height: 42px;
    }

    &.mud-input-control {
        background-color: rgba(236, 236, 236, 0.5);
        margin-bottom: 5px;
        height: 42px;
        border-radius: var(--mud-default-borderradius);
    }

    & .mud-input.mud-input-outlined .mud-input-outlined-border {
        border: none;
        border-radius: var(--mud-default-borderradius);
    }
}