<MudDivider />
<MudContainer>
    <div class="docs-footer">
        <MudGrid>
            <MudItem xs="12" sm="3">
                <h1>MudBlazor</h1>
            </MudItem>
            <MudItem xs="4" sm="3">
                <MudText>Community</MudText>
                <ul>
                    <li>
                        <MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor" Target="_blank">Github</MudLink>
                    </li>
                    <li>
                        <MudLink Typo="Typo.body2" Href="https://gitter.im/MudBlazor/community" Target="_blank">Gitter</MudLink>
                    </li>
                    <li>
                        <MudLink Typo="Typo.body2" Href="/project/Team">Team</MudLink>
                    </li>
                </ul>
            </MudItem>
            <MudItem xs="4" sm="3">
                <MudText>Contact</MudText>
                <ul>
                    <li>
                        <MudLink Typo="Typo.body2" Href="https://gitter.im/garderoben" Target="_blank">Gitter</MudLink>
                    </li>
                    <li>
                        <MudLink Typo="Typo.body2" Href="mailto:jonny@gardnet.nu">Email</MudLink>
                    </li>
                </ul>
            </MudItem>
            <MudItem xs="4" sm="3">
                <MudText>Project</MudText>
                <ul>
                    <li>
                        <MudLink Typo="Typo.body2" Href="/project/about">About</MudLink>
                    </li>
                    <li>
                        <MudLink Typo="Typo.body2" Href="/project/credit">Credits</MudLink>
                    </li>
                </ul>
            </MudItem>
        </MudGrid>
        <MudText Typo="Typo.body2">Currently v1.1.4. Released under the <MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/blob/master/LICENSE" Target="_blank">MIT License.</MudLink> Copyright © 2020 MudBlazor.</MudText>
    </div>
</MudContainer>
