<MudDivider />
<MudContainer>
    <div class="docs-footer">
        <Grid>
            <Item xs="12" sm="3">
                <h1>MudBlazor</h1>
            </Item>
            <Item xs="12" sm="3">
                <Typography>Community</Typography>
                <ul>
                    <li>
                        <MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor" Target="_blank">Github</MudLink>
                    </li>
                    <li>
                        <MudLink Typo="Typo.body2" Href="https://gitter.im/MudBlazor/community" Target="_blank">Gitter</MudLink>
                    </li>
                </ul>
            </Item>
            <Item xs="12" sm="3">
                <Typography>Contact</Typography>
                <ul>
                    <li>
                        <MudLink Typo="Typo.body2" Href="https://gitter.im/garderoben" Target="_blank">Gitter</MudLink>
                    </li>
                    <li>
                        <MudLink Typo="Typo.body2" Href="mailto:jonny@gardnet.nu">Email</MudLink>
                    </li>
                </ul>
            </Item>
            <Item xs="12" sm="3">
                <Typography>Project</Typography>
                <ul>
                    <li>
                        <MudLink Typo="Typo.body2" Href="/project/about">About</MudLink>
                    </li>
                    <li>
                        <MudLink Typo="Typo.body2" Href="/project/credit">Credits</MudLink>
                    </li>
                </ul>
            </Item>
        </Grid>
        <Typography Typo="Typo.body2">Currently v1.0.2. Released under the <MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor/blob/master/LICENSE" Target="_blank">MIT License.</MudLink> Copyright © 2020 MudBlazor.</Typography>
    </div>
</MudContainer>
