@inherits LayoutComponentBase

<ThemeProvider/>
<MarkdownScripts />

    <Layout DrawerOpen="@_drawerOpen">
        <AppBar Elevation="99">
            <IconButton Icon="@Icons.Material.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <AppBarSpacer />
            <IconButton Icon="@Icons.Custom.GitHub" Color="Color.Inherit" Link="https://github.com/Garderoben/MudBlazor" Target="_blank" />
        </AppBar>
        <Drawer Elevation="99">
            <DrawerHeader>
                <span class="mudblazor-brand">
                    MudBlazor
                </span>
            </DrawerHeader>
            <NavMenu />
        </Drawer>
        <MainContent Class="mudblazor-main-content">
            @Body
        </MainContent>
    </Layout>

    @code {

        bool _drawerOpen = true;

        void DrawerToggle()
        {
            _drawerOpen = !_drawerOpen;
        }
    }

