
<MudNavMenu Class="mt-4">
    <MudNavGroup Title="Getting Started" Expanded="false">
        <MudNavLink Href="getting-started/installation">Installation</MudNavLink>
        <MudNavLink Href="getting-started/usage">Usage</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Components" Expanded="true">
        <MudNavGroup Title="Layout" Expanded="true">
            <MudNavLink Href="components/container">Container</MudNavLink>
            <MudNavLink Href="components/grid">Grid</MudNavLink>
            <MudNavLink Href="components/themes">Themes</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Inputs" Expanded="true">
            <MudNavLink Href="components/button">Button</MudNavLink>
            <MudNavLink Href="components/iconbutton">IconButton</MudNavLink>
            <MudNavLink Href="components/checkbox">Checkbox</MudNavLink>
            <MudNavLink Href="components/fab">FAB</MudNavLink>
            <MudNavLink Href="components/radio">Radio</MudNavLink>
            <MudNavLink Href="components/select">Select</MudNavLink>
            <MudNavLink Href="components/slider">Slider</MudNavLink>
            <MudNavLink Href="components/switch">Switch</MudNavLink>
            <MudNavLink Href="components/textfield">Text Field</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Navigation" Expanded="true">
            <MudNavLink Href="components/appbar">AppBar</MudNavLink>
            <MudNavLink Href="components/drawer">Drawer</MudNavLink>
            <MudNavLink Href="components/link">Link</MudNavLink>
            <MudNavLink Href="components/navmenu">Nav Menu</MudNavLink>
            <MudNavLink Href="components/tabs">Tabs</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Feedback" Expanded="true">
            <MudNavLink Href="components/dialog">Dialog</MudNavLink>
            <MudNavLink Href="components/snackbar">Snackbar</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Data Display" Expanded="true">
            <MudNavLink Href="components/card">Card</MudNavLink>
            <MudNavLink Href="components/divider">Divider</MudNavLink>
            <MudNavLink Href="components/expansionpanel">Expansion Panel</MudNavLink>
            <MudNavLink Href="components/icons">Icons</MudNavLink>
            <MudNavLink Href="components/mudblazor-icons">Mudblazor Icons</MudNavLink>
            <MudNavLink Href="components/list">List</MudNavLink>
            <MudNavLink Href="components/paper">Paper</MudNavLink>
            <MudNavLink Href="components/table">Table</MudNavLink>
            <MudNavLink Href="components/simpletable">Simple Table</MudNavLink>
            <MudNavLink Href="components/tooltip">Tooltip</MudNavLink>
            <MudNavLink Href="components/typography">Typography</MudNavLink>
        </MudNavGroup>
    </MudNavGroup>
    @*<MudListNested Title="Components API" Expanded="false">
            <MudListNavItem Href="/nothinghere404">Nothing here...</MudListNavItem>
        </MudListNested>*@
    <MudNavGroup Title="System" Expanded="false">
        @*<MudListNavItem Href="system/colors">Colors</MudListNavItem>*@
        <MudNavLink Href="system/elevation">Elevation</MudNavLink>
        <MudNavLink Href="system/spacing">Spacing</MudNavLink>
        @*<MudListNavItem Href="system/transitions">Transitions</MudListNavItem>*@
    </MudNavGroup>
</MudNavMenu>
<div class="docs-nav-filler"></div>

@code {

}
