@namespace MudBlazor
@using MudBlazor.Utilities


<div class="mud-drawer-root mud-drawer-docked">
    <div class="@Classname">
        @ChildContent
    </div>
</div>

@code {

    protected string Classname =>
    new CssBuilder("mud-paper-root")
      .AddClass($"mud-drawer-paper")
      .AddClass($"mud-drawer-paper-anchor-left")
      .AddClass($"mud-paper-elevation1")
      .AddClass($"mud-drawer--open", DrawerOpen)
      .AddClass($"mud-drawer--closed", !DrawerOpen)
      .AddClass(Class)
    .Build();

    [Parameter] public string Class { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [CascadingParameter] bool DrawerOpen { get; set; }

}