@namespace MudBlazor
@inherits MudIComponent

<div @attributes="UserAttributes" style="@Stylename" class="@Classname">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>
