@namespace MudBlazor
@using MudBlazor.Utilities
@inherits MudComponentBase



@if (LinkToIndex)
{
    <a class="@Classname" style="@Style" href="/">
        @ChildContent
    </a>
}
else
{
    <div class="@Classname" style="@Style">
        @ChildContent
    </div>
}


@code {

    protected string Classname =>
    new CssBuilder("mud-drawer-header")
      .AddClass(Class)
    .Build();

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool LinkToIndex { get; set; }

}