@inherits LayoutComponentBase

<Layout DrawerOpen="@_drawerOpen">
    <AppBar Elevation="0">
        <IconButton Icon="@Icons.Material_Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
        <AppBarSpacer/>
        <IconButton Icon="@Icons.Brand_GitHub" Color="Color.Inherit" Link="https://github.com/Garderoben/MudBlazor"/>
    </AppBar>
    <Drawer>
        <DrawerHeader>
            <span class="mudblazor-brand">
                MudBlazor
            </span>
        </DrawerHeader>
        <Divider />
        <NavMenu />
    </Drawer>
    <MainContent>
        @Body
    </MainContent>
</Layout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}