@namespace MudBlazor
@inherits MudComponentBase

<div class="@Classname">
    <div class="mud-expand-panel-header" @onclick=@( () => ToggleExpansion())>
        <div class="mud-expand-panel-text">
            @Text
        </div>
        <MudIcon Icon="@Icons.Material.ExpandMore" class="@(IsExpanded? "mud-expand-panel-icon mud-transform" : "mud-expand-panel-icon")"/>
    </div>
    <MudCollapse Expanded="@IsExpanded">
        <div class="mud-expand-panel-content">
            @ChildContent
        </div>
    </MudCollapse>
</div>