@namespace MudBlazor.Docs.Components.LandingPage

<div class="lp-effect browser-shadow" aria-hidden="true"></div>
<div class="lp-device browser">
    <div class="lp-device-toolbar">
        <div class="lp-device-toolbar-button"></div>
        <div class="lp-device-toolbar-button"></div>
        <div class="lp-device-toolbar-button"></div>
    </div>
    <div class="lp-device-screen">
        <div class="lp-app-scale">
            <div class="lp-mini-app">
                <MiniApp/>
            </div>
        </div>
    </div>
</div>
