@namespace MudBlazor.Docs.Components

<MudPaper Elevation="3" Class="mud-landingpage-editor">
    <pre class="d-flex mud-height-full pl-3 pt-4 pb-8 relative">
        <div class="d-flex flex-column align-end px-2">
            <span class="linenumber">1</span>
            <span class="linenumber">2</span>
            <span class="linenumber">3</span>
            <span class="linenumber">4</span>
            <span class="linenumber">5</span>
            <span class="linenumber">6</span>
            <span class="linenumber">7</span>
            <span class="linenumber">8</span>
            <span class="linenumber">9</span>
            <span class="linenumber">10</span>
            <span class="linenumber">11</span>
            <span class="linenumber">12</span>
            <span class="linenumber">13</span>
        </div>
        <div class="codearea pl-2">
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudCard</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter"><div class="typed-code card-media"><span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudCardMedia</span> <span class="htmlAttributeName">Image</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="htmlAttributeValue">painted-door.jpg</span><span class="quot">"</span> <span class="htmlAttributeName">Height</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="htmlAttributeValue">200</span><span class="quot">"</span> <span class="htmlTagDelimiter">/&gt;</span></div></span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudCardContent</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudText</span><span class="htmlTagDelimiter"><div class="typed-code card-typo">&nbsp<span class="htmlAttributeName">Typo</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="enum">Typo</span><span class="enumValue">.h5</span><span class="quot">"</span></div></span><span class="htmlTagDelimiter">&gt;</span>Old Paint<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudText</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudText</span> <span class="htmlAttributeName">Typo</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="enum">Typo</span><span class="enumValue">.body2</span><span class="quot">"</span><span class="htmlTagDelimiter">&gt;</span>Old paint found on a stone house door.<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudText</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudText</span> <span class="htmlAttributeName">Typo</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="enum">Typo</span><span class="enumValue">.body2</span><span class="quot">"</span><span class="htmlTagDelimiter">&gt;</span>This photo was taken in a small village in Istra Croatia.<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudText</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudCardContent</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudCardActions</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudButton</span> <span class="htmlAttributeName">Variant</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="enum">Variant</span><span class="enumValue">.Text</span><span class="quot">"</span> <span class="htmlAttributeName">Color</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="enum">Color</span><span class="enumValue">.Primary</span><span class="quot">"</span><span class="htmlTagDelimiter">&gt;</span>Share<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudButton</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudButton</span> <span class="htmlAttributeName">Variant</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="enum">Variant</span><span class="enumValue">.Text</span><span class="quot">"</span> <span class="htmlAttributeName">Color</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="enum">Color</span><span class="enumValue">.Primary</span><span class="quot">"</span><span class="htmlTagDelimiter">&gt;</span>Learn More<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudButton</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudCardActions</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudCard</span><span class="htmlTagDelimiter">&gt;</span>
        </div>
        <div class="absolute"></div>
    </pre>
</MudPaper>