@namespace MudBlazor.Docs.Components
@using MudBlazor.Utilities


<section class="@Classnames">
    <div class="mud-landingpage-grid">
         <div class="@BackgroundContainer">
             <div class="grid">
                 <div class="@BackgroundClassnames"></div>
             </div>
         </div>
         @if(Stripes != null)
        {
            <div class="mud-landingpage-grid-stripes">
                <div class="grid">
                    @Stripes
                </div>
            </div>
        }
     </div>
     <MudContainer MaxWidth="MaxWidth.Large" Class="py-16">
         <div class="py-16">
             @ChildContent
         </div>
    </MudContainer>
</section>



@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment Stripes { get; set; }
    [Parameter] public bool Straight { get; set; }
    [Parameter] public string Class { get; set; }
    [Parameter] public string BackgroundClass { get; set; }

    protected string Classnames =>
        new CssBuilder("mud-landingpage-section")
          .AddClass(Class)
        .Build();

    protected string BackgroundContainer =>
        new CssBuilder("mud-landingpage-grid-background")
          .AddClass("skew", !Straight)
        .Build();

    protected string BackgroundClassnames =>
        new CssBuilder("background")
          .AddClass(BackgroundClass)
        .Build();
}
