@namespace MudBlazor.Docs.Components.LandingPage

<div class="lp-device phone">
    <div class="lp-device-screen">
       <div class="lp-app-scale">
            <div class="lp-mini-app">
                <MiniApp/>
            </div>
        </div>
    </div>
</div>
