@if (Show)
{
    <div class="user-page-overlay"></div>
    <div class="user-page-loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="text-center user-page-loader-text">@Message</div>
}
