<div id="save-snippet-popup"
     class="toast save-snippets-popup @VisibleClass"
     role="alert"
     aria-live="assertive"
     aria-atomic="true"
     style="@DisplayStyle">
    <div class="toast-header">
        <h4 class="m-auto">Save public snippet</h4>
    </div>

    <ul class="snippet-save-warnings list-unstyled">
        <li>Please <span class="font-weight-bold">do NOT include</span> any personal data</li>
        <li>Please <span class="font-weight-bold">do NOT include</span> any copyrighted content</li>
    </ul>

    @if (string.IsNullOrWhiteSpace(SnippetLink))
    {
        <div>
            <button class="btn btn-primary" disabled="@Loading" @onclick="SaveAsync">Confirm</button>

            @if (Loading)
            {
                <div class="spinner-border save-snippet-loader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            }
        </div>
    }
    else
    {
        <div class="snippet-link-wrapper">
            <input type="text" class="form-control" @bind="SnippetLink" readonly="readonly" />

            <button class="btn btn-primary @CopyButtonIcon" @onclick="CopyLinkToClipboardAsync"></button>
        </div>
    }

    <div class="save-snippet-callout"></div>
</div>
