<div id="save-snippet-popup" class="toast @VisibleClass save-snippets-popup" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <h4 class="m-auto">Save public snippet</h4>
    </div>

    <ul>
        <li>Please <span class="font-weight-bold">do NOT include</span> any personal data</li>
        <li>Please <span class="font-weight-bold">do NOT include</span> any copyrighted content</li>
    </ul>
</div>
