@page "/system/elevation"

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageHeader>
        <Title>Elevation</Title>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" Class="demo-elevation">
                <ElevationUsageExample/>
            </SectionContent>
            <SectionSource Code="ElevationUsageExample" ShowCode="false"/>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>