@namespace MudBlazor.UnitTests.TestComponents
<MudPopoverProvider></MudPopoverProvider>

<div>
    <MudSelect T="string" Variant="Variant.Text" @bind-Value="fruit" Dense SelectedValuesChanged="@(() => FruitChanged(null))">
        <MudSelectItem Value="@("Apple")">Apple</MudSelectItem>
        <MudSelectItem Value="@("Orange")">Orange</MudSelectItem>
    </MudSelect>
</div>

@code{
    string fruit = "Apple";
    public int ChangeCount { get; private set; }

    void FruitChanged(IEnumerable<string> fruits)
    {
        ChangeCount++;
    }
}