@inherits BytexDigital.Blazor.Components.CookieConsent.Dialogs.Prompt.CookieConsentPromptComponentBase

<div class="cookie-consent-container">
    <MudPaper Class="cookie-consent" Elevation="16">
        <div class="cookie-consent-content">
            <MudText Typo="Typo.subtitle1">
                We use cookies to enhance your experience and analyze site traffic.
                By clicking "Accept All" you consent to the use of additional cookies.
                <MudLink Href="@Options.Value.PolicyUrl" Target="_blank">View cookie policy</MudLink>
            </MudText>
        </div>

        <div class="cookie-consent-actions">
            <MudButton OnClick="async () => await AcceptAsync(false)" Variant="Variant.Filled" DropShadow="false" Color="Color.Default">
                Only Necessary
            </MudButton>

            <MudButton OnClick="async () => await AcceptAsync(true)" Variant="Variant.Filled" DropShadow="false" Color="Color.Primary">
                Accept All
            </MudButton>
        </div>
    </MudPaper>
</div>