@inherits BytexDigital.Blazor.Components.CookieConsent.Dialogs.Prompt.CookieConsentPromptComponentBase

<div class="consent-prompt-container cc-mh-48">
    <MudPaper Class="consent-prompt" Elevation="12">
        <div class="consent-text-container">
            <MudText Typo="Typo.h4">Cookie consent</MudText>

            <MudText Typo="Typo.subtitle1">
                We use cookies to enhance your experience and analyze site traffic.
                By clicking "Accept All" you consent to the use of additional cookies.
                <MudLink Href="@Options.Value.PolicyUrl" Target="_blank">View cookie policy</MudLink>.
            </MudText>
        </div>

        <div class="consent-buttons-container">
            <MudButton OnClick="async () => await AcceptAsync(false)" Variant="Variant.Filled" Color="Color.Default">
                Only Necessary
            </MudButton>

            <MudButton OnClick="async () => await AcceptAsync(true)" Variant="Variant.Filled" Color="Color.Primary">
                Accept All
            </MudButton>
        </div>
    </MudPaper>
</div>