
.demo-dialog-simple {
    display: inline-flex;

    & .mud-list .mud-list-item .mud-list-item {
        display: inline-flex;
    }

    & p {
        align-self: center;
        margin-left: 16px;
        margin-right: 24px;
    }

    & * .mud-avatar-color-default {
        color: #1e88e5;
        background-color: #bbdefb;
    }

    .s-t-a-l-k-e-r {
        color: #000;
        background-color: rgba(255, 152,0, 0.8)
    }
}



.demo-slider-filler {
    height: 26px;
    width: 100%;
    display: inline-block;
}

.demo-radio-inline {
    display: inline-block;
}

.demo-snackbar-alerts {
    & * .mud-alert {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

.demo-snackbar-output {
    min-width: 250px;
    padding: 1.5rem;

    & > .mud-typography-caption {
        display: block;
    }
}

.demo-elevation > .docs-section-content-inner {

    & > div {
        width: 100px;
        height: 100px;
        background-color: var(--mud-palette-surface);
        border-radius: var(--mud-palette-lines-default);
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        margin: 25px !important;
    }
}


@media (min-width: 960px) {
    .demo-datetime-margin {
        & .docs-section-content-inner {
            & .mud-picker:first-child {
                margin-right: 25px;
            }

            & .mud-picker:last-child {
                margin-left: 25px;
            }
        }
    }
}

.docs-iframe {
    height: 400px;
    width: 100%;
    margin: 0px !important;
}