
@media (min-width: 960px) {
    .demo-datetime-margin {
        & .docs-section-content-inner {
            & .mud-picker:first-child {
                margin-right: 25px;
            }

            & .mud-picker:last-child {
                margin-left: 25px;
            }
        }
    }
}

.docs-iframe {
    height: 400px;
    width: 100%;
    margin: 0px !important;
}