.demo-grid-spacing {
    & .mud-paper {
        width: 140px;
        height: 140px;
        text-align: center;
    }

    & .demo-grid-paper {
        padding: 10px 20px;
        width: 100% !important;
        height: 50px !important;
        align-items: center;
        display: flex;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 25px !important;
    }
}

.demo-grid-basic {
    & .mud-paper {
        padding: 40px 20px;
        width: 100%;
        height: 100px;
        text-align: center;
    }
}

.demo-list, .demo-divider {
    & .mud-list {
        width: 100%;
        max-width: 360px;
        background-color: var(--mud-palette-surface);
    }
}

.demo-divider-vertical {
    & .mud-paper {
        display: flex;
        padding-left: 5px;
        padding-right: 5px;

        & .mud-svg-icon-root {
            margin: 12px;
        }
    }
}

.demo-paper {
    & .mud-paper {
        width: 128px;
        height: 128px;
        margin: 8px;
    }
}

.demo-container {
    & .mud-container {
        height: 100%;
        background-color: rgba(89,74,226, 0.25);
    }

    & .mud-paper {
        height: 400px;
        width: 100%;
        background-color: var(--mud-palette-surface);
    }
}

.demo-drawer {
    & .mud-main-content {
        background-color: var(--mud-palette-surface);
        padding: 20px;
        padding-top: 86px;
    }
}

.demo-textfield {

    & div {
        & .mud-input-control {
            margin: 8px;
        }
    }
}

.demo-dialog-simple {
    display: inline-flex;

    & .mud-list .mud-list-item .mud-list-item {
        display: inline-flex;
    }

    & p {
        align-self: center;
        margin-left: 16px;
        margin-right: 24px;
    }

    & * .mud-avatar-color-default {
        color: #1e88e5;
        background-color: #bbdefb;
    }

    .s-t-a-l-k-e-r {
        color: #000;
        background-color: rgba(255, 152,0, 0.8)
    }
}



.demo-slider-filler {
    height: 26px;
    width: 100%;
    display: inline-block;
}

.demo-radio-inline {
    display: inline-block;
}

.demo-snackbar-alerts {
    & * .mud-alert {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

.demo-snackbar-output {
    min-width: 250px;
    padding: 1.5rem;

    & > .mud-typography-caption {
        display: block;
    }
}

.demo-elevation > .docs-section-content-inner {

    & > div {
        width: 100px;
        height: 100px;
        background-color: var(--mud-palette-surface);
        border-radius: var(--mud-palette-lines-default);
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        margin: 25px !important;
    }
}

.demo-navmenu {
    width: 250px;
    background-color: var(--mud-palette-surface);
}

.demo-tabs {
    & .mud-tabs-panels {
        padding: 24px;
        background-color: var(--mud-palette-surface);
    }
}

.demo-progress {
    & .mud-progress-linear {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    & .mud-progress-linear + .mud-progress-linear {
        margin-top: 30px !important;
    }
}

.demo-menu {
    & .docs-section-content-inner {
        margin: 15px 0px;
    }
}

.demo-alert {
    .mud-alert + .mud-alert {
        margin-top: 16px !important;
    }
}

.demo-alert-dense, .demo-alert-noicon {
    .mud-alert + .mud-alert {
        margin-top: 16px;
    }

    .mud-alert + .mud-alert-outlined-info, .mud-alert-outlined-success, .mud-alert-outlined-warning, .mud-alert-outlined-error {
        margin-top: 14px !important;
    }
}

.demo-skeleton-cards {
    & .docs-section-content-inner {
        & .mud-card:last-child {
            margin-top: 36px;
        }
    }
}
@media (min-width: 960px) {
    .demo-datetime-margin {
        & .docs-section-content-inner {
            & .mud-picker:first-child {
                margin-right: 25px;
            }

            & .mud-picker:last-child {
                margin-left: 25px;
            }
        }
    }
}

.demo-form-manual {
    width: 400px;
    padding-bottom: 20px;
}

.demo-form{
    max-width:400px;
    & .demo-form-button{
        margin-left: auto;
    }
}

.demo-form-paper {
    max-width: 400px;
    padding: 16px;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.demo-badge {
    .docs-section-content-inner {
        & > * {
            margin: 20px !important;
            align-self: center;
        }
    }
}

.docs-iframe {
    height: 400px;
    width: 100%;
    margin: 0px !important;
}