@namespace MudBlazor
@inherits MudComponentBase
 
<span class="@Classname"
      style="@Style"
      @attributes="@UserAttributes"
      @onclick="EventUtil.AsNonRenderingEventHandler<MouseEventArgs>(OnButtonClick)">
    @ChildContent
</span>
 