/* Outline Style */

.outline-none {
  outline-style: none;
}

.outline-solid {
  outline-style: solid;
}

.outline-dashed {
  outline-style: dashed;
}

.outline-dotted {
  outline-style: dotted;
}

.outline-double {
  outline-style: double;
}

.outline-hidden {
  outline-style: hidden;
}

/* Outline Color */
/* To Doo */

/* Outline Offset */
/* To Doo */

/* Outline Width */
/* To Doo */
