@namespace MudBlazor.Docs.Examples

@inject ISnackbar Snackbar

<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => Snackbar.Add("<ul><li>Item 1</li><li>Item 2</li></ul>"))">
    Open Snackbar
</MudButton>