@namespace MudBlazor.Docs.Examples

<MudStack>
    <MudToggleGroup T="string" SelectedClass="black white-text">
        <MudToggleItem Value="@("Item One")">
            <div class="d-flex align-center justify-space-between">
                <MudText>Item One</MudText>
                <MudChip Color="Color.Primary">Basic</MudChip>
            </div>
            <MudText Typo="Typo.subtitle2">This is the first item.</MudText>
        </MudToggleItem>
        <MudToggleItem Value="@("Item Two")">
            <div class="d-flex align-center justify-space-between">
                <MudText>Item Two</MudText>
                <MudChip Color="Color.Primary">Pro</MudChip>
            </div>
            <MudText Typo="Typo.subtitle2">This is the second item.</MudText>
        </MudToggleItem>
        <MudToggleItem Value="@("Item Three")">
            <div class="d-flex align-center justify-space-between">
                <MudText>Item Three</MudText>
                <MudChip Color="Color.Primary">Enterprise</MudChip>
            </div>
            <MudText Typo="Typo.subtitle2">This is the third item.</MudText>
        </MudToggleItem>
    </MudToggleGroup>
</MudStack>
