@*
    Copyright (c) Alessandro Ghidini. All rights reserved.
    Changes and improvements Copyright (c) The MudBlazor Team.
*@

@namespace MudBlazor
@inherits MudComponentBase

@Css
<div class="@Snackbar?.State.SnackbarClass" style="@Snackbar?.State.AnimationStyle" @onclick="Clicked">
    <div class="mud-snackbar-content-message">
        @Message
    </div>
    @if (Snackbar?.State.ShowCloseIcon==true)
    {
        <div class="mud-snackbar-content-action">
            <MudIconButton Icon="@Icons.Material.Close" Size="Size.Small" @onclick="CloseIconClicked"/>
        </div>
    }
</div>