@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

<div class="@Classname" style="@Style"
	 @attributes="UserAttributes"
	 draggable="@(Disabled == false ? "true" : "false")"
	 @ondragstart="DragStarted"
	 @ondragend="DragEnded"
	 @ondragenter="HandleDragEnter"
	 @ondragleave="HandleDragLeave">
	@if (HideContent == false)
	{
		@ChildContent
	}
</div>