@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

<div @key="_id" class="@Classname" style="@Style"
	 @attributes="UserAttributes">
	<div  
	draggable="@(Disabled == false ? "true" : "false")"
	@ondragstart="DragStarted"
		 @ondragend="DragEnded">
		@ChildContent
	</div>
</div>