@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

<div class="@Classname" style="@Style"
	 @attributes="UserAttributes"
	 draggable="@(Disabled == false ? "true" : "false")"
	 @ondragstart="DragStarted"
     @ondrop="DropOnItem"
	 @ondragend="DragEnded">
	@ChildContent
</div>