@page "/utilities/object-fit"

<DocsPage>
    <DocsPageHeader Title="Object Fit" SubTitle="Specifies how a replaced element's content should be resized." />
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader Title="Class Reference" HideTitle="true" />
            <DocsClassTable>
                <tr><td>object-contain </td><td>  object-fit: contain;</td></tr><tr><td>object-cover </td><td>  object-fit: cover;</td></tr><tr><td>object-fill </td><td>  object-fit: fill;</td></tr><tr><td>object-none </td><td>  object-fit: none;</td></tr><tr><td>object-scale-down </td><td>  object-fit: scale-down;</td></tr
            </DocsClassTable>
        </DocsPageSection>

    </DocsPageContent>
</DocsPage>