@page "/utilities/position"

<DocsPage>
    <DocsPageHeader Title="Position" SubTitle="Utilities for controlling how an element is positioned in the DOM." />
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader Title="Class Reference" HideTitle="true" />
            <DocsClassTable>
                <tr><td>absolute </td><td>  position: absolute;</td></tr><tr><td>fixed </td><td>  position: fixed;</td></tr><tr><td>relative </td><td>  position: relative;</td></tr><tr><td>static </td><td>  position: static;</td></tr><tr><td>sticky </td><td>  position: sticky;</td></tr>

                </DocsClassTable>
        </DocsPageSection>

    </DocsPageContent>
</DocsPage>