@page "/utilities/visibility"

<DocsPage>
    <DocsPageHeader Title="Visibility" SubTitle="Utilities for controlling the visibility of an element." />
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader Title="Class Reference" HideTitle="true" />
            <DocsClassTable>
                <tr><td>invisible </td><td>  visibility: hidden;</td></tr><tr><td>visible </td><td>  visibility: visible;</td></tr>

                </DocsClassTable>
        </DocsPageSection>

    </DocsPageContent>
</DocsPage>