@page "/utilities/z-index"

<DocsPage>
    <DocsPageHeader Title="Z-Index" SubTitle="Utilities for controlling the stack order of an element." />
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader Title="Class Reference" HideTitle="true" />
            <DocsClassTable>
                <tr><td>z-0 </td><td>  z-index: 0;</td></tr><tr><td>z-10 </td><td>  z-index: 10;</td></tr><tr><td>z-100 </td><td>  z-index: 100;</td></tr><tr><td>z-20 </td><td>  z-index: 20;</td></tr><tr><td>z-30 </td><td>  z-index: 30;</td></tr><tr><td>z-40 </td><td>  z-index: 40;</td></tr><tr><td>z-50 </td><td>  z-index: 50;</td></tr><tr><td>z-60 </td><td>  z-index: 60;</td></tr><tr><td>z-70 </td><td>  z-index: 70;</td></tr><tr><td>z-80 </td><td>  z-index: 80;</td></tr><tr><td>z-90 </td><td>  z-index: 90;</td></tr><tr><td>z-auto </td><td>  z-index: auto;</td></tr>
            </DocsClassTable>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>