.docs-content {
    padding: 24px;
    border-radius: 4px;
    margin: auto;
    display: flex;
    outline: 0;
    position: relative;
    justify-content: center;
    margin-bottom: 40px;
    background-color: #fff;

    & > * {
        margin: 8px;
    }
}

.docs-content-row {
    & > * {
        margin: 8px;
    }
}

.docs-content-darken {
    background-color: #f5f5f5;
}

.docs-content-outlined {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.docs-content-display-grid {
    display: grid;
}



.docs-content-grid-paper-filler {
    & .mud-paper {
        padding: 16px;
        text-align: center;
    }
}

.grid {
    & .mud-paper {
        width: 100px;
        height: 140px;
        text-align: center;
    }

    & .mud-paper.docs-spacing {
        padding: 20px;
        width: 100%;
        height: 100px;
        text-align: left;
    }
}

.list {
    & .mud-list {
        padding: 10px 0;
        width: 100%;
        max-width: 360px;
        background-color: #fff;
    }
}

.paper-filler {
    & .mud-paper {
        width: 128px;
        height: 128px;
        margin: 8px;
    }
}

.container {
    & .mud-paper {
        height: 400px;
        width: 100%;
        background-color: #fff;
    }

    & .mud-container {
        height:100%;
        background-color: rgb(207, 232, 252);
    }
}