.docs-section-header {
    margin-bottom: 20px;

    .mud-typography-h4 {
        margin: 40px 0 16px;
    }
}

.docs-section-content {
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    background-color: var(--mud-theme-surface);
    margin: auto;
    display: flex;
    outline: 0;
    position: relative;
    justify-content: center;

    & .docs-section-content-inner {
        margin-left: auto;
        margin-right: auto;
        display: block;
        outline: 0;
        position: relative;
        justify-content: center;
    }

    &.docs-display-flex {
        & > .docs-section-content-inner {
            display: flex;
            flex-grow: 1;
        }
    }

    &.docs-content-full-width {
        & > .docs-section-content-inner {
            width: 100%;
        }
    }

    &.docs-section-content-darken {
        background-color: var(--mud-theme-background-grey);
    }

    &.docs-section-content-outlined {
        border: 1px solid var(--mud-theme-border-color-default);
    }

    &.docs-section-content-display-grid {
        display: grid;
    }

    & > .docs-section-content-inner {
        & > *:not(.mud-grid) {
            margin: 8px;
        }
    }
}



.docs-section-content-row {
    & > * {
        margin: 8px;
    }
}

.docs-section-source {
    margin-top: 20px;

    &.docs-hide-source {
        display: none;
    }
}

.docs-content-toolbar {

    & > .mud-icon-button {
        left: 100%;
        padding: 8px;
    }
}