.docs-page {
    .mud-typography-h4 {
        margin-top: 52px;
    }
}

.docs-page-header {

    & h3 {
        margin-bottom:16px;
    }
    & .mud-typography-h4 {
        margin-top: 0px;
    }

    margin-bottom: 100px;
}

.docs-page-content {
    
}

.docs-page-section {
    margin-bottom: 50px;
}





.docs-frame {
    height: 100%;
    width: 100%;
    position: relative;
    height: 400px;

    & .docs-frame-absolute {
        position: absolute;
        bottom: 0px;
        left: 0px;
        top: 0px;
        right: auto;
        width: 100%;
        height: 100%;

        & .docs-frame-inner-wrapper {
            display: flex;
            height: 100%;
            overflow: auto;
            flex-direction: column;
        }
    }
}
