.MarkdownSection-Root {
    word-break: break-word;

    & pre {
        margin: 8px 0px;
        padding: 16px 14px;
        overflow: auto;
        direction: ltr;
        border-radius: 4px;
        background-color: #272c34;
        -webkit-overflow-scrolling: touch;
    }

    & code {
        color: #fff;
        display: inline-block;
        font-size: 1em;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        border-radius: 2px;
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

.token {
    &, .tag {
        color: #31abab;
    }

    &, .punctuation {
        color: #979797;
    }

    &, .attr-name {
        color: #31abab;
    }

    &, .attr-value {
        color: #b3df75;
    }
}

.token.attr-value > .punctuation {
        color: #d0d0d0;
}