.mudblazor-brand {
    margin: 32px 0 0;
    padding: 0px;

    &:hover {
        cursor: pointer;
        color: var(--mud-palette-primary);
        transition: color 250ms cubic-bezier(.4,0,.2,1) 0ms,box-shadow 250ms cubic-bezier(.4,0,.2,1) 0ms,border 250ms cubic-bezier(.4,0,.2,1) 0ms;
    }

    & > .mudblazor-svg {
        width: 80px;
        margin-left: auto;
        margin-right: auto;
    }
}

.mudblazor-appbar-band {
    background-image: url(../../_content/MudBlazor.Docs/MudAppbarCorner.svg);
    background-repeat: no-repeat;
    background-position: top right;
    overflow:hidden;
}

.mudblazor-appbar-brand-text {
    letter-spacing: 0.5rem;
    font-weight: 300;
    margin-left: 12px;
    font-size: 24px;
    user-select:none;
}


.mudblazor-navmenu {
    overflow: auto;
    margin-bottom: 12px;
}

.docs-nav-fader {
    display: block;
    position: fixed;
    width: 232px;
    height: 40px;
    background-image: linear-gradient(to top,rgba(255,0,0,0),var(--mud-palette-drawer-background));
    z-index: 100;
}

.docs-nav-filler {
    display: flex;
    flex-grow: 1;
}

.mud-container + .mud-container {
    margin-bottom: 128px;
}


.mudblazor-main-content {
    padding-top: 64px;
    padding-bottom: 64px;
}


@media (min-width: 960px) {
    .mudblazor-main-content {
        padding-top: 128px;
        padding-bottom: 64px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.docs-list{
    list-style:inside;
}

.docs-expand-wrapper {
    color: var(--mud-palette-white);
    background-color: var(--mud-palette-black);

    .docs-default-theme {
        .mud-expand-panel {
            color: inherit;
            background-color: inherit;
            border: none !important;

            .mud-expand-panel-text {
                color: #988ef1;
                font-weight: 500;
                font-size: 1rem;
            }
        }
    }
}