.mudblazor-brand {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--mud-theme-on-surface);
    margin-left: auto;
    margin-right: auto;
}

.mud-container + .mud-container {
    margin-bottom: 128px;
}


.mudblazor-main-content {
    padding-top: 64px;
    padding-bottom: 64px;
}



@media (min-width: 960px) {
    .mudblazor-main-content {
        padding-top: 128px;
        padding-bottom: 64px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
