.mudblazor-brand {
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: .2rem;
    line-height: 1.5;
    color: var(--mud-theme-on-surface);
    margin-left: auto;
    margin-right: auto;

    &:hover {
        cursor: pointer;
        color: var(--mud-theme-primary);
        transition: color 250ms cubic-bezier(.4,0,.2,1) 0ms,box-shadow 250ms cubic-bezier(.4,0,.2,1) 0ms,border 250ms cubic-bezier(.4,0,.2,1) 0ms;
    }
}

.docs-nav-filler {
    display: flex;
    flex-grow: 1;
}

.mud-container + .mud-container {
    margin-bottom: 128px;
}


.mudblazor-main-content {
    padding-top: 64px;
    padding-bottom: 64px;
}



@media (min-width: 960px) {
    .mudblazor-main-content {
        padding-top: 128px;
        padding-bottom: 64px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

::-webkit-scrollbar {
    width: 8px;
    z-index: 1;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
}
