.mud-codeblock {
    background-color: var(--mud-theme-dark);
    border-radius: var(--mud-theme-border-radius-default);
    padding:16px;

    & pre {
        color: #ededed;
        font-size: 1em;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        -webkit-font-smoothing: subpixel-antialiased;
        direction: ltr;
        overflow: hidden;
    }

    & .html {

        & .htmlTagDelimiter {
            color: #979797;
        }

        & .htmlElementName {
            color: #988ef1;
        }

        & .htmlAttributeName {
            color: #27b5b5;
        }

        & .htmlOperator, .quot {
            color: #c8c8c8;
        }

        & .htmlAttributeValue {
            color: #ededed;
        }

        & .enum {
            color: #b4eb8f;
            background-color: rgba(255,255,255,0.15);
        }

        & .enumValue, .sharpVariable {
            color: #ededed;
            background-color: rgba(255,255,255,0.15);
        }

        & .keyword {
            color: #61afef;
            background-color: rgba(255,255,255,0.15);
        }

        & .atSign {
            color: #000;
            background-color: #d2d295;
        }
    }

    & .csharp {
        & .atSign {
            color: #000;
            background-color: #d2d295;
        }

        & .keyword {
            color: #569cd6;
        }

        & .string {
            color: #d69d85;
        }
    }
}
