.mud-codeblock {
    background-color: var(--mud-theme-color-dark);
    border-radius: var(--mud-theme-border-radius-default);

    & pre {
        color: #fff;
        font-size: 1em;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        -webkit-font-smoothing: subpixel-antialiased;
        direction: ltr;
        overflow: hidden;
        padding: 16px;
    }

    & .html {
        & .htmlTagDelimiter {
            color: #979797;
        }

        & .htmlElementName {
            color: #27b5b5;
        }

        & .htmlAttributeName {
            color: #27b5b5;
        }

        & .htmlOperator {
            color: #d0d0d0;
        }

        & .htmlAttributeValue {
            color: #b4eb8f;
            /*background-color:rgba(255,255,255, 0.15);*/
        }
    }

    & .csharp {
        & .keyword {
            color: #569cd6;
        }

        & .string {
            color: #d69d85;
        }
    }
}
