@namespace MudBlazor
@inherits ComponentBaseSwitch


<label class="mud-switch">
    <span class="mud-switch-span">
        <span class="@Classname">
            <span class="mud-switch-button">
                <input type="checkbox" class="mud-switch-input" @bind="@Checked" disabled="@Disabled" />
                <span class="mud-switch-thumb"></span>
            </span>
        </span>
        <span class="mud-switch-track"></span>
    </span>
    @if (!String.IsNullOrEmpty(Label))
    {
        <Typography GutterBottom="false">@Label</Typography>
    }
</label>

