@namespace MudBlazor
@inherits MudComponentBase

<div class="@Classname" style="@Style" >
    <div class="mud-table-container">
        <table>
            @ChildContent
        </table>
    </div>
</div>
