@inherits LayoutComponentBase

@using Telerik.Blazor.Components

<TelerikRootComponent>
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</TelerikRootComponent>
