@inherits LayoutComponentBase

<style>
    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .content {
        padding-top: 1.1rem;
    }

    .btn-primary {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }
</style>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
