@inherits LayoutComponentBase

<style>
    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .content {
        padding-top: 1.1rem;
    }

    .btn-primary {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }
</style>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
