@inherits LayoutComponentBase

@inject HttpClient Http

<div class="main">
    <div class="content">
        @Body
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ComponentCompilationService.Init(Http);

        await base.OnInitializedAsync();
    }
}
