@using BlazorRepl.Client.Components.Models;

@inherits LayoutComponentBase

@inject HttpClient Http

<div class="main">
    <PageNotifications @ref="@PageNotificationsComponent"></PageNotifications>
    <CascadingValue Value="PageNotificationsComponent">
        <div class="content">
            @Body
        </div>
    </CascadingValue>
</div>

@code {
    public PageNotifications PageNotificationsComponent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ComponentCompilationService.Init(Http);

        await base.OnInitializedAsync();
    }
}
