@inherits LayoutComponentBase

<div class="main">
    <PageNotifications @ref="@PageNotificationsComponent"></PageNotifications>
    <CascadingValue Value="@PageNotificationsComponent">
        <div class="content">
            @Body
        </div>
    </CascadingValue>
</div>
