@namespace MudBlazor.Docs.Examples

<div id="another_unique_identifier" class="ma-0" style="height:300px;overflow: auto;">
    <MudPaper Elevation="0" Height="3500px" Class="d-flex flex-column justify-space-between py-6">
        <MudText Typo="Typo.h3" Align="Align.Center">Scroll inside this container</MudText>
        <MudText Typo="Typo.h3" Align="Align.Center">Some initial long text</MudText>
        <MudText Typo="Typo.h3" Align="Align.Center">Middle text</MudText>
        <MudText Typo="Typo.h3" Align="Align.Center">Bottom text</MudText>
        <MudScrollToTop TopOffset="100" Selector="#another_unique_identifier" Style="z-index:2001;">
            <div class="mud-theme-secondary px-3 py-6 mud-elevation-16 rounded-xl fixed" style="bottom:20px;left:20px;">Scroll to top custom button</div>
        </MudScrollToTop>
    </MudPaper>
</div>