@namespace MudBlazor.Docs.Examples

<MudPaper Style="height: 300px; position: relative; overflow: hidden;">
    <MudDrawer @bind-Open="@open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Persistent">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">My App</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All">Store</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All">Library</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All">Community</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <div class="d-table mr-auto ml-auto">
        <MudButton OnClick="@TogglDrawer">Toggle</MudButton>
    </div>
</MudPaper>

@code
{
    bool open = false;

    void TogglDrawer()
    {
        open = !open;
    }
}
