@page "/components/chipset"

<DocsPage>
    <DocsPageHeader Title="Chip Set" />
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Chipset</Title>
                <Description>
                    Chipset will maintain a selection of chips for you. By default you get a single selection. Setting <CodeInline>Mandatory="true"</CodeInline> will not allow to unselect the selected chip.
                </Description>
            </SectionHeader>
            <SectionContent Outlined="true" Class="mud-text-align-center">
                <ChipSetBasicExample />
            </SectionContent>
            <SectionSource ShowCode="false" Code="ChipSetBasicExample" GitHubFolderName="ChipSet" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>