

.mud-form-label-root {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
}

.mud-form-label-root.mud-focused {
    color: #1976d2;
}

.mud-form-label-root.mud-disabled {
    color: rgba(0, 0, 0, 0.38);
}

.mud-form-label-root.mud-error {
    color: #f44336;
}

.mud-form-label-color-secondary.mud-focused {
    color: rgb(220, 0, 78);
}

.mud-form-label-asterisk.mud-error {
    color: #f44336;
}
