
.mud-input-root {
    position: relative;
}

label + .mud-input-formcontrol {
    margin-top: 16px;
}

.mud-input-color-secondary.mud-input-underline:after {
    border-bottom-color: rgb(220, 0, 78);
}

.mud-input-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #1976d2;
    pointer-events: none;
}

.mud-input-underline.mud-focused:after {
    transform: scaleX(1);
}

.mud-input-underline.mud-error:after {
    transform: scaleX(1);
    border-bottom-color: #f44336;
}

.mud-input-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    pointer-events: none;
}

.mud-input-underline:hover:not(.mud-disabled):before {
    border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}

.mud-input-underline.mud-disabled:before {
    border-bottom-style: dotted;
}

@media (hover: none) {
    .mud-input-underline:hover:not(.mud-disabled):before {
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }
}
