.mud-input-base-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
}

.mud-input-base-root.mud-disabled {
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.mud-input-base-multiline {
    padding: 6px 0 7px;
}

.mud-input-base-multiline.mud-input-base-margin-dense {
    padding-top: 3px;
}

.mud-input-base-full-width {
    width: 100%;
}

.mud-input-base-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

.mud-input-base-input::-webkit-input-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mud-input-base-input::-moz-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mud-input-base-input:-ms-input-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mud-input-base-input::-ms-input-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mud-input-base-input:focus {
    outline: 0;
}

.mud-input-base-input:invalid {
    box-shadow: none;
}

.mud-input-base-input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.mud-input-base-input.mud-disabled {
    opacity: 1;
}

.mud-input-base-input:-webkit-autofill {
    animation-name: mui-auto-fill;
    animation-duration: 5000s;
}

label[data-shrink=false] + .mud-input-base-formcontrol .mud-input-base-input::-webkit-input-placeholder {
    opacity: 0 !important;
}

label[data-shrink=false] + .mud-input-base-formcontrol .mud-input-base-input::-moz-placeholder {
    opacity: 0 !important;
}

label[data-shrink=false] + .mud-input-base-formcontrol .mud-input-base-input:-ms-input-placeholder {
    opacity: 0 !important;
}

label[data-shrink=false] + .mud-input-base-formcontrol .mud-input-base-input::-ms-input-placeholder {
    opacity: 0 !important;
}

label[data-shrink=false] + .mud-input-base-formcontrol .mud-input-base-input:focus::-webkit-input-placeholder {
    opacity: 0.42;
}

label[data-shrink=false] + .mud-input-base-formcontrol .mud-input-base-input:focus::-moz-placeholder {
    opacity: 0.42;
}

label[data-shrink=false] + .mud-input-base-formcontrol .mud-input-base-input:focus:-ms-input-placeholder {
    opacity: 0.42;
}

label[data-shrink=false] + .mud-input-base-formcontrol .mud-input-base-input:focus::-ms-input-placeholder {
    opacity: 0.42;
}

.mud-input-base-input-margin-dense {
    padding-top: 3px;
}

.mud-input-base-input-multiline {
    height: auto;
    resize: none;
    padding: 0;
}

.mud-input-base-input-type-search {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}
