@page "/components/datepicker"

<DocsPage>
    <DocsPageHeader Title="Date Picker">
        <Description>Provides the user with a simple way to select a date.</Description>
        </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DatePickerBasicUsageExample />
            </SectionContent>
            <SectionSource Code="DatePickerBasicUsageExample" GitHubFolderName="DatePicker" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Static Mode</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <DatePickerStaticExample />
            </SectionContent>
            <SectionSource Code="DatePickerStaticExample" GitHubFolderName="DatePicker" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Different views</Title>
                <Description>By default it opens to Date, but can be set to Year or Month.</Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DatePickeViewsExample />
            </SectionContent>
            <SectionSource Code="DatePickeViewsExample" GitHubFolderName="DatePicker" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Colors</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-datetime-margin">
                <DatePickerColorExample />
            </SectionContent>
            <SectionSource Code="DatePickerColorExample" GitHubFolderName="DatePicker" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Elevation</Title>
                <Description>You can change the elevation with the <CodeInline>Elevation</CodeInline> parameter the default value is 0 for static and 8 for inline.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-datetime-margin">
                <DatePickerElevationExample />
            </SectionContent>
            <SectionSource Code="DatePickerElevationExample" GitHubFolderName="DatePicker" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>