@page "/components/datepicker"

<DocsPage>
    <DocsPageHeader>
        <Title>Date Picker</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DatePickerBasicUsageExample/>
            </SectionContent>
            <SectionSource Code="DatePickerBasicUsageExample" GitHubFolderName="DatePicker" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>