@namespace MudBlazor
@inherits MudComponentBase

<div  @attributes="UserAttributes" class="@ContainerClass">
    <div  @onmouseenter=@HandleMouseOver @onmouseleave=@HandleMouseOut>
        @ChildContent
    </div>
    @if (!String.IsNullOrEmpty(Text) || TooltipContent != null)
    {
        <MudPortal Type=@this.GetType() IsVisible=@IsVisible OffsetY="true" Placement=@Placement PortalType=@this.GetType()>

            <div class=@Classname  style=@Stylename>
                @if (TooltipContent != null)
                {
                    @TooltipContent 
                }
                else
                {
                    @Text
                }
            </div>

        </MudPortal>
    }
</div>
