@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@ContainerClass">
	<div @onmouseenter=@HandleMouseOver @onmouseleave=@HandleMouseOut>
		@ChildContent
	</div>
	@if (!String.IsNullOrEmpty(Text) || TooltipContent != null)
	{
		<MudPopover Open="_isVisible" Class="@Classname">
			@if (TooltipContent != null)
			{
				@TooltipContent
			}
			else
			{
				@Text
			}
		</MudPopover>
	}
</div>
