@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@ContainerClass" @onmouseenter=@HandleMouseOver @onmouseleave=@HandleMouseOut>
	@ChildContent
	<MudPopover Open="_isVisible" Placement="@Placement" OffsetY="true" Paper="false">
		<div role="tooltip" class="@Classname">
			@if (TooltipContent != null)
			{
				@TooltipContent
			}
			else if(!String.IsNullOrEmpty(Text))
			{
				@Text
			}
		</div>
	</MudPopover>
</div>
