@namespace MudBlazor
@inherits MudComponentBase

<div class="@ContainerClass">
    @ChildContent
    @if (!String.IsNullOrEmpty(Text) || TooltipContent != null)
    {
        <div class="@Classname" style="@GetTimeDelay()">
            @if (TooltipContent != null)
            {
                @TooltipContent
            }
            else
            {
                @Text
            }
        </div>
    }
</div>
