@namespace MudBlazor
@inherits MudComponentBase

<div  @attributes="UserAttributes" class="@ContainerClass">
    <div  @onmouseenter=@HandleMouseOver @onmouseleave=@HandleMouseOut>
        @ChildContent
    </div>
    @if (!String.IsNullOrEmpty(Text) || TooltipContent != null)
    {
        <MudPortal IsVisible=@IsVisible PortalType=@this.GetType() Placement=@Placement>

            <div class=@Classname data-placement=@Placement @ref=@_tooltipRef style=@Stylename>
                @if (TooltipContent != null)
                {
                    @TooltipContent 
                }
                else
                {
                    @Text
                }
            </div>

        </MudPortal>
    }
</div>
