@namespace MudBlazor
@inherits MudComponentBase

<div @ref="_containerRef" class="@ContainerClass" 
     onmouseenter="document.getElementById('@_tooltipId').classList.add('mud-tooltip-hover')"
     onmouseleave="document.getElementById('@_tooltipId').classList.remove('mud-tooltip-hover')">
    @ChildContent
    @if (!String.IsNullOrEmpty(Text) || TooltipContent != null)
    {
        <MudBodyRendered>
            <div id="@_tooltipId" @ref="_tooltipRef" class="@Classname" style="@GetTimeDelay()">
                @if (TooltipContent != null)
                {
                    @TooltipContent
                }
                else
                {
                    @Text
                }
            </div>
        </MudBodyRendered>
    }
</div>
