@namespace MudBlazor
@inherits MudComponentBase

<div  @attributes="UserAttributes" class="@ContainerClass">
    <div  @onmouseenter=@HandleMouseOver @onmouseleave=@HandleMouseOut>
        @ChildContent
    </div>
    @if (!String.IsNullOrEmpty(Text) || TooltipContent != null)
    {
        <MudPopover Open=true OffsetY="true" Elevation="0" Style="overflow:visible;background-color:transparent">

            <div class=@Classname data-placement=@Placement @ref=@_tooltipRef style=@Stylename>
                @if (TooltipContent != null)
                {
                    @TooltipContent 
                }
                else
                {
                    @Text
                }
            </div>

        </MudPopover>
    }
</div>
