@page "/components/link"

<DocsPage>
    <DocsPageHeader Title="Link">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Links</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <LinkSimpleExample />
            </SectionContent>
            <SectionSource Code="LinkSimpleExample" GitHubFolderName="Link" SnippetId="GuvuPNuE33jjtyMO52" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Underlines</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <LinkUnderlineExample />
            </SectionContent>
            <SectionSource Code="LinkUnderlineExample" GitHubFolderName="Link" SnippetId="https://try.mudblazor.com/snippet/QkbkvtEk34HtjX4C34" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>