@page "/components/link"

<DocsPage>
    <DocsPageHeader>
        <Title>Link</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Links</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <LinkSimpleExample/>
            </SectionContent>
            <SectionSource Code="LinkSimpleExample"/>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Underlines</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <LinkUnderlineExample/>
            </SectionContent>
            <SectionSource Code="LinkUnderlineExample"/>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>