@namespace MudBlazor
@inherits MudComponentBase

@if (Visible)
{
    <div @attributes="UserAttributes" class="@Classname" style="@Styles" @onclick="OnClickHandler" @onclick:stopPropagation="true">
        @if(LightBackground || DarkBackground)
        {
            <div class="@ScrimClassname"></div>
        }
        @if(ChildContent != null)
        {
            <div class="mud-overlay-content">
                @ChildContent
            </div>
        }
    </div>
}
