@namespace MudBlazor
@inherits MudComponentBase

@if (_visibleState.Value)
{
    <div @attributes="UserAttributes"
         class="@Classname"
         style="@Styles"
         @onclick="OnClickHandlerAsync"
         @onclick:stopPropagation>

        @if (LightBackground || DarkBackground)
        {
            <div class="@ScrimClassname"></div>
        }

        @if (ChildContent is not null)
        {
            <div class="mud-overlay-content">
                @ChildContent
            </div>
        }
    </div>
}
