@namespace MudBlazor
@inherits MudComponentBase

@if (Visible)
{
    <div class="@Classname" style="@Styles" @onclick="OnClickHandler" @onclick:stopPropagation="true">
        <div class="@ScrimClassname">

        </div>
        <div class="mud-overlay-content">
            @ChildContent
        </div>
    </div>
}




