<div>
    <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px"></MudChart>
</div>

@code {
    public static string __description__ = "Number of horizontal tick lines should be limited to sane values.";

    private int Index = -1; //default value cannot be 0 -> first selectedindex is 0.

    public List<ChartSeries> Series = new List<ChartSeries>
    {
        new ChartSeries { Name = "Series 1", Data = new decimal[] { 112368124m, 114457907m, 108509186m, 69m, 62m, 62m, 55m, 65m, 70m } }
    };
    public string[] XAxisLabels = {"Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };
}
