<div>
    <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px"></MudChart>
</div>

@code {
    public static string __description__ = "Number of horizontal tick lines should be limited to sane values.";

    private int Index = -1; //default value cannot be 0 -> first selectedindex is 0.

    public List<ChartSeries> Series = new List<ChartSeries>
    {
        new ChartSeries { Name = "Series 1", Data = new double[] { 112368124d, 114457907d, 108509186d, 69d, 62d, 62d, 55d, 65d, 70d } }
    };
    public string[] XAxisLabels = {"Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };
}
