@namespace MudBlazor.Docs.Examples

<div class="mud-codeblock">
<div class="html">
<pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudThemeProvider</span><span class="htmlTagDelimiter">/&gt;</span>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudDialogProvider</span><span class="htmlTagDelimiter">/&gt;</span>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudSnackbarProvider</span><span class="htmlTagDelimiter">/&gt;</span>
</pre>
</div>
</div>