@namespace MudBlazor.Docs.Examples

<div class="mud-codeblock">
<div class="html">
<pre>
<span class="atSign">&#64;</span><span class="keyword">using</span><span class="sharpVariable"> MudBlazor</span>
</pre>
</div>
</div>