@page "/"

<PageTitle>Home</PageTitle>
<div style="display:block;">
    <MudTextEditor @ref="@quill" Theme="bubble" Label="Notes" Variant="Variant.Outlined" Style="width: 400px; height: 400px;">
        
        <EditorContent>
            @((MarkupString?)Content)
        </EditorContent>
    </MudTextEditor>
</div><br />
 <div>
    <MudButton  OnClick="SaveItem" >button</MudButton>
</div> 
@code {
    //string? MyDate;
    //string  usDate = "";

    //IMask mask2 = new DateMask("MM/dd/yyyy");
    [Parameter] public string Content { get; set; } = "test content";
    public string textFieldValue { get; set; } = "This is the field";
    public MudTextEditor quill = new();

    protected override void OnInitialized()
    {
        //MudGlobal.InputDefaults.Variant = Variant.Outlined;
    }

    private async void SaveItem()
    {
        var t = await quill.GetHTML();
    }
}

