@page "/components/barchart"

<DocsPage>
    <DocsPageHeader Title="Bar Chart" SubTitle="">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" FullWidth="true">
                <BarExample1 />
            </SectionContent>
            <SectionSource ShowCode="false" Code="BarExample1" GitHubFolderName="Charts" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>