@page "/components/donutchart"

<DocsPage>
    <DocsPageHeader>
        <Title>Donut Charts</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Donut</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" DisplayFlex="true">
                <DonutExample1 />
            </SectionContent>
            <SectionSource Code="DonutExample1" GitHubFolderName="Charts" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>