@page "/components/donutchart"

<DocsPage>
    <DocsPageHeader Title="Donut Chart" SubTitle="">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Donut</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <DonutExample1 />
            </SectionContent>
            <SectionSource Code="DonutExample1" GitHubFolderName="Charts" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Legend Position</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <DonutExample2 />
            </SectionContent>
            <SectionSource Code="DonutExample2" GitHubFolderName="Charts" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>