@page "/components/linechart"

<DocsPage>
    <DocsPageHeader Title="Line Chart"
        SubTitle="">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <LineExample1 />
            </SectionContent>
            <SectionSource Code="LineExample1" GitHubFolderName="TemplateComponent" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <LineExample2 />
            </SectionContent>
            <SectionSource Code="LineExample2" GitHubFolderName="TemplateComponent" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>