@page "/components/linechart"

<DocsPage>
    <DocsPageHeader Title="Line Chart" SubTitle="">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" FullWidth="true">
                <LineExample1 />
            </SectionContent>
            <SectionSource ShowCode="false" Code="LineExample1" GitHubFolderName="Charts" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" FullWidth="true">
                <LineExample2 />
            </SectionContent>
            <SectionSource ShowCode="false" Code="LineExample2" GitHubFolderName="Charts" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" FullWidth="true">
                <LineExample3 />
            </SectionContent>
            <SectionSource ShowCode="false" Code="LineExample3" GitHubFolderName="Charts" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>