@page "/components/linechart"

<DocsPage>
    <DocsPageHeader>
        <Title>Line chart</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" FullWidth="true">
                <LineExample1/>
            </SectionContent>
            <SectionSource Code="LineExample1" GitHubFolderName="TemplateComponent" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>