@page "/components/piechart"

<DocsPage>
    <DocsPageHeader Title="Pie Chart" SubTitle="">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic Pie</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <PieExample1 />
            </SectionContent>
            <SectionSource Code="PieExample1" GitHubFolderName="Charts" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>