@page "/components/stackedbarchart"

<DocsPage>
    <DocsPageHeader Title="Stacked Bar Chart" SubTitle="">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <StackedBarExample1 />
            </SectionContent>
            <SectionSource Code="StackedBarExample1" GitHubFolderName="Charts" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>