<h3>Order By DatePicker</h3>

<MudDatePicker YearsOrderBy="Enums.OrderBy.Asc" MaxDate="DateTime.UtcNow.AddYears(-16)" MinDate="DateTime.UtcNow.AddYears(-100)" Label="Ascending years with min max"/>

<MudDatePicker YearsOrderBy="Enums.OrderBy.Desc" MaxDate="DateTime.UtcNow.AddYears(-16)" MinDate="DateTime.UtcNow.AddYears(-100)" Label="Descending years with min max"/>

<MudDatePicker YearsOrderBy="Enums.OrderBy.Desc" Label="Descending years"/>

<MudDatePicker YearsOrderBy="Enums.OrderBy.Asc" Label="Ascending years"/>

@code {

}
