@using System.Globalization;
@namespace MudBlazor.UnitTests.TestComponents

<MudPopoverProvider></MudPopoverProvider>

<h3>Persian DatePicker</h3>

<MudDatePicker Label="Date Format" @bind-Date="date"
               HelperText="Persian" DateFormat="yyyy/MM/dd"
               Culture="@CultureInfo.GetCultureInfo("fa-Ir")" />

@code { 
    DateTime? date = new DateTime(2021, 02, 14); 

}
