@namespace MudBlazor
@using MudBlazor.Utilities


<div class="@Classname">
    @ChildContent
</div>

@code {

    protected string Classname =>
    new CssBuilder("mud-main-content-root")
      .AddClass($"mud-main-drawer-open", DrawerOpen)
      .AddClass($"mud-main-drawer-closed", !DrawerOpen)
      .AddClass(Class)
    .Build();

    [Parameter] public string Class { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [CascadingParameter] bool DrawerOpen { get; set; }
    
}