@namespace MudBlazor
@using MudBlazor.Utilities


<div class="@Classname">
    @ChildContent
</div>

@code {

    protected string Classname =>
    new CssBuilder("mud-main-content")
      .AddClass($"mud-main-drawer-open", LayoutState.DrawerOpen)
      .AddClass($"mud-main-drawer-closed", !LayoutState.DrawerOpen)
      .AddClass(Class)
    .Build();

    [Parameter] public string Class { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [CascadingParameter] LayoutState LayoutState { get; set; }

}