@namespace MudBlazor
@using MudBlazor.Extensions
@using MudBlazor.Utilities
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    @ChildContent
</div>

@code {

    protected string Classname =>
    new CssBuilder("mud-main-content")
        .AddClass(GetDrawerClass(Anchor.Left))
        .AddClass(GetDrawerClass(Anchor.Right))
        .AddClass(Class)
     .Build();

    [Parameter] public RenderFragment ChildContent { get; set; }

    [CascadingParameter] MudLayout Layout { get; set; }

    private string GetDrawerClass(Anchor anchor)
    {
        var drawer = Layout?.DrawerContainer.GetDrawerOrDefault(anchor);
        if (drawer == null)
            return string.Empty;

        return $"mud-main-drawer-{(drawer.Open ? "open" : "close")}-{drawer.Variant.ToDescriptionString()}-{drawer.Breakpoint.ToDescriptionString()}-{anchor.ToDescriptionString()}";
    }
}