@namespace MudBlazor
@using MudBlazor.Utilities
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    @ChildContent
</div>

@code {

    protected string Classname =>
    new CssBuilder("mud-main-content")
        .AddClass($"mud-main-drawer-open", Layout?.IsDrawerOpen(Anchor.Left))
        .AddClass($"mud-main-drawer-clipped", Layout?.IsDrawerClipped(Anchor.Left))
        .AddClass($"mud-main-right-drawer-open", Layout?.IsDrawerOpen(Anchor.Right))
        .AddClass($"mud-main-right-drawer-clipped", Layout?.IsDrawerClipped(Anchor.Right))
        .AddClass(Class)
     .Build();

    [Parameter] public RenderFragment ChildContent { get; set; }

    [CascadingParameter] MudLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if(Layout!=null)
            Layout.DrawersChanged+=OnDrawersChanged;
    }

    private void OnDrawersChanged()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        try
        {
            if (Layout!=null)
                Layout.DrawersChanged -= OnDrawersChanged;
        }
        catch (Exception) { }
    }
}