@page "/system/spacing"

<DocsPage>
    <DocsPageHeader>
        <Title>Spacing</Title>
            <SubTitle>
                <MudText>Spacing is a way to modify padding or margin without creating new classes.</MudText>
            </SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <MudText Typo="Typo.h5" GutterBottom="true">How it works</MudText>
            <MudText>The propertys:</MudText>
            <ul>
                <li>m - for classes that set margin</li>
                <li>p - for classes that set padding</li>
            </ul>
            <MudText>And direction the property applies to:</MudText>
            <ul>
                <li>t - for margin-top or padding-top</li>
                <li>b - for margin-bottom or padding-bottom</li>
                <li>l - for margin-left or padding-left</li>
                <li>r - for margin-right or padding-right</li>
                <li>x - for margin-left/padding-left and margin-right/padding-right</li>
                <li>y - for margin-top/padding-top and margin-bottom/padding-bottom</li>
                <li>a - for all 4 sides.</li>
            </ul>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>