@page "/getting-started/installation"

<DocsPage MaxWidth="MaxWidth.Large">
    <MudContainer>
        <MudText Typo="Typo.h3">Installation</MudText>
        <MudText Typo="Typo.h4">Nuget</MudText>
        <MudText>Find the package through NuGet Package Manager or install it with following command.</MudText>
        <MarkdownSegment Text="@Markdown_Install_Package" />
        <MudText>After the package is added you need to add the following in your _Imports.razor</MudText>
        <MarkdownSegment Text="@Markdown_Install_Using" />
        <MudText Typo="Typo.h4">Client Side</MudText>
        <MudText>Add the following in your index.html's head section.</MudText>
        <MarkdownSegment Text="@Markdown_Install_LinkFiles" />
        <MudText Typo="Typo.h4">Server Side</MudText>
        <MudText>Add the following in your _Host.cshtml's head section.</MudText>
        <MarkdownSegment Text="@Markdown_Install_LinkFiles" />
        <MudText>Now build and run your project and if you didn't get any errors, your good to go. Jump over to the usage guide to get started.</MudText>
    </MudContainer>
    <MudContainer>
        <div style="padding-top:64px;"></div>
    </MudContainer>
</DocsPage>
<Footer />

@code {
string Markdown_Install_Package = @"```html
dotnet add package MudBlazor
```";
string Markdown_Install_Using = @"```html
@using MudBlazor
```";
string Markdown_Install_LinkFiles = @"```html
<link href=""https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"" rel=""stylesheet"" />
<link href=""_content/MudBlazor/MudBlazor.min.css"" rel=""stylesheet"" />
```";
}
