@page "/getting-started/installation"

<DocsPage>
    <MudContainer>
        <MudTypography Typo="Typo.h3">Installation</MudTypography>
        <MudTypography Typo="Typo.h4">Nuget</MudTypography>
        <MudTypography>Find the package through NuGet Package Manager or install it with following command.</MudTypography>
        <MarkdownSegment Text="@Markdown_Install_Package" />
        <MudTypography>After the package is added you need to add the following in your _Imports.razor</MudTypography>
        <MarkdownSegment Text="@Markdown_Install_Using" />
        <MudTypography Typo="Typo.h4">Client Side</MudTypography>
        <MudTypography>Add the following in your index.html's head section.</MudTypography>
        <MarkdownSegment Text="@Markdown_Install_LinkFiles" />
        <MudTypography Typo="Typo.h4">Server Side</MudTypography>
        <MudTypography>Add the following in your _Host.cshtml's head section.</MudTypography>
        <MarkdownSegment Text="@Markdown_Install_LinkFiles" />
        <MudTypography>Now build and run your project and if you didn't get any errors, your good to go. Jump over to the usage guide to get started.</MudTypography>
    </MudContainer>
    <MudContainer>
        <div style="padding-top:64px;"></div>
    </MudContainer>
</DocsPage>
<Footer />

@code {
string Markdown_Install_Package = @"```html
dotnet add package MudBlazor
```";
string Markdown_Install_Using = @"```html
@using MudBlazor
```";
string Markdown_Install_LinkFiles = @"```html
<link href=""https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"" rel=""stylesheet"" />
<link href=""_content/MudBlazor/MudBlazor.min.css"" rel=""stylesheet"" />
```";
}
