@page "/getting-started/usage"

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageHeader Title="Usage"
        SubTitle="Here's a quick example how to use MudBlazor. Try it out on your own.">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Quick Start</Title>
                <Description>This is literally all you need in your views to use MudBlazor components.</Description>
            </SectionHeader>
            <SectionSource NoToolbar="true" Code="UsageExample" />
            <SectionContent Outlined="true" DisplayFlex="true">
                <UsageExample />
            </SectionContent>
        </DocsPageSection>
        <DocsPageSection>
            <MudText Typo="Typo.h6" Align="Align.Center" Class="my-16">Check out all the components in the menu to find out whats available and how to use them.</MudText>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
<Footer />


