@namespace MudBlazor.UnitTests.TestComponents

@* backwards compatibility test *@

<MudFileUpload T="IBrowserFile">
    <ButtonTemplate>
        <MudButton HtmlTag="label" for="@context">Upload</MudButton>
    </ButtonTemplate>
    <SelectedTemplate>
        <div>
            Select Template
        </div>
    </SelectedTemplate>
</MudFileUpload>