@namespace MudBlazor.Docs.Examples
@using MudBlazor.Utilities


<MudPaper Elevation="0" Class="mud-width-full mud-height-full d-flex justify-center align-end pb-8" MinHeight="600px" Style="@($"background-image:linear-gradient({degrees}deg, rgb({_gradientPrimary.R}, {_gradientPrimary.G}, {_gradientPrimary.B}) 0%, rgb({_gradientSecondary.R}, {_gradientSecondary.G}, {_gradientSecondary.B}) 100%);")">
    <MudPaper Class="d-flex">
        <MudColorPicker Rounded="true" Class="rounded-tr-0" PickerVariant="PickerVariant.Static" DisableModeSwitch="true" ValueChanged="UpdateSelectedColor" />
        <div class="pa-2">
            <MudText Typo="Typo.h6" Class="mx-1">Gradient Colors</MudText>
            <div class="d-flex flex-row pa-2 rounded" @onclick="(() => SwapColor(0))" style="cursor:pointer;">
                <MudPaper Height="56px" Width="56px" Class="rounded" Style="@($"background-color:{_gradientPrimary};")"></MudPaper>
                <MudTextField Class="ms-2 mt-0" @bind-Value="_gradientPrimary" Variant="Variant.Outlined" ReadOnly="true"></MudTextField>
            </div>
            <div class="d-flex flex-row pa-2 rounded mt-4" @onclick="(() => SwapColor(1))" style="cursor:pointer;">
                <MudPaper Height="56px" Width="56px" Class="rounded" Style="@($"background-color:{_gradientSecondary};")"></MudPaper>
                <MudTextField Class="ms-2 mt-0" @bind-Value="_gradientSecondary" Variant="Variant.Outlined" ReadOnly="true"></MudTextField>
            </div>
            <MudSlider Min="0" Max="360" Step="1" @bind-Value="@degrees" Class="px-2">Degrees</MudSlider>
        </div>
    </MudPaper>
</MudPaper>




@code {
    public MudColor _gradientPrimary = "#594AE2";
    public MudColor _gradientSecondary = "#FF4081";

    int degrees = 90;
    int currentColor = 0;

    void SwapColor(int value)
    {
        switch(value)
        {
            case 0:
                currentColor = 0;
                UpdateSelectedColor(_gradientPrimary);
                break;
            case 1:
                currentColor = 1;
                UpdateSelectedColor(_gradientSecondary);
                break;
        }
    }

    public void UpdateSelectedColor(MudColor value)
    {
        if(currentColor == 0)
        {
            _gradientPrimary = value;
        }
        else if(currentColor == 1)
        {
            _gradientSecondary = value;
        }
    }
}