.docs-credit-card .mud-card-content {
    min-height: 180px;
}



.credit-mat {
    color: #5d2f91;
}

.credit-mui {
    color: #1976d2;
}

.credit-awesome {
    color: #e93488;
}

.credit-blazored {
    color: #ff6600;
}