.docs-credit-card {
    .mud-card-content {
        padding-top: 0px;
        min-height: 100px;
    }
}

.docs-awesome-coders {
    .mud-card-header {
        min-height: 110px;
    }
}

.docs-avatar-img-sm {
    .mud-avatar-img {
        width: 60%;
        height: 60%;
    }
}

.credit-mui {
    color: #1976d2;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: .3rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.credit-vuetify {
    color: var(--mud-palette-text-primary);
    font-weight: 400;
    font-size: 1.7rem;
    margin-left: -15px;
    line-height: 3.125rem;
    letter-spacing: normal !important;
}

.credit-awesome {
    color: var(--mud-palette-text-primary);
    font-size: 1.5rem;
}

.credit-awesome-icon {
   
}
.credit-blazored {
    color: #ff6600;
}