.docs-credit-card {
    .mud-card-content {
        min-height: 180px;
     }
}

.docs-awesome-coders {
    .mud-card-header {
        min-height: 110px;
    }
}


.credit-mui {
    color: #1976d2;
}

.credit-awesome {
    color: #e93488;
}

.credit-blazored {
    color: #ff6600;
}