.docs-home {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 64px;
}


.mudblazor-svg {
    width: 215px;
    height: 175px;
    flex-shrink: 0;
    margin-bottom: 16px;
    margin-top: -10px;
}

@media (min-width: 960px){
    .docs-home {
        text-align: left;
        align-items: flex-start;
        flex-direction: row;
        padding-top: 128px;
        padding-bottom: 128px;
    }

    .mudblazor-svg {
        width: 215px;
        height: 175px;
        margin-right: 64px;
        flex-shrink: 0;
        margin-bottom: 16px;
        margin-top: -10px;
    }
}




.docs-home-brand {
    & h1 {
        font-weight: 300;
        margin-left: -12px;
        text-indent: .7rem;
        white-space: nowrap;
        letter-spacing: .7rem;
        line-height: 1.167;
        font-size: 3rem;
        color: #594ae2;
        margin-bottom: 0.35em;
    }

    & p {
        font-size: 1.5rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.334;
        letter-spacing: 0em;
        color: #594ae2;
    }

    & button {
        margin-top: 32px;
    }
}

.docs-home-paper {
    padding: 20px;

    & > .docs-home-title {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    & > .MarkdownSection-Root {
        margin-bottom: 20px;
    }
}

.docs-home-title {
    & > svg {
        color: #594ae2;
        font-size: 30px;
        margin-right: 16px;
    }

    & > h2 {
        font-size: 1.25rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0.0075em;
        margin: 0;
    }
}
