
.mudblazor-index {
    margin-top: 64px;
}

.mudblazor-text-h5 {
    white-space: nowrap;
    letter-spacing: .1rem;
    font-size: 2rem;
    font-weight: 300;
    color: var(--mud-palette-primary);

    &.smaller {
        font-size: 1.5rem;
    }
}


.mudblazor-svg {
    width: 100%;
    max-width: 300px;
}

@media (min-width: 960px) {

    .mudblazor-svg {
        max-width: 400px;
    }

    .mudblazor-text-h5 {
        font-size: 3rem;
        letter-spacing: .2rem;

        &.smaller {
            font-size: 2.5rem;
        }
    }

    .mudblazor-index{
        margin-top:128px;
    }
}

.mudblazor-section-titles {
    font-size: 38px;
    font-weight: 700;
}

.mudblazor-goal-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 12px;
}

.mudblazor-goal-paper {
    height: 160px;
}

.mudblazor-project-text {
    font-weight: 500;
    font-size: 1.1rem;
    
}

.mudblazor-project-card {
    & > .mud-card-header {
        background: transparent linear-gradient(90deg,#594AE2 0%, #FF4081 100%) 0% 0% no-repeat padding-box;
        padding: 12px;
    }

    & > .mud-card-content{
        height:300px;
    }
}

.mudblazor-project-paper {
    &.gradient-pink {
        background: transparent linear-gradient(90deg,#594AE2 0%, #FF4081 100%) 0% 0% no-repeat padding-box;
    }
}

.mudblazor-skeleton-white {
    background-color: rgba(255,255,255,.25);
}

.mudblazor-button {
    width: 200px;
    padding: 12px 0;
    margin: 0 8px;

    &.get-started {
        background: transparent linear-gradient(90deg, #594AE2 0%, rgb(119,107,231) 100%) 0% 0% no-repeat padding-box;
    }

    &.github {
        background: transparent linear-gradient(90deg, rgb(72,72,72) 0%, rgb(52,52,52) 100%) 0% 0% no-repeat padding-box;
    }
}

.docs-trymudblazor {
    text-align: center;

    .mud-button {
        margin-top: 16px;
        width: 100%;
        height: 50px;
        max-width: 250px;
        background: transparent linear-gradient(90deg, #594AE2 0%, rgb(119,107,231) 100%) 0% 0% no-repeat padding-box;
    }
}
