.docs-team-card {
    display: flex;

    .docs-team-avatar {
        .mud-avatar {
            height: 58px;
            width: 58px;
        }
    }

    .docs-team-details {
        padding-left: 26px;

        .docs-person-title {
            display: flex;

            .mud-svg-icon-root {
                font-size: 1.25rem;
            }
        }

        .docs-details-row {
            padding: 6px 0px;
            display: flex;
            align-items: center;

            .mud-svg-icon-root {
                margin-right: 8px;
            }
        }
    }
}
