@page "/components/overlay"

<DocsPage>
    <DocsPageHeader Title="Overlay" SubTitle="A short description of the component." />
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <OverlayUsageExample />
            </SectionContent>
            <SectionSource Code="OverlayUsageExample" GitHubFolderName="Overlay" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Absolute</Title>
                <Description>You can contain the overlay inside its parent with the <CodeInline>Absolute</CodeInline> property.</Description>
            </SectionHeader>
            <SectionContent Outlined="true" AutoMarginContent="false">
                <OverlayAbsoluteExample />
            </SectionContent>
            <SectionSource Code="OverlayAbsoluteExample" GitHubFolderName="Overlay" ShowCode="false" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Z Index</Title>
                <Description>With the <CodeInline>ZIndex</CodeInline> property you can control the stack order of the overlay.</Description>
            </SectionHeader>
            <SectionContent Outlined="true"  AutoMarginContent="false">
                <OverlayZIndexExample />
            </SectionContent>
            <SectionSource Code="OverlayZIndexExample" GitHubFolderName="Overlay" ShowCode="false" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>