@page "/components/overlay"

<DocsPage>
    <DocsPageHeader Title="Overlay" SubTitle="A short description of the component." />
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <OverlayUsageExample />
            </SectionContent>
            <SectionSource Code="OverlayUsageExample" GitHubFolderName="Overlay" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <OverlayAbsoluteExample />
            </SectionContent>
            <SectionSource Code="OverlayAbsoluteExample" GitHubFolderName="Overlay" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>