@page "/components/typeahead"


<DocsPage>
    <DocsPageHeader>
        <Title>Typeahead</Title>
        <SubTitle>
            Typeahead fields allows searching from a list of options.
        </SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" DisplayFlex="true">
                <TypeaheadUsageExample />
            </SectionContent>
            <SectionSource ShowCode="false" Code="TypeaheadUsageExample" GitHubFolderName="Select" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

