@namespace MudBlazor.UnitTests.TestComponents
@using MudBlazor.Utilities
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<MudForm @ref="form" FieldChanged="((v) => FormFieldChangedEventArgs = v)">
    <MudTextField T="string" />
    <MudNumericField T="int" />
    <div class="d-flex">
        <MudRadioGroup T="string" Required="true" RequiredError="Account type is required!">
            <MudRadio Value="@("1")">Personal</MudRadio>
            <MudRadio Value="@("2")">Professional</MudRadio>
        </MudRadioGroup>
    </div>

    <MudFileUpload T="IBrowserFile"></MudFileUpload>
</MudForm>

@code {
    MudForm form;

    public FormFieldChangedEventArgs FormFieldChangedEventArgs;
}