:root {
  --theme-mode-dark: 0;
  --theme-palette-color: '';
  --theme-palette-common-background: #000;
  --theme-palette-main-background-default: #fff;
  --theme-palette-switch-color: #fafafa;
  --theme-palette-switch-disabled-color: #bdbdbd;
  --theme-palette-switch-disabled-opacity: 0.12;
  --theme-palette-text-color: '';
  --theme-palette-text-primary: rgba(0, 0, 0, 0.87);
  --theme-palette-text-primary-hover: rgba(0, 0, 0, 0.08);
  --theme-palette-text-secondary: rgba(0, 0, 0, 0.54);
  --theme-palette-text-disabled: rgba(0, 0, 0, 0.38);
  --theme-palette-text-hint: rgba(0, 0, 0, 0.38);
  --theme-palette-background-paper: #fff;
  --theme-palette-background-default: #fff;
  --theme-palette-background-level1: #fff;
  --theme-palette-background-level2: #f5f5f5;
  --theme-palette-action-active: rgba(0, 0, 0, 0.54);
  --theme-palette-action-hover: rgba(0, 0, 0, 0.08);
  --theme-palette-action-hover-opacity: 0.08;
  --theme-palette-action-selected: rgba(0, 0, 0, 0.14);
  --theme-palette-action-disabled: rgba(0, 0, 0, 0.26);
  --theme-palette-action-disabled-background: rgba(0, 0, 0, 0.12);
  --theme-palette-primary-main: #1976d2;
  --theme-palette-primary-light: #4791db;
  --theme-palette-primary-dark: #115293;
  --theme-palette-primary-contrast-text: #fff;
  --theme-palette-primary-alternate: #115293;
  --theme-palette-primary-current: #115293;
  --theme-palette-primary-main-hover: rgba(25, 118, 210, 0.08);
  --theme-palette-primary-main-border: rgba(25, 118, 210, 0.5);
  --theme-palette-primary-main-background: #a7caed;
  --theme-palette-secondary-main: #dc004e;
  --theme-palette-secondary-light: #e33371;
  --theme-palette-secondary-dark: #9a0036;
  --theme-palette-secondary-contrast-text: #fff;
  --theme-palette-secondary-main-hover: rgba(220, 0, 78, 0.08);
  --theme-palette-secondary-main-border: rgba(220, 0, 78, 0.5);
  --theme-palette-secondary-main-background: #f19ebb;
  --theme-palette-secondary-current: #9a0036;
  --theme-palette-error-main: #f44336;
  --theme-palette-error-light: #e57373;
  --theme-palette-error-dark: #d32f2f;
  --theme-palette-error-contrast-text: #fff;
  --theme-palette-warning-main: #ff9800;
  --theme-palette-warning-light: #ffb74d;
  --theme-palette-warning-dark: #f57c00;
  --theme-palette-warning-contrast-text: rgba(0, 0, 0, 0.87);
  --theme-palette-info-main: #2196f3;
  --theme-palette-info-light: #64b5f6;
  --theme-palette-info-dark: #1976d2;
  --theme-palette-info-contrast-text: #fff;
  --theme-palette-success-main: #4caf50;
  --theme-palette-success-light: #81c784;
  --theme-palette-success-dark: #388e3c;
  --theme-palette-success-contrast-text: rgba(0, 0, 0, 0.87);
  --theme-palette-divider: rgba(0, 0, 0, 0.12);
  --theme-palette-divider-background-color: rgba(0, 0, 0, 0.08);
  --theme-palette-divider-border-bottom: #e0e0e0;
  --theme-palette-border-outlined: rgba(0, 0, 0, 0.23);
  --theme-palette-border-bottom: rgba(0, 0, 0, 0.42);
  --theme-palette-table-row-background-selected: rgba(0, 0, 0, 0.04);
  --theme-palette-table-row-background-hover: rgba(0, 0, 0, 0.07);
  --theme-palette-grey300: #e0e0e0;
  --theme-palette-grey-50: #fafafa;
  --theme-palette-grey-A100: #d5d5d5;
  --theme-palette-grey300-contrast-text: rgba(0, 0, 0, 0.87);
  --theme-palette-grey-background-default: #f5f5f5;
  --theme-palette-grey: #bdbdbd;
  --theme-palette-grey-light-or-dark: #e0e0e0;
  --theme-palette-grey-light-or-dark-contrast-text: rgba(0, 0, 0, 0.87);
  --theme-custom-content-background-color: #f4f6f8;
  --theme-custom-content-background-default: #f5f5f5;
  --theme-custom-palette-common-alternate: #000;
  --theme-custom-palette-opacity: 0.38;
  --theme-custom-layout-backward: #f5f5f5;
  --theme-custom-layout-forward: #fff;
  --theme-custom-palette-primary-main: #1976d2;
  --theme-custom-palette-primary-contrast-text: #fff; }
