@page "/components/list"

<DocsPage>
    <DocsPageHeader Title="Lists">
        <Description>Easily customizable and scrollable lists. Make them suit your needs with avatars, icons, or something like checkboxes.</Description>
        </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple List</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <ListSimpleExample />
            </SectionContent>
            <SectionSource Code="ListSimpleExample" GitHubFolderName="List" SnippetId="cElumkPk35NwLcdp28" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Nested List</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <ListNestedExample />
            </SectionContent>
            <SectionSource Code="ListNestedExample" GitHubFolderName="List" SnippetId="QOlEcklu37ICrdRU15" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Folder List</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <ListFolderExample />
            </SectionContent>
            <SectionSource Code="ListFolderExample" GitHubFolderName="List" SnippetId="QuPkQOlE386hIgjV06" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Interactive</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <ListInteractiveExample />
            </SectionContent>
            <SectionSource ShowCode="false" Code="ListInteractiveExample" GitHubFolderName="List" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
