@page "/components/list"

<DocsPage>
    <DocsPageHeader>
        <Title>Lists</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple List</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <ListSimpleExample/>
            </SectionContent>
            <SectionSource Code="ListSimpleExample"/>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
