@page "/components/list"

<DocsPage>
    <DocsPageHeader>
        <Title>Lists</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple List</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <ListSimpleExample />
            </SectionContent>
            <SectionSource Code="ListSimpleExample" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Nested List</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <ListNestedExample />
            </SectionContent>
            <SectionSource Code="ListNestedExample" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Folder List</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-list">
                <ListFolderExample />
            </SectionContent>
            <SectionSource Code="ListFolderExample" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
