<div class="mud-codeblock">
    <div class="html">
<pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">PropertyGroup Condition=" '$(Configuration)' == 'Debug' "</span><span class="htmlTagDelimiter">&gt;</span>
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudIllegalParameters</span><span class="htmlTagDelimiter">&gt;</span>V7IgnoreCase<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudIllegalParameters</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">PropertyGroup</span><span class="htmlTagDelimiter">&gt;</span>
</pre>
    </div>
</div>

<MudSimpleTable Elevation="0" Hover="true">
    <thead>
    <tr>
        <th>Option</th>
        <th>Description</th>
        <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><CodeInline>V7IgnoreCase</CodeInline></td>
        <td>Identify parameters ignoring case</td>
        <td><CodeInline>true</CodeInline></td>
    </tr>
    <tr>
        <td><CodeInline>V7CaseSensitive</CodeInline></td>
        <td>Identify parameters with case matching</td>
        <td></td>
    </tr>
    <tr>
        <td><CodeInline>Disabled</CodeInline></td>
        <td>Don't identify parameter issues</td>
        <td></td>
    </tr>
    
    </tbody>
</MudSimpleTable>
