@page "/components/sparkline"

<DocsPage>
    <DocsPageHeader Title="Sparkline" Api="sparkline">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title></Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" FullWidth="true">
                <SparkLineExample/>
            </SectionContent>
            <SectionSource Code="SparkLineExample" GitHubFolderName="Sparkline" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>