@page "/components/appbar"

<DocsPage>
    <DocsPageHeader>
        <Title>App Bar</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple App Bar</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <AppBarSimpleExample/>
            </SectionContent>
            <SectionSource Code="AppBarSimpleExample"/>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Elevation</Title>
                <Description>You can change the App Bar elevation, with values from 0-24</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <AppBarElevationExample/>
            </SectionContent>
            <SectionSource Code="AppBarElevationExample"/>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
