@namespace MudBlazor
@inherits MudBaseItemsControl<MudTimelineItem>
@implements IAsyncDisposable

<div class="@Classnames" style="@Style">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>