@namespace MudBlazor
@inherits MudBaseItemsControl<MudTimelineItem>

<div @attributes="UserAttributes" class="@Classnames" style="@Style">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>