@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classnames" style="@Style">
    <div class="mud-timeline-item-content">
        @ChildContent
    </div>
    <div class="mud-timeline-item-divider">
        @if(!HideDot)
        {
            <div class="@DotClassnames">
                <div class="@DotInnerClassnames"></div>
            </div>
        }
    </div>
</div>