@namespace MudBlazor
@inherits MudBaseBindableItemsControl<MudTimelineItem, TData>
@implements IAsyncDisposable
@typeparam TData

<div class="@Classnames" style="@Style">
    <CascadingValue Value="this">
        @if (ItemsSource == null)
        {
            @ChildContent
        }
        else
        {
            foreach (TData item in ItemsSource)
            {
                <MudTimelineItem>
                    @ItemTemplate(item)
                </MudTimelineItem>
            }
        }
    </CascadingValue>
</div>