@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

<CascadingValue Value="this" IsFixed="true">
    <div class="@Classname" style="@Stylename">
        @ChildContent
    </div>
</CascadingValue>
