@namespace MudBlazor
@attribute [CascadingTypeParameter(nameof(T))]
@inherits MudComponentBase
@typeparam T

<CascadingValue Value="this" IsFixed="true">
    <div class="@Classes" style="@Styles" @attributes="UserAttributes">
        @ChildContent
    </div>
</CascadingValue>
