.demo-container {
    padding: 24px;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin: auto;
    display: flex;
    outline: 0;
    position: relative;
    justify-content: center;
    margin-bottom:40px;
}
