.docs-page {
    & .mud-typography-h4 {
        margin-top: 52px;
    }

    & .mud-paper {
        padding: 20px;
    }
}

.docs-footer {
    padding: 48px 0px;
    margin-bottom: -64px;

    & h1 {
        font-weight: 400;
        letter-spacing: .4rem;
        line-height: 1.167;
        font-size: 1rem;
    }

    & > p {
        padding-top: 50px;
        text-align: center;
    }

    & ul li {
        padding: 6px 0;

        & a {
            color: rgba(0, 0, 0, 0.64);
        }
    }
}

.docs-credit-paper {
    min-height:180px;
}