@namespace MudBlazor
@inherits MudComponentBase

<div class="mud-card-content" style="@Style">
    @ChildContent
</div>

@code {

    /// <summary>
    /// Child content of the component.
    /// </summary>
    [Parameter] public RenderFragment ChildContent { get; set; }

}