@page "/components/container"

<DocsPage>
    <DocsPageHeader>
        <Title>Container</Title>
        <Description>A simple component to center content, choose between fluid or fixed.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Fluid</Title>
                <Description>You can set the max width with the MaxWidth enum.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true" Class="demo-container">
                <ContainerFluidExample/>
            </SectionContent>
            <SectionSource Code="ContainerFluidExample"/>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Fixed</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true"  Class="demo-container">
               <ContainedFixedExample/>
            </SectionContent>
            <SectionSource Code="ContainedFixedExample"/>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>