.mudblazor-paper-display {
  padding: 25px 50px 25px 50px; }

.mudblazor-docs-container {
  padding-top: 64px;
  padding-bottom: 64px; }
  .mudblazor-docs-container > .mud-typography-h4 {
    margin-top: 40px; }

.mudblazor-markdown {
  word-break: break-word; }
  .mudblazor-markdown pre {
    margin: 8px 0px;
    padding: 12px 18px;
    overflow: auto;
    direction: ltr;
    border-radius: 4px;
    background-color: #272c34;
    -webkit-overflow-scrolling: touch; }
  .mudblazor-markdown code {
    color: #fff;
    display: inline-block;
    padding: 2px 6px;
    font-size: 1em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-radius: 2px;
    -webkit-font-smoothing: subpixel-antialiased; }

.token, .token .tag {
  color: #31abab; }

.token, .token .punctuation {
  color: #979797; }

.token, .token .attr-name {
  color: #31abab; }

.token, .token .attr-value {
  color: #b3df75; }

.token.attr-value > .punctuation {
  color: #d0d0d0; }

.mudblazor-brand {
  font-size: 1.8rem;
  font-weight: 400;
  color: #555; }

.mudblazor-home {
  padding-top: 128px;
  padding-bottom: 128px;
  display: inline-flex; }

.mudblazor-home-wrapper {
  padding-left: 30px;
  padding-right: 30px; }
  .mudblazor-home-wrapper > .mud-divider {
    margin-top: 128px; }
  .mudblazor-home-wrapper > .mud-container > .mud-typography {
    text-align: center; }

.mudblazor-home-brand {
  font-weight: 300;
  margin-left: -12px;
  text-indent: .7rem;
  white-space: nowrap;
  letter-spacing: .7rem;
  line-height: 1.167;
  font-size: 3rem;
  color: #594ae2;
  margin-bottom: 0.35em; }

.mudblazor-home-brand-h5 {
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  color: #594ae2; }

.mudblazor-home-h2 {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin-bottom: 25px; }

.mudblazor-home button {
  margin-top: 32px; }

.mudblazor-home-paper {
  padding: 20px;
  min-height: 350px;
  min-width: 600px; }

.mudblazor-home-paper-credit {
  padding: 20px;
  min-height: 200px; }

.mudblazor-home-paper > .mudblazor-markdown {
  margin-bottom: 20px; }

.mudblazor-home-paper-title {
  display: flex;
  align-items: center;
  margin-bottom: 24px; }

.mudblazor-home-paper-title svg {
  color: #594ae2;
  font-size: 30px;
  margin-right: 16px; }

.mudblazor-home-paper-title h2 {
  margin: 0; }

.mudblazor-home-svg-logo {
  width: 215px;
  height: 175px;
  margin-right: 64px;
  flex-shrink: 0;
  margin-bottom: 16px;
  margin-top: -10px; }

.mudblazor-home-container {
  margin-bottom: 128px; }

.mudblazor-home-footer {
  padding: 24px 0px; }

@media (min-width: 600px) {
  .mudblazor-home-footer {
    padding: 64px 0px; } }

.mudblazor-home-footer-text {
  padding-top: 50px;
  text-align: center; }

.mudblazor-home-footer-brand {
  font-weight: 400;
  letter-spacing: .4rem;
  line-height: 1.167;
  font-size: 1rem; }

.credit-mat {
  color: #5d2f91; }

.credit-mui {
  color: #1976d2; }

.credit-awesome {
  color: #e93488; }

.demo-container {
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin: auto;
  display: flex;
  outline: 0;
  position: relative;
  justify-content: center;
  margin-bottom: 40px; }

.docs-paper-demo {
  display: flex;
  flex-wrap: wrap; }

.docs-paper-demo > * {
  width: 128px;
  height: 128px;
  margin: 8px; }
