@page "/components/autocomplete"


<DocsPage>
    <DocsPageHeader Title="Autocomplete"
        SubTitle="Autocomplete fields allows searching from a list of options.">
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" DisplayFlex="true">
                <AutocompleteUsageExample />
            </SectionContent>
            <SectionSource ShowCode="false" Code="AutocompleteUsageExample" GitHubFolderName="Autocomplete" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

