@page "/components/autocomplete"


<DocsPage>
    <DocsPageHeader Title="Autocomplete"
        SubTitle="The autocomplete component offers simple and flexible type-ahead functionality.">
        <Description>
            Autocomplete allows searching from a list of options. In comparison to a Select, the Autocomplete doesn't need to know the complete item list, 
            it only calls a search function that will return items asynchronously.
        </Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Usage</Title>
                <Description>How you write the search function determines whether or not the Autocomplete shows a full list initially.</Description>
            </SectionHeader>
            <SectionContent Outlined="true" DisplayFlex="true">
                <AutocompleteUsageExample />
            </SectionContent>
            <SectionSource ShowCode="false" Code="AutocompleteUsageExample" GitHubFolderName="Autocomplete" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Binding to complex objects</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true" DisplayFlex="true">
                <AutocompleteClrObjectsExample />
            </SectionContent>
            <SectionSource ShowCode="false" Code="AutocompleteClrObjectsExample" GitHubFolderName="Autocomplete" />
        </DocsPageSection>

    </DocsPageContent>
</DocsPage>

