@page "/components/iconbutton"

<DocsPage>
    <DocsPageHeader Title="Icon Button" Api="icon-button">
        <Description>
            Similar to <CodeInline>MudButton</CodeInline> but with icons. For guidance and suggestions go to <MudLink Href="/components/icons">Icons.</MudLink>
        </Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Icon Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <IconButtonSimpleExample />
            </SectionContent>
            <SectionSource Code="IconButtonSimpleExample" GitHubFolderName="IconButton" SnippetId="QulkltYk24i8BjV501" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Toggle Icon Button</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <IconToggleButtonExample />
            </SectionContent>
            <SectionSource Code="IconToggleButtonExample" GitHubFolderName="IconButton"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>