@page "/components/iconbutton"

<DocsPage>
    <DocsPageHeader>
        <Title>Icon Button</Title>
        <SubTitle>
            Similar to <CodeInline>MudButton</CodeInline> but with icons.
        </SubTitle>
        <Description>
            For guidance and suggestions go to <MudLink Href="/components/icons">Icons.</MudLink>
        </Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Icon Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <IconButtonSimpleExample />
            </SectionContent>
            <SectionSource Code="IconButtonSimpleExample" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Toggle Icon Button</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <IconToggleButtonExample />
            </SectionContent>
            <SectionSource Code="IconToggleButtonExample"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>