.mudblazor-brand {
  margin: 32px 0 0;
  padding: 0px; }
  .mudblazor-brand:hover {
    cursor: pointer;
    color: var(--mud-theme-primary);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
  .mudblazor-brand > .mudblazor-svg {
    width: 80px;
    margin-left: auto;
    margin-right: auto; }

.mudblazor-appbar-band {
  background-image: url(../../_content/MudBlazor.Docs/MudAppbarCorner.svg);
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden; }

.mudblazor-appbar-brand-text {
  letter-spacing: 0.5rem;
  font-weight: 300;
  margin-left: 12px;
  opacity: 0;
  font-size: 24px; }
  .mudblazor-appbar-brand-text.track-in {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both; }
  .mudblazor-appbar-brand-text.track-out {
    -webkit-animation: tracking-out-contract 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: tracking-out-contract 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
  .mudblazor-appbar-brand-text.mud-hide {
    display: none; }

.mudblazor-navmenu {
  overflow: auto;
  margin-bottom: 12px; }
  .mudblazor-navmenu * .mud-nav-link-icon, .mudblazor-navmenu .mud-nav-link-expand-icon {
    fill: var(--mud-theme-text-default); }

.docs-nav-fader {
  display: block;
  position: fixed;
  width: 232px;
  height: 60px;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), #fff);
  z-index: 100; }

.docs-nav-filler {
  display: flex;
  flex-grow: 1; }

.mud-container + .mud-container {
  margin-bottom: 128px; }

.mudblazor-main-content {
  padding-top: 64px;
  padding-bottom: 64px; }

@media (min-width: 960px) {
  .mudblazor-main-content {
    padding-top: 128px;
    padding-bottom: 64px;
    padding-left: 30px;
    padding-right: 30px; } }

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  z-index: 1; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 1px; }

::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6; }

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    letter-spacing: -0.5em;
    opacity: 0; } }

@keyframes tracking-out-contract {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    letter-spacing: -0.5em;
    opacity: 0; } }

.mud-codeblock {
  background-color: var(--mud-theme-dark);
  border-radius: var(--mud-theme-border-radius-default);
  padding: 16px;
  overflow: auto; }
  .mud-codeblock pre {
    color: #ededed;
    padding: 0px;
    font-size: 1em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    -webkit-font-smoothing: subpixel-antialiased;
    direction: ltr; }
  .mud-codeblock .html + .csharp {
    margin-top: 23px; }
  .mud-codeblock .html .htmlTagDelimiter {
    color: #979797; }
  .mud-codeblock .html .htmlElementName {
    color: #988ef1; }
  .mud-codeblock .html .htmlAttributeName {
    color: #27b5b5; }
  .mud-codeblock .html .htmlOperator, .mud-codeblock .html .quot {
    color: #c8c8c8; }
  .mud-codeblock .html .htmlAttributeValue {
    color: #ededed; }
  .mud-codeblock .html .htmlLink {
    color: #61afef;
    text-decoration: underline; }
  .mud-codeblock .html .enum {
    color: #b4eb8f;
    background-color: rgba(255, 255, 255, 0.15); }
  .mud-codeblock .html .enumValue, .mud-codeblock .html .sharpVariable {
    color: #ededed;
    background-color: rgba(255, 255, 255, 0.15); }
  .mud-codeblock .html .keyword {
    color: #61afef;
    background-color: rgba(255, 255, 255, 0.15); }
  .mud-codeblock .html .atSign {
    color: #000;
    background-color: #d2d295; }
  .mud-codeblock .csharp .atSign {
    color: #000;
    background-color: #d2d295; }
  .mud-codeblock .csharp .keyword {
    color: #569cd6; }
  .mud-codeblock .csharp .string {
    color: #d69d85; }
  .mud-codeblock .csharp .function {
    color: #dcdcaa; }
  .mud-codeblock .csharp .class {
    color: #4ec9b0; }
  .mud-codeblock .csharp .localVar {
    color: #9cdcfe; }
  .mud-codeblock .csharp .interface {
    color: #b0d7a3; }
  .mud-codeblock .csharp .comment {
    color: #57a64a; }

.docs-footer {
  padding: 48px 0px;
  margin-bottom: -64px; }
  .docs-footer h1 {
    font-weight: 400;
    letter-spacing: .4rem;
    line-height: 1.167;
    font-size: 1rem; }
  .docs-footer > p {
    padding-top: 50px;
    text-align: center; }
  .docs-footer ul li {
    padding: 6px 0; }

.demo-grid-spacing .mud-paper {
  width: 140px;
  height: 140px;
  text-align: center; }

.demo-grid-spacing .demo-grid-paper {
  padding: 10px 20px;
  width: 100% !important;
  height: 50px !important;
  align-items: center;
  display: flex;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 25px !important; }

.demo-grid-basic .mud-paper {
  padding: 40px 20px;
  width: 100%;
  height: 100px;
  text-align: center; }

.demo-list .mud-list, .demo-divider .mud-list {
  width: 100%;
  max-width: 360px;
  background-color: var(--mud-theme-surface); }

.demo-divider-vertical .mud-paper {
  display: flex;
  padding-left: 5px;
  padding-right: 5px; }
  .demo-divider-vertical .mud-paper .mud-svg-icon-root {
    margin: 12px; }

.demo-paper .mud-paper {
  width: 128px;
  height: 128px;
  margin: 8px; }

.demo-container .mud-container {
  height: 100%;
  background-color: rgba(89, 74, 226, 0.25); }

.demo-container .mud-paper {
  height: 400px;
  width: 100%;
  background-color: var(--mud-theme-surface); }

.demo-drawer .mud-main-content {
  background-color: var(--mud-theme-surface);
  padding: 20px;
  padding-top: 86px; }

.demo-textfield div .mud-input-control {
  margin: 8px; }

.demo-dialog-simple {
  display: inline-flex; }
  .demo-dialog-simple .mud-list .mud-list-item .mud-list-item {
    display: inline-flex; }
  .demo-dialog-simple p {
    align-self: center;
    margin-left: 16px;
    margin-right: 24px; }
  .demo-dialog-simple * .mud-avatar-color-default {
    color: #1e88e5;
    background-color: #bbdefb; }
  .demo-dialog-simple .s-t-a-l-k-e-r {
    color: #000;
    background-color: rgba(255, 152, 0, 0.8); }

.demo-slider-filler {
  height: 26px;
  width: 100%;
  display: inline-block; }

.demo-radio-inline {
  display: inline-block; }

.demo-snackbar-alerts * .mud-alert {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.demo-snackbar-output {
  min-width: 250px;
  padding: 1.5rem; }
  .demo-snackbar-output > .mud-typography-caption {
    display: block; }

.demo-elevation > .docs-section-content-inner > div {
  width: 100px;
  height: 100px;
  background-color: var(--mud-theme-surface);
  border-radius: var(--mud-theme-border-radius-default);
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin: 25px !important; }

.demo-navmenu {
  width: 250px;
  background-color: var(--mud-theme-surface); }

.demo-tabs .mud-tabs-panels {
  padding: 24px;
  background-color: var(--mud-theme-surface); }

.demo-progress .mud-progress-linear {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.demo-progress .mud-progress-linear + .mud-progress-linear {
  margin-top: 30px !important; }

.demo-menu .docs-section-content-inner {
  margin: 15px 0px; }

.demo-alert .mud-alert + .mud-alert {
  margin-top: 16px !important; }

.demo-alert-dense .mud-alert + .mud-alert, .demo-alert-noicon .mud-alert + .mud-alert {
  margin-top: 16px; }

.demo-alert-dense .mud-alert + .mud-alert-outlined-info, .demo-alert-dense .mud-alert-outlined-success, .demo-alert-dense .mud-alert-outlined-warning, .demo-alert-dense .mud-alert-outlined-error, .demo-alert-noicon .mud-alert + .mud-alert-outlined-info, .demo-alert-noicon .mud-alert-outlined-success, .demo-alert-noicon .mud-alert-outlined-warning, .demo-alert-noicon .mud-alert-outlined-error {
  margin-top: 14px !important; }

.demo-skeleton-cards .docs-section-content-inner .mud-card:last-child {
  margin-top: 36px; }

@media (min-width: 960px) {
  .demo-datetime-margin .docs-section-content-inner .mud-picker:first-child {
    margin-right: 25px; }
  .demo-datetime-margin .docs-section-content-inner .mud-picker:last-child {
    margin-left: 25px; } }

.demo-form-manual {
  width: 400px;
  padding-bottom: 20px; }

.demo-form {
  max-width: 400px; }
  .demo-form .demo-form-button {
    margin-left: auto; }

.demo-form-paper {
  max-width: 400px;
  padding: 16px;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center; }

.demo-badge .docs-section-content-inner > * {
  margin: 20px !important;
  align-self: center; }

.docs-iframe {
  height: 400px;
  width: 100%;
  margin: 0px !important; }

.docs-home {
  padding-top: 32px;
  padding-bottom: 64px; }
  .docs-home .mud-grid-item {
    text-align: center; }
  .docs-home .mud-typography-h5 {
    font-size: 1.2rem; }

.mudblazor-text {
  white-space: nowrap;
  letter-spacing: .7rem;
  margin-top: 1rem;
  line-height: 1;
  font-size: 3rem; }

.mudblazor-svg {
  width: 100%;
  max-width: 250px;
  margin-bottom: 32px; }

@media (min-width: 960px) {
  .docs-home {
    padding-top: 128px;
    padding-bottom: 128px; }
    .docs-home .mud-grid-item {
      text-align: left; }
    .docs-home .mud-typography-h5 {
      font-size: 1.5rem; }
  .mudblazor-svg {
    float: right;
    max-width: 300px;
    margin-right: 64px;
    margin-bottom: 0px; }
  .mudblazor-text {
    white-space: nowrap;
    letter-spacing: 1rem;
    font-size: 4rem;
    margin-top: 2rem;
    line-height: 1; } }

.docs-trymudblazor {
  text-align: center; }
  .docs-trymudblazor .mud-button {
    margin-top: 16px;
    width: 100%;
    height: 50px;
    max-width: 250px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.06), 0 8px 10px 1px rgba(0, 0, 0, 0.042), 0 3px 14px 2px rgba(0, 0, 0, 0.036); }

.docs-home-paper {
  padding: 20px;
  width: 100%; }
  .docs-home-paper > .docs-home-title {
    display: flex;
    align-items: center;
    margin-bottom: 24px; }
  .docs-home-paper .mud-codeblock {
    padding: 16px 12px; }
  .docs-home-paper .docs-home-title > svg {
    color: #594ae2;
    font-size: 30px;
    margin-right: 16px; }
  .docs-home-paper .docs-home-title > h2 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin: 0; }

.docs-credit-card .mud-card-content {
  padding-top: 0px;
  min-height: 100px; }

.docs-awesome-coders .mud-card-header {
  min-height: 110px; }

.docs-avatar-img-sm .mud-avatar-img {
  width: 60%;
  height: 60%; }

.credit-mui {
  color: #1976d2;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: .3rem;
  font-size: 1.3rem;
  text-transform: uppercase; }

.credit-vuetify {
  color: var(--mud-theme-on-surface);
  font-weight: 400;
  font-size: 1.7rem;
  margin-left: -15px;
  line-height: 3.125rem;
  letter-spacing: normal !important; }

.credit-awesome {
  color: var(--mud-theme-on-surface);
  font-size: 1.5rem; }

.credit-blazored {
  color: #ff6600; }

.docs-color-card {
  padding: 16px;
  display: flex; }
  .docs-color-card p {
    width: 100%; }

.mud-spacing-list > li code {
  width: 70px;
  text-align: center; }

.docs-page .mud-typography-h4 {
  margin-top: 52px; }

.docs-page-header {
  margin-bottom: 100px; }
  .docs-page-header .mud-typography-h3 {
    font-size: 40px;
    margin-bottom: 16px; }
  .docs-page-header .mud-typography-h4 {
    margin-top: 0px; }

.docs-page-section {
  margin-bottom: 50px; }

.docs-code {
  display: inline-block;
  padding: 0 5px;
  direction: ltr;
  font-size: .85em;
  font-weight: 900;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.4;
  border-radius: 2px;
  -webkit-font-smoothing: subpixel-antialiased; }
  .docs-code.docs-code-primary {
    color: var(--mud-theme-primary);
    background-color: var(--mud-theme-primary-hover); }
  .docs-code.docs-code-secondary {
    color: var(--mud-theme-secondary);
    background-color: var(--mud-theme-secondary-hover); }

.docs-frame {
  height: 100%;
  width: 100%;
  position: relative;
  height: 400px; }
  .docs-frame .docs-frame-absolute {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: auto;
    width: 100%;
    height: 100%; }
    .docs-frame .docs-frame-absolute .docs-frame-inner-wrapper {
      display: flex;
      height: 100%;
      overflow: auto;
      flex-direction: column; }

.docs-section-header {
  margin-bottom: 20px; }
  .docs-section-header .mud-typography-h4 {
    font-size: 30px;
    margin: 40px 0 16px; }

.docs-section-content {
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;
  background-color: var(--mud-theme-surface);
  margin: auto;
  display: flex;
  outline: 0;
  position: relative;
  justify-content: center; }
  .docs-section-content .docs-section-content-inner {
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: 0;
    position: relative;
    justify-content: center; }
  .docs-section-content.docs-display-flex > .docs-section-content-inner {
    display: flex;
    flex-grow: 1; }
  .docs-section-content.docs-content-full-width > .docs-section-content-inner {
    width: 100%; }
  .docs-section-content.docs-section-content-darken {
    background-color: var(--mud-theme-background-grey); }
  .docs-section-content.docs-section-content-outlined {
    border: 1px solid var(--mud-theme-border-color-default); }
  .docs-section-content.docs-section-content-display-grid {
    display: grid; }
  .docs-section-content > .docs-section-content-inner > *:not(.mud-grid) {
    margin: 8px; }

.docs-section-content-row > * {
  margin: 8px; }

.docs-section-source .docs-content-toolbar {
  width: 100%;
  display: flex; }
  .docs-section-source .docs-content-toolbar > .mud-tooltip-root .mud-icon-button .mud-svg-icon-root {
    font-size: 1.25rem; }

.docs-section-source .docs-source-code.docs-show-code {
  display: block; }

.docs-section-source .docs-source-code.docs-hide-code {
  display: none; }

.docs-content-api {
  padding: 0px;
  width: 100%; }

.docs-icon-container {
  margin-top: 20px; }
  .docs-icon-container .mud-divider {
    margin-bottom: 20px; }

.docs-icon-panel {
  height: 120px;
  width: 19%;
  padding: 20px 10px;
  display: inline-block;
  text-align: center; }
  .docs-icon-panel .mud-typography {
    margin-top: 10px; }

.docs-icon-panel-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .docs-icon-panel-inner .mud-svg-icon-root {
    font-size: 40px; }

.docs-icon-material-container .mud-input-control {
  background-color: var(--mud-theme-surface); }
