.mudblazor-brand {
  font-size: 1.8rem;
  font-weight: 400;
  color: #555;
  margin-left: auto;
  margin-right: auto; }

.mud-container + .mud-container {
  margin-bottom: 128px; }

.mudblazor-main-content {
  padding-top: 128px;
  padding-bottom: 64px;
  padding-left: 30px;
  padding-right: 30px; }

.credit-mat {
  color: #5d2f91; }

.credit-mui {
  color: #1976d2; }

.credit-awesome {
  color: #e93488; }

.docs-frame {
  height: 100%;
  width: 100%;
  position: relative;
  height: 400px; }
  .docs-frame .docs-frame-absolute {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: auto;
    width: 100%;
    height: 100%; }
    .docs-frame .docs-frame-absolute .docs-frame-inner-wrapper {
      display: flex;
      height: 100%;
      overflow: auto;
      flex-direction: column; }

.MarkdownSection-Root {
  word-break: break-word; }
  .MarkdownSection-Root pre {
    margin: 8px 0px;
    padding: 16px 14px;
    overflow: auto;
    direction: ltr;
    border-radius: var(--mud-theme-border-radius-default);
    background-color: #272c34;
    -webkit-overflow-scrolling: touch; }
  .MarkdownSection-Root code {
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-radius: 2px;
    -webkit-font-smoothing: subpixel-antialiased; }

.token, .token .tag {
  color: #31abab; }

.token, .token .punctuation {
  color: #979797; }

.token, .token .attr-name {
  color: #31abab; }

.token, .token .attr-value {
  color: #b3df75; }

.token.attr-value > .punctuation {
  color: #d0d0d0; }

.docs-showcase {
  padding: 24px;
  border-radius: 4px;
  margin: auto;
  display: flex;
  outline: 0;
  position: relative;
  justify-content: center;
  margin-bottom: 40px;
  background-color: #fff; }
  .docs-showcase > * {
    margin: 8px; }

.docs-showcase-darken {
  background-color: #f5f5f5; }

.docs-showcase-outlined {
  border: 1px solid rgba(0, 0, 0, 0.12); }

.docs-showcase-display-grid {
  display: grid; }

.docs-showcase-paper-filler .mud-paper {
  width: 128px;
  height: 128px;
  margin: 8px; }

.docs-showcase-grid-paper-filler .mud-paper {
  padding: 16px;
  text-align: center; }

.docs-showcase-grid-spacing .mud-paper {
  width: 100px;
  height: 140px;
  text-align: center; }

.docs-showcase-grid-spacing .mud-paper.docs-spacing {
  padding: 20px;
  width: 100%;
  height: 100px;
  text-align: left; }

.docs-home {
  padding-top: 128px;
  padding-bottom: 128px;
  display: inline-flex; }
  .docs-home > div > h1 {
    font-weight: 300;
    margin-left: -12px;
    text-indent: .7rem;
    white-space: nowrap;
    letter-spacing: .7rem;
    line-height: 1.167;
    font-size: 3rem;
    color: #594ae2;
    margin-bottom: 0.35em; }
  .docs-home > div > p {
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
    color: #594ae2; }
  .docs-home > div > button {
    margin-top: 32px; }

.docs-home-paper {
  padding: 20px; }
  .docs-home-paper > .docs-home-title {
    display: flex;
    align-items: center;
    margin-bottom: 24px; }
  .docs-home-paper > .MarkdownSection-Root {
    margin-bottom: 20px; }

.docs-home-title > svg {
  color: #594ae2;
  font-size: 30px;
  margin-right: 16px; }

.docs-home-title > h2 {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin: 0; }

.mudblazor-svg {
  width: 215px;
  height: 175px;
  margin-right: 64px;
  flex-shrink: 0;
  margin-bottom: 16px;
  margin-top: -10px; }

.docs-drawer-page {
  background-color: #fff;
  padding: 20px;
  padding-top: 86px; }

.docs-page .mud-typography-h4 {
  margin-top: 52px; }

.docs-footer {
  padding: 48px 0px;
  margin-bottom: -64px; }
  .docs-footer h1 {
    font-weight: 400;
    letter-spacing: .4rem;
    line-height: 1.167;
    font-size: 1rem; }
  .docs-footer > p {
    padding-top: 50px;
    text-align: center; }
  .docs-footer ul li {
    padding: 6px 0; }
    .docs-footer ul li a {
      color: rgba(0, 0, 0, 0.64); }

.docs-credit-card .mud-card-content {
  min-height: 180px; }
