.mudblazor-brand {
  margin: 32px 0 0;
  padding: 0px; }
  .mudblazor-brand:hover {
    cursor: pointer;
    color: var(--mud-palette-primary);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
  .mudblazor-brand > .mudblazor-svg {
    width: 80px;
    margin-left: auto;
    margin-right: auto; }

.mudblazor-appbar-band {
  background-image: url(../../_content/MudBlazor.Docs/MudAppbarCorner.svg);
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden; }

@media (max-width: 600px) {
  .mudblazor-appbar-band {
    background-position: 14px 0px; } }

.mudblazor-appbar-brand-text {
  letter-spacing: 0.5rem;
  font-weight: 300;
  margin-left: 12px;
  font-size: 24px;
  user-select: none; }

@media (max-width: 400px) {
  .mudblazor-appbar-brand-text {
    letter-spacing: 0.25rem; } }

.mudblazor-navmenu {
  overflow: auto;
  margin-bottom: 12px; }

.docs-nav-fader {
  display: block;
  position: fixed;
  width: 232px;
  height: 40px;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), var(--mud-palette-drawer-background));
  z-index: 100; }

.docs-nav-filler {
  display: flex;
  flex-grow: 1; }

.mud-container + .mud-container {
  margin-bottom: 128px; }

.mudblazor-main-content {
  padding-top: 86px;
  padding-bottom: 86px; }

@media (min-width: 960px) {
  .mudblazor-main-content {
    padding-top: 128px;
    padding-bottom: 64px;
    padding-left: 30px;
    padding-right: 30px; } }

.docs-list {
  list-style: inside; }

.docs-expand-wrapper {
  color: var(--mud-palette-white);
  background-color: var(--mud-palette-black); }
  .docs-expand-wrapper .docs-default-theme .mud-expand-panel {
    color: inherit;
    background-color: inherit;
    border: none !important; }
    .docs-expand-wrapper .docs-default-theme .mud-expand-panel .mud-expand-panel-text {
      color: #988ef1;
      font-weight: 500;
      font-size: 1rem; }

.mud-codeblock {
  height: 100%;
  background-color: var(--mud-palette-black);
  border-radius: var(--mud-default-borderradius);
  padding: 16px;
  overflow: auto; }
  .mud-codeblock pre {
    height: 100%;
    color: #ededed;
    padding: 0px;
    font-size: 1em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    -webkit-font-smoothing: subpixel-antialiased;
    direction: ltr; }
  .mud-codeblock .html + .csharp {
    margin-top: 23px; }
  .mud-codeblock .html .htmlTagDelimiter {
    color: #979797; }
  .mud-codeblock .html .htmlElementName {
    color: #988ef1; }
  .mud-codeblock .html .htmlAttributeName {
    color: #27b5b5; }
  .mud-codeblock .html .htmlOperator, .mud-codeblock .html .quot {
    color: #c8c8c8; }
  .mud-codeblock .html .htmlAttributeValue {
    color: #ededed; }
  .mud-codeblock .html .htmlLink {
    color: #61afef;
    text-decoration: underline; }
  .mud-codeblock .html .enum {
    color: #b4eb8f;
    background-color: rgba(255, 255, 255, 0.15); }
  .mud-codeblock .html .enumValue, .mud-codeblock .html .sharpVariable {
    color: #ededed;
    background-color: rgba(255, 255, 255, 0.15); }
  .mud-codeblock .html .keyword {
    color: #61afef;
    background-color: rgba(255, 255, 255, 0.15); }
  .mud-codeblock .html .atSign {
    color: #000;
    background-color: #d2d295; }
  .mud-codeblock .html .comment {
    color: #57a64a; }
  .mud-codeblock .csharp .atSign {
    color: #000;
    background-color: #d2d295; }
  .mud-codeblock .csharp .keyword {
    color: #569cd6; }
  .mud-codeblock .csharp .string {
    color: #d69d85; }
  .mud-codeblock .csharp .function {
    color: #dcdcaa; }
  .mud-codeblock .csharp .class {
    color: #4ec9b0; }
  .mud-codeblock .csharp .localVar {
    color: #9cdcfe; }
  .mud-codeblock .csharp .interface {
    color: #b0d7a3; }
  .mud-codeblock .csharp .number {
    color: #b0d7a3; }
  .mud-codeblock .csharp .enum {
    color: #b4eb8f; }
  .mud-codeblock .csharp .comment {
    color: #57a64a; }

.docs-footer {
  padding: 48px 0px;
  margin-bottom: -64px; }
  .docs-footer h1 {
    font-weight: 400;
    letter-spacing: .4rem;
    line-height: 1.167;
    font-size: 1rem; }
  .docs-footer > p {
    padding-top: 50px;
    text-align: center; }
  .docs-footer ul li {
    padding: 6px 0; }

.demo-grid-spacing .mud-paper {
  width: 140px;
  height: 140px;
  text-align: center; }

.demo-grid-spacing .demo-grid-paper {
  padding: 10px 20px;
  width: 100% !important;
  height: 50px !important;
  align-items: center;
  display: flex;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 25px !important; }

.demo-grid-basic .mud-paper {
  padding: 40px 20px;
  width: 100%;
  height: 100px;
  text-align: center; }

.demo-list .mud-list, .demo-divider .mud-list {
  width: 100%;
  max-width: 360px;
  background-color: var(--mud-palette-surface); }

.demo-divider-vertical .mud-paper {
  display: flex;
  padding-left: 5px;
  padding-right: 5px; }
  .demo-divider-vertical .mud-paper .mud-svg-icon-root {
    margin: 12px; }

.demo-paper .mud-paper {
  width: 128px;
  height: 128px;
  margin: 8px; }

.demo-container .mud-container {
  height: 100%;
  background-color: rgba(89, 74, 226, 0.25); }

.demo-container .mud-paper {
  height: 400px;
  width: 100%;
  background-color: var(--mud-palette-surface); }

.demo-drawer .mud-main-content {
  background-color: var(--mud-palette-surface);
  padding: 20px;
  padding-top: 86px; }

.demo-textfield div .mud-input-control {
  margin: 8px; }

.demo-dialog-simple {
  display: inline-flex; }
  .demo-dialog-simple .mud-list .mud-list-item .mud-list-item {
    display: inline-flex; }
  .demo-dialog-simple p {
    align-self: center;
    margin-left: 16px;
    margin-right: 24px; }
  .demo-dialog-simple * .mud-avatar-color-default {
    color: #1e88e5;
    background-color: #bbdefb; }
  .demo-dialog-simple .s-t-a-l-k-e-r {
    color: #000;
    background-color: rgba(255, 152, 0, 0.8); }

.demo-slider-filler {
  height: 26px;
  width: 100%;
  display: inline-block; }

.demo-radio-inline {
  display: inline-block; }

.demo-snackbar-alerts * .mud-alert {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.demo-snackbar-output {
  min-width: 250px;
  padding: 1.5rem; }
  .demo-snackbar-output > .mud-typography-caption {
    display: block; }

.demo-elevation > .docs-section-content-inner > div {
  width: 100px;
  height: 100px;
  background-color: var(--mud-palette-surface);
  border-radius: var(--mud-palette-lines-default);
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin: 25px !important; }

.demo-navmenu {
  width: 250px;
  background-color: var(--mud-palette-surface); }

.demo-tabs .mud-tabs-panels {
  padding: 24px;
  background-color: var(--mud-palette-surface); }

.demo-progress .mud-progress-linear {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.demo-progress .mud-progress-linear + .mud-progress-linear {
  margin-top: 30px !important; }

.demo-menu .docs-section-content-inner {
  margin: 15px 0px; }

.demo-alert .mud-alert + .mud-alert {
  margin-top: 16px !important; }

.demo-alert-dense .mud-alert + .mud-alert, .demo-alert-noicon .mud-alert + .mud-alert {
  margin-top: 16px; }

.demo-alert-dense .mud-alert + .mud-alert-outlined-info, .demo-alert-dense .mud-alert-outlined-success, .demo-alert-dense .mud-alert-outlined-warning, .demo-alert-dense .mud-alert-outlined-error, .demo-alert-noicon .mud-alert + .mud-alert-outlined-info, .demo-alert-noicon .mud-alert-outlined-success, .demo-alert-noicon .mud-alert-outlined-warning, .demo-alert-noicon .mud-alert-outlined-error {
  margin-top: 14px !important; }

.demo-skeleton-cards .docs-section-content-inner .mud-card:last-child {
  margin-top: 36px; }

@media (min-width: 960px) {
  .demo-datetime-margin .docs-section-content-inner .mud-picker:first-child {
    margin-right: 25px; }
  .demo-datetime-margin .docs-section-content-inner .mud-picker:last-child {
    margin-left: 25px; } }

.demo-form-manual {
  width: 400px;
  padding-bottom: 20px; }

.demo-form {
  max-width: 400px; }
  .demo-form .demo-form-button {
    margin-left: auto; }

.demo-form-paper {
  max-width: 400px;
  padding: 16px;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center; }

.demo-badge .docs-section-content-inner > * {
  margin: 20px !important;
  align-self: center; }

.docs-iframe {
  height: 400px;
  width: 100%;
  margin: 0px !important; }

.mudblazor-index {
  margin-top: 64px; }
  .mudblazor-index .docs-sections {
    margin-bottom: 128px; }

.mudblazor-svg {
  width: 100%;
  max-width: 300px; }

.mudblazor-text-h5 {
  letter-spacing: .1rem;
  font-size: 2rem;
  font-weight: 300;
  color: var(--mud-palette-primary); }
  .mudblazor-text-h5.smaller {
    font-size: 1.5rem; }

@media (min-width: 960px) {
  .mudblazor-index {
    margin-top: 128px; }
  .mudblazor-svg {
    max-width: 400px; }
  .mudblazor-text-h5 {
    font-size: 3rem;
    letter-spacing: .2rem; }
    .mudblazor-text-h5.smaller {
      font-size: 2.5rem; } }

.mudblazor-section-titles {
  font-size: 38px;
  font-weight: 500; }

.mudblazor-section-sub-title {
  font-size: 32px;
  font-weight: 500; }

.mudblazor-goal-title {
  font-weight: 600;
  font-size: 1.2rem; }

.mudblazor-goal-paper {
  height: 160px; }
  .mudblazor-goal-paper.material {
    box-shadow: 0 22px 45px -20px rgba(59, 41, 221, 0.4), 0 5px 5px -3px rgba(0, 0, 0, 0.06), 0 8px 10px 1px rgba(0, 0, 0, 0.042), 0 3px 14px 2px rgba(0, 0, 0, 0.036); }
  .mudblazor-goal-paper.in-c {
    box-shadow: 0 22px 45px -20px rgba(255, 26, 104, 0.4), 0 5px 5px -3px rgba(0, 0, 0, 0.06), 0 8px 10px 1px rgba(0, 0, 0, 0.042), 0 3px 14px 2px rgba(0, 0, 0, 0.036); }
  .mudblazor-goal-paper.be-included {
    box-shadow: 0 22px 45px -20px rgba(20, 204, 158, 0.4), 0 5px 5px -3px rgba(0, 0, 0, 0.06), 0 8px 10px 1px rgba(0, 0, 0, 0.042), 0 3px 14px 2px rgba(0, 0, 0, 0.036); }

.mudblazor-project-text {
  font-weight: 500;
  font-size: 1.1rem; }

.mudblazor-skeleton-white {
  background-color: rgba(255, 255, 255, 0.25); }

.docs-mud-button {
  width: 200px;
  padding: 12px 0;
  margin: 0 8px; }
  .docs-mud-button.get-started {
    background: transparent linear-gradient(90deg, #594AE2 0%, #776be7 100%) 0% 0% no-repeat padding-box; }
  .docs-mud-button.github {
    background: transparent linear-gradient(90deg, #484848 0%, #343434 100%) 0% 0% no-repeat padding-box; }
  .docs-mud-button.become-sponsor {
    background: transparent linear-gradient(18deg, #1dd6a7 0%, #1ee0b0 100%) 0% 0% no-repeat padding-box; }
  .docs-mud-button.try-mudblazor {
    background: transparent linear-gradient(90deg, #594AE2 0%, #776be7 100%) 0% 0% no-repeat padding-box; }

.mudblazor-app-text .mud-typography {
  font-family: monospace;
  font-size: 16px; }

.mudblazor-sponsor-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto; }
  .mudblazor-sponsor-list .mudblazor-sponsor {
    width: 180px;
    height: 80px;
    margin: 10px 5px;
    text-align: center;
    justify-content: center;
    border-radius: var(--mud-default-borderradius);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
    .mudblazor-sponsor-list .mudblazor-sponsor:hover {
      background-color: rgba(0, 0, 0, 0.04); }
    .mudblazor-sponsor-list .mudblazor-sponsor .mudblazor-sponsor-item {
      display: flex;
      align-items: center;
      display: flex;
      justify-content: center; }
      .mudblazor-sponsor-list .mudblazor-sponsor .mudblazor-sponsor-item .mudblazor-sponsor-image {
        width: 150px; }

.docs-credit-card .mud-card-content {
  padding-top: 0px;
  min-height: 100px; }

.docs-awesome-coders .mud-card-header {
  min-height: 110px; }

.docs-avatar-img-sm .mud-avatar-img {
  width: 60%;
  height: 60%; }

.credit-mui {
  color: #1976d2;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: .3rem;
  font-size: 1.3rem;
  text-transform: uppercase; }

.credit-vuetify {
  color: var(--mud-palette-text-primary);
  font-weight: 400;
  font-size: 1.7rem;
  margin-left: -15px;
  line-height: 3.125rem;
  letter-spacing: normal !important; }

.credit-awesome {
  color: var(--mud-palette-text-primary);
  font-size: 1.5rem; }

.credit-blazored {
  color: #ff6600; }

.docs-color-card {
  padding: 16px;
  display: flex; }
  .docs-color-card p {
    width: 100%; }

.mud-spacing-list > li code {
  width: 70px;
  text-align: center; }

.wf-layout {
  overflow: hidden;
  display: flex;
  height: 200px;
  width: 350px;
  position: relative;
  background-color: var(--mud-palette-background);
  box-shadow: var(--mud-elevation-3);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
  .wf-layout:hover {
    cursor: pointer;
    box-shadow: var(--mud-elevation-6); }

.wf-appbar {
  height: 28px;
  width: 100%;
  display: flex;
  padding: 8px;
  flex-shrink: 0;
  position: absolute;
  color: var(--mud-palette-appbar-text);
  background-color: var(--mud-palette-appbar-background); }
  .wf-appbar.wf-drawer-open-left {
    margin-left: 70px;
    width: calc(100% - 70px); }
  .wf-appbar.wf-drawer-open-right {
    margin-right: 70px;
    width: calc(100% - 70px); }

.wf-drawer {
  height: 100%;
  width: 70px;
  display: flex;
  flex-shrink: 0;
  flex: 0 0 auto;
  flex-direction: column;
  color: var(--mud-palette-drawer-text);
  background-color: var(--mud-palette-drawer-background); }

.wf-content {
  flex: 1 1 auto;
  overflow: auto;
  padding: 38px 8px 0px; }

.docs-page .mud-typography-h4 {
  margin-top: 52px; }

.docs-page-header {
  margin-bottom: 100px; }
  .docs-page-header .mud-typography-h3 {
    font-size: 40px;
    margin-bottom: 16px; }
  .docs-page-header .mud-typography-h4 {
    margin-top: 0px; }

.docs-page-section {
  margin-bottom: 50px; }

.docs-code {
  display: inline-block;
  padding: 0 5px;
  direction: ltr;
  font-size: .85em;
  font-weight: 900;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.4;
  border-radius: 2px;
  -webkit-font-smoothing: subpixel-antialiased; }
  .docs-code.docs-code-primary {
    color: var(--mud-palette-primary);
    background-color: var(--mud-palette-primary-hover); }
  .docs-code.docs-code-secondary {
    color: var(--mud-palette-secondary);
    background-color: var(--mud-palette-secondary-hover); }
  .docs-code.docs-code-tertiary {
    color: var(--mud-palette-tertiary);
    background-color: var(--mud-palette-tertiary-hover); }

.docs-frame {
  height: 100%;
  width: 100%;
  position: relative;
  height: 400px; }
  .docs-frame .docs-frame-absolute {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: auto;
    width: 100%;
    height: 100%; }
    .docs-frame .docs-frame-absolute .docs-frame-inner-wrapper {
      display: flex;
      height: 100%;
      overflow: auto;
      flex-direction: column; }

.docs-section-header {
  margin-bottom: 20px; }
  .docs-section-header .mud-typography-h4 {
    font-size: 30px;
    margin: 40px 0 16px; }

.docs-section-content {
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;
  background-color: var(--mud-palette-surface);
  margin: auto;
  display: flex;
  outline: 0;
  position: relative;
  justify-content: center; }
  .docs-section-content .docs-section-content-inner {
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: 0;
    position: relative;
    justify-content: center; }
  .docs-section-content.docs-display-flex > .docs-section-content-inner {
    display: flex;
    flex-grow: 1; }
  .docs-section-content.docs-content-full-width > .docs-section-content-inner {
    width: 100%; }
  .docs-section-content.docs-section-content-darken {
    background-color: var(--mud-palette-background-grey); }
  .docs-section-content.docs-section-content-outlined {
    border: 1px solid var(--mud-palette-lines-default); }
  .docs-section-content.docs-section-content-display-grid {
    display: grid; }
  .docs-section-content > .docs-section-content-inner > *:not(.mud-grid) {
    margin: 8px; }

.docs-section-content-row > * {
  margin: 8px; }

.docs-section-source {
  height: 100%; }
  .docs-section-source .docs-content-toolbar {
    width: 100%;
    display: flex; }
    .docs-section-source .docs-content-toolbar > .mud-tooltip-root .mud-icon-button .mud-svg-icon-root {
      font-size: 1.25rem; }
  .docs-section-source .docs-source-code {
    height: 100%; }
    .docs-section-source .docs-source-code.docs-show-code {
      display: block; }
    .docs-section-source .docs-source-code.docs-hide-code {
      display: none; }

.docs-content-api {
  padding: 0px;
  width: 100%; }

.docs-content-outlined {
  border: 1px solid var(--mud-palette-lines-default); }

.docs-icon-container {
  margin-top: 20px; }
  .docs-icon-container .mud-divider {
    margin-bottom: 20px; }

.docs-icon-panel {
  height: 120px;
  width: 19%;
  padding: 20px 10px;
  display: inline-block;
  text-align: center; }
  .docs-icon-panel .mud-typography {
    margin-top: 10px; }

.docs-icon-panel-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .docs-icon-panel-inner .mud-svg-icon-root {
    font-size: 40px; }

.docs-icon-material-container .mud-input-control {
  background-color: var(--mud-palette-surface); }

.mudblazor-apps {
  background: linear-gradient(180deg, var(--mud-palette-surface) 0%, var(--mud-palette-background-grey) 100%); }
  .mudblazor-apps .mud-card-header {
    padding: 6px 12px; }
  .mudblazor-apps .mud-card-header .mud-card-header-avatar {
    margin-right: 6px; }
  .mudblazor-apps .mud-list-subheader {
    padding-bottom: 8px; }
  .mudblazor-apps .mudblazor-apps-list {
    height: 100%;
    width: 100%;
    max-width: 160px; }
    .mudblazor-apps .mudblazor-apps-list * > .mud-list-item-icon {
      min-width: 36px; }
  .mudblazor-apps .mudblazor-apps-email {
    width: 100%; }
    .mudblazor-apps .mudblazor-apps-email .mud-table {
      background-color: transparent;
      border: none;
      border-radius: 0px;
      box-shadow: none; }
      .mudblazor-apps .mudblazor-apps-email .mud-table * thead tr:hover {
        cursor: default;
        background-color: transparent !important; }
      .mudblazor-apps .mudblazor-apps-email .mud-table * thead tr th {
        color: var(--mud-palette-action-default);
        font-size: .875rem;
        box-sizing: border-box;
        list-style: none;
        font-weight: 500; }
      .mudblazor-apps .mudblazor-apps-email .mud-table * tr, .mudblazor-apps .mudblazor-apps-email .mud-table td {
        cursor: pointer; }
      .mudblazor-apps .mudblazor-apps-email .mud-table tbody tr:last-child {
        border-bottom: none; }
        .mudblazor-apps .mudblazor-apps-email .mud-table tbody tr:last-child td {
          border-bottom: none; }
  .mudblazor-apps .mudblazor-apps-email-compose {
    background: linear-gradient(180deg, var(--mud-palette-surface) 0%, var(--mud-palette-background-grey) 100%);
    position: absolute;
    bottom: 0;
    right: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
    .mudblazor-apps .mudblazor-apps-email-compose * > .mud-input-control * > .mud-typography, .mudblazor-apps .mudblazor-apps-email-compose .mud-input-root {
      font-size: .875rem; }
    .mudblazor-apps .mudblazor-apps-email-compose * > .mud-input-control > div.mud-input.mud-input-text {
      margin-top: 6px; }
  .mudblazor-apps .mudblazor-apps-alert {
    position: absolute;
    top: 0;
    left: 10px;
    border-radius: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
    .mudblazor-apps .mudblazor-apps-alert .mud-alert-icon {
      margin-right: 4px; }
    .mudblazor-apps .mudblazor-apps-alert:hover {
      background-color: rgba(69, 167, 245, 0.2);
      cursor: pointer; }
  .mudblazor-apps .mudblazor-app-title {
    display: inline-block;
    text-align: center;
    width: 70%; }
  .mudblazor-apps .mudblazor-apps-calculator {
    position: absolute;
    left: 38%;
    background: linear-gradient(180deg, var(--mud-palette-surface) 0%, var(--mud-palette-background-grey) 100%); }
    .mudblazor-apps .mudblazor-apps-calculator .mud-button {
      min-width: 36px;
      min-height: 36px;
      width: 100%;
      height: 100%;
      box-shadow: none;
      padding: 6px 6px; }
      .mudblazor-apps .mudblazor-apps-calculator .mud-button .mud-button-start-icon {
        margin: 0; }
    .mudblazor-apps .mudblazor-apps-calculator .mud-card-header .mud-card-header-actions {
      margin-top: -6px;
      margin-right: -12px; }
    .mudblazor-apps .mudblazor-apps-calculator .calc-button-small .mud-svg-icon-root {
      font-size: 16px; }
    .mudblazor-apps .mudblazor-apps-calculator .calc-button-medium .mud-svg-icon-root {
      font-size: 18px; }
    .mudblazor-apps .mudblazor-apps-calculator .calc-button-opacity {
      opacity: 0.9; }
