name: sonar

on:
  workflow_dispatch:
  push:
    branches:
      - dev

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  analyze:
    if: ${{ github.repository_owner == 'MudBlazor' }}
    name: Analyze solution
    uses: MudBlazor/Workflows/.github/workflows/template-sonar.yml@main
    secrets: inherit
