@page "/components/grid"

<DocsPage>
    <DocsPageHeader>
        <Title>Grid</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Spacing</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true" Class="demo-grid-spacing">
                <GridSpacingExample/>
            </SectionContent>
            <SectionSource Code="GridSpacingExample" ShowCode="false"/>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic grid</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true" Class="demo-grid-basic">
                <GridBasicExample/>
            </SectionContent>
            <SectionSource Code="GridBasicExample" ShowCode="false"/>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
