@page "/components/grid"

<DocsPage>
    <DocsPageHeader>
        <Title>Grid</Title>
        <Description>The grid component helps keep layout consistent across various screen resolutions and sizes.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Spacing</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true" Class="demo-grid-spacing">
                <GridSpacingExample />
            </SectionContent>
            <SectionSource Code="GridSpacingExample" ShowCode="false" />
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic grid</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true" Class="demo-grid-basic">
                <GridBasicExample />
            </SectionContent>
            <SectionSource Code="GridBasicExample" ShowCode="false" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
