.mud-action-area {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
        background-color: var(--mud-palette-action-default-hover);
    }

    &.mud-disabled {
        cursor: default;
        pointer-events: none;
    }
}
