
.mud-alert {
    display: flex;
    padding: 6px 16px;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-radius: 4px;
    letter-spacing: 0.01071em;
    background-color: transparent;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mud-alert-standard-success {
    color: rgb(30, 70, 32);
    background-color: rgb(237, 247, 237);
}

.mud-alert-standard-success .mud-alert-icon {
    color: #4caf50;
}

.mud-alert-standard-info {
    color: rgb(13, 60, 97);
    background-color: rgb(232, 244, 253);
}

.mud-alert-standard-info .mud-alert-icon {
    color: #2196f3;
}

.mud-alert-standard-warning {
    color: rgb(102, 60, 0);
    background-color: rgb(255, 244, 229);
}

.mud-alert-standard-warning .mud-alert-icon {
    color: #ff9800;
}

.mud-alert-standard-error {
    color: rgb(97, 26, 21);
    background-color: rgb(253, 236, 234);
}

.mud-alert-standard-error .mud-alert-icon {
    color: #f44336;
}

.mud-alert-outlined-success {
    color: rgb(30, 70, 32);
    border: 1px solid #4caf50;
}

.mud-alert-outlined-success .mud-alert-icon {
    color: #4caf50;
}

.mud-alert-outlined-info {
    color: rgb(13, 60, 97);
    border: 1px solid #2196f3;
}

.mud-alert-outlined-info .mud-alert-icon {
    color: #2196f3;
}

.mud-alert-outlined-earning {
    color: rgb(102, 60, 0);
    border: 1px solid #ff9800;
}

.mud-alert-outlined-earning .mud-alert-icon {
    color: #ff9800;
}

.mud-alert-outlined-error {
    color: rgb(97, 26, 21);
    border: 1px solid #f44336;
}

.mud-alert-outlined-error .mud-alert-icon {
    color: #f44336;
}

.mud-alert-filled-normal {
    color: #fff;
    font-weight: 500;
    background-color: #313131;
}

.mud-alert-filled-success {
    color: #fff;
    font-weight: 500;
    background-color: #4caf50;
}

.mud-alert-filled-info {
    color: #fff;
    font-weight: 500;
    background-color: #2196f3;
}

.mud-alert-filled-warning {
    color: #fff;
    font-weight: 500;
    background-color: #ff9800;
}

.mud-alert-filled-error {
    color: #fff;
    font-weight: 500;
    background-color: #f44336;
}

.mud-alert-icon {
    display: flex;
    opacity: 0.9;
    padding: 7px 0;
    font-size: 22px;
    margin-right: 12px;
}

.mud-alert-message {
    padding: 8px 0;
}

.mud-alert-action {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: -8px;
    padding-left: 16px;
}
