
.mud-avatar {
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;

    &.mud-avatar-small {
        width: 24px;
        height: 24px;
    }

    &.mud-avatar-medium {
        width: 40px;
        height: 40px;
    }

    &.mud-avatar-large {
        width: 56px;
        height: 56px;
    }
}

.mud-avatar-color-default {
    color: #fff;
    background-color: #bdbdbd;
}

.mud-avatar-color-primary {
    color: var(--mud-theme-on-primary);
    background-color: var(--mud-theme-primary);
}

.mud-avatar-color-secondary {
    color: var(--mud-theme-on-secondary);
    background-color: var(--mud-theme-secondary);
}



.mud-avatar-rounded {
    border-radius: var(--mud-theme-border-radius-default);
}

.mud-avatar-square {
    border-radius: 0;
}

.mud-avatar-img {
    color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    text-indent: 10000px;
}

.mud-avatar-fallback {
    width: 75%;
    height: 75%;
}
