@import '../abstracts/variables';

.mud-avatar {
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    color: var(--mud-palette-white);
    background-color: var(--mud-palette-grey-light);

    &.mud-avatar-small {
        width: 24px;
        height: 24px;
    }

    &.mud-avatar-medium {
        width: 40px;
        height: 40px;
    }

    &.mud-avatar-large {
        width: 56px;
        height: 56px;
    }
}


.mud-avatar-rounded {
    border-radius: var(--mud-default-borderradius);
}

.mud-avatar-square {
    border-radius: 0;
}

.mud-avatar-img {
    color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    text-indent: 10000px;
}

.mud-avatar-fallback {
    width: 75%;
    height: 75%;
}
