.mud-badge, .mud-badge-badge {
    display: inline-block;
    line-height: 1;
}

.mud-badge {
    position: relative;

    .mud-badge-wrapper {
        flex: 0 1;
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;

        .mud-badge-badge {
            border-radius: 0.625rem;
            font-size: 0.75rem;
            height: 1.25rem;
            letter-spacing: 0;
            min-width: 1.25rem;
            padding: 0.25rem 0.375rem;
            pointer-events: auto;
            position: absolute;
            text-align: center;
            text-indent: 0;
            top: auto;
            transition: .3s cubic-bezier(.25,.8,.5,1);
            white-space: nowrap;

            &.mud-badge-bordered {
                border-color: inherit;
                border-style: solid;
                border-width: 0.125rem;
                padding: 0.1875rem 0.25rem;

                &.mud-badge-icon {
                    padding: 0.25rem 0.375rem;

                    & .mud-icon-badge {
                        margin-left: -0.25rem;
                        margin-inline-start: -0.25rem;
                        margin-inline-end: unset;
                        margin-top: -0.25rem;
                    }
                }
            }

            &.mud-badge-icon {
                width: 1.25rem;
                height: 1.25rem;

                & .mud-icon-badge {
                    color: inherit;
                    font-size: 0.75rem;
                    margin-left: -0.125rem;
                    margin-inline-start: -0.125rem;
                    margin-inline-end: unset;
                }
            }

            &.mud-badge-dot {
                border-radius: 50%;
                height: 0.5625rem;
                min-width: 0;
                padding: 0;
                width: 0.5625rem;
            }

            &.mud-badge-top {
                top: auto;
                bottom: calc(100% - 0.25rem);

                &.mud-badge-overlap {
                    bottom: calc(100% - 0.75rem);
                }
            }

            &.mud-badge-bottom {
                bottom: auto;
                top: calc(100% - 0.25rem);

                &.mud-badge-overlap {
                    top: calc(100% - 0.75rem);
                }
            }

            &.mud-badge-right {
                right: auto;
                left: calc(100% - 0.25rem);

                &.mud-badge-overlap {
                    left: calc(100% - 0.75rem);
                }
            }

            &.mud-badge-left {
                left: auto;
                right: calc(100% - 0.25rem);

                &.mud-badge-overlap {
                    right: calc(100% - 0.75rem);
                }
            }
        }
    }
}
