// Button Base
.mud-button-base-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.mud-button-base-root::-moz-focus-inner {
    border-style: none;
}

.mud-button-base-root.mud-disabled {
    cursor: default;
    pointer-events: none;
}

@media print {
    .mud-button-base-root {
        -webkit-print-color-adjust: exact;
    }
}

// Button

.mud-button-root {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.mud-button-root:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.mud-button-root.mud-disabled {
    color: rgba(0, 0, 0, 0.26);
}

@media (hover: none) {
    .mud-button-root:hover {
        background-color: transparent;
    }
}

.mud-button-root:hover.mud-disabled {
    background-color: transparent;
}

.mud-button-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.mud-button-text {
    padding: 6px 8px;
}

.mud-button-text-primary {
    color: #1976d2;
}

.mud-button-text-primary:hover {
    background-color: rgba(25, 118, 210, 0.04);
}

@media (hover: none) {
    .mud-button-text-primary:hover {
        background-color: transparent;
    }
}

.mud-button-text-secondary {
    color: rgb(220, 0, 78);
}

.mud-button-text-secondary:hover {
    background-color: rgba(220, 0, 78, 0.04);
}

@media (hover: none) {
    .mud-button-text-secondary:hover {
        background-color: transparent;
    }
}

.mud-button-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
}

.mud-button-outlined.mud-disabled {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.mud-button-outlined-primary {
    color: #594ae2;
    border: 1px solid rgba(89, 74, 226, 0.5);
}

.mud-button-outlined-primary:hover {
    border: 1px solid #594ae2;
    background-color: rgba(89, 74, 226, 0.04);
}

@media (hover: none) {
    .mud-button-outlined-primary:hover {
        background-color: transparent;
    }
}

.mud-button-outlined-secondary {
    color: rgb(220, 0, 78);
    border: 1px solid rgba(220, 0, 78, 0.5);
}

.mud-button-outlined-secondary:hover {
    border: 1px solid rgb(220, 0, 78);
    background-color: rgba(220, 0, 78, 0.04);
}

.mud-button-outlined-secondary.mud-disabled {
    border: 1px solid rgba(0, 0, 0, 0.26);
}

@media (hover: none) {
    .mud-button-outlined-secondary:hover {
        background-color: transparent;
    }
}

.mud-button-contained {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: #e0e0e0;
}

.mud-button-contained:hover {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    background-color: #d5d5d5;
}

.mud-button-contained.mud-focus-visible {
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
}

.mud-button-contained:active {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
}

.mud-button-contained.mud-disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}

@media (hover: none) {
    .mud-button-contained:hover {
        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
        background-color: #e0e0e0;
    }
}

.mud-button-contained:hover.mud-disabled {
    background-color: rgba(0, 0, 0, 0.12);
}

.mud-button-contained-primary {
    color: #fff;
    background-color: #1976d2;
}

.mud-button-contained-primary:hover {
    background-color: rgb(17, 82, 147);
}

@media (hover: none) {
    .mud-button-contained-primary:hover {
        background-color: #1976d2;
    }
}

.mud-button-contained-secondary {
    color: #fff;
    background-color: rgb(220, 0, 78);
}

.mud-button-contained-secondary:hover {
    background-color: rgb(154, 0, 54);
}

@media (hover: none) {
    .mud-button-contained-secondary:hover {
        background-color: rgb(220, 0, 78);
    }
}

.mud-button-disable-elevation {
    box-shadow: none;
}

.mud-button-disable-elevation:hover {
    box-shadow: none;
}

.mud-button-disable-elevation.mud-focus-visible {
    box-shadow: none;
}

.mud-button-disable-elevation:active {
    box-shadow: none;
}

.mud-button-disable-elevation.mud-disabled {
    box-shadow: none;
}

.mud-button-color-inherit {
    color: inherit;
    border-color: currentColor;
}

.mud-button-textsize-small {
    padding: 4px 5px;
    font-size: 0.8125rem;
}

.mud-button-textsize-large {
    padding: 8px 11px;
    font-size: 0.9375rem;
}

.mud-button-outlinedsize-small {
    padding: 3px 9px;
    font-size: 0.8125rem;
}

.mud-button-outlinedsize-large {
    padding: 7px 21px;
    font-size: 0.9375rem;
}

.mud-button-containedsize-small {
    padding: 4px 10px;
    font-size: 0.8125rem;
}

.mud-button-containedsize-large {
    padding: 8px 22px;
    font-size: 0.9375rem;
}

.mud-button-fullwidth {
    width: 100%;
}

.mud-button-starticon {
    display: inherit;
    margin-left: -4px;
    margin-right: 8px;
}

.mud-button-starticon.mud-button-iconsize-small {
    margin-left: -2px;
}

.mud-button-endicon {
    display: inherit;
    margin-left: 8px;
    margin-right: -4px;
}

.mud-button-endicon.mud-button-iconsize-small {
    margin-right: -2px;
}

.mud-button-iconsize-small > *:first-child {
    font-size: 18px;
}

.mud-button-iconsize-medium > *:first-child {
    font-size: 20px;
}

.mud-button-iconsize-large > *:first-child {
    font-size: 22px;
}

// IconButton

.mud-iconbutton-root {
    flex: 0 0 auto;
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.mud-iconbutton-root.mud-disabled {
    color: rgba(0, 0, 0, 0.26);
    background-color: transparent;
}

@media (hover: none) {
    .mud-iconbutton-root:hover {
        background-color: transparent;
    }
}

.mud-iconbutton-edge-start {
    margin-left: -12px;
}

.mud-iconbutton-size-small.mud-iconbutton-edge-start {
    margin-left: -3px;
}

.mud-iconbutton-edge-end {
    margin-right: -12px;
}

.mud-iconbutton-size-small.mud-iconbutton-edge-end {
    margin-right: -3px;
}

.mud-iconbutton-color-inherit {
    color: inherit;
}

.mud-iconbutton-color-inherit:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.mud-iconbutton-color-default {
    color: rgba(0, 0, 0, 0.54);
}

.mud-iconbutton-color-default:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.mud-iconbutton-color-primary {
    color: #1976d2;
}

.mud-iconbutton-color-primary:hover {
    background-color: rgba(25, 118, 210, 0.04);
}

@media (hover: none) {
    .mud-iconbutton-color-primary:hover {
        background-color: transparent;
    }
}

.mud-iconbutton-color-secondary {
    color: rgb(220, 0, 78);
}

.mud-iconbutton-color-secondary:hover {
    background-color: rgba(220, 0, 78, 0.04);
}

@media (hover: none) {
    .mud-iconbutton-color-secondary:hover {
        background-color: transparent;
    }
}

.mud-iconbutton-size-small {
    padding: 3px;
    font-size: 1.125rem;
}

.mud-iconbutton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
