.mud-button-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    &::-moz-focus-inner {
        border-style: none;
    }

    &:disabled {
        color: rgba(0, 0, 0, 0.26) !important;
        cursor: default;
        pointer-events: none;
    }
}

.mud-button {
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.mud-button-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.mud-button-text {
    padding: 6px 8px;

    &.mud-button-text-inherit {
        color: inherit;
    }

    &.mud-button-text-default {
        color: var(--mud-theme-color-on-default);

        &:hover {
            background-color: var(--mud-theme-color-default-hover);
        }
    }

    &.mud-button-text-primary {
        color: var(--mud-theme-color-primary);

        &:hover {
            background-color: var(--mud-theme-color-primary-hover);
        }
    }

    &.mud-button-text-secondary {
        color: var(--mud-theme-color-secondary);

        &:hover {
            background-color: var(--mud-theme-color-secondary-hover);
        }
    }
}

.mud-button-outlined {
    color: var(--mud-theme-color-on-default);
    border: 1px solid var(--mud-theme-color-default);
    padding: 5px 15px;

    &:hover {
        background-color: var(--mud-theme-color-default-hover);
    }

    &:disabled {
        border: 1px solid rgba(0, 0, 0, 0.12);
    }

    &.mud-button-outlined-primary {
        color: var(--mud-theme-color-primary);
        border: 1px solid var(--mud-theme-color-primary);

        &:hover {
            border: 1px solid var(--mud-theme-color-primary);
            background-color: var(--mud-theme-color-primary-hover);
        }
    }

    &.mud-button-outlined-secondary {
        color: var(--mud-theme-color-secondary);
        border: 1px solid var(--mud-theme-color-secondary);

        &:hover {
            border: 1px solid var(--mud-theme-color-secondary);
            background-color: var(--mud-theme-color-secondary-hover);
        }
    }
}

.mud-button-contained {
    color: var(--mud-theme-color-on-default);
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: var(--mud-theme-color-default-lighten);

    &:hover {
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
        background-color: var(--mud-theme-color-default-darken);
    }

    &:disabled {
        color: rgba(0, 0, 0, 0.26);
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0.12);
    }

    &.mud-button-contained-primary {
        color: var(--mud-theme-color-on-primary);
        background-color: var(--mud-theme-color-primary);

        &:hover {
            background-color: var(--mud-theme-color-primary-darken);
        }
    }

    &.mud-button-contained-secondary {
        color: var(--mud-theme-color-on-secondary);
        background-color: var(--mud-theme-color-secondary);

        &:hover {
            background-color: var(--mud-theme-color-secondary-darken);
        }
    }
}

.mud-button-disable-elevation {
    box-shadow: none;

    &:hover {
        box-shadow: none;
    }

    &:active {
        box-shadow: none;
    }

    &.mud-focus-visible {
        box-shadow: none;
    }

    &:disabled {
        box-shadow: none;
    }
}


.mud-button-color-inherit {
    color: inherit;
    border-color: currentColor;
}

.mud-button-text-size-small {
    padding: 4px 5px;
    font-size: 0.8125rem;
}

.mud-button-text-size-large {
    padding: 8px 11px;
    font-size: 0.9375rem;
}

.mud-button-outlined-size-small {
    padding: 3px 9px;
    font-size: 0.8125rem;
}

.mud-button-outlined-size-large {
    padding: 7px 21px;
    font-size: 0.9375rem;
}

.mud-button-contained-size-small {
    padding: 4px 10px;
    font-size: 0.8125rem;
}

.mud-button-contained-size-large {
    padding: 8px 22px;
    font-size: 0.9375rem;
}

.mud-button-full-width {
    width: 100%;
}

.mud-button-start-icon {
    display: inherit;
    margin-left: -4px;
    margin-right: 8px;
}

.mud-button-start-icon.mud-button-icon-size-small {
    margin-left: -2px;
}

.mud-button-end-icon {
    display: inherit;
    margin-left: 8px;
    margin-right: -4px;
}

.mud-button-end-icon.mud-button-icon-size-small {
    margin-right: -2px;
}

.mud-button-icon-size-small > *:first-child {
    font-size: 18px;
}

.mud-button-icon-size-medium > *:first-child {
    font-size: 20px;
}

.mud-button-icon-size-large > *:first-child {
    font-size: 22px;
}