.mud-card {

}

.mud-card-header {
    display: flex;
    padding: 1rem;
    align-items: center;

    & .mud-card-header-avatar {
        flex: 0 0 auto;
        margin-right: 1rem;
        margin-inline-end: 1rem;
        margin-inline-start: unset;
    }

    & .mud-card-header-content {
        flex: 1 1 auto;

        & .mud-typography {
            margin-bottom: 0;
        }
    }

    & .mud-card-header-actions {
        flex: 0 0 auto;
        align-self: flex-start;
        margin-top: -0.5rem;
        margin-right: -0.5rem;
        margin-inline-end: -0.5rem;
        margin-inline-start: unset;
    }
}

.mud-card-media {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mud-card-content {
    padding: 1rem;
}

.mud-card-actions {
    display: flex;
    padding: 0.5rem;
    align-items: center;
}
