.mud-card {
    
}

.mud-card-header {
    display: flex;
    padding: themePadding(16px);
    align-items: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    & .mud-card-header-avatar {
        flex: 0 0 auto;
        margin-right: themeMargin(16px);
        margin-inline-end: themeMargin(16px);
        margin-inline-start: unset;
    }

    & .mud-card-header-content {
        flex: 1 1 auto;

        & .mud-typography {
            margin-bottom: themeMargin(0px);
        }
    }

    & .mud-card-header-actions {
        flex: 0 0 auto;
        align-self: flex-start;
        margin-top: themeMargin(-8px);
        margin-right: themeMargin(-8px);
        margin-inline-end: themeMargin(-8px);
        margin-inline-start: unset;
    }
}

.mud-card-media {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.mud-card-header + .mud-card-media {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.mud-card-content {
    padding: themePadding(16px);
}

.mud-card-actions {
    display: flex;
    padding: themePadding(8px);
    align-items: center;
}