.mud-checkbox {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: -11px;
    margin-right: 16px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.mud-checkbox-input {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}

.mud-checkbox-span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.mud-checkbox-default {
    color: var(--mud-theme-color-default);

    &:hover {
        background-color: var(--mud-theme-color-default-hover);
    }
}

.mud-checkbox-primary {
    color: var(--mud-theme-color-primary);

    &:hover {
        background-color: var(--mud-theme-color-primary-hover);
    }
}

.mud-checkbox-secondary {
    color: var(--mud-theme-color-secondary);

    &:hover {
        background-color: var(--mud-theme-color-secondary-hover);
    }
}

.mud-checkbox-disabled {
    color: rgba(0, 0, 0, 0.26);

    &:hover {
        cursor:default;
        background-color: transparent;
    }
}