
.mud-chip {
    border: none;
    cursor: default;
    display: inline-flex;
    max-width: 100%;
    outline: 0;
    padding: 0 12px;
    position: relative;
    box-sizing: border-box;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    line-height: normal;
    margin: 4px;

    &.mud-disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &.mud-chip-size-small {
        border-radius: 12px;
        font-size: 12px;
        height: 24px;
    }

    &.mud-chip-size-medium {
        height: 32px;
        font-size: 14px;
        border-radius: 16px;
    }

    &.mud-chip-size-large {
        height: 40px;
        font-size: 16px;
        border-radius: 20px;
    }

    &.mud-chip-label {
        border-radius: var(--mud-theme-border-radius-default);
    }

    &.mud-clickable {
        cursor: pointer;
    }

    .mud-chip-icon {
        margin-left: -4px;
        margin-right: 4px;
        color: inherit;
    }

    .mud-chip-close-button {
        padding: 1px;
        margin-right: -4px;
        margin-left: 6px;
        height: 18px;
        width: 18px;
        color: inherit;
        transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;

        .mud-icon-size-small {
            font-size: 1.15rem;
        }

        &:hover {
            opacity: .70;
        }
    }

    & > .mud-chip-content {
        align-items: center;
        display: inline-flex;
        height: 100%;
        max-width: 100%;
        user-select: none;
    }
}

.mud-chip-filled {
    &.mud-chip-color-default {
        color: var(--mud-theme-on-default);
        background-color: var(--mud-theme-default-lighten);

        &:hover {
            background-color: var(--mud-theme-default-darken);
        }
    }

    &.mud-chip-color-primary {
        color: var(--mud-theme-on-primary);
        background-color: var(--mud-theme-primary);

        &:hover {
            background-color: var(--mud-theme-primary-darken);
        }
    }

    &.mud-chip-color-secondary {
        color: var(--mud-theme-on-secondary);
        background-color: var(--mud-theme-secondary);

        &:hover {
            background-color: var(--mud-theme-secondary-darken);
        }
    }

    &.mud-chip-color-info {
        color: var(--mud-theme-on-alert);
        background-color: var(--mud-theme-info);

        &:hover {
            opacity: .8;
        }
    }

    &.mud-chip-color-success {
        color: var(--mud-theme-on-alert);
        background-color: var(--mud-theme-success);

        &:hover {
            opacity: .8;
        }
    }

    &.mud-chip-color-warning {
        color: var(--mud-theme-on-alert);
        background-color: var(--mud-theme-warning);

        &:hover {
            opacity: .8;
        }
    }

    &.mud-chip-color-danger {
        color: var(--mud-theme-on-alert);
        background-color: var(--mud-theme-danger);

        &:hover {
            opacity: .8;
        }
    }

    &.mud-chip-color-dark {
        color: var(--mud-theme-on-alert);
        background-color: var(--mud-theme-dark);

        &:hover {
            opacity: .8;
        }
    }
}

.mud-chip-outlined {
    &.mud-chip-color-default {
        color: var(--mud-theme-default);
        border: 1px solid var(--mud-theme-default-lighten);

        &:hover {
            background-color: var(--mud-theme-default-hover);
        }
    }

    &.mud-chip-color-primary {
        color: var(--mud-theme-primary);
        border: 1px solid var(--mud-theme-primary);

        &:hover {
            background-color: var(--mud-theme-primary-hover);
        }
    }

    &.mud-chip-color-secondary {
        color: var(--mud-theme-secondary);
        border: 1px solid var(--mud-theme-secondary);

        &:hover {
            background-color: var(--mud-theme-secondary-hover);
        }
    }

    &.mud-chip-color-info {
        color: var(--mud-theme-info);
        border: 1px solid var(--mud-theme-info);

        &:hover {
            opacity: .8;
        }
    }

    &.mud-chip-color-success {
        color: var(--mud-theme-success);
        border: 1px solid var(--mud-theme-success);

        &:hover {
            opacity: .8;
        }
    }

    &.mud-chip-color-warning {
        color: var(--mud-theme-warning);
        border: 1px solid var(--mud-theme-warning);

        &:hover {
            opacity: .8;
        }
    }

    &.mud-chip-color-danger {
        color: var(--mud-theme-danger);
        border: 1px solid var(--mud-theme-danger);

        &:hover {
            opacity: .8;
        }
    }

    &.mud-chip-color-dark {
        color: var(--mud-theme-dark);
        border: 1px solid var(--mud-theme-dark);

        &:hover {
            opacity: .8;
        }
    }
}

.mud-chip-selected {
    color: var(--mud-theme-primary) !important;
    background-color: var(--mud-theme-primary-hover) !important;
}