.mud-collapse-container {
  height: 0px;
  overflow: hidden;
}

@keyframes mud-expand-anim {
  from {
    height: 0;
  }
}

.mud-collapse-entering {
  animation: mud-expand-anim 1s ease-in-out 0ms 1 forwards;

  &.mud-navgroup-collapse {
    animation-duration: 300ms !important;
  }
}

.mud-collapse-entered {
  overflow: initial;
}

@keyframes mud-collapse-anim {
  to {
    height: 0;
  }
}

.mud-collapse-exiting {
  animation: mud-collapse-anim 0.5s cubic-bezier(0, 1, 0, 1) 0ms 1 forwards;

  &.mud-navgroup-collapse {
    animation-duration: 300ms;
  }
}

.mud-collapse-hidden {
  visibility: hidden;
}

.mud-collapse-wrapper {
  display: flex;
}

.mud-collapse-wrapper-inner {
  width: 100%;
}
