.mud-divider {
    border: none;
    height: 1px;
    margin: themeMargin(0px);
    flex-shrink: 0;
    background-color: var(--mud-palette-divider);
}

.mud-divider-absolute {
    left: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.mud-divider-inset {
    margin-left: themeMargin(72px);
    margin-inline-start: themeMargin(72px);
    margin-inline-end: unset;
}

.mud-divider-light {
    background-color: var(--mud-palette-divider-light);
}

.mud-divider-middle {
    margin-left: themeMargin(16px);
    margin-right: themeMargin(16px);
}

.mud-divider-vertical {
    width: 1px;
    height: 100%;
}

.mud-divider-flexitem {
    height: auto;
    align-self: stretch;
}