$divider-inset-margin: 72px;
$divider-middle-margin: 16px;

.mud-divider {
  margin: 0;
  flex-shrink: 0;
  border-color: var(--mud-palette-divider);
  border-width: 1px;
  border-style: solid none none none;
}

.mud-divider-absolute {
  left: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.mud-divider-inset {
  margin-left: $divider-inset-margin;
  margin-inline-start: $divider-inset-margin;
  margin-inline-end: unset;
}

.mud-divider-light {
  border-color: var(--mud-palette-divider-light);
}

.mud-divider-middle {
  margin-left: $divider-middle-margin;
  margin-right: $divider-middle-margin;
}

.mud-divider-vertical {
  border-style: none solid none none;
  height: 100%;
}

.mud-divider-flexitem {
  height: auto;
  align-self: stretch;
}

.mud-divider-fullwidth {
  flex-grow: 1;
  width: 100%;
}

.mud-divider-with-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  // The wrapper contains the inset/middle margin: this is subtracted from the width to ensure it does not extend beyond the parent element
  &.mud-divider-inset:not(.mud-divider-with-content-vertical) {
    width: calc(100% - #{$divider-inset-margin});
  }

  &.mud-divider-middle:not(.mud-divider-with-content-vertical) {
    width: calc(100% - #{$divider-middle-margin * 2});
  }

  &.mud-divider-with-content-vertical {
    flex-direction: column;
    width: auto;
    height: 100%;
    align-self: stretch;
  }

  &.mud-divider-flexitem {
    height: auto;
  }
}

.mud-divider-with-content-line {
  flex: 1 1 0;
  width: auto;
  min-width: 0;
  min-height: 0;
  margin: 0;

  .mud-divider-with-content-vertical > & {
    height: auto;
  }
}

.mud-divider-with-content-text {
  flex: 0 0 auto;
  padding: 0 0.75rem;
  white-space: nowrap;

  .mud-divider-with-content-vertical > & {
    padding: 0.75rem 0;
  }
}
