
.mud-drop-zone{
  
}

.mud-drop-zone-can-drop{
  background-color: var(--mud-palette-success-hover);
}

.mud-drop-zone-no-drop{
  background-color: var(--mud-palette-error-hover);
}

.mud-drop-item{
  cursor: grab;
  
  &:active{
    cursor: grabbing;
  }
}