
.mud-drop-zone {
  position: relative;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mud-drop-zone-drag-block > * {
  pointer-events: none;
}

.mud-drop-zone-can-drop {
  background-color: var(--mud-palette-success-hover);
}

.mud-drop-zone-no-drop {
  background-color: var(--mud-palette-error-hover);
}

.mud-drop-item:not(.mud-drop-item-preview-start) {
  cursor: grab;
  user-select: none;

  &:active {
    cursor: grabbing;
  }
}

.mud-drop-item-preview-start {
  height: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: +1;
}
