@import '../abstracts/variables';

.mud-fab {
    padding: 0;
    font-size: 0.875rem;
    min-width: 0;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
    box-sizing: border-box;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 50%;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    color: var(--mud-palette-text-primary);
    background-color: var(--mud-palette-action-disabled-background);

    &:hover {
        text-decoration: none;
        background-color: var(--mud-palette-action-disabled);
    }

    &:active {
        box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 12px 17px 2px rgba(0,0,0,0.14),0px 5px 22px 4px rgba(0,0,0,0.12);
    }

    &:disabled {
        color: var(--mud-palette-action-disabled);
        box-shadow: none;
        background-color: var(--mud-palette-action-disabled-background);
        cursor: default;
        pointer-events: none;

        &:hover {
            background-color: var(--mud-palette-action-disabled-background);
        }
    }
}

.mud-fab-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}


@each $color in $mud-palette-colors {
    .mud-fab-#{$color} {
        color: var(--mud-palette-#{$color}-text);
        background-color: var(--mud-palette-#{$color});

        &:hover {
            background-color: var(--mud-palette-#{$color}-darken);
        }
    }
}


.mud-fab-extended.mud-fab-size-large {
    width: auto;
    height: 48px;
    padding: 0 16px;
    min-width: 48px;
    min-height: auto;
    border-radius: 24px;
}

.mud-fab-extended.mud-fab-size-small {
    width: auto;
    height: 34px;
    padding: 0 10px;
    min-width: 34px;
    border-radius: 17px;
}

.mud-fab-extended.mud-fab-size-medium {
    width: auto;
    height: 40px;
    padding: 0 16px;
    min-width: 40px;
    border-radius: 20px;
}

.mud-fab-color-inherit {
    color: inherit;
}

.mud-fab-size-small {
    width: 40px;
    height: 40px;
}

.mud-fab-size-medium {
    width: 48px;
    height: 48px;
}

.mud-fab-size-large {
    width: 56px;
    height: 56px;
}
