.mud-fab-menu-container {
  position: relative;
  display: inline-flex;

  &.fixed {
    position: fixed;
    z-index: calc(var(--mud-zindex-appbar) + 1);
  }

  &.mud-fab-anchor-top-left {
    top: 16px;
    left: 16px;
  }

  &.mud-fab-anchor-top-center {
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.mud-fab-anchor-top-right {
    top: 16px;
    right: 16px;
  }

  &.mud-fab-anchor-center-left {
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }

  &.mud-fab-anchor-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.mud-fab-anchor-center-right {
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }

  &.mud-fab-anchor-bottom-left {
    bottom: 16px;
    left: 16px;
  }

  &.mud-fab-anchor-bottom-center {
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.mud-fab-anchor-bottom-right {
    bottom: 16px;
    right: 16px;
  }

  .mud-fab-menu {
    position: absolute;
    display: flex;
    gap: 12px;
    z-index: calc(var(--mud-zindex-popover) - 2);
    pointer-events: none;
    // Default direction: Top
    &.mud-fab-menu-direction-top {
      bottom: calc(100% + 12px);
      flex-direction: column-reverse;
      align-items: center;
      width: 100%;

      .mud-fab-menu-item {
        transform: translateY(20px);
      }
    }

    &.mud-fab-menu-direction-bottom {
      top: calc(100% + 12px);
      flex-direction: column;
      align-items: center;
      width: 100%;

      .mud-fab-menu-item {
        transform: translateY(-20px);
      }
    }

    &.mud-fab-menu-direction-left {
      right: calc(100% + 12px);
      flex-direction: row-reverse;
      align-items: center;
      height: 100%;

      [dir='rtl'] & {
        flex-direction: row;
      }

      .mud-fab-menu-item {
        transform: translateX(20px);
      }
    }

    &.mud-fab-menu-direction-right {
      left: calc(100% + 12px);
      flex-direction: row;
      align-items: center;
      height: 100%;

      [dir='rtl'] & {
        flex-direction: row-reverse;
      }

      .mud-fab-menu-item {
        transform: translateX(-20px);
      }
    }

    &.mud-fab-menu-direction-start {
      inset-inline-end: calc(100% + 12px);
      flex-direction: row-reverse;
      align-items: center;
      height: 100%;

      .mud-fab-menu-item {
        transform: translateX(20px);

        [dir='rtl'] & {
          transform: translateX(-20px);
        }
      }
    }

    &.mud-fab-menu-direction-end {
      inset-inline-start: calc(100% + 12px);
      flex-direction: row;
      align-items: center;
      height: 100%;

      .mud-fab-menu-item {
        transform: translateX(-20px);

        [dir='rtl'] & {
          transform: translateX(20px);
        }
      }
    }

    &.mud-fab-menu-dampen {
      .mud-fab-menu-item {
        position: relative;
        z-index: 1;
      }

      .mud-fab-menu-item::before {
        content: "";
        position: absolute;
        inset: 0;
        background: inherit;
        filter: saturate(0.5) brightness(1.25);
        z-index: -1;
      }
    }

    .mud-fab-menu-item {
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &.mud-fab-menu-open {
      pointer-events: auto;

      .mud-fab-menu-item {
        opacity: 1;
        transform: translate(0);

        [dir='rtl'] & {
          transform: translate(0);
        }
      }
    }

    @for $i from 1 through 10 {
      .mud-fab-menu-item:nth-child(#{$i}) {
        transition-delay: (10 - $i) * 0.05s;
      }
    }
  }

  &:not(.open) {
    @for $i from 1 through 10 {
      .mud-fab-menu-item:nth-child(#{$i}) {
        transition-delay: $i * 0.05s;
      }
    }
  }

  .mud-fab-menu-button {
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: calc(var(--mud-zindex-popover) - 1);

    &.open {
      transform: rotate(45deg);
    }
  }
}
