.mud-input-control.mud-field {
    .mud-field-content {
        border: 0;
        margin: 0;
        display: block;
        min-width: 0;
        background: none;
        position: relative;
        box-sizing: content-box;
        letter-spacing: inherit;
        color: var(--mud-palette-text-primary);
        cursor: text;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.1876em;
        letter-spacing: .00938em;
        z-index: 10;
        padding: 6px 0 7px;

        &.mud-field-content-margin-dense {
            padding-top: 3px;
        }

        &.mud-field-content-nopadding {
            padding: 0px 0px;
        }

        &:focus {
            outline: 0;
        }

        &:invalid {
            box-shadow: none;
        }

        &:disabled {
            opacity: 1;
        }

        &.mud-field-content-text {
            margin-top: 16px;
        }

        &.mud-field-content-full-width {
            width: 100%;
        }

        &.mud-disabled {
            color: var(--mud-palette-text-disabled);
            cursor: default;
        }

        &.mud-field-content-underline {
            &:before {
                left: 0;
                right: 0;
                bottom: 0;
                content: "\00a0";
                position: absolute;
                transition: border-bottom 0.2s, background-color 0.2s;
                border-bottom: 1px solid var(--mud-palette-lines-inputs);
                pointer-events: none;
            }

            &:hover:not(.mud-disabled):before {
                border-bottom: 1px solid var(--mud-palette-action-default);
            }

            &:after {
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                position: absolute;
                transform: scaleX(0);
                transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
                border-bottom: 2px solid var(--mud-palette-primary);
                pointer-events: none;
            }

            &.mud-disabled:before {
                border-bottom-style: dotted;
            }

            &.mud-input-error:after {
                transform: scaleX(1);
                border-bottom-color: var(--mud-palette-error);
            }
        }

        &.mud-field-content-filled {
            padding: 27px 12px 10px;
            position: relative;
            transition: background-color 200ms cubic-bezier(0,0,.2,1) 0ms;
            background-color: rgba(0,0,0,.09);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.13);
            }

            &.mud-disabled {
                background-color: rgba(0, 0, 0, 0.12);
            }

            &.mud-field-content-underline {
                &:before {
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: "\00a0";
                    position: absolute;
                    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    border-bottom: 1px solid var(--mud-palette-lines-inputs);
                    pointer-events: none;
                }

                &:after {
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: "";
                    position: absolute;
                    transform: scaleX(0);
                    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
                    border-bottom: 2px solid var(--mud-palette-primary);
                    pointer-events: none;
                }

                &:hover:before {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
                }

                &.mud-disabled:before {
                    border-bottom-style: dotted;
                }

                &.mud-input-error:after {
                    transform: scaleX(1);
                    border-bottom-color: var(--mud-palette-error);
                }
            }

            &.mud-field-content-margin-dense {
                padding-top: 23px;
                padding-bottom: 6px;
            }

            &.mud-field-content-nopadding {
                padding-top: 21px;
                padding-bottom: 2px;
            }

            &.mud-field-content-root-adorned-start {
                padding-left: 0;
            }
        }

        &.mud-field-content-outlined {
            padding: 18.5px 14px;

            .mud-field-content-outlined-border {
                display: flex;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                box-sizing: border-box;
                width: 100%;
                max-width: 100%;
                height: 100%;
                text-align: left;
                pointer-events: none;
                border-radius: var(--mud-default-borderradius);
                border-color: var(--mud-palette-lines-inputs);
                border-width: 1px;
                border-style: solid;
                transition: border-width,border-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            }

            &:hover:not(.mud-disabled) .mud-field-content-outlined-border {
                border-color: var(--mud-palette-action-default);
            }

            &.mud-field-content-margin-dense {
                padding-top: 10.5px;
                padding-bottom: 10.5px;
            }

            &.mud-field-content-nopadding {
                padding-top: 6px;
                padding-bottom: 2px;
            }
        }
    }

    &.mud-input-error .mud-field-content-outlined-border {
        border-color: var(--mud-palette-error) !important;
    }
}