.mud-input-control.mud-field {
  .mud-input-slot {
    height: auto;
    min-height: 19px;

    &.mud-input-root-outlined.mud-input-adorned-start {
      padding-left: 0;
      padding-inline-start: 0;
      padding-inline-end: 14px;
    }

    &.mud-input-root-filled.mud-input-adorned-start {
      padding-left: 0;
      padding-inline-start: 0;
      padding-inline-end: 12px;
    }

    &.mud-input-slot-nopadding {
      padding-top: 0px;
      padding-bottom: 0px;

      &.mud-input-root-filled {
        padding-top: 21px;
        padding-bottom: 2px;
      }

      &.mud-input-root-outlined {
        padding-top: 7px;
        padding-bottom: 2px;
      }
    }
  }
}
