.mud-file-upload {
  flex-grow: 0;

  > .mud-input-control-input-container {
    display: initial !important;
  }

  .mud-file-upload-dragover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .mud-file-upload-dragarea {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: var(--mud-default-borderradius);
    border-width: 2px;
    border-style: dashed;
  }

  &.mud-input-control {
    margin-top: 0;
  }
}
