
.mud-form-control {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;

    &.mud-form-control-margin-normal {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    &.mud-form-control-margin-dense {
        margin-top: 8px;
        margin-bottom: 4px;
    }

    &.mud-form-control-full-width {
        width: 100%;
    }
}
