.mud-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.mud-grid-item {
    margin: 0;
    box-sizing: border-box;
}

.mud-grid-zero-minwidth {
    min-width: 0;
}

.mud-grid-direction-xs-column {
    flex-direction: column;
}

.mud-grid-direction-xs-column-reverse {
    flex-direction: column-reverse;
}

.mud-grid-direction-xs-row-reverse {
    flex-direction: row-reverse;
}

.mud-grid-wrap-xs-nowrap {
    flex-wrap: nowrap;
}

.mud-grid-wrap-xs-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.mud-grid-align-items-xs-center {
    align-items: center;
}

.mud-grid-align-items-xs-flex-start {
    align-items: flex-start;
}

.mud-grid-align-items-xs-flex-end {
    align-items: flex-end;
}

.mud-grid-align-items-xs-baseline {
    align-items: baseline;
}

.mud-grid-align-content-xs-center {
    align-content: center;
}

.mud-grid-align-content-xs-flex-start {
    align-content: flex-start;
}

.mud-grid-align-content-xs-flex-end {
    align-content: flex-end;
}

.mud-grid-align-content-xs-space-between {
    align-content: space-between;
}

.mud-grid-align-content-xs-space-around {
    align-content: space-around;
}

.mud-grid-justify-xs-center {
    justify-content: center;
}

.mud-grid-justify-xs-flex-end {
    justify-content: flex-end;
}

.mud-grid-justify-xs-space-between {
    justify-content: space-between;
}

.mud-grid-justify-xs-space-around {
    justify-content: space-around;
}

.mud-grid-justify-xs-space-evenly {
    justify-content: space-evenly;
}

.mud-grid-spacing-xs-1 {
    width: calc(100% + 8px);
    margin: -4px;
}

.mud-grid-spacing-xs-1 > .mud-grid-item {
    padding: 4px;
}

.mud-grid-spacing-xs-2 {
    width: calc(100% + 16px);
    margin: -8px;
}

.mud-grid-spacing-xs-2 > .mud-grid-item {
    padding: 8px;
}

.mud-grid-spacing-xs-3 {
    width: calc(100% + 24px);
    margin: -12px;
}

.mud-grid-spacing-xs-3 > .mud-grid-item {
    padding: 12px;
}

.mud-grid-spacing-xs-4 {
    width: calc(100% + 32px);
    margin: -16px;
}

.mud-grid-spacing-xs-4 > .mud-grid-item {
    padding: 16px;
}

.mud-grid-spacing-xs-5 {
    width: calc(100% + 40px);
    margin: -20px;
}

.mud-grid-spacing-xs-5 > .mud-grid-item {
    padding: 20px;
}

.mud-grid-spacing-xs-6 {
    width: calc(100% + 48px);
    margin: -24px;
}

.mud-grid-spacing-xs-6 > .mud-grid-item {
    padding: 24px;
}

.mud-grid-spacing-xs-7 {
    width: calc(100% + 56px);
    margin: -28px;
}

.mud-grid-spacing-xs-7 > .mud-grid-item {
    padding: 28px;
}

.mud-grid-spacing-xs-8 {
    width: calc(100% + 64px);
    margin: -32px;
}

.mud-grid-spacing-xs-8 > .mud-grid-item {
    padding: 32px;
}

.mud-grid-spacing-xs-9 {
    width: calc(100% + 72px);
    margin: -36px;
}

.mud-grid-spacing-xs-9 > .mud-grid-item {
    padding: 36px;
}

.mud-grid-spacing-xs-10 {
    width: calc(100% + 80px);
    margin: -40px;
}

.mud-grid-spacing-xs-10 > .mud-grid-item {
    padding: 40px;
}

.mud-grid-item-xs-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
}

.mud-grid-item-xs-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
}

.mud-grid-item-xs-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
}

.mud-grid-item-xs-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
}

.mud-grid-item-xs-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
}

.mud-grid-item-xs-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
}

.mud-grid-item-xs-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
}

.mud-grid-item-xs-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
}

.mud-grid-item-xs-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
}

.mud-grid-item-xs-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
}

.mud-grid-item-xs-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
}

.mud-grid-item-xs-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
}

.mud-grid-item-xs-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
}

.mud-grid-item-xs-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media (min-width:600px) {
    .mud-grid-item-sm-auto {
        flex-grow: 0;
        max-width: none;
        flex-basis: auto;
    }

    .mud-grid-item-sm-true {
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }

    .mud-grid-item-sm-1 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .mud-grid-item-sm-2 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }

    .mud-grid-item-sm-3 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }

    .mud-grid-item-sm-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .mud-grid-item-sm-5 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }

    .mud-grid-item-sm-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .mud-grid-item-sm-7 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }

    .mud-grid-item-sm-8 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }

    .mud-grid-item-sm-9 {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .mud-grid-item-sm-10 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .mud-grid-item-sm-11 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
    }

    .mud-grid-item-sm-12 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media (min-width:960px) {
    .mud-grid-item-md-auto {
        flex-grow: 0;
        max-width: none;
        flex-basis: auto;
    }

    .mud-grid-item-md-true {
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }

    .mud-grid-item-md-1 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .mud-grid-item-md-2 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }

    .mud-grid-item-md-3 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }

    .mud-grid-item-md-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .mud-grid-item-md-5 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }

    .mud-grid-item-md-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .mud-grid-item-md-7 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }

    .mud-grid-item-md-8 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }

    .mud-grid-item-md-9 {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .mud-grid-item-md-10 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .mud-grid-item-md-11 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
    }

    .mud-grid-item-md-12 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media (min-width:1280px) {
    .mud-grid-item-lg-auto {
        flex-grow: 0;
        max-width: none;
        flex-basis: auto;
    }

    .mud-grid-item-lg-true {
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }

    .mud-grid-item-lg-1 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .mud-grid-item-lg-2 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }

    .mud-grid-item-lg-3 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }

    .mud-grid-item-lg-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .mud-grid-item-lg-5 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }

    .mud-grid-item-lg-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .mud-grid-item-lg-7 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }

    .mud-grid-item-lg-8 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }

    .mud-grid-item-lg-9 {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .mud-grid-item-lg-10 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .mud-grid-item-lg-11 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
    }

    .mud-grid-item-lg-12 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media (min-width:1920px) {
    .mud-grid-item-xl-auto {
        flex-grow: 0;
        max-width: none;
        flex-basis: auto;
    }

    .mud-grid-item-xl-true {
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }

    .mud-grid-item-xl-1 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .mud-grid-item-xl-2 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }

    .mud-grid-item-xl-3 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }

    .mud-grid-item-xl-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .mud-grid-item-xl-5 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }

    .mud-grid-item-xl-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .mud-grid-item-xl-7 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }

    .mud-grid-item-xl-8 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }

    .mud-grid-item-xl-9 {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .mud-grid-item-xl-10 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .mud-grid-item-xl-11 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
    }

    .mud-grid-item-xl-12 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}
