.mud-icon-default {
  color: var(--mud-palette-text-secondary);
}


.mud-disabled {
  .mud-icon-root, .mud-svg-icon, .mud-icon-default {
    color: var(--mud-palette-text-disabled);
  }
}

.mud-icon-root {
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;

  &:focus {
    outline: none;
  }

  &.mud-svg-icon {
    fill: currentColor;
  }
}

.mud-icon-size-small {
  font-size: 1.25rem;
}

.mud-icon-size-medium {
  font-size: 1.5rem;
}

.mud-icon-size-large {
  font-size: 2.25rem;
}
