.mud-input-control {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1 1 auto;
    max-width: 100%;
    position: relative;
    flex-direction: column;
    vertical-align: top;
    margin-top: 6px;

    &.mud-input-control-margin-normal {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    &.mud-input-control-margin-dense {
        margin-top: 3px;
        margin-bottom: 2px;
    }

    &.mud-input-control-full-width {
        width: 100%;
    }

    & > div {
        &.mud-input.mud-input-text {
            margin-top: 16px;
        }

        &.mud-input.mud-input-filled {
        }

        &.mud-input.mud-input-outlined {
        }
    }

    & > .mud-input-label-outlined {
        &.mud-input-label-inputcontrol {
            line-height: 18px;
        }
    }

    & > .mud-input-label-inputcontrol {
        color: var(--mud-palette-text-primary);
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.00938em;
        z-index: 0;

        &.mud-disabled {
            color: var(--mud-palette-text-disabled);
        }

        &.mud-input-error {
            color: var(--mud-palette-error) !important;
        }
    }

    &.mud-input-required > .mud-input-label::after {
        content: "*";
    }
}

.mud-input-helper-text {
    color: var(--mud-palette-text-secondary);
    margin: 0;
    font-size: 0.75rem;
    margin-top: 3px;
    text-align: left;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}


.mud-input-helper-text.mud-disabled {
    color: var(--mud-palette-text-disabled);
}

.mud-input-helper-text.mud-input-error {
    color: var(--mud-palette-error) !important;
}

.mud-input-helper-text-margin-dense {
    margin-top: 4px;
}

.mud-input-helper-text-contained {
    margin-left: 14px;
    margin-right: 14px;
}
