

label + .mud-input-root {
    margin-top: 16px;
}

.mud-input-root {
    position: relative;
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;

    &.mud-input-root-multiline {
        padding: 6px 0 7px;

        &.mud-input-root-margin-dense {
            padding-top: 3px;
        }
    }

    &.mud-input-root-full-width {
        width: 100%;
    }

    &.mud-disabled {
        color: rgba(0, 0, 0, 0.38);
        cursor: default;
    }
}

.mud-input-underline {
    &:before {
        left: 0;
        right: 0;
        bottom: 0;
        content: "\00a0";
        position: absolute;
        transition: border-bottom .2s,background-color .2s;
        border-bottom: 1px solid rgba(0, 0, 0, 0.32);
        pointer-events: none;
    }

    &:hover:not(.mud-disabled):before {
        border-bottom: 1px solid rgba(0, 0, 0, 0.56);
    }

    &.mud-disabled:before {
        border-bottom-style: dotted;
    }

    &:after {
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        position: absolute;
        transform: scaleX(0);
        transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        border-bottom: 2px solid var(--mud-theme-color-primary);
        pointer-events: none;
    }

    &.mud-error:after {
        transform: scaleX(1);
        border-bottom-color: var(--mud-theme-color-danger);
    }
}
.mud-input-root:focus-within.mud-input-underline:after {
    transform: scaleX(1);
}


.mud-input-root > input {
    &.mud-input {
        font: inherit;
        color: currentColor;
        width: 100%;
        border: 0;
        height: 1.1876em;
        margin: 0;
        display: block;
        padding: 6px 0 7px;
        min-width: 0;
        background: none;
        position: relative;
        box-sizing: content-box;
        letter-spacing: inherit;
        -webkit-tap-highlight-color: transparent;

        @include inputplaceholder {
            color: currentColor;
            opacity: 0.42;
            transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }

        &.mud-input-margin-dense {
            padding-top: 3px;
        }

        &.mud-input-multiline {
            height: auto;
            resize: none;
            padding: 0;
        }

        &.mud-input-type-search {
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
        }

        &:focus {
            outline: 0;
        }

        &:invalid {
            box-shadow: none;
        }

        &:disabled {
            opacity: 1;
        }
    }
}