.mud-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.mud-list > .mud-list-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

.mud-list-item > .mud-list-item {
    width: 100%;
    padding: 8px 0 8px 24px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.75;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.06);
    }

    &.active {
        font-weight: 500 !important;
        color: #1976d2;
    }
}