.mud-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    & .mud-divider{
        margin: 8px 0;
    }
}

.mud-list > .mud-list-item, .mud-nested-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;

    &.mud-nested-list {
        display: block;

    }
}

.mud-list-item > .mud-list-item, .mud-nested-list > .mud-list-item {
    width: 100%;
    padding: 8px 0 8px 24px;
    color: inherit;
    line-height: 1.75;
    letter-spacing: 0;
    justify-content: flex-start;
    text-transform: none;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
        cursor: pointer;
        text-decoration: none;
        background-color: var(--mud-theme-color-default-hover);
    }

    &.active {
        font-weight: 500 !important;
        color: var(--mud-theme-color-primary);
    }
}

button.mud-list-item {
    font-weight: 500;
}

.mud-nested-list .mud-list {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mud-nested-list > .mud-list {
    display: none;

    & > .mud-list-item .mud-list-item {
        font-weight: 400;
        padding-left: 40px;
    }
}

.mud-nested-list > .mud-list > .mud-nested-list {

    & button {
        padding-left: 40px;
    }

    & .mud-list .mud-list-item .mud-list-item {
        padding-left: 56px;
    }
}

.mud-nested-list.expanded > .mud-list {
    display: block;
}
