.mud-menu {
    display: inline-flex;
    position: relative;
}

.mud-menu-container {
    max-width: max-content;
    width: max-content !important;

    &.mud-menu-fullwidth {
        width: 100% !important;
        max-width: none;
    }
}

.mud-menu-openonhover:hover .mud-popover {
    display: block;
    animation: mud-animation-fadein 251ms;
}
