.mud-nav-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  overflow: hidden;
  background-color: var(--mud-palette-background);

  &.mud-nav-bar-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.mud-nav-bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid transparent;

  &:hover:not(.mud-disabled), &:focus:not(.mud-disabled) {
    background-color: var(--mud-palette-action-default-hover);
  }
}

.mud-nav-bar-item-content {
    user-select: none;
}
