
.mud-paper {
    color: var(--mud-palette-text-primary);
    background-color: var(--mud-palette-surface);
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mud-paper-square {
    border-radius: 0px;
}

.mud-paper-outlined {
    border: 1px solid var(--mud-palette-lines-default);
}