.mud-picker-datepicker-toolbar {
    align-items: flex-start;
    flex-direction: column;

    .mud-button-year {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.75;
        letter-spacing: 0.00938em;
    }

    .mud-button-date {
        font-size: 2.125rem;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.00735em;
    }
}

.mud-picker-datepicker-toolbar-landscape {
    padding: 16px;
}

.mud-picker-datepicker-date-landscape {
    margin-right: 16px;
}


.mud-picker-calendar-header-switch {
    display: flex;
    margin-top: 4px;
    align-items: center;
    margin-bottom: 8px;
    justify-content: space-between;


    & > .mud-icon-button {
        z-index: 1;
        padding: 8px;
        margin: 6px;
        background-color: var(--mud-palette-surface);

        &:hover {
            background-color: var(--mud-palette-action-default-hover);
        }
    }

    & .mud-picker-calendar-header-transition {
        width: 100%;
        height: 23px;
        overflow: hidden;

        &:hover {
            & .mud-typography {
                cursor: pointer;
                font-weight: 500;
            }
        }
    }
}


.mud-picker-calendar-header-day {
    display: flex;
    max-height: 16px;
    align-items: center;
    justify-content: center;

    .mud-day-label {
        color: rgba(0, 0, 0, 0.38);
        width: 36px;
        margin: 0 2px;
        text-align: center;
    }
}

.mud-picker-year-container {
    height: 300px;
    overflow-y: auto;

    .mud-picker-year {
        cursor: pointer;
        height: 40px;
        display: flex;
        outline: none;
        align-items: center;
        justify-content: center;
        user-select: none;
        animation: mud-animation-fadein 500ms;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        &:hover {
            background-color: var(--mud-palette-action-default-hover);
        }

        & .mud-picker-year-selected {
            margin: 10px 0;
            font-weight: 500;
        }
    }
}

.mud-picker-month-container {
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;

    .mud-picker-month {
        flex: 1 0 33.33%;
        cursor: pointer;
        height: 75px;
        display: flex;
        outline: none;
        transition: font-size 100ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        align-items: center;
        justify-content: center;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        &:hover {
            background-color: var(--mud-palette-action-default-hover);
        }

        & .mud-picker-month-selected {
            font-weight: 500;
        }

        &.mud-disabled {
            color: var(--mud-palette-text-disabled);
            pointer-events: none;
        }
    }
}


.mud-picker-slide-transition {
    display: block;
    position: relative;
}

.mud-picker-slide-transition > * {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}


.mud-picker-calendar-transition{
    margin-top: 12px;
    min-height: 216px;
}

.mud-picker-calendar-progress-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mud-picker-calendar {
    .mud-picker-calendar-week {
        display: flex;
        justify-content: center;

        .mud-picker-calendar-day {
            .mud-day {
                color: var(--mud-palette-text-primary);
                width: 36px;
                height: 36px;
                margin: 0 2px;
                padding: 0;
                font-size: 0.75rem;
                font-weight: 500;

                &:hover {
                    background-color: var(--mud-palette-action-default-hover);
                }

                &.mud-hidden {
                    opacity: 0;
                    pointer-events: none;
                }

                &.mud-current {
                    font-weight: 600;
                }

                &.mud-selected {
                    font-weight: 500;
                }

                .mud-typography {
                    margin-top: 2px;
                }

                &.mud-disabled {
                    color: var(--mud-palette-text-disabled);
                    pointer-events: none;
                }
            }
        }
    }
}


