.mud-popover {
    outline: 0;
    z-index: calc(var(--mud-zindex-popover) + 1);
    visibility: hidden;
    position: absolute;

    &.mud-popover-fixed {
        position: fixed;
    }

    &.mud-popover-relative-width {
        width: 100%;
    }

    &.mud-popover-open {
        visibility: visible;
        animation: mud-animation-fadein 251ms;
    }
}

.mud-appbar {
    .mud-popover-cascading-value {
        z-index: calc(var(--mud-zindex-appbar) + 2);
    }
}

.mud-drawer {
    .mud-popover-cascading-value {
        z-index: calc(var(--mud-zindex-drawer) + 2);
    }
}

.mud-dialog {
    .mud-popover-cascading-value {
        z-index: calc(var(--mud-zindex-dialog) + 3);
    }
}

.mud-popover {
    .mud-list {
        max-height: inherit;
        overflow-y: auto;
    }
}