.portal{
    pointer-events:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
}


.portal-anchor {
    outline: 5px solid green;   
    position: absolute;
    z-index: 11111;
    pointer-events: none;
}

.portal-anchor-hidden{
    visibility:hidden;
    opacity:0;
    overflow:hidden;
}
.portal-anchor *{
    pointer-events:all;
}

.portal-fragment {
    outline: 5px solid blue;   
    width: 100%;    
    position:absolute;
}

.portal-fragment-hidden {
    width: max-content;
    height: max-content;
    &>*{
        position:relative;
    }
}



