.portal {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

.portal-anchor {
    position: absolute;
    pointer-events: none;

    & * {
        pointer-events: all;
    }
}