
.mud-progress-linear {
    position: relative;

    &.horizontal {
        width: 100%;

        &.mud-progress-linear {
            &-small {
                height: 4px;
            }

            &-medium {
                height: 8px;
            }

            &-large {
                height: 12px;
            }
        }

        .mud-progress-linear-dashed {
            animation: mud-progress-linear-horizontal-keyframes-buffer 3s infinite linear;
        }
    }

    &.vertical {
        height: 100%;

        &.mud-progress-linear {
            &-small {
                width: 4px;
            }

            &-medium {
                width: 8px;
            }

            &-large {
                width: 12px;
            }
        }
    }
}

.mud-progress-linear-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@each $color in $mud-palette-colors {
    .mud-progress-linear-color-#{$color} {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: block;
            background-color: var(--mud-palette-#{$color});
            opacity: 0.2;
        }
    }
}

.mud-progress-linear-buffer {
    background-color: transparent;
}

.mud-progress-linear-query {
    transform: rotate(180deg);
}

.mud-progress-linear-dashed {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 0;

    &.horizontal {
        animation: mud-progress-linear-horizontal-keyframes-buffer 3s infinite linear;
    }

    &.vertical {
        animation: mud-progress-linear-vertical-keyframes-buffer 3s infinite linear;
    }
}

.mud-progress-linear-dashed-color-primary {
    background-size: 10px 10px;
    background-image: radial-gradient(rgb(195, 189, 244) 0%, rgb(154, 145, 237) 16%, transparent 42%);
    background-position: 0 -23px;
}

.mud-progress-linear-dashed-color-secondary {
    background-size: 10px 10px;
    background-image: radial-gradient(rgb(255, 128, 175) 0%, rgb(255, 77, 143) 16%, transparent 42%);
    background-position: 0 -23px;
}

.mud-progress-linear-bar {
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
    transition: transform 0.2s linear;
    transform-origin: left;

    &.mud-progress-linear-1-indeterminate {
        &.horizontal {
            width: auto;
            animation: mud-progress-linear-horizontal-keyframes-indeterminate1 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }

        &.vertical {
            height: auto;
            animation: mud-progress-linear-vertical-keyframes-indeterminate1 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }
    }

    &.mud-progress-linear-2-indeterminate {
        &.horizontal {
            width: auto;
            animation: mud-progress-linear-horizontal-keyframes-indeterminate2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite;
        }

        &.vertical {
            height: auto;
            animation: mud-progress-linear-vertical-keyframes-indeterminate2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite;
        }
    }

    &.mud-progress-linear-bar-1-determinate {
        transition: transform .4s linear;
    }

    &.mud-progress-linear-bar-1-buffer {
        z-index: 1;
        transition: transform .4s linear;
    }

    &.mud-progress-linear-bar-2-buffer {
        transition: transform .4s linear;
    }
}

.mud-progress-linear-striped {
    background-image: linear-gradient( 135deg,hsla(0,0%,100%,.25) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.25) 0,hsla(0,0%,100%,.25) 75%,transparent 0,transparent);
    background-size: 40px 40px;
    background-repeat: repeat;
    animation: mud-progress-linear-striped-loading 10s linear infinite;
}