.mud-select-input {
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}

.mud-select > .mud-form-helpertext {
    margin-top: -21px;
}


.mud-select-menu {
    
}

.mud-selected-item {
    color: var(--mud-theme-primary);
    background-color: var(--mud-theme-primary-hover);
}