.mud-select {
    display:flex;
    position: relative;
}

.mud-select-input {
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}

.mud-select > .mud-form-helpertext {
    margin-top: -21px;
}

.mud-selected-item {
    color: var(--mud-palette-primary);
    background-color: var(--mud-palette-primary-hover);
}