

.mud-select {
    display: inline-flex;
    min-width: 50px;
}

.mud-select-icon {
    color: var(--mud-theme-text-default);
    position: relative;
    bottom: 30px;
    left: calc(100% - 20px);
}

.mud-disabled + .mud-input-label + .mud-select-icon {
    color: rgba(0, 0, 0, 0.38);
}

.mud-select-input {
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}

.mud-select-menu {
    z-index: 100;
    display: none;
    position: absolute;
    color: var(--mud-theme-text-color-default);
    background-color: var(--mud-theme-surface);
    border-radius: var(--mud-theme-border-radius-default);
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
    min-width: 120px;
    min-height: 16px;
    margin-top: 16px;

    &.mud-open {
        display: block;
    }
}

.mud-select-overlay {
    top: 0;
    left: 0;
    margin: 0px !important;
    height:100%;
    width:100%;
    position: fixed;
    background-color: transparent;
    z-index: 99;
}

.mud-select > .mud-form-helpertext {
    margin-top: -21px;
}

.mud-select-list-item {
    padding-top: 2px;
    padding-bottom: 2px;
}