
.mud-snackbar {
    display: flex;
    flex-wrap: wrap;
    flex-grow: initial;
    padding: 0.375rem 1rem;
    align-items: center;
    position: relative;
    pointer-events: auto;
    font-weight: 400;
    line-height: 1.43;
    overflow: hidden;
    margin-top: 1rem;
    min-width: 18rem;
    max-width: 31.25rem;
    border-radius: var(--mud-default-borderradius);
    box-shadow: 0 0.1875rem 0.3125rem -0.0625rem rgba(0,0,0,0.2), 0 0.375rem 0.625rem 0 rgba(0,0,0,0.14), 0 0.0625rem 1.125rem 0 rgba(0,0,0,0.12);

    &.force-cursor{
        cursor:pointer;
    }

    &.mud-snackbar-blurred {
        backdrop-filter: blur(1.125rem);
    }

    &.mud-snackbar-surface {
        background: var(--mud-palette-surface);
    }

    .mud-snackbar-content-message {
        padding: 0.5rem 0;
    }

    .mud-snackbar-content-action {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: -0.5rem;
        padding-left: 1rem;
        margin-inline-start: auto;
        margin-inline-end: -0.5rem;
        padding-inline-start: 1rem;

        & > button {
            color: inherit;
        }
    }
}

.mud-snackbar-location {
    &-top {

        &-left {
            top: 1.5rem;
            left: 1.5rem;
        }

        &-center {
            top: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
        }

        &-right {
            top: 1.5rem;
            right: 1.5rem;
        }
    }

    &-bottom {

        &-right {
            right: 1.5rem;
            bottom: 1.5rem;
        }

        &-center {
            bottom: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
        }

        &-left {
            bottom: 1.5rem;
            left: 1.5rem;
        }
    }
}

#mud-snackbar-container {
    position: fixed;
    z-index: var(--mud-zindex-snackbar);
    pointer-events: none
}

.mud-snackbar-icon {
    display: flex;
    opacity: 0.9;
    padding: 0.4375rem 0;
    font-size: 1.375rem;
    margin-right: 0.75rem;
    margin-inline-end: 0.75rem;
    margin-inline-start: unset;
}
