

.mud-stepper {
    display: flex;

    .mud-stepper-step {
        padding: 24px;
        position: relative;

        .mud-stepper-step-label {
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 100%;

            .mud-stepper-step-label-icon {
                flex-shrink: 0;
                display: flex;
                color: var(--mud-palette-white);
                border-radius: 50%;
                background-color: var(--mud-palette-text-disabled);
                height: 24px;
                width: 24px;
                align-items: center;
                justify-content: center;
                //horizontal has this margin
                margin-right: 8px;
            }

            .mud-stepper-step-label-content {
                width: 100%;
                color: var(--mud-palette-text-secondary);
            }
        }

        &.active {

            .mud-stepper-step-label-content {
                color: var(--mud-palette-text-primary);
            }
        }
    }

    .mud-stepper-connector {
        flex: 1 1 auto;
        //horizontal has this margin
        align-self: center;
        margin: 0 -16px;

        .mud-stepper-connector-line {
            display: block;
            border-color: var(--mud-palette-lines-inputs);
            border-top-style: solid;
            border-top-width: 1px;
        }
    }

    &.mud-stepperHorizontal {

        &.mud-stepperAlternateLabel {
            height: unset;

            .mud-stepper-step {
                flex-basis: 175px;
            }

            .mud-stepper-step-label {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                .mud-stepper-step-label-icon {
                    margin-right: 0px !important;
                }

                .mud-stepper-step-label-content {
                    margin-top: 12px;
                    text-align: center;
                }
            }

            .mud-stepper-connector {
                margin: 35px -67px 0;
                align-self: flex-start;
            }
        }
    }
}