

.mud-stepper {

    .mud-stepper-nav {

        .mud-stepper-nav-step {
            padding: 24px;
            position: relative;

            .mud-stepper-nav-step-label {
                display: flex;
                align-items: center;
                flex-direction: row;
                height: 100%;

                .mud-stepper-nav-step-label-icon {
                    flex-shrink: 0;
                    display: flex;
                    color: var(--mud-palette-white);
                    border-radius: 50%;
                    background-color: var(--mud-palette-text-disabled);
                    height: 24px;
                    width: 24px;
                    align-items: center;
                    justify-content: center;
                    //horizontal has this margin
                    margin-right: 8px;
                }

                .mud-stepper-nav-step-label-content {
                    width: 100%;
                    color: var(--mud-palette-text-secondary);
                }
            }

            &.active {

                .mud-stepper-nav-step-label-content {
                    color: var(--mud-palette-text-primary);
                }
            }
        }
    }

    .mud-stepper-content {
        padding: 0 24px;
    }



    .mud-stepper-nav-connector {
        flex: 1 1 auto;

        .mud-stepper-nav-connector-line {
            display: block;
            border-color: var(--mud-palette-lines-inputs);
        }
    }

    &.mud-stepperHorizontal {

        .mud-stepper-nav {
            display: flex;
        }

        &.mud-stepperAlternateLabel {

            .mud-stepper-nav-step {
                flex-basis: 175px;
            }

            .mud-stepper-nav-step-label {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                .mud-stepper-nav-step-label-icon {
                    margin-right: 0px !important;
                }

                .mud-stepper-nav-step-label-content {
                    margin-top: 12px;
                    text-align: center;
                }
            }

            .mud-stepper-nav-connector {
                margin: 35px -67px 0;
                align-self: flex-start;
            }
        }

        .mud-stepper-nav-connector {
            align-self: center;
            margin: 0 -16px;

            .mud-stepper-nav-connector-line {
                border-top-style: solid;
                border-top-width: 1px;
            }
        }
    }

    &.mud-stepperVertical {

        .mud-stepper-nav {
            padding: 8px 16px;
        }

        .mud-stepper-nav-step {
            padding: 0;

            .mud-stepper-nav-step-label {
                padding: 8px 0px;
            }
        }

        .mud-stepper-nav-connector {
            margin-left: 12px;

            .mud-stepper-nav-connector-line {
                border-left: 1px solid rgb(189, 189, 189);
                min-height: 24px;
            }
        }

        .mud-stepper-content {
            margin-left: 12px;
            padding-left: 20px;
            padding-right: 0;
            border-left: 1px solid var(--mud-palette-lines-inputs);
        }
    }
}
