.mud-svg-icon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.mud-icon-size-inherit {
    font-size: inherit;
}

.mud-icon-size-small {
    font-size: 1.25rem;
}

.mud-icon-size-default {
    font-size: 1.5rem;
}

.mud-icon-size-large {
    font-size: 2.25rem;
}