@import '../abstracts/variables';

.mud-toggle-group {
  display: grid;
  overflow: hidden;
  box-sizing: border-box;
  border-width: 0;

  & > .mud-toggle-item {
    box-shadow: none;
    border-width: inherit;
    border-style: none;
    border-color: inherit;
    border-radius: 0;
  }
}

.mud-toggle-group-horizontal {
  &:not(.mud-toggle-group-rtl) {
    > .mud-toggle-item:not(:first-child), > :not(:first-child) .mud-toggle-item {
      &.mud-toggle-item-delimiter {
        border-left-style: solid !important;
      }

      margin-left: -1px;
    }
  }

  &.mud-toggle-group-rtl {
    > .mud-toggle-item:not(:last-child), > :not(:last-child) .mud-toggle-item {
      &.mud-toggle-item-delimiter {
        border-left-style: solid !important;
      }

      margin-left: -1px;
    }
  }
}

.mud-toggle-group-vertical {
  > .mud-toggle-item:not(:first-child), > :not(:first-child) .mud-toggle-item {
    &.mud-toggle-item-delimiter {
      border-top-style: solid !important;
    }

    margin-top: -1px;
  }
}

.mud-toggle-item {
  padding: 6px;
  min-width: auto;
  border-style: none !important;

  & > .mud-button-label {
    min-height: 20px;
  }
}

.mud-toggle-item-size-small {
  padding: 4px;
}

.mud-toggle-item-size-large {
  padding: 8px;
}

.mud-toggle-item-fixed > .mud-button-label:has(>.mud-toggle-item-check-icon) {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.mud-toggle-item-check-icon {
  justify-self: end;
}

.mud-toggle-item-content {
  display: contents;
}
