
.mud-tooltip-root {
    position: relative;

    &.mud-tooltip-inline {
        display: inline-block;
    }
}
.mud-tooltip {
    padding: 4px 8px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4em;
    border-radius: var(--mud-default-borderradius);
    z-index: var(--mud-zindex-tooltip);

    &.mud-tooltip-default {
        color: var(--mud-palette-dark-text);
        background-color: var(--mud-palette-grey-darker);
    }
}

    
   
