@import '../abstracts/variables';

.mud-toolbar {
    display: flex;
    position: relative;
    align-items: center;
    height: 56px;
}

.mud-toolbar-gutters {
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width:$breakpoint-xs) and (orientation: landscape) {
    .mud-toolbar {
        height: 48px;
    }
}

@media (min-width:$breakpoint-sm) {
    .mud-toolbar {
        height: 64px;
    }

    .mud-toolbar-gutters {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.mud-toolbar-dense {
    height: 48px;
}
