@import '../abstracts/variables';

.mud-toolbar {
    display: flex;
    position: relative;
    align-items: center;
    height: 3.5rem;
}

.mud-toolbar-gutters {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width:$breakpoint-xs) and (orientation: landscape) {
    .mud-toolbar {
        height: 3rem;

        &.mud-toolbar-appbar {
            height: calc(var(--mud-appbar-min-height) - 1rem);
        }
    }
}

@media (min-width:$breakpoint-sm) {
    .mud-toolbar {
        height: 4rem;

        &.mud-toolbar-appbar {
            height: var(--mud-appbar-min-height);
        }
    }

    .mud-toolbar-gutters {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.mud-toolbar-dense {
    height: 3rem;

    &.mud-toolbar-appbar {
        height: calc(var(--mud-appbar-min-height) - 1rem);
    }
}
