
.mud-tooltip-root {
    

    &.mud-tooltip-inline {
        display: inline-block;
    }
}

.mud-tooltip {
    display: flex;
    padding: 4px 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4em;
    border-radius: var(--mud-default-borderradius);
    z-index: var(--mud-zindex-tooltip);

    &.mud-tooltip-default {
        color: var(--mud-palette-dark-text);
        background-color: var(--mud-palette-grey-darker);

        &.mud-tooltip-arrow::after {
            border-color: var(--mud-palette-grey-darker) transparent transparent transparent;
        }
    }

    &.mud-tooltip {
        &-center-left {
            transform: translateX(-10px);

            &.mud-tooltip-arrow::after {
                left: 100%;
                transform: rotate(270deg);
            }
        }

        &-center-right {
            transform: translateX(10px);

            &.mud-tooltip-arrow::after {
                right: 100%;
                transform: rotate(90deg);
            }
        }

        &-top-center {
            transform: translateY(-10px);

            &.mud-tooltip-arrow::after {
                top: 100%;
                transform: rotate(0deg);
            }
        }

        &-bottom-center {
            transform: translateY(10px);

            &.mud-tooltip-arrow::after {
                bottom: 100%;
                transform: rotate(180deg);
            }
        }
    }

    &.mud-tooltip-arrow::after {
        content: "";
        position: absolute;
        border-width: 6px;
        border-style: solid;
        border-color: transparent;
        border-top-color: inherit;
    }
}