.mud-tree {
    margin: 0px;
    padding: 0px;
    list-style: none;

    &.mud-tree-expand-on-click .mud-tree-item-content {
        cursor: pointer;
    }
}

.mud-tree-group {
    margin: 0px;
    padding: 0px;
    margin-left: 17px;
    list-style: none;
}

.mud-tree-item {
    margin: 0;
    outline: 0;
    padding: 0;
    list-style: none;
    min-height: 2rem;
    align-items: center;
    -webkit-tap-highlight-color: transparent;

    .mud-icon-button {
        padding: 4px;
    }
}

.mud-tree-item-content {
    width: 100%;
    display: flex;
    padding: 4px;
    align-items: center;

    &.mud-tree-item-activated {
        background-color: rgba(25, 118, 210, 0.08);
    }
}

.mud-tree-item-collapse-icon {
    width: 2rem;
    display: flex;
    flex-shrink: 0;
    margin: 0 4px;
    justify-content: center;
}

.mud-tree-item-icon {
    width: 32px;
    display: flex;
    flex-shrink: 0;
    margin-right: 4px;
    justify-content: center;
}

.mud-tree-item-label {
    flex-grow: 1;
    padding-left: 4px;
}

.mud-tree-canhover .mud-tree-item-activated .mud-tree-item-content:hover {
    background-color: rgba(25, 118, 210, 0.12);
}

.mud-tree-canhover .mud-tree-item-content:hover {
    background-color: rgba(0, 0, 0, 0.04);
}