@import '../abstracts/variables';

.mud-working {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: calc(var(--mud-zindex-drawer) - 1);
    background: rgba(255,255,255,0.54);
    display: flex;
    align-items: center;
    justify-content: center;
}
